{% macro tfwmdsDateInput(params) %}

{# Imports #}
{% from "tfwmds/components/form-elements/form-label/_form-label.njk" import tfwmdsFormLabel %}
{% from "tfwmds/components/form-elements/error-message/_error-message.njk" import tfwmdsFeErrorMessage %}

{# Params #}
{% set id = params.id if params.id else "date-input" %}
{% set name = params.name if params.name else id %}
{% set required = params.required if params.required else false %}
{% set classes = " " + params.classes if params.classes %} {# set paramClass to params.classNames if any #}
{# Error Message Params #}
{% set groupErrorClass = " tfwmds-fe-group--error" if params.error %}
{% set inputErrorClass = " tfwmds-fe-input--error" if params.error %}
{% set errorContentText = params.errorMessage.contentText if params.errorMessage.contentText else "Please enter a valid date" %}
{% set errorContentHTML = params.errorMessage.contentHTML if params.errorMessage.contentHTML else null %}
{% set errorClasses = " " + params.errorMessage.classes if params.errorMessage.classes else null %}
{% set errorId = params.errorMessage.id if params.errorMessage.id else null %}
{# Params of formGroup #}
{% set formGroupClasses = " " + params.formGroup.classes if params.formGroup.classes else null %}
{# Params of Attributes #}
{% set disabled = params.attributes.disabled if params.attributes.disabled else null %}
{% set maxLength = params.attributes.maxLength if params.attributes.maxLength else null %}
{% set placeholder = params.attributes.placeholder if params.attributes.placeholder else null %}
{% set value = params.attributes.value if params.attributes.value else null %}

<div id="{{id}}" class="tfwmds-fe-group{{groupErrorClass}}{{formGroupClasses}}">
  <div class="tfwmds-fe-date-input">
    {# Error message #}
    {% if params.error %}
      {{
        tfwmdsFeErrorMessage(
          {
            contentText: errorContentText,
            contentHTML: errorContentHTML,
            classes: errorClasses,
            id: errorId
          }
        )
      }}
    {% endif %}
    {# Day #}
    <div class="tfwmds-fe-date-input__day">
      {{
        tfwmdsFormLabel({
          contentText: "Day",
          for: "LastUsedDateDay"
        })
      }}
      <input autocomplete="day" class="tfwmds-fe-input {{inputErrorClass}}" id="{{id}}_LastUsedDateDay" inputmode="numeric" name="{{name}}" type="text" value="" maxLength="2" pattern="[0-9]*" {% if required %} required="true" {% endif %}>
    </div>
    {# Month #}
    <div class="tfwmds-fe-date-input__month">
      {{
        tfwmdsFormLabel({
          contentText: "Month",
          for: "LastUsedDateMonth"
        })
      }}
      <input autocomplete="month" class="tfwmds-fe-input {{inputErrorClass}}" id="{{id}}_LastUsedDateMonth" inputmode="numeric" name="{{name}}" type="text" value="" maxLength="2" pattern="[0-9]*" {% if required %} required="true" {% endif %}>
    </div>
    {# Year #}
    <div class="tfwmds-fe-date-input__year">
      {{
        tfwmdsFormLabel({
          contentText: "Year",
          for: "LastUsedDateYear"
        })
      }}
      <input autocomplete="year" class="tfwmds-fe-input {{inputErrorClass}}" id="{{id}}_LastUsedDateYear" inputmode="numeric" name="{{name}}" type="text" value="" maxLength="4" pattern="[0-9]*" {% if required %} required="true" {% endif %}>
    </div>

  </div>
</div>

{% endmacro %}
