{% macro wmndsFeErrorMessage(params) %}

{# Params #}
{% set errorMessage = params.errorMessage if params.errorMessage else "This is an example error message" %}

<span class="wmnds-fe-error-message">{{errorMessage}}</span>

{% endmacro %}]