{% raw %}
{% from "wmnds/components/disruption-indicator/medium/medium.njk" import wmndsDisruptionIndicatorMedium %}

{{
  wmndsDisruptionIndicatorMedium({
    contentText: "X15",
    iconRight: "general-warning-triangle",
    iconLeft: "modes-isolated-bus",
    displayNarrow: false,
    classes: "wmnds-disruption-indicator-medium--error"
  })
}}
{% endraw %}
