.wmnds-disruption-indicator-medium {
  display: inline-block;
  padding: $size-sm $size-md;
  border-radius: 5px;
  color: $white;
  background-color: get-color(information);
  font-weight: bold;
  text-transform: uppercase;

  &-star {
    width: 2rem;
    height: 2rem;
    fill: get-color("secondary");
  }

  &--with-icon {
    padding: $size-sm;
  }

  &--warning {
    background-color: get-color(warning);
  }

  &--error {
    background-color: get-color(error);
  }

  &--severe {
    background-color: $black;
  }

  &--success {
    background-color: get-color(success);
  }

  &--narrow {
    padding: $size-xs;
  }

  &__icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    fill: $white;
    vertical-align: middle;

    &--left {
      margin-right: $size-sm;
    }

    &--right {
      margin-left: $size-sm;
    }
  }

  &__btn {
    display: inline-block;
    margin-left: $size-sm;
    padding: 0;
    border: 0;
    background: none;
    vertical-align: middle;
    cursor: pointer;
  }
}
