{% macro wmndsDisruptionIndicatorMedium(params) %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}

{% set iconRight = params.iconRight if params.iconRight %} {# set icon right classes #}
{% set iconLeft = params.iconLeft if params.iconLeft %} {# set svg left reference #}
{% set _content = params.contentText if params.contentText else 'X15' %} {# set text, or default to X15 #}

{% set classes = ' ' + params.classes if params.classes %}
{% set _iconClassModifier = ' wmnds-disruption-indicator-medium--with-icon' if ( params.iconLeft or params.iconRight ) %}

{{params.comment | safe}}
<div class="wmnds-disruption-indicator-medium{{_iconClassModifier}}{{classes}}">
  {% if iconLeft %}
  {# Get SVG icon -#}
  {{
    wmndsIcon({
      icon: iconLeft,
      class: 'wmnds-disruption-indicator-medium__icon wmnds-disruption-indicator-medium__icon--left'
    })
  }}
  {% endif %}
  {{ _content }}
  {% if iconRight === 'general-trash' %}
  <button class="wmnds-disruption-indicator-medium__btn" aria-label="Delete favourite - bus - {{ _text }}">
    {#- Get SVG icon -#}
    {{
      wmndsIcon({
        icon: iconRight,
        class: 'wmnds-disruption-indicator-medium__icon'
      })
    }}
  </button>
  {% elif iconRight %}
  {#- Get SVG icon -#}
  {{
    wmndsIcon({
      icon: iconRight,
      class: 'wmnds-disruption-indicator-medium__icon wmnds-disruption-indicator-medium__icon--right'
    })
  }}
  {% endif %}
</div>

{% endmacro %}