{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Card" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}
{# Imports #}
{% from "wmnds/components/card/_card.njk" import wmndsCard %}

{% block content %}
{# Content card #}
<h2>Content card</h2>

{{
    compExample([
        wmndsCard()
    ])
}}

<br><br>
{# Navigation card #}
<h2>Navigation card</h2>

{{
    compExample([
        wmndsCard({
            clickable: true
        })
    ])
}}

<br><br>
{# Yellow modifier #}
<h2>Yellow modifier</h2>

{{
    compExample([
        wmndsCard({
            yellow: true
        })
    ])
}}

{% endblock %}