<div class="resizer-btn-container">
  <div id="resizer-mob" class="resizer-btn-container__btn">
    <div class="resizer-btn-container__btn__icon">
      <i class="fas fa-mobile"></i>
    </div>
  </div>
  <div id="resizer-tablet" class="resizer-btn-container__btn">
    <div class="resizer-btn-container__btn__icon">
      <i class="fas fa-tablet"></i>
    </div>
  </div>
  <div id="resizer-laptop" class="resizer-btn-container__btn">
    <div class="resizer-btn-container__btn__icon">
      <i class="fas fa-laptop"></i>
    </div>
  </div>
  <div id="resizer-desktop" class="resizer-btn-container__btn">
    <div class="resizer-btn-container__btn__icon">
      <i class="fas fa-desktop"></i>
    </div>
  </div>
</div>
