{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Utility classes" %}
{% set section = "Styles" %}

{% block content %}
{# About #}
<h2>About</h2>
<p>
  There are a variety of utility classes that can be used with the existing components and styles on.
</p>


<hr>
{# Containers #}
<h2>Containers</h2>
<p>
  Containers are used to wrap content in a 'container'. The container will have a fixed max size and be centered on the page, it will adjust to 100% width when the page width is less than the container size.
</p>

<pre class="wmnds-col-1">
  <code class="scss" tabindex="0">
    .wmnds-container /* Container with max-width of 1280px */

    /* This should be used on your main content section and will
    add a margin top to seperate from header/breadcrumb section */
    .wmnds-container.wmnds-container--main
  </code>
</pre>


<hr>
{# Grid #}
<h2>Grid</h2>
<p>
  The WMN Design System uses its own custom syntax grid system adopted from <a href="https://purecss.io/grids/" target="_blank" class="wmnds-link">Pure CSS Grid</a>. The grid system is already included in the bundled wmnds-components.min.css file so you don't need to include it seperately.
</p>

<p>
  You can Refer to the <a href="https://purecss.io/grids/" target="_blank" class="wmnds-link">Pure CSS Grid documentation</a> for reference on how to use our grid system, but bear in mind that:
</p>
<ul>
  <li><code class="wmnds-website-inline-code">.pure-g</code> becomes <code class="wmnds-website-inline-code">.wmnds-grid</code> in our design system<br><br></li>
  <li><code class="wmnds-website-inline-code">.pure-u-*</code> becomes <code class="wmnds-website-inline-code">.wmnds-col-*</code> in our design system</li>
</ul>


<p>You can also use modifier classes on the same element where the class <code class="wmnds-website-inline-code">.wmnds-grid</code> is being used.</p>
<pre class="wmnds-col-1">
  <code class="scss" tabindex="0">
    .wmnds-grid--justify-between
    .wmnds-grid--justify-around
    .wmnds-grid--justify-end
    .wmnds-grid--justify-center
  </code>
</pre>

<h3>Information for designers</h3>
<p>
  The grid is part of the Design System Sketch library or as a <a href="https://github.com/jokinL/Purecss-grid-Sketch" target="_blank" title="Standalone grid Sketch file" class="wmnds-link">standalone template file</a>.
</p>
<h4>Screen sizes</h4>
<p>
  <ul>
    <li>Extra Small Devices (≥320px, 2-col + 1-col)</li>
    <li>Small Device 2 (SM) (≥568px 6-col + 3-col + 2-col)</li>
    <li>Small Device (MD) (≥768px)</li>
    <li>Medium Device (LG) (≥992px)</li>
    <li>Large Device (XL) (≥1280px)</li>
  </ul>
</p>
<h4>Sketch grid sizes</h4>
<p>
  <ul>
    <li><strong>1280px</strong>: 12 columns, 960px total width, 80px each which includes 16px padding and 64px content area column</li>
    <li><strong>992px</strong>: 12 columns, 960px total width, 80px each which includes 16px padding and 64px content area column</li>
    <li><strong>768px</strong>: 12 columns, 576px width, 48px each which includes 16px padding and 32px content area column</li>
    <li><strong>568px</strong>: 6 columns, 426px width, 71px each which includes 16px padding and 55px content area column</li>
    <li><strong>568px</strong>: 3 columns, 426px width, 142px each which includes 16px padding and 126px content area column</li>
    <li><strong>568px</strong>: 2 columns, 568px width, 142px each which includes padding 16px and 126px content area column</li>
    <li><strong>320px</strong>: 2 columns, 320px width, 213px each which includes padding 16px and 197px content area column</li>
    <li><strong>320px</strong>: 1 column, 320px total width, 320px each which includes 16px padding and 304px content area column</li>
  </ul>
</p>

<hr>
{# Floats #}
<h2>Floats</h2>
<p>
  Floats an element in the intended direction.
</p>

<pre class="wmnds-col-1 wmnds-col-md-1-2">
  <code class="scss" tabindex="0">
    .wmnds-float-left
    .wmnds-float-right
  </code>
</pre>


<hr>
{# Text Align #}
<h2>Text Align</h2>
<p>
  Aligns text in the intended direction.
</p>

<pre class="wmnds-col-1 wmnds-col-md-1-2">
  <code class="scss" tabindex="0">
    .wmnds-text-align-left
    .wmnds-text-align-center
    .wmnds-text-align-right
  </code>
</pre>


<hr>
{# Show or hide on devices #}
<h2>Show or hide on devices</h2>
<p>
  When you want to hide an element based on if the device width is a desktop or mobile device.
</p>

<pre class="wmnds-col-1">
  <code class="scss" tabindex="0">
    .wmnds-hide-mobile /* Hide only on mobile devices or smaller (less than 48em)  */
    .wmnds-hide-desktop /* Hide only on desktop devices or larger (greater than 48em) */
  </code>
</pre>

<hr>
<h2>Spacing</h2>
<p>
  The spacing utility classes are used to adjust whitespace for an element via padding and margins.
</p>
<p>Before using the spacing utility classes, please consider:</p>
<ul>
  <li>Most components already come with defined spacing. This spacing shouldn't be overwritten.</li>
  <li>Spacing should be used as a last resort to help layout components on a page.</li>
  <li>You can use <code class="wmnds-website-inline-code">none</code> as a size to enforce zero margin or padding.</li>
</ul>

<p>
  The classes are named using the format <code class="wmnds-website-inline-code">.wmnds-{type}-{side}-{size}</code>.
</p>
{# type #}
<p>
  Where <code class="wmnds-website-inline-code">{type}</code> is one of:
</p>
<ul>
  <li>
    <code class="wmnds-website-inline-code">m</code> - for classes that set <code class="wmnds-website-inline-code">margin</code>
  </li>
  <li>
    <code class="wmnds-website-inline-code">p</code> - for classes that set <code class="wmnds-website-inline-code">padding</code>
  </li>
</ul>
{# side #}
<p>
  Where <code class="wmnds-website-inline-code">{side}</code> is one of:
</p>
<ul>
  <li>
    <code class="wmnds-website-inline-code">t</code> - for classes that set <code class="wmnds-website-inline-code">margin-top</code> or <code class="wmnds-website-inline-code">padding-top</code>
  </li>
  <li>
    <code class="wmnds-website-inline-code">r</code> - for classes that set <code class="wmnds-website-inline-code">margin-right</code> or <code class="wmnds-website-inline-code">padding-right</code>
  </li>
  <li>
    <code class="wmnds-website-inline-code">b</code> - for classes that set <code class="wmnds-website-inline-code">margin-bottom</code> or <code class="wmnds-website-inline-code">padding-bottom</code>
  </li>
  <li>
    <code class="wmnds-website-inline-code">l</code> - for classes that set <code class="wmnds-website-inline-code">margin-left</code> or <code class="wmnds-website-inline-code">padding-left</code>
  </li>
  <li>
    blank - for classes that set a <code class="wmnds-website-inline-code">margin</code> or <code class="wmnds-website-inline-code">padding</code> on all 4 sides of the element
  </li>
</ul>
{# size #}
<p>
Where <code class="wmnds-website-inline-code">{size}</code> is one of:
</p>
<ul>
  <li>
    <code class="wmnds-website-inline-code">xs</code> - set size to <code class="wmnds-website-inline-code">0.25rem</code>
  </li>
  <li>
    <code class="wmnds-website-inline-code">xsm</code> - set size to <code class="wmnds-website-inline-code">0.5rem</code>
  </li>
  <li>
    <code class="wmnds-website-inline-code">sm</code> - set size to <code class="wmnds-website-inline-code">0.75rem</code>
  </li>
  <li>
    <code class="wmnds-website-inline-code">md</code> - set size to <code class="wmnds-website-inline-code">1rem</code>
  </li>
  <li>
    <code class="wmnds-website-inline-code">lg</code> - set size to <code class="wmnds-website-inline-code">2rem</code>
  </li>
  <li>
    <code class="wmnds-website-inline-code">xl</code> - set size to <code class="wmnds-website-inline-code">3rem</code>
  </li>
</ul>

<p>Some examples of using these utility classes...</p>
<pre>
  <code>
    .wmnds-m-xs // applies a margin of 0.25rem to all sides
    .wmnds-p-b-lg // applies a padding-bottom of 2rem
    .wmnds-m-l-none // sets left margin to 0
  </code>
</pre>

{# Grid columns spacing #}
<h3>Grid column spacing</h3>

<p>
  Spacing can be applied in between <code class="wmnds-website-inline-code">.wmnds-col-*</code> elements by adding a class to the parent <code class="wmnds-website-inline-code">.wmnds-grid</code>.
</p>
<p>
  The classes are named using the format <code class="wmnds-website-inline-code">.wmnds-grid--spacing-{col-count}-{size}</code>.
</p>
<p>
  Where <code class="wmnds-website-inline-code">{col-count}</code> is the number of columns per row and <code class="wmnds-website-inline-code">{size}</code> is the same as in the spacing utility classes above.
</p>
<p>
  Spacing can also be applied responsively using the format <code class="wmnds-website-inline-code">.wmnds-grid--spacing-{breakpoint}-{col-count}-{size}</code>.
</p>
<p>
  Where <code class="wmnds-website-inline-code">{breakpoint}</code> is one of breakpoint sizes described in the grid section.
</p>

<p>Some examples of using these utility classes...</p>
<pre>
  <code>
    .wmnds-grid--spacing-2-md // applies a 1rem spacing between 2 columns
    .wmnds-grid--spacing-lg-4-lg // applies a 2rem spacing between 4 columns above a screen width of 1024px
  </code>
</pre>

<hr>
{# Background #}
<h2>Background Colour</h2>
<p>
  Changes background to the intended colour.
</p>

<pre class="wmnds-col-1 wmnds-col-md-1-2">
  <code class="wmnds-show-more-ignore scss" tabindex="0">
    .bg-default
    .bg-white
    .bg-disabled-elements
    .bg-planned-disruption
    .bg-transparent
  </code>
</pre>

{% endblock %}
