{% macro wmndsBanner(params) %}
{% from "wmnds/components/phase-indicator/_phase-indicator.njk" import wmndsPhaseIndicator %}

<div class="wmnds-grid wmnds-banner-container">
   <div class="wmnds-col-auto wmnds-float-left wmnds-m-r-xsm">
      {{
         wmndsPhaseIndicator() | indent(6) | trim
      }}
   </div>
   <div class="wmnds-col-auto">
      <p class="wmnds-banner-container__text">This is a new service - your <a href="#" class="wmnds-link">feedback</a> will help us to improve it.</p>
   </div>
</div>
{% endmacro %}