{% raw %}
{% from "wmnds/components/form-elements/label/_label.njk" import wmndsLabel %}

{{
   wmndsLabel({
      contentText: "Form label"
      contentHTML: null,
      for: "genericInput",
      classes: null
   })
}}
{% endraw %}
