{% raw %}
{% from "wmnds/components/form-elements/label/_label.njk" import wmndsLabel %}

{{
   wmndsLabel({
      contentText: "Form label",
      contentHTML: null,
      classes: null,
      for: "genericInput"
   })
}}
{% endraw %}
