{% macro wmndsLabel(params) %}
{# Set vars and defaults #}
{% set for = params.for if params.for else "genericInput" %}
{% set label = params.label if params.label else "Form label" %}

<label for="{{for}}" class="wmnds-fe-title">{{ label }}</label>

{% endmacro %}