{% raw %}
{% from "tfwmds/components/journey-planner-widget/_journey-planner-widget.njk" import tfwmdsJourneyPlannerWidget %}

{{
   tfwmdsJourneyPlannerWidget({
      formTitle: null,
      isOpen: true,
      isHowOpen: false,
      isWhenOpen: false
   })
}}
{% endraw %}
