{% extends "www/_layouts/_master-layout.njk" %}
{% set pageTitle = "West Midlands Network Desgin System | Styles" %}

{% block content %}
  <div class="container-lg wmnds-grid">
    <h1 class="wmnds-col-1">Styles</h1>
    <div class="wmnds-col-1">
      <p>Make your service look and feel like GOV.UK.</p>
      <p>If you are using the GOV.UK Prototype Kit or have GOV.UK Frontend included in your build, the coded examples in the Design System will not need any additional styling.</p>
      <p>If you need to apply styles manually, you should still follow existing GOV.UK conventions. For example, do not assign new meanings to colours, do not change the style of buttons or adjust the thickness of borders on form inputs.</p>
    </div>
  </div>
{% endblock %}
