{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Links" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}


{% block content %}
<p>
  <strong>Buttons</strong> and <strong>links</strong> are items used to perform an action on a
  page
</p>
<p>
  It's important to know when to use a <strong>link</strong> or went to use a
  <strong><a href="/components/buttons/">button</a></strong>
</p>
<p>
  <strong>Links</strong> should be used when a users action won’t affect the website at all,
  examples of these
  are:
</p>
<ul>
  <li>Certain call to actions</li>
  <li>Links to internal or external pages</li>
</ul>

<h3>What do the <strong>link</strong> attritubes mean?</h3>
<p>The <strong>href</strong> attritube is used to define the link address</p>
<p>The <strong>target</strong> attritube is used to define where to open the linked document.
  See below to find
  out more about the <strong>target</strong> attritube</p>
<p>The <strong>title</strong> attritube is used to define additional information about the
  link. It's useful for
  your users and accessibility. Try not to duplicate your link text- this hurts usability as
  hard of sight users
  using screen readers will here the same text twice.</p>

<p><strong>Target</strong> attritube values:</p>
<ul>
  <li><strong>_blank</strong>: Will load clicked link in a new window</li>
  <li><strong>_self</strong>: Will load clicked link in the same frame as it was clicked in
  </li>
  <li><strong>_parent</strong>: Will load clicked link in the parent frameset</li>
  <li><strong>_top</strong>: Will load clicked link in the full body of the window</li>
  <li><strong>framename</strong>: Will load clicked link in a named frame</li>
</ul>
{# primary buttons #}
<h2>Primary buttons</h2>
{%- from "components/link/_link.njk" import wmnLink as primary -%}
{{
  compExample([
    primary({
      text: "Primary button",
      linkTitle: "This is a primary link"
    }),
    primary({
      text: "Primary icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a primary link"
    })
  ])
}}
{# end: primary buttons #}
{# secondary buttons #}
<h2>Secondary buttons</h2>
{%- from "components/link/_link.njk" import wmnLink as secondary -%}
{{
  compExample([
    secondary({
      classNames: "wmnds-btn--secondary",
      text: "Secondary button",
      linkTitle: "This is a secondary link"
    }),
    secondary({
      classNames: "wmnds-btn--secondary",
      text: "Secondary icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a secondary link"
    })
  ])
}}
{# end: secondary buttons #}
{# call to action buttons #}
<h2>Call to action buttons</h2>
{%- from "components/link/_link.njk" import wmnLink as cta %}
{{
  compExample([
    cta({
      classNames: "wmnds-btn--cta",
      text: "Call to action button",
      linkTitle: "This is a call to action link"
    }),
    cta({
      classNames: "wmnds-btn--cta",
      text: "Call to action icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a call to action link"
    })
  ])
}}
{# end: call to action buttons #}
{# destructive buttons #}
<h2>Destructive buttons</h2>
{%- from "components/link/_link.njk" import wmnLink as destructive -%}
{{
  compExample([
    destructive({
      classNames: "wmnds-btn--destructive",
      text: "Destructive button",
      linkTitle: "This is a destructive link"
    }),
    destructive({
      classNames: "wmnds-btn--destructive",
      text: "Destructive icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a destructive link"
    })
  ])
}}
{# end: destructive buttons #}
{# start buttons #}
<h2>Start buttons</h2>
{%- from "components/link/_link.njk" import wmnLink as start -%}
{{
  compExample([
    start({
      classNames: "wmnds-btn--start",
      text: "Start button",
      linkTitle: "This is a start link"
    }),
    start({
      classNames: "wmnds-btn--start",
      text: "Start icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a start link"
    })
  ])
}}
{# end: start buttons #}
{% endblock %}