{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Links" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{# About #}
<h2>About</h2>
<p>
  <strong>Buttons</strong> and <strong>links</strong> are items used to perform an action on a
  page
</p>
<p>
  It's important to know when to use a <strong>link</strong> or a
  <strong><a href="/components/buttons/">button</a></strong>
</p>
<p>
  <strong>Links</strong> should be used when a users action won’t affect the website at all,
  examples of these
  are:
</p>
<ul>
  <li>Certain call to actions</li>
  <li>Links to internal or external pages</li>
</ul>

<h3>What do the <strong>link</strong> attritubes mean?</h3>
<p>The <strong>href</strong> attritube is used to define the link address</p>
<p>The <strong>target</strong> attritube is used to define where to open the linked document.
  See below to find
  out more about the <strong>target</strong> attritube</p>
<p>The <strong>title</strong> attritube is used to define additional information about the
  link. It's useful for
  your users and accessibility. Try not to duplicate your link text- this hurts usability as
  hard of sight users
  using screen readers will here the same text twice.</p>

<p><strong>Target</strong> attritube values:</p>
<ul>
  <li><strong>_blank</strong>: Will load clicked link in a new window</li>
  <li><strong>_self</strong>: Will load clicked link in the same frame as it was clicked in
  </li>
  <li><strong>_parent</strong>: Will load clicked link in the parent frameset</li>
  <li><strong>_top</strong>: Will load clicked link in the full body of the window</li>
  <li><strong>framename</strong>: Will load clicked link in a named frame</li>
</ul>
<hr>
<br><br>


{# Default link #}
<h2>Default link</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Highlight that the word or phrase is different from other body text</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When the link is within text</li>
  <li>When the link is part of a list of links</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>The start of a process</li>
  <li>When the link is a destructive action</li>
</ul>
{% from "components/link/link/_link.njk" import wmndsLink %}
{{
  compExample([
    wmndsLink()
  ])
}}


<br><br>
{# primary button as link #}
<h2>Primary button as link</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Not sure yet</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>Not sure yet</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>Not sure yet</li>
</ul>
{%- from "components/link/as-button/_as-button.njk" import wmndsLinkAsButton as primary -%}
{{
  compExample([
    primary({
      text: "Primary button",
      linkTitle: "This is a primary link"
    }),
    primary({
      text: "Primary icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a primary link"
    })
  ])
}}
{# end: primary button as link #}


<br><br>
{# secondary button as link #}
<h2>Secondary button as link</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Highlights an inessential action</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When a button is inessential for continuing the user journey</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When a button is essential for continuing the user journey</li>
  <li>When a button is a destructive action</li>
  <li>When a button starts a process or journey</li>
</ul>
{%- from "components/link/as-button/_as-button.njk" import wmndsLinkAsButton as secondary -%}
{{
  compExample([
    secondary({
      classNames: "wmnds-btn--secondary",
      text: "Secondary button",
      linkTitle: "This is a secondary link"
    }),
    secondary({
      classNames: "wmnds-btn--secondary",
      text: "Secondary icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a secondary link"
    })
  ])
}}
{# end: secondary button as link #}


<br><br>
{# call to action button as link #}
<h2>Call to action button as link</h2>
<h3>What does it do?</h3>
<ul>
  <li>Attracts attention on the page</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When a button is essential to continuing the user journey</li>
  <li>When attracting attention to another page</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When a button is a destructive action</li>
  <li>When a button starts a process or journey</li>
</ul>
{%- from "components/link/as-button/_as-button.njk" import wmndsLinkAsButton as cta %}
{{
  compExample([
    cta({
      classNames: "wmnds-btn--cta",
      text: "Call to action button",
      linkTitle: "This is a call to action link"
    }),
    cta({
      classNames: "wmnds-btn--cta",
      text: "Call to action icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a call to action link"
    })
  ])
}}
{# end: call to action button as link #}


<br><br>
{# destructive button as link #}
<h2>Destructive button as link</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Shows that the button's action deletes or removes something</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When an action is destructive</li>
  <li>Example: deleting a favourite route, removing a swift card, deleting an account</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When a button starts a process or journey</li>
  <li>When a button is trying to attract the user's attention</li>
</ul>
{%- from "components/link/as-button/_as-button.njk" import wmndsLinkAsButton as destructive -%}
{{
  compExample([
    destructive({
      classNames: "wmnds-btn--destructive",
      text: "Destructive button",
      linkTitle: "This is a destructive link"
    }),
    destructive({
      classNames: "wmnds-btn--destructive",
      text: "Destructive icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a destructive link"
    })
  ])
}}
{# end: destructive button as link #}


<br><br>
{# start button as link #}
<h2>Start button as link</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Shows that the button starts a process or journey</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When a button starts a process or journey</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When a button is a destructive action</li>
  <li>When a button is trying to attract the user's attention</li>
  <li>When the button is inessential for continuing the user journey</li>
</ul>
{%- from "components/link/as-button/_as-button.njk" import wmndsLinkAsButton as start -%}
{{
  compExample([
    start({
      classNames: "wmnds-btn--start",
      text: "Start button",
      linkTitle: "This is a start link"
    }),
    start({
      classNames: "wmnds-btn--start",
      text: "Start icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a start link"
    })
  ])
}}
{# end: start button as link #}
{% endblock %}
