{% raw %}
{% from "tfwmds/components/journey-planner/_journey-planner.njk" import tfwmdsJourneyPlanner %}

{{
   tfwmdsJourneyPlanner({
      formTitle: null,
      isOpen: true
   })
}}
{% endraw %}
