$btn-border-radius: 5px;
$btn-border-width: 1px;
$btn-padding: 2px;
$btn-transition: ease-in-out background-color 0.2s, ease-in-out border 0.2s;

.wmnds {
  // default button styles
  &-btn {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    padding: $btn-padding;
    transition: $btn-transition;
    border: 0;
    border-radius: $btn-border-radius;
    font-weight: bold;
    cursor: pointer;

    span {
      display: inline-block;
      padding: $padding-sm;
      transition: $btn-transition;
      pointer-events: none;
    }

    &:focus {
      outline: none;
    }

    &--small {
      span {
        padding: 2px !important;
      }
    }
  }

  // button icon left styles
  &-btn__icon--left {
    width: 25px;
    height: 25px;
    vertical-align: top;
  }

  // button icon right style
  &-btn__icon--right {
    padding-left: $padding-md;
  }

  // button primary styles
  &-btn__primary {
    color: $white;
    background-color: get-color(primary);

    span {
      border: $btn-border-width solid transparent;
    }

    &:hover {
      background-color: get-color(primary, 30);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: get-color(primary);

      span {
        box-sizing: border-box;
        padding: $padding-sm;
        border: $btn-border-width solid $white;
        border-radius: $btn-border-radius;
        background-color: get-color(primary, 50);
        -webkit-appearance: none;
      }
    }

    &--input {
      padding: $padding-sm;
    }
  }

  // button secondary styles
  &-btn__secondary {
    border: $btn-border-width solid get-color(primary);
    color: get-color(primary);
    background-color: $white;

    span {
      border: $btn-border-width solid transparent;
    }

    &:hover {
      background-color: get-color(secondary, 30);

      span {
        background-color: get-color(secondary, 30);
      }
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: $white;

      span {
        box-sizing: border-box;
        padding: $padding-sm;
        border: $btn-border-width solid get-color(primary);
        border-radius: $btn-border-radius;
        background-color: get-color(secondary, 50);
        -webkit-appearance: none;
      }
    }
  }

  // button cta styles
  &-btn__cta {
    color: $white;
    background-color: get-color(cta);

    span {
      border: $btn-border-width solid transparent;
    }

    &:hover {
      background-color: get-color(cta, 30);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: get-color(cta);

      span {
        box-sizing: border-box;
        padding: $padding-sm;
        border: $btn-border-width solid $white;
        border-radius: $btn-border-radius;
        background-color: get-color(cta, 50);
        -webkit-appearance: none;
      }
    }
  }

  // button destructive styles
  &-btn__destructive {
    color: $white;
    background-color: get-color(error);

    span {
      border: $btn-border-width solid transparent;
    }

    &:hover {
      background-color: get-color(error, 30);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      span {
        box-sizing: border-box;
        padding: $padding-sm;
        border: $btn-border-width solid $white;
        border-radius: $btn-border-radius;
        background-color: get-color(error, 50);
        -webkit-appearance: none;
      }
    }
  }

  &-btn__start {
    color: $white;
    background-color: get-color(success);

    span {
      border: $btn-border-width solid transparent;
    }

    &:hover {
      background-color: get-color(success, 30);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      span {
        box-sizing: border-box;
        padding: $padding-sm;
        border: $btn-border-width solid $white;
        border-radius: $btn-border-radius;
        background-color: get-color(success, 50);
        -webkit-appearance: none;
      }
    }
  }

  // button mode toggle
  &-btn__mode {
    border: $btn-border-width solid get-color(primary);
    color: get-color(primary);
    background-color: $white;

    span {
      padding: $padding-xs;
      border: $btn-border-width solid transparent;
    }

    &:hover,
    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: mix(get-color(primary), $white, 20);

      span {
        background-color: mix(get-color(primary), $white, 20);
      }
    }
  }

  // button disabled styles
  &-btn__disabled {
    &:disabled {
      color: $white;
      background-color: get-color(disable);

      span {
        border: $btn-border-width solid transparent;

        &:hover {
          background-color: get-color(disable);
        }
      }

      &:hover {
        background-color: get-color(disable);
        cursor: not-allowed;

        span {
          background-color: get-color(disable);
        }
      }

      &:active,
      &:target,
      &:focus,
      &.wmnds-is-active {
        span {
          background-color: get-color(disable);
        }
      }
    }

    &--light {
      &:disabled {
        border: $btn-border-width solid get-color(disable);
        color: get-color(disable);

        span {
          border: $btn-border-width solid transparent;
        }

        &:hover {
          background-color: transparent;
          cursor: not-allowed;

          span {
            background-color: transparent;
          }
        }

        &:active,
        &:target,
        &:focus,
        &.wmnds-is-active {
          span {
            background-color: transparent;
          }
        }
      }
    }
  }
}
