$btn-border-radius: 5px;
$btn-border-width: 1px;
$btn-transition: ease-in-out background-color 0.2s, ease-in-out border 0.2s;

// default button styles aka primary btn
.wmnds-btn {
  box-sizing: border-box;
  position: relative;
  padding: $padding-sm;
  transition: $btn-transition;
  border: 0;
  border-radius: $btn-border-radius;
  color: $white;
  background-color: get-color(primary);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: get-color(primary, 30, dark);
  }

  &:active,
  &:target,
  &:focus,
  &.wmnds-is-active {
    border: $btn-border-width solid $white;
    outline: none;
    background-color: get-color(primary, 50);
    -webkit-appearance: none;
  }

  // button icon left styles
  &__icon {
    width: 22px;
    height: 22px;
    fill: $white;
    vertical-align: top;
  }

  // button icon right style
  &__icon--right {
    margin-left: $margin-sm;
  }

  // button secondary styles
  &--secondary {
    border: $btn-border-width solid get-color(primary);
    color: get-color(primary);
    background-color: $white;

    .wmnds-btn__icon {
      fill: get-color(secondary);
    }

    &:hover {
      background-color: get-color(secondary, 30);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: $white;
    }

    // Secondary (disabled)
    &.wmnds-btn--disabled:disabled {
      border-color: get-color(disable);
      color: get-color(disable);
      background: $white;

      .wmnds-btn__icon {
        fill: get-color(disable);
      }
    }
  }

  // button cta styles
  &--cta {
    background-color: get-color(cta);

    &:hover {
      background-color: get-color(cta, 30);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: get-color(cta);
    }
  }

  // button destructive styles
  &--destructive {
    background-color: get-color(error);

    &:hover {
      background-color: get-color(error, 30);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: get-color(error, 50);
    }
  }

  &--start {
    color: $white;
    background-color: get-color(success);

    span {
      border: $btn-border-width solid transparent;
    }

    &:hover {
      background-color: get-color(success, 30);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: get-color(success, 50);
    }
  }

  // button mode
  &--mode {
    border: $btn-border-width solid get-color(primary);
    color: get-color(primary);
    background-color: $white;

    .wmnds-btn__icon {
      margin-right: $margin-xs;
      fill: get-color(primary);
    }

    &:hover,
    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: mix(get-color(primary), $white, 20);
    }
  }

  // Disabled modifier (goes last to override above classes) for default btn
  &--disabled:disabled {
    background-color: get-color(disable);
    cursor: not-allowed;

    .wmnds-btn__icon {
      fill: $white;
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: get-color(disable);
    }
  }

  // button small modifier
  &--small {
    padding: $padding-xs;
  }
}
