$btn-border-radius: 5px;
$btn-border-width: 1px;
$btn-padding: 2px;
$btn-transition: ease-in-out background-color 0.2s, ease-in-out border 0.2s;

.wmnds {
  // default button styles
  &-btn {
    font-weight: bold;
    border-radius: $btn-border-radius;
    cursor: pointer;
    display: inline-block;
    transition: $btn-transition;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: $btn-padding;
    border: none;
    position: relative;
    span {
      padding: $padding-sm;
      display: inline-block;
      pointer-events: none;
      transition: $btn-transition;
    }
    &:focus {
      outline: none;
    }
    &--small {
      span {
        padding: 2px !important;
      }
    }
  }

  // button icon left styles
  &-btn__icon--left {
    width: 25px;
    height: 25px;
    vertical-align: top;
  }

  // button icon right style
  &-btn__icon--right {
    padding-left: $padding-md;
  }

  // button primary styles
  &-btn__primary {
    background-color: getColor(primary);
    color: white;
    span {
      border: $btn-border-width solid transparent;
    }
    &:hover {
      background-color: getColor(primary, 30);
    }
    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: getColor(primary);
      span {
        -webkit-appearance: none;
        border: $btn-border-width solid white;
        padding: $padding-sm;
        background-color: getColor(primary, 50);
        border-radius: $btn-border-radius;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
    }
    &--input {
      padding: $padding-sm;
    }
  }

  // button secondary styles
  &-btn__secondary {
    background-color: white;
    color: getColor(primary);
    border: $btn-border-width solid getColor(primary);
    span {
      border: $btn-border-width solid transparent;
    }
    &:hover {
      background-color: getColor(secondary, 30);
      span {
        background-color: getColor(secondary, 30);
      }
    }
    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: white;
      span {
        -webkit-appearance: none;
        border: $btn-border-width solid getColor(primary);
        padding: $padding-sm;
        border-radius: $btn-border-radius;
        box-sizing: border-box;
        background-color: getColor(secondary, 50);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
    }
  }

  // button cta styles
  &-btn__cta {
    background-color: getColor(cta);
    color: white;
    span {
      border: $btn-border-width solid transparent;
    }
    &:hover {
      background-color: getColor(cta, 30);
    }
    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: getColor(cta);
      span {
        background-color: getColor(cta, 50);
        -webkit-appearance: none;
        border: $btn-border-width solid white;
        padding: $padding-sm;
        border-radius: $btn-border-radius;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
    }
  }

  // button destructive styles
  &-btn__destructive {
    background-color: getColor(error);
    color: white;

    span {
      border: $btn-border-width solid transparent;
    }

    &:hover {
      background-color: getColor(error, 30);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      span {
        -webkit-appearance: none;
        border: $btn-border-width solid white;
        background-color: getColor(error, 50);
        padding: $padding-sm;
        border-radius: $btn-border-radius;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
    }
  }

  &-btn__start {
    background-color: getColor(success);
    color: white;

    span {
      border: $btn-border-width solid transparent;
    }

    &:hover {
      background-color: getColor(success, 30);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      span {
        -webkit-appearance: none;
        border: $btn-border-width solid white;
        padding: $padding-sm;
        background-color: getColor(success, 50);
        border-radius: $btn-border-radius;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
    }
  }

  // button mode toggle
  &-btn__mode {
    background-color: white;
    color: getColor(primary);
    border: $btn-border-width solid getColor(primary);
    span {
      padding: $padding-xs;
      border: $btn-border-width solid transparent;
    }
    &:hover,
    &:active,
    &:target,
    &:focus,
    &.wmnds-is-active {
      background-color: mix(getColor(primary), white, 20);
      span {
        background-color: mix(getColor(primary), white, 20);
      }
    }
  }

  // button disabled styles
  &-btn__disabled {
    &:disabled {
      background-color: getColor(disable);
      color: white;
      span {
        border: $btn-border-width solid transparent;
        &:hover {
          background-color: getColor(disable);
        }
      }
      &:hover {
        cursor: not-allowed;
        background-color: getColor(disable);
        span {
          background-color: getColor(disable);
        }
      }
      &:active,
      &:target,
      &:focus,
      &.wmnds-is-active {
        span {
          background-color: getColor(disable);
        }
      }
    }
    &--light {
      &:disabled {
        color: getColor(disable);
        border: $btn-border-width solid getColor(disable);
        span {
          border: $btn-border-width solid transparent;
        }
        &:hover {
          cursor: not-allowed;
          background-color: transparent;
          span {
            background-color: transparent;
          }
        }
        &:active,
        &:target,
        &:focus,
        &.wmnds-is-active {
          span {
            background-color: transparent;
          }
        }
      }
    }
  }
}
