<div id="side-menu" class="side-menu">
  <div id="hamburger" class="side-menu__hamburger">
    <div
      id="side-menu__hamburger__line-01"
      class="side-menu__hamburger__line side-menu__hamburger__line__01"
    ></div>
    <div
      id="side-menu__hamburger__line-02"
      class="side-menu__hamburger__line side-menu__hamburger__line__02"
    ></div>
    <div
      id="side-menu__hamburger__line-03"
      class="side-menu__hamburger__line side-menu__hamburger__line__03"
    ></div>
  </div>

  <ul class="side-menu__sub-menu">
    <a class="side-menu__sub-menu__item-link" href="#home">
      <li class="side-menu__sub-menu__item">
        <span class="side-menu__sub-menu__item__icon-container">
          <i class="fas fa-home side-menu__sub-menu__item__icon-container__icon"></i>
        </span>
        <span class="side-menu__sub-menu__item__text">
          Home
        </span>
      </li>
    </a>

    <a class="side-menu__sub-menu__item-link" href="#colorPalette">
      <li class="side-menu__sub-menu__item">
        <span class="side-menu__sub-menu__item__icon-container">
          <i class="fas fa-paint-brush side-menu__sub-menu__item__icon-container__icon"></i>
        </span>
        <span class="side-menu__sub-menu__item__text">
          Colour Palette
        </span>
      </li>
    </a>

    <a class="side-menu__sub-menu__item-link" href="#marks">
        <li class="side-menu__sub-menu__item">
            <span class="side-menu__sub-menu__item__icon-container">
                <img id="header-logo" class="logo side-menu__sub-menu__item__icon-container__icon" alt="West Midlands Network" src="$*cdn/img/logo-white-no-text.svg" />
            </span>
            <span class="side-menu__sub-menu__item__text">
                Marks
            </span>
        </li>
    </a>

    <a class="side-menu__sub-menu__item-link" href="#typography">
      <li class="side-menu__sub-menu__item">
        <span class="side-menu__sub-menu__item__icon-container">
          <i class="fas fa-text side-menu__sub-menu__item__icon-container__icon"></i>
        </span>
        <span class="side-menu__sub-menu__item__text">
          Typography
        </span>
      </li>
    </a>

    <a class="side-menu__sub-menu__item-link" href="#buttons">
      <li class="side-menu__sub-menu__item">
        <span class="side-menu__sub-menu__item__icon-container">
          <i class="fas fa-mouse side-menu__sub-menu__item__icon-container__icon"></i>
        </span>
        <span class="side-menu__sub-menu__item__text">
          Buttons
        </span>
      </li>
    </a>

    <a class="side-menu__sub-menu__item-link" href="#header">
      <li class="side-menu__sub-menu__item">
        <span class="side-menu__sub-menu__item__icon-container">
          <i class="fad fa-stream side-menu__sub-menu__item__icon-container__icon"></i>
        </span>
        <span class="side-menu__sub-menu__item__text">
          Header & Footer
        </span>
      </li>
    </a>

    <a class="side-menu__sub-menu__item-link" href="#form-elements">
      <li class="side-menu__sub-menu__item">
        <span class="side-menu__sub-menu__item__icon-container">
          <i class="fas fa-ballot-check side-menu__sub-menu__item__icon-container__icon"></i>
        </span>
        <span class="side-menu__sub-menu__item__text">
          Form Elements
        </span>
      </li>
    </a>
  </ul>
</div>
