{% macro wmndsBuyATicket() %}
{# Imports #}
{% from "wmnds/components/button/_button.njk" import wmndsButton %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{% from "wmnds/components/form-elements/dropdown/_dropdown.njk" import wmndsDropdown %}

<form class="wmnds-buy-a-ticket">
    <h2 class="wmnds-buy-a-ticket__title">Buy a ticket</h2>
    {# Mode select #}
    <div class="wmnds-m-b-md wmnds-p-b-xsm">
        <fieldset class="wmnds-buy-a-ticket__mode-checkboxes">
            <legend class="wmnds-buy-a-ticket__label">Which modes of transport will you use?</legend>
            <div class="wmnds-grid wmnds-grid--spacing-3-sm wmnds-grid--spacing-sm-3-md">
                <label class="wmnds-col-1-3">
                    <input type="checkbox" class="wmnds-buy-a-ticket__mode-checkbox wmnds-screenreaders-only" name="useBus" value="allowBus">
                    <div class="wmnds-btn wmnds-btn--mode wmnds-btn--block">
                        {{
                            wmndsIcon({
                                icon: 'modes-isolated-bus',
                                class: 'wmnds-btn__icon '
                            })
                        }}
                        Bus
                    </div>
                </label>
                <label class="wmnds-col-1-3">
                    <input type="checkbox" class="wmnds-buy-a-ticket__mode-checkbox wmnds-screenreaders-only" name="useTrain" value="allowTrain">
                    <div class="wmnds-btn wmnds-btn--mode wmnds-btn--block">
                        {{
                            wmndsIcon({
                                icon: 'modes-isolated-rail',
                                class: 'wmnds-btn__icon '
                            })
                        }}
                        Train
                    </div>
                </label>
                <label class="wmnds-col-1-3">
                    <input type="checkbox" class="wmnds-buy-a-ticket__mode-checkbox wmnds-screenreaders-only" name="useTram" value="allowMetro">
                    <div class="wmnds-btn wmnds-btn--mode wmnds-btn--block">
                        {{
                            wmndsIcon({
                                icon: 'modes-isolated-metro',
                                class: 'wmnds-btn__icon '
                            })
                        }}
                        Tram
                    </div>
                </label>
            </div>
        </fieldset>
    </div>
    {# Traveller dropdown #}
    {{
        wmndsDropdown({
            id: 'buyATicketPassengerType',
            name: 'passengerType',
            groupClasses: 'wmnds-m-b-md wmnds-p-b-xsm',
            label: "Who will be travelling?",
            labelClasses: 'wmnds-buy-a-ticket__label',
            secondaryColor: true,
            items: [
                {
                    contentText: 'Select traveller',
                    selected: true,
                    disabled: true
                },
                {
                    contentText: 'Adult',
                    value: 'Adult'
                },
                {
                    contentText: 'Child',
                    value: 'Child'
                },
                {
                    contentText: 'Student',
                    value: 'Student'
                },
                {
                    contentText: 'Group / Family',
                    value: 'Family'
                },
                {
                    contentText: 'Concession',
                    value: 'Concessionary'
                }
            ]
        })
    }}
    {# Duration dropdown #}
    {{
        wmndsDropdown({
            id: "buyATicketDuration",
            name: "timeBand",
            groupClasses: 'wmnds-m-b-md wmnds-p-b-xsm',
            label: "How long will the ticket last for?",
            labelClasses: 'wmnds-buy-a-ticket__label',
            secondaryColor: true,
            items: [
                {
                    contentText: 'Select ticket length',
                    selected: true,
                    disabled: true
                },
                {
                    contentText: 'A day',
                    value: 'Pay on day / 1 day'
                },
                {
                    contentText: 'Less than a month',
                    value: 'Less than a month'
                },
                {
                    contentText: 'About a month',
                    value: 'About a month'
                },
                {
                    contentText: 'Longer than a month',
                    value: 'Longer than a month'
                }
            ]
        })
    }}
    {# Submit button #}
    {{
        wmndsButton({
            iconRight: "general-chevron-right",
            contentText: "Find tickets",
            role: "submit",
            classes: "wmnds-col-1 wmnds-col-sm-1-2 wmnds-btn--align-left"
        })
    }}
</form>


{% endmacro %}