{% macro wmndsContentTileMap(params) %}
<div class="wmnds-content-tile">
   <div class="wmnds-content-tile__title">
      <h2>Driving from Bearwood</h2>
   </div>
   <div class="wmnds-content-tile__copy">
      <p>Consider using City Road and Dudley Road, past City Hospital to head into Birmingham city centre or connect with the ring road.</p>
   </div>
      <img src="http://placehold.it/600x400" alt="map of west midlands" class="wmnds-content-tiles--img">
</div>
{% endmacro %}