{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Contact details" %}
{% set section="Patterns" %}
{# Imports #}
{% from "wmnds/patterns/contact-details/_contact-details.njk" import wmndsContactDetails %}
{% from "wmnds/components/inset-text/_inset-text.njk" import wmndsInsetText %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
    <h2>About</h2>
    {# What #}
    <h3>What does it do?</h3>
    <ul>
        <li>
            Show users the channels they can use to get in contact with you
        </li>
    </ul>
    {# When #}
    <h3>When to use it?</h3>
    <ul>
        <li>
            When users need to have a way to contact someone
        </li>
        <li>
            To provide users with an alternative way to do something
        </li>
    </ul>
    {# When not #}
    <h3>When not to use it?</h3>
    <ul>
        <li>
            On pages where a service is not being offered
        </li>
    </ul>
    {# How it works #}
    <h3>How it works?</h3>
    <ul>
        <li>
            Order contact channels consistently: telephone, email, online chat, postal address and social media
        </li>
        <li>
            In the Umbraco CMS, you can create a contact detail block to ensure
        </li>
    </ul>
    <p>
        GOV.UK has detailed information about <a href="https://design-system.service.gov.uk/patterns/contact-a-department-or-service-team/" target="_blank">how to display contact details</a>.
    </p>


    <h2>Contact Details - Address</h2>

    {{
        compExample([
            wmndsInsetText(
                {
                    thinner : true,
                    html: "Customer Services<br>Transport for West Midlands<br>16 Summer Lane<br>Birmingham<br>B19 3SD"
                }
            )
        ])
    }}


    <h2>Contact Details - Template</h2>

    {{
        compExample([
            wmndsInsetText({html:
                wmndsContactDetails({
                    warningText: "We are currently experiencing problems with our <br>telephone systems and cannot answer calls",
                    warningIcon: "general-warning-triangle",
                    content: "
    <a href=\"mailto:customerservice@tfwm.org.uk\">customerservice@tfwm.org.uk</a><br>
    Telephone: <a href=\"tel:03453036760\">0345 303 6760</a><br>
    Monday to Tuesday and Thursday to Friday, 9am - 5pm, <br>
    Wednesday, 9.30am - 5pm"
                }) | indent(6) | trim
            })
        ])
    }}



    <h2>Contact Details - Template TfWM</h2>

    {{
        compExample([
            wmndsInsetText({
                html: "
    <p>Transport for West Midlands</p>
    <p>
        <a href=\"https://twitter.com/wmnetwork\">Twitter</a><br>
        <a href=\"https://www.facebook.com/westmidlandsnetwork\">Facebook</a><br>
    </p>
    <p>
        <a href=\"https://www.wmnetwork.co.uk/get-in-touch/contact-us/\">Submit an enquiry</a><br>
        Telephone: <a href=\"tel:03453036760\">0345 303 6760<br></a>
    </p>
    Monday to Tuesday and Thursday to Friday, 9am - 5pm, <br>
    Wednesday, 9.30am - 5pm<br>
    Saturday and Sunday, closed
                "
            })
        ])
    }}



{% endblock %}