{% macro wmndsCard(params) %}
{# Set #}
{% set yellowModifier = " wmnds-card--yellow" if params.yellow else "" %}
{# Opening & closing tags #}
{% set openingTag = "<a href=\"#\" target=\"_self\" class=\"wmnds-card" + yellowModifier +"\">" if params.clickable else "<div class=\"wmnds-card" + yellowModifier + "\">" %}
{% set closingTag = "</a>" if params.clickable else "</div>" %}
{# HTML content #}
{% set html = params.html if params.html else "
    <div class=\"wmnds-p-sm\">
        Type something
    </div>
" %}

{{ openingTag | safe -}}
{# Html #}
{{- html | safe -}}
{# end html #}
{{- closingTag | safe }}
{% endmacro %}