{% macro wmndsIcon(params) %}

<svg {% if params.class %}class="{{params.class}}"{% endif %}>
  <use xlink:href="$*cdn/img/wmnds-sprite.min.svg#wmnds-{{params.icon}}" href="$*cdn/img/wmnds-sprite.min.svg#wmnds-{{params.icon}}"></use>
</svg>

{% endmacro %}