{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Accordion" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{# About #}
<h2>About</h2>
<h3>What does it do?</h3>
<ul>
  <li>
    Allows users to reveal or hide related content on a page
  </li>
</ul>

<h3>When to use it?</h3>
<ul>
  <li>
    When users need only a few key pieces of content on a single page.
  </li>
  <li>
    When you want users to have control over the content by expanding it or hiding it (progressive disclosure).
  </li>
  <li>
    When you have long, content rich pages and you need to simplify and reduce the amount of content or keep the content on the single page separated by headings.
  </li>
  <li>
    When you want users to use headings to navigate quickly to specific sections of the page (Information architecture).
  </li>
</ul>

<h3>When not to use it?</h3>
<ul>
  <li>
    When you are presenting essential information and users care about many topics on the page. If users need to open majority of subtopics to have their questions answered, it will require extra effort and click. Hiding content behind navigation diminishes user's awareness of it.
  </li>
</ul>


<hr><br><br>
{# Closed #}
<h2>Closed</h2>
<p>In its closed state, the accordions <code class="wmnds-website-inline-code">.wmnds-accordion__content</code> is hidden from view.</p>
<p>Everything you can see whilst the accordion is in this state is nested within the <code class="wmnds-website-inline-code">button.wmnds-accordion-summary-wrapper</code> element.</p>
<p>Take note that:</p>
<ul>
  <li>The attribute <code class="wmnds-website-inline-code">aria-controls</code> is equal to the id set on the <code class="wmnds-website-inline-code">.wmnds-accordion__content</code> element. This helps with accessibility, so that screen readers understand that x button controls x content.</li>
  <li>The attribute <code class="wmnds-website-inline-code">aria-expanded</code> is set to "false" when in the closed state. Again, this helps with accessibility.</li>
  <li>The only thing not visible in the <code class="wmnds-website-inline-code">button.wmnds-accordion-summary-wrapper</code> is the minimise icon.</li>
</ul>
{% from "wmnds/components/accordion/_accordion.njk" import wmndsAccordion %}
{{
  compExample([
    wmndsAccordion() | trim
  ],
  {
    componentPath: "wmnds/components/accordion/",
    njk: false,
    js: true,
    iframe: false
  })
}}


<br><br>
{# Open #}
<h2>Open</h2>
<p>In the open state, the accordion shows all of the content it was initially hiding in the <code class="wmnds-website-inline-code">.wmnds-accordion__content</code> element.</p>
<p>To change the accordion to this state, you need to add the modifier class <code class="wmnds-website-inline-code">wmnds-is--open</code> to the main <code class="wmnds-website-inline-code">.wmnds-accordion</code> element as shown in the code snippet.</p>
<p>Take note that:</p>
<ul>
  <li>The attribute <code class="wmnds-website-inline-code">aria-expanded</code> is set to "true" when in the open state. Again, this helps with accessibility.</li>
  <li>The minus icon becomes visible in this state, whilst the plus icon is hidden.</li>
</ul>
{{
  compExample([
    wmndsAccordion({
      id: 'accordion-open-01',
      isOpen: true
    }) | trim
  ],
  {
    componentPath: "wmnds/components/accordion/",
    njk: false,
    js: true,
    iframe: false
  })
}}

<br><br>
{# Custom #}
<h2>Custom</h2>
<p>
  In the example below, you can see that we have cusomised the summary section of the accordion so that it contains an <a href="/components/disruption-indicator/" title="Disruption indicator component" target="_self" class="wmnds-link"> disruption indicator</a> and some text.
</p>
<p>
  The accordion has been built so that it can easily be customised. You can customise both the summary and the content elements.
</p>
<p>
  To customise the summary (title) section of the accordion, ensure that you nest valid and accessible html within the <code class="wmnds-website-inline-code">.wmnds-accordion__summary</code> element.
</p>
<p>
  To customise the content section of the accordion, ensure that you nest valid and accessible html within the <code class="wmnds-website-inline-code">.wmnds-accordion__content</code> element.
</p>
{{
  compExample([
    wmndsAccordion({
      id: 'accordion-custom-01',
      isOpen: true,
      customSummary: true
    }) | trim
  ],
  {
    componentPath: "wmnds/components/accordion/",
    njk: false,
    js: true,
    iframe: false
  })
}}

{% endblock %}