<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- @@ Head -->
  <head>
    <meta charset="utf-8" />
    <title>
      West Midlands Network Design System
    </title>
    <meta name="description" content="Your one stop shop for travel in the West Midlands" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="$*cdn/config/favicon.png" />
    <link rel="manifest" href="$*cdn/config/site.webmanifest" />
    <link rel="apple-touch-icon" href="$*cdn/config/favicon.jpg" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Website Styles -->
    <meta name="theme-color" content="#3C1053" />
    <link rel="stylesheet" href="$*cdn/css/wmn-ds-components.css" />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/32be3e4082.js"></script>

    <!-- Highlight JS - display HTML blocks as coloured text -->
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css"
    />
    <link rel="stylesheet" href="$*cdn/css/wmn-ds-website.css" />
  </head>

  <body style="background-color: #ddd">
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
      </p>
    <![endif]-->

    {% block content %} {% endblock %}

    <script src="$*cdn/js/wmn-ds-website.min.js"></script>
  </body>
</html>
