<!-- @@ Head -->
{{ fileInclude 'src/views/components/shared/head.html' }}

<!-- @@ Header -->
{{ fileInclude 'src/views/wmn-ds-website/header/header.html' }}

<div class="container-lg">
  <div class="pure-g">
    <div id="main-content">
      <!-- Set default content page as home.html -->
      {{ fileInclude 'src/views/wmn-ds-website/pages/home.html' }}
    </div>
  </div>
</div>

<!-- @@ Footer -->
{{ fileInclude 'src/views/wmn-ds-website/footer/footer.html' }}

<!-- @@ Scripts -->
{{ fileInclude 'src/views/components/shared/scripts.html' }}

{{fileInclude 'src/views/wmn-ds-website/wmn-ds-scripts.html'}}
