{% raw %}
{% from "wmnds/components/form-elements/number-input/_number-input.njk" import wmndsNumberInput %}

{{
   wmndsNumberInput({
      id: "example-number-input",
      name: "example-number-input",
      required: true,
      classes: null,
      error: false,
      errorMessage: {
         id: null,
         contentText: "Custom error message for this example input",
         contentHTML: null, 
         classes: null
      },
      disabled: false,
      placeholder: "1",
      value: "",
      label: {
         contentText: 'Search radius',
         classes: 'wmnds-h4'
      }
   })
}}

{% endraw %}
