// Vars
@import '../../assets/sass/vars';

// Mixins
@import '../../assets/sass/mixins';

// Styleguide only styles
@import '_partials/footer/footer';
@import '_partials/header/header';

@import '_partials/component-example/component-example';

// Styleguide page specific styles
@import 'pages/styles/colour-palettes/colorPalette';
// @import 'pages/typography';
// @import 'pages/marks';
// @import 'pages/header';

html,
body {
  font-size: $font-size;
  color: getColor(text);
  line-height: $base-line-height;
  @include type-setting(0);
  font-family: $x-font-family;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.component-details {
  margin-top: $margin-md;
  margin-bottom: $margin-lg;
}

.component-details__code {
  background-color: #efefef;
  padding: $padding-sm;
  margin: $margin-sm 0;
  border-radius: 4px;
  border-left: 2px solid rgba(getColor(primary), 0.5);
  display: inline-block;
  width: 100%;
}

.component-details__title {
  @include type-setting(2);
  font-weight: 700;
}

.component-details__text {
  color: rgba(black, 0.5);
  font-weight: 400;
}

// Scrollbar styling for code previews of components
.hljs {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
    width: 100%;
  }
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

// icons background colour
.icon__type {
  text-align: center;
  &--bg {
    background-color: getColor(secondary);
    padding: $padding-sm;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 56px;
    height: 56px;
  }
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  &--caption {
    padding-top: $padding-sm;
  }
}
