&.tfwmds-disruption-indicator-small {
  display: inline-block;
  padding: $size-xs;
  border-radius: 2px;
  color: $white;
  background-color: get-color(warning);
  line-height: 1;

  &__icon {
    max-width: 22px;
    height: 100%;
    max-height: 22px;
    fill: $white;
  }

  &--error {
    background-color: get-color(error);
  }

  &--severe {
    background-color: $black;
  }
}
