// Included the ol tag too incase dev forgets to add .wmnds-unordered-list class.
// The ul:not([class*="wmnds-"]) line makes sure we don't target any wmnds components that are using the a tag such as the breadcrumbs

.wmnds-unordered-list,
.wmnds-html ul:not([class*="wmnds-"]) {
  list-style: none;

  a,
  .wmnds-link {
    display: inline;
  }

  li {
    position: relative;

    &:before {
      content: "●";
      position: absolute;
      left: -1.5rem;
      padding-right: $size-xsm;
    }
  }

  ul,
  ol {
    list-style: none;
    padding-inline-start: $size-lg;

    li:before {
      content: "–";
      padding-right: $size-xsm;
    }
  }
}
