.wmnds-unordered-list {
  list-style: none;

  li:before {
    content: "●";
    padding-right: $size-xsm;
  }

  ul,
  ol {
    padding-inline-start: $size-lg;

    li:before {
      content: "–";
      padding-right: $size-xsm;
    }
  }

}
