.wmnds-unordered-list {
  list-style-position: inside;
  padding-inline-start: 0;

  ul {
    padding-inline-start: 2 * $size-sm;
  }

  ul li {
    list-style: none;
  }

  ul li:before {
    content: "–";
    padding-right: $size-sm;
  }

}
