<nav class="wmnds-grid">
  {% for navItem in navItems %}
  <a class="wmnds-col-1 wmnds-col-md-1-3"
    href="/{{ navItem.name | lower | replace(" ", "-") }}/">{{ navItem.name}}</a>
  {% endfor %}
</nav>