{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Content Tiles" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{# Content tile small 1 #}
{%- from "wmnds/components/content-tiles/normal/_normal.njk" import wmndsContentTilesNormal -%}

{# Content tile map #}
{%- from "wmnds/components/content-tiles/map/map.njk" import wmndsContentTileMap -%}

{# Content tile related content #}
{%- from "wmnds/components/content-tiles/related-content/related-content.njk" import wmndsContentTileRelatedContent -%}

{# Content tile page contents #}
{%- from "wmnds/components/content-tiles/page-contents/page-contents.njk" import wmndsContentTilePageContents -%}

{# Content tile travel tips #}
{%- from "wmnds/components/content-tiles/travel-tips/travel-tips.njk" import wmndsContentTileTravelTips -%}

{# Content tile travel updates #}
{%- from "wmnds/components/content-tiles/travel-updates/travel-updates.njk" import wmndsContentTileTravelUpdates -%}

{# Content tile advice moving #}
{%- from "wmnds/components/content-tiles/advice-moving/advice-moving.njk" import wmndsContentTileAdviceMoving -%}


<h2>Normal</h2>
<h3>General</h3>
{{
  compExample([
    wmndsContentTilesNormal()
  ])
}}

<h3>Yellow modifier</h3>
{{
  compExample([
    wmndsContentTilesNormal({
      classModifiers: 'wmnds-content-tile--yellow'
    })
  ])
}}

<h2>Major Works</h2>
{{
  compExample([
    wmndsContentTilesNormal({
      copy: '
      <ul class="wmnds-content-tile__list">
         <li><strong>Location:</strong> Birmingham city centre</li>
         <li><strong>Lasts until:</strong> December 2019</li>
      </ul>
      '
    })
  ])
}}

<h2>Content tile map</h2>
{{
  compExample([
    wmndsContentTileMap()
  ])
}}

<h2>Content tile related content</h2>
{{
  compExample([
    wmndsContentTileRelatedContent()
  ])
}}

<h2>Content tile page contents</h2>
{{
  compExample([
    wmndsContentTilePageContents()
  ])
}}

<h2>Content tile travel tips</h2>
{{
  compExample([
    wmndsContentTileTravelTips()
  ])
}}

<h2>Content tile travel updates</h2>
{{
  compExample([
    wmndsContentTileTravelUpdates()
  ])
}}

<h2>Content tile advice to keep moving</h2>
{{
  compExample([
    wmndsContentTileAdviceMoving()
  ])
}}

{% endblock %}