{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Friendly links (short URLs)" %}
{% set section = "Styles" %}

{% block content %}
{# About #}
<h2>Introduction</h2>
<p>
  A short URL (friendly link) is used when:
</p>
<ul>
  <li>someone needs to remember a link</li>
  <li>someone needs to type the link in a time-sensitive situation</li>
</ul>
<p>A friendly link takes the user to a specific area of content or link.</p>

<h2>When you need a friendly link</h2>
<p>
  You must only create a friendly link for a:
</p>
<ul>
  <li>Billboard</li>
  <li>Poster</li>
  <li>Test message</li>
  <li>Road sign</li>
  <li>Real-time information screen</li>
</ul>

<h2>When you do not need a friendly link</h2>
<p>
  You do not need a friendly link if:
</p>
<ul>
  <li>You want to link to an external website, we have removed this restriction</li>
  <li>You are renaming a page or section, the system automatically handles this</li>
</ul>
<div class="wmnds-inset-text">
  <p>You should not use our website as a link shortener for a different or external website. For example, redirecting <code class="wmnds-website-inline-code">wmnetwork.co.uk/google</code> to <code class="wmnds-website-inline-code">google.com</code>.</p>
  <p class="wmnds-m-none">Users associate these redirects with scams and viruses. Instead, link straight to the external website.</p>
</div>

<h2>Choosing a friendly link</h2>
<p>
  It is important that your friendly link is easy to remember. It must:
</p>
<ul>
  <li>be less than 20 characters</li>
  <li>be lowercase</li>
  <li>use hyphens instead of spaces</li>
</ul>
<p>Do not use:</p>
<ul>
  <li>articles, for example 'a', 'an' or 'the'</li>
  <li>special characters
</li>
  <li>abbreviations, for example <code class="wmnds-website-inline-code">bham</code> and <code class="wmnds-website-inline-code">westmids</code></li>
  <li>uppercase</li>
  <li><code class="wmnds-website-inline-code">wmn</code>, <code class="wmnds-website-inline-code">tfwm</code> or <code class="wmnds-website-inline-code">wmca</code></li>
</ul>

<h3>Examples of good links</h3>
<ul>
  <li><code class="wmnds-website-inline-code">/baby-on-board</code></li>
  <li><code class="wmnds-website-inline-code">/cycle-hire</code></li>
  <li><code class="wmnds-website-inline-code">/dudley</code></li>
  <li><code class="wmnds-website-inline-code">/tram</code></li>
  <li><code class="wmnds-website-inline-code">/16-18</code></li>
  <li><code class="wmnds-website-inline-code">/sms-feedback</code></li>
  <li><code class="wmnds-website-inline-code">/2041</code></li>
</ul>

<h2>Creating a friendly link</h2>
<h3>Friendly links for specific pages</h3>
<p>Content editors can create a friendly link for a piece of content using the <strong>friendly links</strong> tab when editing a page.</p>
<h3>Friendly links that go to another website</h3>
<p>Only administrators can set up this type of link.</p>
<p>These links are accessed in the SEO Checker part of the Back Office. Click <strong>redirect manager</strong> to see all active redirects and friendly links.</p>
<div class="wmnds-inset-text">
  <p class="wmnds-m-none">You do not need to create a redirect if you are linking to an external website</p>
</div>

<h2>Checking if your friendly link is being used</h2>
<p>Using the friendly links tab when editing a page, you can see:</p>
<ul>
  <li>Last referrer, the webpage the user was on when they clicked the friendly link</li>
  <li>Accessed, the number of times the link has been used</li>
  <li>Last time accessed, the last date and time someone used the friendly link</li>
</ul>

<h2>Deleting a friendly link</h2>
<p>
  Friendly links need to be carefully managed.
</p>
<p>
  You should delete friendly links when your campaign is over. If you do not delete it, someone else might be afraid to in the future.
</p>
<p>When a friendly link is deleted, the user will be taken to a 404 'content not found' page.</p>
<p>Sometimes friendly links cannot be deleted because they are part of passenger information. Passenger information is usually only replaced when there is a timetable change.</p>
<p>In this case, you can delete the redirect and add it to a related piece of content. The user will be taken there instead.</p>

<h2>Credit</h2>
<p>We have written these standards based on:</p>
<ul>
  <li>
    <a href="https://content.tfl.gov.uk/onl-std-077-short-url-and-domain-name-standard.pdf" target="_blank" rel="nofollow">Transport for London's short URL and domain name standard</a>
  </li>
  <li>
    <a href="https://www.gov.uk/guidance/content-design/url-standards-for-gov-uk" target="_blank" rel="nofollow">GOV.UK's URL standards for GOV.UK</a>
  </li>
</ul>
{% endblock %}
