[build]
  # ignore all PRs opened by `dependabot` (with last commit made by `dependabot`)
  ignore = "git log -1 --pretty=%B | grep dependabot"

[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/*"
    [headers.values]
      Access-Control-Allow-Origin = "*"
