{% extends "www/_layouts/layout-homepage.njk" %}
{% set pageTitle = "Home" %}
{% set hideBreadcrumb = true %}
{# Imports #}
{% from "wmnds/components/link/link/_link.njk" import wmndsLink %}
{% from "wmnds/components/content-card/_content-card.njk" import wmndsContentCard %}
{% from "wmnds/patterns/branded-banner/_branded-banner.njk" import wmndsBrandedBanner %}
{% from "wmnds/components/link/as-button/_as-button.njk" import wmndsLinkAsButton %}

{# Top/purple section #}
{% block summaryContent %}

  {{
    wmndsBrandedBanner({
      title: 'Design and build digital services for transport in the West Midlands nBus nTrain123 nbus',
      contentCol1: "<p class=\"emphasised\">Use this design system to build consistent, usable services. Learn from the research and experience of other teams.</p><br><p>You can use GitHub to <a href=\"https://github.com/wmcadigital/wmn-design-system/blob/master/doc/contributing.md\" title=\"View and contribute code to the Design System on GitHub\" target=\"_blank\" rel=\"noopener noreferrer\" class=\"wmnds-link wmnds-website-summary-content__link\">view and contribute code</a>, <a href=\"https://github.com/wmcadigital/wmn-design-system/issues/new?assig
      nees=mrmjprice%2CKaterinaKir&labels=feature_request&template=feature_proposal.md&title=\" title=\"Give feedback or propose an idea about the Design System on GitHub\" target=\"_blank\" rel=\"noopener noreferrer\" class=\"wmnds-link wmnds-website-summary-content__link\">give feedback or propose an idea</a>, or <a href=\"https://github.com/wmcadigital/wmn-design-system/issues/new?assignees=&labels=&template=report_bug.md&title=\" title=\"Report an issue with the Design System on GitHub\" target=\"_blank\" rel=\"noopener noreferrer\" class=\"wmnds-link wmnds-website-summary-content__link\">report an issue</a>.</p>",
      contentCol2: wmndsContentCard({
            contentHTML: "<div class=\"wmnds-p-sm\"><h2>Current release</h2><p>The current release is <a href=\"https://github.com/wmcadigital/wmn-design-system/releases/tag/v$*version\" title=\"View release notes for version $*version on GitHub\" target=\"_blank\" rel=\"noopener noreferrer\">version $*version</a> which was released on $*releaseDate.</p><p>You can get alerts about new releases by <a href=\"https://docs.github.com/en/free-pro-team@latest/github/managing-subscriptions-and-notifications-on-github/viewing-your-subscriptions\" target=\"_blank\" rel=\"noopener noreferrer\">watching the design system on GitHub</a>.</p></div>"
          }),
      ctaButton: {
        contentText: 'Get started',
        link: '/docs/get-started/',
        linkTitle: 'Get started with the Transport for West Midlands Design System'
      }
    })
  }}
{% endblock summaryContent %}


{% block content %}
{# Internal navigation #}
<div class="wmnds-grid wmnds-grid--align-stretch wmnds-grid--spacing-sm-2-xsm wmnds-grid--spacing-lg-4-xsm wmnds-m-t-md wmnds-m-b-md">
  {# User research #}
  <div class="wmnds-col-1 wmnds-col-sm-1-2 wmnds-col-lg-1-4 wmnds-p-b-xsm">
    {{
      wmndsContentCard({
        link: "/user-research/",
        linkTitle: "User research",
        contentHTML: "<div class=\"wmnds-p-sm\">
          <h2>User research</h2>
          <p>Start with user needs to build the right thing</p>
        </div>"
      })
    }}
  </div>
  {# Styles #}
  <div class="wmnds-col-1 wmnds-col-sm-1-2 wmnds-col-lg-1-4 wmnds-p-b-xsm">
      {{
      wmndsContentCard({
        link: "/styles/",
        linkTitle: "Styles",
        contentHTML: "<div class=\"wmnds-p-sm\">
           <h2>Styles</h2>
         <p>Make your service look and feel like Transport for West Midlands</p>
       </div>"
      })
    }}
  </div>
  {# Components #}
  <div class="wmnds-col-1 wmnds-col-sm-1-2 wmnds-col-lg-1-4 wmnds-p-b-xsm">
        {{
      wmndsContentCard({
        link: "/components/",
        linkTitle: "Components",
        contentHTML: "<div class=\"wmnds-p-sm\">
           <h2>Components</h2>
         <p>Reusable parts of the user interface</p>
       </div>"
      })
    }}
  </div>
  {# Patterns #}
  <div class="wmnds-col-1 wmnds-col-sm-1-2 wmnds-col-lg-1-4 wmnds-p-b-xsm">
        {{
      wmndsContentCard({
        link: "/patterns/",
        linkTitle: "Patterns",
        contentHTML: "<div class=\"wmnds-p-sm\">
          <h2>Patterns</h2>
         <p>Commonly used sets of components</p>
       </div>"
      })
    }}
  </div>
</div>


<br>
<br>

{# Get help #}
<div class="wmnds-col-1 wmnds-col-md-3-4">
  <h2>Get help with using the design system</h2>
  <p>The design system is maintained by the Digital and Data team at West Midlands Combined Authority.</p>
  <p>You can <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=RetZCK7xCk6e-ubWa7tnL0kEZK0X_-9IoNQ__PZJI49UNlBZUFRPNENVTFRWV08xQk1SN0FPR0dDQi4u" title="Ask a question about using the design system" target="_blank" rel="noopener noreferrer">ask a question using this form</a>.</p>
</div>

{% endblock %}