// footer
.wmnds-footer {
  padding: $size-lg;
  color: $white;
  background-color: get-color(primary, 50, dark);
  box-shadow: 0 100vh 0 100vh get-color(primary, 50, dark);

  &__link.wmnds-link {
    color: $white;

    @media screen and(min-width: $breakpoint-md) {
      float: right;
    }
  }

  // App specific footer styles
  &--mobile-app {
    display: none;

    @media screen and(min-width: $breakpoint-md) {
      display: block;
    }
  }
}
