{% macro wmndsFooter(params) %}
{% set appClass = " wmnds-footer--mobile-app" if params.app else "" %}
{# Imports #}
{% from "wmnds/patterns/feedback-loop/_feedback-loop.njk" import wmndsFeedbackLoop %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}

<footer>
  {% if params.feedback -%}
  <!-- Feedback loop -->
  {{
    wmndsFeedbackLoop({
      id: params.feedbackId
    }) | trim | indent(4)
  }}
  <!-- End feedback loop -->
  {% endif -%}
  <div class="wmnds-footer{{appClass}} wmnds-footer--v2">
    <div class="wmnds-container wmnds-grid">
      <div class="wmnds-col-1 wmnds-col-lg-1-3 wmnds-footer__updates-col">
        <h3 class="wmnds-footer__heading">Stay up to date</h3>
        <p>Don’t miss out on vital information, subscribe today and be in the know at all times.</p>
        <a href="#" class="wmnds-btn wmnds-footer__btn wmnds-footer__btn--block">Sign up to updates</a>
      </div>
      {# loop through footer menus and get items #}
      {% if(params.menu1) %}
      {% set menu1Name = params.menu1.name | replace(r/[^\w\ ]/gi, '') | replace(' ', '-') | lower %}
        <div class="wmnds-col-1 wmnds-col-lg-1-3">
          <h3 class="wmnds-footer__heading wmnds-collapse-heading" aria-controls="footer-menu-{{menu2Name}}" aria-expanded="true">
            {{params.menu1.name}}
            {{wmndsIcon({class: 'wmnds-collapse-heading__indicator', icon: 'general-chevron-right'}) | trim}}
          </h3>
          <ul class="wmnds-footer__menu wmnds-collapse-panel" id="footer-menu-{{menu2Name}}">
          {% for menuItem in params.menu1.menuItems-%}
            <li><a class="wmnds-footer__link" href="#">{{menuItem.name}}</a></li>
          {% endfor -%}
          </ul>
        </div>
      {% endif %}
      {% if(params.menu2) %}
      {% set menu2Name = params.menu2.name | replace(r/[^\w\ ]/gi, '') | replace(' ', '-') | lower %}
        <div class="wmnds-col-1 wmnds-col-lg-1-3">
          <h3 class="wmnds-footer__heading wmnds-collapse-heading" aria-controls="footer-menu-{{menu2Name}}" aria-expanded="true">
            {{params.menu2.name}}
            {{wmndsIcon({class: 'wmnds-collapse-heading__indicator', icon: 'general-chevron-right'}) | trim}}
          </h3>
          <ul class="wmnds-footer__menu wmnds-collapse-panel" id="footer-menu-{{menu2Name}}">
          {% for menuItem in params.menu2.menuItems-%}
            <li><a class="wmnds-footer__link" href="#">{{menuItem.name}}</a></li>
          {% endfor -%}
          </ul>
          <h3 class="wmnds-footer__heading">Social media</h3>
          <ul class="wmnds-footer__social-media">
            <li><a href="https://www.facebook.com/westmidlandsnetwork/" title="Facebook">{{wmndsIcon({icon: 'social-facebook'}) | trim}}</a></li>
            <li><a href="https://twitter.com/WMNetwork" title="Twitter">{{wmndsIcon({icon: 'social-twitter'}) | trim}}</a></li>
            <li><a href="https://www.instagram.com/wmnetwork/" title="Instagram">{{wmndsIcon({icon: 'social-instagram'}) | trim}}</a></li>
          </ul>
        </div>
      {% endif %}
      </div>
      <div class="wmnds-container">
        <div class="wmnds-footer__bottom wmnds-grid">
          <div class="wmnds-col-1 wmnds-col-md-1-2">
            <p class="wmnds-footer__copyright">&copy; West Midlands Combined Authority 2020</p>
          </div>
          {% if params.bottomMenu -%}
          <div class="wmnds-col-1 wmnds-col-md-1-2">
            <ul class="wmnds-footer__bottom-menu">
              {# loop through bottom menu items #}
              {% for bottomMenuItem in params.bottomMenu -%}
              {% set bottomMenuLink = bottomMenuItem.link if bottomMenuItem.link else "" -%}
              <li><a class="wmnds-footer__link" href="{{bottomMenuItem.link}}">{{bottomMenuItem.name}}</a></li>
              {% endfor -%}
            </ul>
          </div>
          {% endif -%}
        </div>
      </div>
  </div>
</footer>

{% endmacro %}