{% macro compExample(componentPath, classNames) %}

<div class="code-example">
  <h3>Component example</h3>
  <div class="wmnds-col-1 {{classNames}}">
    {%- for item in componentPath %}
      {{ item }}
      {% if loop.last == false %}
        <br/><br/>
      {% endif %}
    {% endfor -%}
  </div>

  <h3>HTML Markup</h3>
{# Be careful with the below, the whitespace is extemely delicate (like a flower 🌸) #}
{# The loop.revindex checks to see if last in array, if not add a linebreak (again, the fight for making nice whitespace continues) #}
<pre><code class="html">{% for item in componentPath -%}
{{ item | forceescape | trim }}{% if loop.revindex !== 1 %}<br/>{% endif %}
{% endfor -%}</code></pre>
</div>
<hr>
{% endmacro %}
