<!DOCTYPE html>
<html lang="en-gb" class="wmnds-html">
  <!-- Head -->
  {% include "www/_partials/_head.njk" %}
  <!-- end: Head -->

  <body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
      </p>
    <![endif]-->

    {# header #}
    {% from "wmnds/patterns/header/_header.njk" import wmndsHeader %}
    {{
      wmndsHeader ({
        navItems: navItems
      })
    }}
    {# header #}

    {# beta banner #}
      <div class="wmnds-container">
        <div class="wmnds-grid wmnds-banner-container">
          <div class="wmnds-col-auto wmnds-float-left wmnds-m-r-xsm">
            <a
              href="/"
              target="_self"
              class="wmnds-phase-indicator"
              title="Beta homepage of West Midlands Network Design System"
            >
              Beta
            </a>
          </div>
          <div class="wmnds-col-auto">
            <p class="wmnds-banner-container__text">
              This is a new service - your
              <a
                href="https://github.com/wmcadigital/wmn-design-system/issues"
                title="WMN Design System Github"
                target="_blank"
                class="wmnds-link"
                >feedback</a
              >
              will help us to improve it.
            </p>
          </div>
        </div>
      </div>
    {# beta banner #}

    {# Breadcrumb #}
    {# Don't display breadcrumb on homepage #}
    {% if section != 'Home' %}
      <div class="wmnds-container">
        {% from "wmnds/components/breadcrumb/_breadcrumb.njk" import wmndsBreadcrumb %}
        {{
            wmndsBreadcrumb({
              section: section,
              pageTitle: pageTitle
            })
        }}
      </div>
    {% endif %}
    {# Breadcrumb #}

    <main class="wmnds-container wmnds-container--main">
      {% block body %}{% endblock %}
    </main>

    {# Feedback #}
    {% from "wmnds/patterns/feedback-loop/_feedback-loop.njk" import wmndsFeedbackLoop %}
    {{
      wmndsFeedbackLoop()
    }}

    <!-- footer -->
    {% from "wmnds/patterns/footer/_footer.njk" import wmndsFooter %}
    {{
      wmndsFooter()
    }}
    <!-- footer -->

    <!-- Scripts -->
    {% include "www/_partials/_scripts.njk" %}
    <!-- end: Scripts -->
  </body>

</html>
