{# IMPORTS - import each component so it is ready to use in every template, the Prototype Toolkit references this too #}
{# Components #}
{% from "tfwmds/components/accordion/_accordion.njk"                                        import tfwmdsAccordion %}
{% from "tfwmds/components/breadcrumb/_breadcrumb.njk"                                      import tfwmdsBreadcrumb %}
{% from "tfwmds/components/button/_button.njk"                                              import tfwmdsButton %}
{% from "tfwmds/components/content-card/_content-card.njk"                                  import tfwmdsContentCard %}
{% from "tfwmds/components/details/_details.njk"                                            import tfwmdsDetails %}
{% from "tfwmds/components/disruption-indicator/small/_small.njk"                           import tfwmdsDisruptionIndicatorSmall %}
{% from "tfwmds/components/disruption-indicator/medium/_medium.njk"                         import tfwmdsDisruptionIndicatorMedium %}
{% from "tfwmds/components/disruption-indicator/large/_large.njk"                           import tfwmdsDisruptionIndicatorLarge %}
{% from "tfwmds/components/file-download/_file-download.njk"                                import tfwmdsFileDownload %}
{% from "tfwmds/components/icon/_icon.njk"                                                  import tfwmdsIcon %}
{% from "tfwmds/components/in-text-step/_in-text-step.njk"                                  import tfwmdsInTextStep %}
{% from "tfwmds/components/inset-text/_inset-text.njk"                                      import tfwmdsInsetText %}
{% from "tfwmds/components/link/link/_link.njk"                                             import tfwmdsLink %}
{% from "tfwmds/components/link/as-button/_as-button.njk"                                   import tfwmdsLinkAsButton %}
{% from "tfwmds/components/loader/_loader.njk"                                              import tfwmdsLoader %}
{% from "tfwmds/components/message/help/_help.njk"                                          import tfwmdsMsgHelp %}
{% from "tfwmds/components/message/summary/_summary.njk"                                    import tfwmdsMsgSummary %}
{% from "tfwmds/components/phase-indicator/_phase-indicator.njk"                            import tfwmdsPhaseIndicator %}
{% from "tfwmds/components/phase-indicator/phase-indicator-link/_phase-indicator-link.njk"  import tfwmdsPhaseIndicatorLink %}
{% from "tfwmds/components/table/_table.njk"                                                import tfwmdsTable %}
{% from "tfwmds/components/warning-text/_warning-text.njk"                                  import tfwmdsWarningText %}
{# Form elements #}
{% from "tfwmds/components/form-elements/checkboxes/_checkboxes.njk"                        import tfwmdsCheckboxes %}
{% from "tfwmds/components/form-elements/date-input/_date-input.njk"                        import tfwmdsDateInput %}
{% from "tfwmds/components/form-elements/dropdown/_dropdown.njk"                            import tfwmdsDropdown %}
{% from "tfwmds/components/form-elements/file-upload/_file-upload.njk"                      import tfwmdsFileUpload %}
{% from "tfwmds/components/form-elements/form-label/_form-label.njk"                        import tfwmdsFormLabel %}
{% from "tfwmds/components/form-elements/progress-indicator/_progress-indicator.njk"        import tfwmdsProgressIndicator %}
{% from "tfwmds/components/form-elements/question/_question.njk"                            import tfwmdsQuestion %}
{% from "tfwmds/components/form-elements/radios/_radios.njk"                                import tfwmdsRadios %}
{% from "tfwmds/components/form-elements/text-input/_text-input.njk"                        import tfwmdsTextInput %}
{% from "tfwmds/components/form-elements/textarea/_textarea.njk"                            import tfwmdsTextarea %}
{# Patterns #}
{% from "tfwmds/patterns/travel-mode-page-banner/_travel-mode-page-banner.njk"              import tfwmdsTravelModePageBanner %}

<!DOCTYPE html>
<html lang="en-gb" class="tfwmds-html">
  <!-- Head -->
  {% include "www/_partials/_head.njk" %}
  <!-- end: Head -->

  <body >
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
      </p>
    <![endif]-->

    {# header #}
    {% from "tfwmds/patterns/header-v2/_header-v2.njk" import tfwmdsHeaderV2 %}
    {{
      tfwmdsHeaderV2 ({
        id: "mega-menu",
        navItems: navItems,
        banner: true,
        linkTopLevel: true,
        breadcrumbs: {
          section: section,
          pageTitle: pageTitle,
          hideBreadcrumb: hideBreadcrumb
        }
      })
    }}
    {# header #}

    {# summary #}
    {% block summary %}{% endblock %}
    {# end:summary #}

    {# main #}
    <main class="tfwmds-container tfwmds-container--main">
      {% block body %}{% endblock %}
    </main>
    {# end:main #}

    {# footer #}
    {% from "tfwmds/patterns/footer/_footer.njk" import tfwmdsFooter %}
    {{
      tfwmdsFooter({
        feedback: true,
        bottomMenu: [{
          name: "Privacy & Cookies Policy",
          link: "https://www.wmnetwork.co.uk/privacy-cookies-policy/"
        }]
      })
    }}
    {# end:footer #}

    {# scripts #}
    {% include "www/_partials/_scripts.njk" %}
    {# end:scripts #}
  </body>

</html>
