<!DOCTYPE html>
<html lang="en-gb" class="wmnds-html">
  <!-- Head -->
  {% include "www/_partials/_head.njk" %}
  <!-- end: Head -->

  <body class="wmnds-body">
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
      </p>
    <![endif]-->

    {# header #}
    {% from "wmnds/patterns/header-v2/_header-v2.njk" import wmndsHeaderV2 %}
    {{
      wmndsHeaderV2 ({
        id: "mega-menu",
        navItems: navItems,
        banner: true,
        linkTopLevel: true,
        breadcrumbs: {
          section: section,
          pageTitle: pageTitle
        }
      })
    }}
    {# header #}

    {# main #}
    <main class="wmnds-container wmnds-container--main">
      {% block body %}{% endblock %}
    </main>
    {# main #}

    <!-- footer -->
    {% from "wmnds/patterns/footer/_footer.njk" import wmndsFooter %}
    {{
      wmndsFooter({
        feedback: true,
        bottomMenu: [{
          name: "Privacy & Cookies Policy",
          link: "https://www.wmnetwork.co.uk/privacy-cookies-policy/"
        }]
      })
    }}
    <!-- footer -->

    <!-- Scripts -->
    {% include "www/_partials/_scripts.njk" %}
    <!-- end: Scripts -->
  </body>

</html>
