{% extends "www/_layouts/_master-layout.njk" %}

{% block body %}
<h1 id="tfwmds-main-content">{{ pageTitle | safe}}</h1>

<div class="tfwmds-grid" >
  <div class="tfwmds-col-1">
    {% block content %}{% endblock content %}
  </div>
</div>
{% endblock body%}