{% extends "www/_layouts/_master-layout.njk" %}

{% block body %}
<h1>{{ pageTitle | safe}}</h1>
<hr>
<div class="wmnds-grid" id="main-content">
  <div class="wmnds-col-1">
    {% block content %}{% endblock content %}
  </div>
</div>
{% endblock body%}