{% extends "www/_layouts/_master-layout.njk" %}
{% set section = section if section else "Components" %}

{% block body %}
<div class="tfwmds-grid tfwmds-grid--spacing-lg-2-lg">
  <div class="tfwmds-col-1 tfwmds-col-lg-1-3">
    {% include "www/_partials/nav/subnav.njk" %}
  </div>
  <div class="tfwmds-col-1 tfwmds-col-lg-2-3" id="tfwmds-main-content">
    {# Show section as small text above title #}
    {% if section != pageTitle %}
      <span class="tfwmds-h3">{{section}}</span>
    {% endif %}

    <h1>{{ pageTitle }}</h1>

    {% block content %}{% endblock content %}
  </div>
</div>
{% endblock body%}