{% extends "www/_layouts/_master-layout.njk" %}

{% block body %}
<div class="wmnds-grid">
  <div class="wmnds-col-1 wmnds-col-md-1-4">
    {% include "www/_partials/nav/subnav.njk" %}
  </div>
  <div class="wmnds-col-1 wmnds-col-md-3-4" id="wmnds-main-content">
    <h1>{{ pageTitle }}</h1>
    <hr>
    {% block content %}{% endblock content %}
  </div>
</div>
{% endblock body%}