{% extends "www/_layouts/_master-layout.njk" %}

{% block summary %}
<div class="wmnds-website-summary-content">
  {% block summaryContent %}{% endblock summaryContent %}
</div>
{% endblock summary %}
{% block body %}
<div class="wmnds-grid">
  <div class="wmnds-col-1">
    {% block content %}{% endblock content %}
  </div>
</div>
{% endblock body%}