// These vars control icon size and the margin right from the icon. By setting here we can ensure the 'step title' stays indented by same amount on each line.
$wmnds-progress-indicator-icon-size: 25px;
$wmnds-progress-indicator-icon-margin-right: $size-xs;

.wmnds-progress-indicator {
  padding: 0;
  list-style: none;

  &__item {
    display: block;
    margin-bottom: $wmnds-progress-indicator-icon-margin-right;
    padding-left: $size-sm;
    border-left: 5px solid get-color(disable, 70);

    @media all and (min-width: $breakpoint-md) {
      position: relative;
      margin: 0 $wmnds-progress-indicator-icon-margin-right $wmnds-progress-indicator-icon-margin-right;
      padding-top: $size-sm;
      padding-left: 0;
      border-top: 5px solid get-color(disable, 70);
      border-left: 0;
    }

    &--success {
      color: get-color(success);
      font-weight: bold;

      .wmnds-progress-indicator__icon {
        fill: get-color(success);
      }
    }

    &--current {
      border-color: get-color(primary);
    }

    &--success {
      border-color: get-color(success);
    }
  }

  &__icon {
    width: $wmnds-progress-indicator-icon-size;
    height: $wmnds-progress-indicator-icon-size;
    margin-right: $wmnds-progress-indicator-icon-margin-right;
    fill: get-color(disable, 70);

    @media all and (min-width: $breakpoint-md) {
      display: inline;
      position: absolute;
    }
  }

  &__title,
  &__icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__title {
    @media all and (min-width: $breakpoint-md) {
      margin-left: calc(#{$wmnds-progress-indicator-icon-margin-right} + #{$wmnds-progress-indicator-icon-size});
    }
  }
}
