//.tfwmds-html,
//.tfwmds-iframe-content {
&.tfwmds-buy-a-ticket {
  padding: $size-md;
  background: get-color(primary);

  &__title,
  &__label {
    color: $white;
  }

  &__label {
    display: block;
    margin-bottom: $size-sm;
    font-weight: 600;
  }

  &__mode-checkboxes {
    padding: 0;
    border: 0;
  }

  &__mode-checkbox {
    &:focus + .tfwmds-btn--mode {
      background-color: $white;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px get-color(secondary);
    }

    &:checked + .tfwmds-btn--mode {
      background-color: get-color(secondary, 50);
    }
  }
}
//}
