// Main menu styles
.wmca-main-menu {
    padding: $padding-sm 0;
    a:hover {
      background: none;
    }
    img {
      height: 35px;
    }
    ul > li {
      padding: 16px 0;
      @media screen and (max-width: 48em) {
        border-bottom: 1px solid getColor(secondary, 40);
      }
      a {
        color: $x-palette-white;
        padding: 0 9px;
  
        @media screen and (min-width: 48em) {
          padding: 0 10px;
        }
        @media screen and (max-width: 48em) {
          color: black;
          text-align: center;
        }
      }
    }
  }
  
  ul > li {
    a {
      position: relative;
      text-decoration: none;
    }
    a:hover {
      color: getColor(primary);
    }
    a:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -7px;
      left: 0;
      background-color: getColor(primary);
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  
  .main-links {
    @media screen and (max-width: 48em) {
      background: $x-palette-white;
      width: 100%;
    }
  }
  
  .main-nav {
    -webkit-font-smoothing: antialiased;
    padding: 5px 0;
    margin-bottom: 20px;
    height: 2.9em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
  }
  
  .main-nav.open {
    height: 100%;
  }
  
  .custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 30px;
    right: 10px;
    display: none;
  }
  
  .custom-toggle .bar {
    background-color: $x-palette-white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  
  .custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  @media (max-width: 47.999em) {
    .custom-toggle {
      display: block;
    }
  }
  // Sub menu styles
  .wmca-breadcrumb-menu {
    background-color: getColor(secondary);
    color: $x-palette-white;
    @media screen and (max-width: 1364px) {
      padding: 0px $padding-md;
    }
    .pure-menu {
      //text-align: left;
      span {
        display: block;
        padding-top: 10px;
      }
      .pure-menu-list {
        padding: 10px 0;
        .pure-menu-link {
          background: none;
          color: $x-palette-white;
          padding: 0.5em 0.5em 0.5em 0em;
  
          //&:first-child{
          //  padding-left: 1em;
          //}
          &-active,
          &:hover {
            color: $x-palette-white;
          }
        }
        &-selected {
          color: pink;
        }
      }
      .pure-menu-item {
        display: inline-flex;
      }
  
    //  li {
     //   margin-left: -10px;
     // }
  
      li + li:before {
        content: '>';
        padding: 6px 10px 6px 0;
        color: $x-palette-white;
        // font-size: 20px;
      }
  
      .plain {
        display: inline;
        padding: 0 0 0 5px;
      }
  
      @media screen and (min-width: 48em) {
        span {
          display: initial;
          padding: 0;
        }
      }
    }
  }
  
  .header__logo {
    @media screen and (max-width: 1280px) {
      margin-left: $margin-xl;
    }
  }