$dark-grey: #2b2b2b;

.wmnds-website-code-example {
  margin-top: $size-xl;
  overflow: hidden;
  border: 1px solid get-color(primary, 20);

  &__subtitle {
    padding: $size-md $size-md 0;
    color: get-color(information);
    text-decoration: underline;
  }

  &__inner-wrap {
    border-top: 1px solid $dark-grey;
    border-bottom: 1px solid $dark-grey;
    background: get-color(background);

    > .wmnds-col-1 {
      padding: $size-md;
      overflow: hidden;
    }
  }

  pre {
    margin: 0;
  }
}

// Scrollbar styling for code previews of components
.hljs {
  max-height: 200px;
  padding: $size-md;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
  }

  &.wmnds-show-more-ignore {
    max-height: 100%;
  }
}

span[class^="hljs-"] {
  background: $dark-grey;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba($black, 0.3);
  box-shadow: 0 0 1px rgba($white, 0.5);
}

// These classes are used to display components better
.wmnds-website-mar {
  &--right {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.wmnds-js-show-code {
  margin: $size-md;
  float: right;
}
