.wmnds-website-code-example {
  margin-top: $size-xl;
  padding: $size-md;
  overflow: hidden;
  border: 1px solid get-color(primary, 20);
  background-color: get-color(background);

  &__subtitle {
    color: get-color(information);
    text-decoration: underline;
  }
}

// Scrollbar styling for code previews of components
.hljs {
  max-height: 200px;
  padding: $size-md;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
  }

  &.wmnds-show-more-ignore {
    max-height: 100%;
  }
}

span[class^="hljs-"] {
  background: $black;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba($black, 0.3);
  box-shadow: 0 0 1px rgba($white, 0.5);
}

// These classes are used to display components better
.wmnds-website-mar {
  display: block;
  margin-bottom: 16px;

  &--right {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.wmnds-js-show-code {
  float: right;
}
