{% macro compExample(componentPath, params) %}

<div class="wmnds-website-code-example">
  <h3 class="wmnds-website-code-example__subtitle">Component example</h3>
  <div class="wmnds-website-code-example__inner-wrap">
    <div class="wmnds-col-1">
      {%- for item in componentPath %}
        {{ item }}
        {% if loop.last == false %}
          {% if params.displayInline %}
            <div class="wmnds-m-b-md wmnds-website-mar--right"></div>
          {% else %}
            <div class="wmnds-m-b-md"></div>
          {% endif %}
        {% endif %}
      {% endfor -%}
    </div>
  </div>

  <h3 class="wmnds-website-code-example__subtitle wmnds-m-t-none">HTML Markup</h3>
  {# Be careful with the below, the whitespace is extemely delicate (like a flower 🌸) #}
  {# The loop.revindex checks to see if last in array, if not add a linebreak (again, the fight for making nice whitespace continues) #}
  <pre><code class="html" tabindex="0">{% for item in componentPath -%}
  {{ item | forceescape | trim }}{% if loop.revindex !== 1 %}<br/>{% endif %}
  {% endfor -%}</code></pre>


</div>
<hr>
{% endmacro %}
