{% macro compExampleJs(jsFunctionName, inlineScript) %}

<div class="wmnds-website-code-example">
    <h3 class="wmnds-website-code-example__subtitle wmnds-m-t-none">Recommended javascript</h3>
    <div class="wmnds-code-toggle">
        <button class="wmnds-link">Show browser compatible JS</button>
    </div>
    <pre><code class="js" data-content="{{ jsFunctionName }}" tabindex="0">{{jsFunctionName}}</code></pre>
</div>
<hr>

{% endmacro %}
