{% macro compExampleJs(jsFunctionName, inlineScript) %}

<div class="wmnds-website-code-example">
    <h3 class="wmnds-website-code-example__subtitle wmnds-m-t-none">Recommended javascript</h3>
    <div class="wmnds-code-toggle">
        <strong>Format:</strong> 
        <button class="wmnds-btn wmnds-btn--dark-bg es6">ES6</button>
        <button class="wmnds-btn">Browser compatible JS</button>
    </div>
    <pre><code class="js" data-content="{{ jsFunctionName }}" tabindex="0">{{jsFunctionName}}</code></pre>
</div>
<hr>

{% endmacro %}
