{% macro compExampleJs(jsSnippetName) %}

<div class="wmnds-website-code-example">
    <h3 class="wmnds-website-code-example__subtitle wmnds-m-t-none">Recommended javascript</h3>
    <pre><code class="js" data-content="{{ jsSnippetName }}" tabindex="0"></code></pre>
</div>
<hr>

{% endmacro %}
