{% raw %}
{% from "wmnds/components/form-elements/form-label/_form-label.njk" import wmndsFormLabel %}

{{
   wmndsFormLabel({
      contentText: "Form label",
      contentHTML: null,
      for: "genericInput",
      classes: null
   })
}}
{% endraw %}
