{% macro wmndsContentTileAdviceMoving(params) %}
{%- from "wmnds/components/button/_button.njk" import wmndsButton -%}

<div class="wmnds-content-tile">
  <h2 class="wmnds-content-tile__title">Advice to keep moving</h2>
  <div class="wmnds-content-tile__buttons">

    {{
      wmndsButton({
        classNames: "wmnds-content-tile__button",
        iconRight: "general-chevron-right",
        text: "I drive",
        type: 'primary'
      })
    }}
    {{
      wmndsButton({
        classNames: "wmnds-content-tile__button",
        iconRight: "general-chevron-right",
        text: "I use the bus",
        type: 'primary'
      })
    }}
    {{
      wmndsButton({
        classNames: "wmnds-content-tile__button",
        iconRight: "general-chevron-right",
        text: "I use the train",
        type: 'primary'
      })
    }}
    {{
      wmndsButton({
        classNames: "wmnds-content-tile__button",
        iconRight: "general-chevron-right",
        text: "I use the tram",
        type: 'primary'
      })
    }}
    {{
      wmndsButton({
        classNames: "wmnds-content-tile__button",
        iconRight: "general-chevron-right",
        text: "I walk or cycle",
        type: 'primary'
      }) 
    }}
    {{
      wmndsButton({
        classNames: "wmnds-content-tile__button",
        iconRight: "general-chevron-right",
        text: "I want to visit an attraction or venue",
        type: 'primary'
      })
    }}
  </div>
</div>
{% endmacro %}