{% macro wmndsContentTileAdviceMoving(params) %}
<div class="wmnds-content-tile">
   <div class="wmnds-content-tile__title">
      <h2>Advice to keep moving</h2>
   </div>
   
   <div class="wmnds-content-tile__buttons">
      <button class="wmnds-btn wmnds-btn--primary wmnds-content-tile__buttons--button">
         I drive
         <svg class="wmnds-btn__icon wmnds-btn__icon--right">
            <use xlink:href="/img/wmnds-sprite.min.svg#wmnds-general-chevron-right" href="/img/wmnds-sprite.min.svg#wmnds-general-chevron-right"></use>
         </svg>
      </button>

      <button class="wmnds-btn wmnds-btn--primary wmnds-content-tile__buttons--button">
         I use the bus
         <svg class="wmnds-btn__icon wmnds-btn__icon--right">
            <use xlink:href="/img/wmnds-sprite.min.svg#wmnds-general-chevron-right" href="/img/wmnds-sprite.min.svg#wmnds-general-chevron-right"></use>
         </svg>
      </button>

      <button class="wmnds-btn wmnds-btn--primary wmnds-content-tile__buttons--button">
         I use the train
         <svg class="wmnds-btn__icon wmnds-btn__icon--right">
            <use xlink:href="/img/wmnds-sprite.min.svg#wmnds-general-chevron-right" href="/img/wmnds-sprite.min.svg#wmnds-general-chevron-right"></use>
         </svg>
      </button>

      <button class="wmnds-btn wmnds-btn--primary wmnds-content-tile__buttons--button">
         I use the tram
         <svg class="wmnds-btn__icon wmnds-btn__icon--right">
            <use xlink:href="/img/wmnds-sprite.min.svg#wmnds-general-chevron-right" href="/img/wmnds-sprite.min.svg#wmnds-general-chevron-right"></use>
         </svg>
      </button>

      <button class="wmnds-btn wmnds-btn--primary wmnds-content-tile__buttons--button">
         I walk or cycle
         <svg class="wmnds-btn__icon wmnds-btn__icon--right">
            <use xlink:href="/img/wmnds-sprite.min.svg#wmnds-general-chevron-right" href="/img/wmnds-sprite.min.svg#wmnds-general-chevron-right"></use>
         </svg>
      </button>

      <button class="wmnds-btn wmnds-btn--primary wmnds-content-tile__buttons--button">
         I want to visit an attraction or venue
         <svg class="wmnds-btn__icon wmnds-btn__icon--right">
            <use xlink:href="/img/wmnds-sprite.min.svg#wmnds-general-chevron-right" href="/img/wmnds-sprite.min.svg#wmnds-general-chevron-right"></use>
         </svg>
      </button>
   </div>
</div>
{% endmacro %}