{% macro wmndsContentTileAdviceMoving(params) %}
{% from "wmnds/components/link/as-button/_as-button.njk" import wmndsLinkAsButton -%}

<div class="wmnds-content-tile">
  <h2 class="wmnds-content-tile__title">Advice to keep moving</h2>
  <div class="wmnds-content-tile__buttons">

    {{
      wmndsLinkAsButton({
        classes: "wmnds-content-tile__button",
        iconRight: "general-chevron-right",
        contentText: "I drive",
        type: 'primary'
      })
    }}
    {{
      wmndsLinkAsButton({
        classes: "wmnds-content-tile__button",
        iconRight: "general-chevron-right",
        contentText: "I use the bus",
        type: 'primary'
      })
    }}
    {{
      wmndsLinkAsButton({
        classes: "wmnds-content-tile__button",
        iconRight: "general-chevron-right",
        contentText: "I use the train",
        type: 'primary'
      })
    }}
    {{
      wmndsLinkAsButton({
        classes: "wmnds-content-tile__button",
        iconRight: "general-chevron-right",
        contentText: "I use the tram",
        type: 'primary'
      })
    }}
    {{
      wmndsLinkAsButton({
        classes: "wmnds-content-tile__button",
        iconRight: "general-chevron-right",
        contentText: "I walk or cycle",
        type: 'primary'
      })
    }}
    {{
      wmndsLinkAsButton({
        classes: "wmnds-content-tile__button",
        iconRight: "general-chevron-right",
        contentText: "I want to visit an attraction or venue",
        type: 'primary'
      })
    }}
  </div>
</div>
{% endmacro %}