{% extends "www/_layouts/layout-fullwidth.njk" %}
{% set pageTitle="User research" %}
{% set section = "User research" %}
{# Imports #}
{%- from "wmnds/components/content-tiles/normal/_normal.njk" import wmndsContentTilesNormal -%}
{% from "wmnds/components/link/link/_link.njk" import wmndsLink %}
{# Set array of tiles #}

{# Set the title and copy of all the tiles, we loop through them below #}
{% set userResearchMethods = [
  {
    title: "Heatmaps",
    copy: "<p>See how users are behaving on the page - where are they clicking? Are they navigating the page in the expected way?</p>"
  },
  {
    title: "User workshops",
    copy: "<p>Get users into the same space to deep-dive through whole subject areas or co-create solutions</p>"
  },
  {
   title: "Online surveys",
    copy: "<p>A quantitative and qualitative method of establishing attitudes and behaviours</p>"
  },
  {
   title: "In-browser polls",
    copy: "<p>Capture the sentiment of users for a specific service area with a few quick questions</p>"
  },
  {
   title: "Telephone interviews",
    copy: "<p>Talk to users to explore an area in depth</p>"
  },
  {
    title: "Prototype testing",
    copy: "<p>Use Maze to establish the usability of prototypes before development</p>"
  },
  {
     title: "In-content feedback loops",
    copy: "<p>Understand user sentiment towards content and get feedback if something is wrong on the page</p>"
  },
  {
     title: "Card sorting and tree testing",
    copy: "<p>Test the hierarchy and structure of content - do users group services and content in the same way as the business?</p>"
  },
  {
    title: "Customer journey mapping",
    copy: "<p>Map out real user journeys beyound their interaction with our services</p>"
  },
  {
    title: "Google Analytics",
    copy: "<p>Analyse how parts of our websites and services are used, what users are searching for and how users behave</p>"
  },
  {
    title: "Contextual interviews",
    copy: "<p>Meet a user in their environment to ask questions relevant to their surroundings</p>"
  },
  {
    title: "Highlighter testing",
    copy: "<p>Check whether users understand our emails and letters. Do we give too much information? Do we not give them the right information?</p>"
  },
  {
    title: "Stakeholder mapping",
    copy: "<p>Map out who to speak with about a service or website</p>"
  },
  {
    title: "Stakeholder workshops",
    copy: "<p>Get under the skin of a service or business area and understand stakeholder expectations</p>"
  },
   {
    title: "Service blueprints",
    copy: "<p>Check whether users understand our emails and letters. Do we give too much information? Do we not give them the right information?</p>"
  },
   {
    title: "Reframing the problem",
    copy: "<p>Before trying to create a solution, analyse a problem statement to check whether you are researching the right thing</p>"
  },
   {
    title: "Assumptions and questions",
    copy: "<p>Collect assumptions and questions to test and identify high-risk assumptions to prioritise for research</p>"
  },
   {
    title: "Assistive technology testing",
    copy: "<p>Test whether a service is fully accessible by involving users of assistive technology</p>"
  }
] %}

{% block content %}
{# User research #}
<div class="wmnds-grid">
  <div class="wmnds-col-1 wmnds-col-md-3-4">
    <h2>Introduction</h2>
      <p>User research helps teams learn about users and create services that meet their needs.</p>
      <p>Without it, you won’t know what problems you’re trying to solve, what to build or if the service you create will work well for users.</p>
      <p>We're a team that's open to new tools and iterate our processes on a regular basis.</p>
      <p>The resources provided are intended as a starting point rather than a definitive guide.</p>
    <br />
    <h2>Which platforms do we use?</h2>
    <ul>
      <li>
        {{
          wmndsLink({
            link: "https://maze.design",
            linkTitle: "Maze",
            text: "Maze"
          })
        }}
        for prototype testing and early discovery work
      </li>
      <li>
        {{
          wmndsLink({
            link: "https://miro.com",
            linkTitle: "Miro",
            text: "Miro"
          })
        }}
        for collaboration, remote workshops and idea creation
      </li>
      <li>
        {{
          wmndsLink({
            link: "https://hotjar.com",
            linkTitle: "Hotjar",
            text: "Hotjar"
          })
        }}
        for heatmaps, polls and quick surveys
      </li>
      <li>
        {{
          wmndsLink({
            link: "https://google.com/analytics",
            linkTitle: "Google Analytics",
            text: "Google Analytics"
          })
        }}
        for analysing user behaviour
      </li>
      <li>
        {{
          wmndsLink({
            link: "https://campaignmonitor.com",
            linkTitle: "Campaign Monitor",
            text: "Campaign Monitor"
          })
        }}
        for sending research communications to our User Testing Group
      </li>
    </ul>
  </div>
</div>
<br />

<h2>Research method toolbox</h2>

<div class="wmnds-grid">
  {# Loop through each of the title/copy set at top of file and display in content tile component #}
  {% for method in userResearchMethods %}
    <div class="wmnds-col-1 wmnds-col-md-1-3 wmnds-col-lg-1-4 wmnds-p-sm">
        {{
          wmndsContentTilesNormal({
            title: method.title,
            copy: method.copy,
            smallTitle: true
          })
        }}
    </div>
  {% endfor %}
</div>

<br />
<br />

{# User research resource #}
<h2>User research resources</h2>
<p>Blogs and resources we have found helpful:</p>
<ul>
  <li>
    UK
    {{
      wmndsLink({
        link: "https://www.gov.uk/service-manual/communities/user-research-community",
        linkTitle: "Cross-government user research community",
        text: "Cross-government user research community"
      })
    }}
  </li>
  <li>
    {{
      wmndsLink({
        link: "https://dwpdigital.blog.gov.uk/2019/01/28/designing-letters-as-part-of-the-whole-user-journey/",
        linkTitle: "Designing letters as part of the whole user journey blog",
        text: "Designing letters as part of the whole user journey blog"
      })
    }}
    by DWP Digital
  </li>
  <li>
    Hippo Digital's
    {{
      wmndsLink({
        link: "https://medium.com/hippo-digital/tagged/user-research",
        linkTitle: "Hippo Digital user research blog",
        text: "Hippo Digital user research blog"
      })
    }}
  </li>
  <li>
    The US Government's
    {{
      wmndsLink({
        link: "https://methods.18f.gov",
        linkTitle: "18F Methods library",
        text: "18F Methods library"
      })
    }}
  </li>
  <li>
    Nielson Norman Group's blogpost on
    {{
      wmndsLink({
        link: "https://www.nngroup.com/articles/which-ux-research-methods/",
        linkTitle: "When to use which user-experience research methods blog by Nielson Norman Group",
        text: "when to use which user-experience research method"
      })
    }}
  </li>
  <li>
    The
    {{
      wmndsLink({
        link: "https://github.com/alphagov/govuk-design-system-backlog",
        linkTitle: "GOV.UK Design System Backlog",
        text: "GOV.UK Design System Backlog"
      })
    }}
  </li>
  <li>
    The
    {{
      wmndsLink({
        link: "https://service-manual.nhs.uk",
        linkTitle: "NHS digital service manual",
        text: "NHS digital service manual"
      })
    }}
  </li>
  <li>
    The
    {{
      wmndsLink({
        link: "https://www.gov.uk/service-manual/user-research",
        linkTitle: "GOV.UK user research service manual",
        text: "GOV.UK user research service manual"
      })
    }}
  </li>
  <li>
    GOV.UK's blog about
    {{
      wmndsLink({
        link: "https://userresearch.blog.gov.uk/2020/05/20/conducting-remote-research-with-people-with-access-needs/",
        linkTitle: "conducting remote research with people with access needs",
        text: "conducting remote research with people with access needs"
      })
    }}
  </li>
</ul>

{% endblock %}
