{% extends "www/_layouts/layout-fullwidth.njk" %}
{% set pageTitle="User research" %}
{% set section = "User research" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{# User research #}
<div class="wmnds-grid">
<div class="wmnds-col-md-3-4">
  <h2>Introduction</h2>
    <p>User research helps teams learn about users and create services that meet their needs.</p>
    <p>Without it, you won’t know what problems you’re trying to solve, what to build or if the service you create will work well for users.</p>
    <p>We're a team that's open to new tools and iterate our processes on a regular basis.</p>
    <p>The resources provided are intended as a starting point rather than a definitive guide.</p>
  <br />
  <h2>Which platforms do we use?</h2>
    <p>
      <ul>
        <li>
          <a href="https://maze.design" title="Maze" target="_self" class="wmnds-link">Maze</a> for prototype testing and early discovery work
        </li>
        <li>
          <a href="https://miro.com" title="Miro" target="_self" class="wmnds-link">Miro</a> for collaboration, remote workshops and idea creation
        </li>
        <li>
          <a href="https://hotjar.com" title="Hotjar" target="_self" class="wmnds-link">Hotjar</a> for heatmaps, polls and quick surveys
        </li>
        <li>
          <a href="https://google.com/analytics" title="Google Analytics" target="_self" class="wmnds-link">Google Analytics</a> for analysing user behaviour
        </li>
        <li>
          <a href="https://campaignmonitor.com" title="Campaign Monitor" target="_self" class="wmnds-link">Campaign Monitor</a> for sending research communications to our User Testing Group
        </li>
      </ul>
    </p>
  </div>
</div>
<br />
<h2>Research method toolbox</h2>
<div class="wmnds-grid">
<div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Heatmaps</h3>
      <div class="wmnds-content-tile__copy">
        <p>See how users are behaving on the page - where are they clicking? Are they navigating the page in the expected way?</p>
      </div>
</div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>User workshops</h3>
      <div class="wmnds-content-tile__copy">
        <p>Get users into the same space to deep-dive through whole subject areas or co-create solutions</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Online surveys</h3>
      <div class="wmnds-content-tile__copy">
        <p>A quantitative and qualitative method of establishing attitudes and behaviours</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>In-browser polls</h3>
      <div class="wmnds-content-tile__copy">
        <p>Capture the sentiment of users for a specific service area with a few quick questions</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Telephone interviews</h3>
      <div class="wmnds-content-tile__copy">
        <p>Talk to users to explore an area in depth</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Prototype testing</h3>
      <div class="wmnds-content-tile__copy">
        <p>Use Maze to establish the usability of prototypes before development</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>In-content feedback loops</h3>
      <div class="wmnds-content-tile__copy">
        <p>Understand user sentiment towards content and get feedback if something is wrong on the page</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Card sorting and tree testing</h3>
      <div class="wmnds-content-tile__copy">
        <p>Test the hieararchy and structure of content - do users group services and content in the same way as the business?</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Customer journey mapping</h3>
      <div class="wmnds-content-tile__copy">
        <p>Map out real user journeys beyound their interaction with our services</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Google Analytics</h3>
      <div class="wmnds-content-tile__copy">
        <p>Analyse how parts of our websites and services are used, what users are searching for and how users behave</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Contextual interviews</h3>
      <div class="wmnds-content-tile__copy">
        <p>Meet a user in their environment to ask questions relevant to their surroundings</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Highlighter testing</h3>
      <div class="wmnds-content-tile__copy">
        <p>Check whether users understand our emails and letters. Do we give too much information? Do we not give them the right information?</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Stakeholder mapping</h3>
      <div class="wmnds-content-tile__copy">
        <p>Map out who to speak with about a service or website</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Stakeholder workshops</h3>
      <div class="wmnds-content-tile__copy">
        <p>Get under the skin of a service or business area and understand stakeholder expectations</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Service blueprints</h3>
      <div class="wmnds-content-tile__copy">
        <p>Check whether users understand our emails and letters. Do we give too much information? Do we not give them the right information?</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Reframing the problem</h3>
      <div class="wmnds-content-tile__copy">
        <p>Before trying to create a solution, analyse a problem statement to check whether you are researching the right thing</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Assumptions and questions</h3>
      <div class="wmnds-content-tile__copy">
        <p>Collect assumptions and questions to test and identify high-risk assumptions to prioritise for research</p>
      </div>
    </div>
  </div>
  <div class="wmnds-col-1 wmnds-col-md-1-4 wmnds-p-sm">
    <div class="wmnds-content-tile">
      <h3>Assistive technology testing</h3>
      <div class="wmnds-content-tile__copy">
        <p>Test whether a service is fully accessible by involving users of assistive technology</p>
      </div>
    </div>
  </div>
</div>
<br />
<br />
  <h2>User research resources</h2>
  <p>Blogs and resources we have found helpful:</p>
  <ul>
    <li>
      UK <a href="https://www.gov.uk/service-manual/communities/user-research-community" title="Cross-government user research community" target="_self" class="wmnds-link">cross-government user research community</a>
    </li>
    <li>
      <a href="https://dwpdigital.blog.gov.uk/2019/01/28/designing-letters-as-part-of-the-whole-user-journey/" title="Designing letters as part of the whole user journey blog" target="_self" class="wmnds-link">Designing letters as part of the whole user journey</a> by DWP Digital
    </li>
    <li>
      Hipoo Digital's <a href="https://medium.com/hippo-digital/tagged/user-research" title="Hippo Digigtal user research blog" target="_self" class="wmnds-link">User Research blog</a>
    </li>
    <li>
      The US Government's <a href="https://methods.18f.gov" title="18F Methods library" target="_self" class="wmnds-link">18F Methods library</a>
    </li>
    <li>
      Nielson Norman Group's blogpost on <a href="https://www.nngroup.com/articles/which-ux-research-methods/" title="When to use which user-experience research methods blog by Nielson Norman Group" target="_self" class="wmnds-link">when to use which user-experience research method</a>
    </li>
    <li>
      <a href="hhttps://www.ibm.com/design/thinking/page/toolkit" title="IBM Design Thinking Toolkit" target="_self" class="wmnds-link">IBM's design thinking toolkit</a>
    </li>
    <li>
      The <a href="https://github.com/alphagov/govuk-design-system-backlog" title="GOV.UK Design System Backlog" target="_self" class="wmnds-link">GOV.UK design system backlog</a> on Github
    </li>
    <li>
      The <a href="https://service-manual.nhs.uk" title="NHS digital service manual" target="_self" class="wmnds-link">NHS digital service manual</a>
    </li>
    <li>
      The <a href="https://www.gov.uk/service-manual/user-research" title="GOV.UK user research service manual" target="_self" class="wmnds-link">GOV.UK user research service manual</a>
    </li>
  </ul>
{% endblock %}