{% raw %}
{% from "wmnds/components/inset-text/_inset-text.njk" import wmndsInsetText %}

{{
    wmndsInsetText({
        html: Example of inset text,
        ariaLabel: Inset text example
    })
}}
{% endraw %}