{% raw %}
{% from "wmnds/components/inset-text/_inset-text.njk" import wmndsInsetText %}

{{
    wmndsInsetText({
        id: null,
        contentHTML: Example of inset text,
        classes: null,
        label: Inset text example
    })
}}
{% endraw %}