{% macro wmndsInsetText(params) %}

{# Set #}
{% set id = params.id if params.id else "inset_text" %} {# set content #}
{% set contentHTML = params.contentHTML if params.contentHTML else "Type something" %} {# set content #}
{% set label = params.label if params.label else "Inset text" %} {# set content #}
{% set classes = " " + params.classes if params.classes else "" %} {# set content #}

<div id="{{ id }}" class="wmnds-inset-text{{classes}}" {% if params.label %} aria-label="{{ label }}" {% endif %}>
    {{html | safe }}
</div>

{% endmacro %}