{% macro wmndsInsetText(params) %}

{# Set #}
{% set html = params.html if params.html else "Type something" %} {# set content #}
{% set thinModifierClass = " wmnds-inset-text--thinner" if params.thinner %} {# set modifier class if params.thinner is true #}

<div class="wmnds-inset-text{{ thinModifierClass }}">
    {{html | safe }}
</div>

{% endmacro %}