{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Header and footer" %}
{% set section="Patterns" %}

{% from "www/_partials/component-example/component-example.njk" import compExample %}
{% from "components/header/_header.njk" import wmndsHeader %}

{% block content %}
  {{
    compExample([wmndsHeader()])
  }}
{% endblock %}