<header class="header">
  <div class="container-lg wmnds-grid align-center">
    <div class="wmnds-col-1-2">
      <a href="/" title="West Midlands Network Design System">
        <img class="header-logo" alt="West Midlands Network" src="$*cdn/img/logo.svg" />
      </a>
    </div>
    <div class="wmnds-col-1-2">
      <a href="/" title="West Midlands Network Design System">
        <span class="wmnds-phase-indicator float-right">
          Alpha
        </span>
      </a>
    </div>
  </div>
</header>