$h-bg: get-color(primary);
$h-size-mob: 78px;

.header {
  margin-bottom: $margin-xl;
  padding: $padding-md;
  background-color: $h-bg;

  @media only screen and (max-width: 568px) {
    position: relative;
    height: $h-size-mob;
    padding: 0px;
  }
}

#header-logo {
  width: 100px;

  @media only screen and (max-width: 568px) {
    position: absolute;
    top: 50%;
    left: 100px;
    max-height: 2rem;
    transform: translateY(-50%);
  }
}
