<header class="header">
  <div class="container-lg">
    <a href="/" title="West Midlands Network Design System">
      <img id="header-logo" class="logo" alt="West Midlands Network" src="$*cdn/img/logo.svg" />
    </a>
  </div>
</header>