<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- Head -->
  {% include "www/_partials/_head.njk" %}
  <!-- end: Head -->
  <body>
    <!--[if IE]> <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security. </p> <![endif]-->

    <!-- header -->
    {% include "www/_partials/header/_header.njk" %}
    <!-- header -->

    <div class="container-lg">
      <div class="wmnds-grid">
        <div class="wmnds-col-1 wmnds-col-md-1-4">
          {% include "www/_partials/_nav.njk" %}
        </div>
        <div class="wmnds-col-1 wmnds-col-md-3-4">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <!-- footer -->
    {% include "www/_partials/footer/_footer.njk" %}
    <!-- footer -->

    <!-- Scripts -->
    {% include  "www/_partials/_scripts.njk" %}
    <!-- end: Scripts -->

    {# <script src="$*cdn/js/wmnds-website.min.js"></script> #}
  </body>
</html>