<!DOCTYPE html>
<html lang="en-gb">
  <!-- Head -->
  {% include "www/_partials/_head.njk" %}
  <!-- end: Head -->

  <body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
      </p>
    <![endif]-->

    {# header #}
    {% from "components/header/_header.njk" import wmndsHeader %}
    {{
      wmndsHeader ({
        navItems: navItems
      })
    }}
    {# header #}

    {# Breadcrumb #}
    {# Don't display breadcrumb on homepage #}
    {% if section != 'Home' %}
      <div class="wmnds-container">
        {% from "components/breadcrumb/_breadcrumb.njk" import wmndsBreadcrumb %}
        {{
            wmndsBreadcrumb({
              section: section,
              pageTitle: pageTitle
            })
        }}
      </div>
    {% endif %}
    {# Breadcrumb #}

    <main class="wmnds-container wmnds-container--main">
      {% block body %}{% endblock %}
    </main>

    <!-- footer -->
    {% include "www/_partials/footer/_footer.njk" %}
    <!-- footer -->

    <!-- Scripts -->
    {% include "www/_partials/_scripts.njk" %}
    <!-- end: Scripts -->
  </body>

</html>