{% extends "www/_layouts/_master-layout.njk" %}

{% block body %}
  <div class="wmnds-grid">
    <div class="wmnds-col-1 wmnds-col-md-1-4">
      {% include "www/_partials/nav/subnav.njk" %}
    </div>
    <div class="wmnds-col-1 wmnds-col-md-3-4">
      {% block content %}{% endblock content %}
    </div>
  </div>

{% endblock body%}