$btn-border-radius: 5px;
$btn-border-width: 1px;
$btn-transition: ease-in-out background-color 0.2s, ease-in-out border 0.2s;

// default button styles aka cta btn
.wmnds-btn {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  padding: $size-sm;
  transition: $btn-transition;
  border: 1px solid transparent;
  border-radius: $btn-border-radius;
  color: $white;
  background-color: get-color(cta);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: get-color(cta, 30, dark);
  }

  &:active,
  &:target,
  &:focus,
  &.wmnds-is--active {
    outline: none;
    background-color: get-color(cta, 50, dark);
    -webkit-appearance: none;
  }

  // button icon left styles
  &__icon {
    width: 22px;
    height: 22px;
    fill: $white;
    vertical-align: top;
  }

  // button icon right style
  &__icon--right {
    margin-left: $size-sm;
    float: right;
  }

  // Dark background variant
  &--dark-bg {
    color: get-color(primary);
    background-color: $white;

    &:hover {
      background-color: get-color(primary, 90);
    }

    &:active,
    &:target,
    &:focus {
      background-color: get-color(plannedDisruption);
    }

    &.wmnds-is--active {
      background-color: get-color(primary, 80);
    }
  }

  // button primary styles
  &--primary {
    background-color: get-color(primary);

    &:hover {
      background-color: get-color(primary, 30, dark);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is--active {
      background-color: get-color(primary, 50, dark);
    }
  }

  // button secondary styles
  &--secondary {
    border: $btn-border-width solid get-color(primary);
    color: get-color(primary);
    background-color: transparent;

    .wmnds-btn__icon {
      fill: get-color(primary);
    }

    &:hover {
      background-color: get-color(secondary, 70);
    }

    &:active,
    &:target,
    &:focus {
      background-color: initial;
    }

    &.wmnds-is--active {
      background-color: get-color(secondary, 50);
    }

    // Secondary (disabled)
    &.wmnds-btn--disabled:disabled {
      border-color: get-color(disable);
      color: get-color(disable);
      background: transparent;

      .wmnds-btn__icon {
        fill: get-color(disable);
      }
    }

    // Dark background variant
    &.wmnds-btn--dark-bg {
      border: 0;
      color: $white;
      background-color: get-color(primary);

      &:hover {
        background-color: get-color(primary, 10);
      }

      &:active,
      &:target,
      &:focus {
        color: get-color(primary);
        background-color: get-color(plannedDisruption);
      }

      &.wmnds-is--active {
        color: $white;
        background-color: get-color(primary, 30);
      }
    }
  }

  // button destructive styles
  &--destructive {
    background-color: get-color(error);

    &:hover {
      background-color: get-color(error, 30, dark);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is--active {
      background-color: get-color(error, 50, dark);
    }
  }

  &--start {
    background-color: get-color(success);

    span {
      border: $btn-border-width solid transparent;
    }

    &:hover {
      background-color: get-color(success, 30, dark);
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is--active {
      background-color: get-color(success, 50, dark);
    }
  }

  // button mode
  &--mode {
    border: $btn-border-width solid get-color(primary);
    color: get-color(primary);
    background-color: $white;

    .wmnds-btn__icon {
      margin-right: $size-xs;
      fill: get-color(primary);
    }

    &:hover {
      background-color: get-color(secondary, 70);
    }

    &:active,
    &:target,
    &:focus {
      background-color: initial;
    }

    &.wmnds-is--active {
      background-color: get-color(secondary, 50);
    }

    // Modal disabled
    &.wmnds-btn--disabled:disabled {
      border-color: get-color(disable);
      color: get-color(disable);
      background: $white;

      .wmnds-btn__icon {
        fill: get-color(disable);
      }
    }
  }

  // Disabled modifier (goes last to override above classes) for default btn
  &--disabled:disabled {
    background-color: get-color(disable);
    cursor: not-allowed;

    .wmnds-btn__icon {
      fill: $white;
    }

    &:active,
    &:target,
    &:focus,
    &.wmnds-is--active {
      background-color: get-color(disable);
    }
  }

  // block modifier for full width buttons
  &--block {
    display: block;
    width: 100%;
  }

  // Show button like a normal link modifier
  &--link {
    display: inline;
    padding: 0;
    border-radius: 0;
    color: get-color(cta, 10, dark);
    background: none;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

    &:active,
    &:target,
    &:hover,
    &:focus,
    &.wmnds-is--active {
      background: none;
    }
  }
}
