{% macro wmndsButton(params) %}
{# Imports #}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{% from "wmnds/components/loader/_loader.njk" import wmndsLoader %}
{# Set #}
{% set type = " wmnds-btn--" + params.type if params.type %}
{% set contentText = params.contentText if params.contentText else "Button text" %}
{% set contentHTML = params.contentHTML if params.contentHTML else null %}
{% set isActive = " wmnds-is--active" if params.isActive %}
{% set isDarkBg = " wmnds-btn--dark-bg" if params.isDarkBg %}
{% set isDisabled = " wmnds-btn--disabled" if params.isDisabled %}
{% set isLoading = params.isLoading %}
{% set classes = " " + params.classes if params.classes %} {# set svg left reference #}
{% set iconLeft = params.iconLeft if params.iconLeft %} {# set svg left reference #}
{% set iconRight = params.iconRight if params.iconRight %} {# set icon right classes #}
{% set role = params.role if params.role else "button" %}
{% set _content = contentHTML | safe if contentHTML else contentText %} {# change content based on what user has input #}
{% set iconClasses = " " + params.iconClasses if params.iconClasses %} 

<button class="wmnds-btn{{type}}{{classes}}{{isActive}}{{isDarkBg}}{{isDisabled}}" {% if params.isDisabled %}disabled="disabled"{% endif %} type="{{role}}">
    {#- iconLeft -#}
    {% if iconLeft %}
      {{
        wmndsIcon({
          icon: iconLeft,
          class: ('wmnds-btn__icon wmnds-btn__icon--left '+iconClasses)
        })
      }}

      {{ _content }}

    {#- iconRight -#}
    {% elseif iconRight %}
      {{ _content }}

      {{
        wmndsIcon({
          icon: iconRight,
          class: ('wmnds-btn__icon wmnds-btn__icon--right ' + iconClasses)
        })
      }}

    {#- Loading spinner -#}
    {% elseif isLoading %}
      {{ _content }}
      {{
        wmndsLoader({
          classes: 'wmnds-btn__icon wmnds-btn__icon--right',
          size: 'btn'
        })
      }}

    {#- noIcon -#}
    {% else %}
      {{ _content }}
    {% endif %}
</button>
{% endmacro %}