{% raw %}
{% from "wmnds/components/button/_button.njk" import wmndsButton %}

{{
   wmndsButton({
      type: "secondary"
      contentText: "Button text",
      contentHTML: null,
      isActive: false,
      isDarkBg: false,
      isDisabled: false,
      isLoading: false,
      classes: "wmnds-m-t--lg",
      iconLeft: null,
      iconRight: "general-chevron-right",
      role: null,
    })
}}
{% endraw %}
