{% raw %}
{% from "wmnds/components/button/button.njk" import wmndsButton %}

{{
   wmndsButton({
      classNames: "wmnds-m-t--lg",
      iconLeft: null,
      iconRight: "general-chevron-right",
      isActive: false,
      isDarkBg: false,
      isDisabled: false, 
      isLoading: false,
      role: null,
      text: "Button text",
      type: "secondary"
    })
}}
{% endraw %}
