{% macro tfwmdsSearchbar(params) %}

<form class="tfwmds-search-bar">
    <input aria-label="Search" type="text" class="tfwmds-search-bar__input tfwmds-fe-input" placeholder="Search for tickets, timetables, travel advice…">
    <button class="tfwmds-search-bar__btn" type="submit">
        <svg><title>Search</title><use xlink:href="#tfwmds-general-search" href="#tfwmds-general-search"></use></svg>
    </button>
</form>
{% endmacro %}
