{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Header and footer" %}
{% set section="Patterns" %}
{# Imports #}
{% from "www/_partials/component-example/component-example.njk" import compExample %}
{% from "wmnds/patterns/header/_header.njk" import wmndsHeader %}
{% from "wmnds/patterns/footer/_footer.njk" import wmndsFooter %}
{%- from "wmnds/components/link/link/_link.njk" import wmndsLink -%}

{% block content %}
{# About #}
<h2>About</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>The primary way of navigating the website</li>
  <li>Standardised pattern</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>Every page must have a header and a footer</li>
</ul>
<hr>
<br><br>



{# Header #}
<h2>Header</h2>
{# Skip Link #}
<h3>Skip link</h3>
<p>There is a hidden <a href="https://design-system.service.gov.uk/components/skip-link/" target="_blank">skip link</a> for users with screen reader assistive technology. This allows users to quickly access the main content. All pages must include this.</p>
<p>Ensure there is a HTML element on the page with the ID of <code class="wmnds-website-inline-code">wmnds-main-content</code> so the user can skip to this section.</p>
{# Logo #}
<h3>Logo</h3>
<p>This must always be the West Midlands Network logo.</p>
{# Phase indicator #}
<h3>Phase indicator</h3>
<p>This component must be used if the service is not live, using the <a href="/components/phase-indicator/" target="_self">phase indicator guidance</a>.</p>
{# Navigation #}
<h3>Navigation</h3>
<p>The three top-level navigation items were decided by identifying our user’s <a href="https://medium.com/@gerrymcgovern/identifying-customer-top-tasks-ee228206b6ed" target="_blank">top tasks</a> using Gerry McGovern’s methodology. We overlaid a heatmap of the home page, where we found the same three areas were the most-used areas.</p>
<p>The top-level items open a structured megamenu to avoid cognitive overload. Users are familiar with this pattern from online shopping and transport operators.</p>
<p>We only use three top-level items as we <a href="https://lmjabreu.com/post/why-and-how-to-avoid-hamburger-menus/" target="_blank">prefer not to use hamburger menus</a> on mobile. Users are required to make an extra click to reveal the navigation, therefore you cannot glance at navigation options.</p>
{# Mobile apps #}
<h3>Mobile apps</h3>
<p>When designing an app, you should use a <a href="https://developer.apple.com/design/human-interface-guidelines/ios/bars/tab-bars/" target="_blank">tab bar</a> and avoid using hamburger items wherever possible. Limit the tabs to the most important tasks using user research.</p>
{# Search #}
<h3>Search</h3>
<p>This functionality only shows for desktop and tablet users. When clicked, search expands and takes over the whole page.</p>

{{
  compExample([
    wmndsHeader({
      navItems: navItems,
      banner: true,
      breadcrumbs: {
        section: section,
        pageTitle: pageTitle
      },
      exampleAria: "Full header"
    })
  ])
}}

{# With title variant #}
<h3 id="title-header">With a title variant of header</h3>
<p>When developing a service you may not need the navigation of the main website. When this is the case, you can place the title of the service in the header (providing their is no other h1 element on the page).</p>

<p>To use the title variant:</p>
<ul>
  <li>Add the h1 element and ensure it has the classes <code class="wmnds-website-inline-code">.wmnds-header__title .wmnds-col-1 .wmnds-col-sm-auto</code> on the element</li>
</ul>


{{
  compExample([
    wmndsHeader({
      navItems: navItems,
      withTitle: true
    })
  ])
}}


{# Mobile app variant #}
<h3 id="mobile-app-header">Mobile app variant of header</h3>
<p>When developing a mobile app, if you are limited for space and need extra room then it is recommended to use the mobile app variant of the West Midlands Network header.</p>

<p>To use the mobile app variant:</p>
<ul>
  <li>Add the modifier class <code class="wmnds-website-inline-code">wmnds-header--mobile-app</code> to the wmnds-header element</li>
  <li>Copy the code for the back button section below and insert it into your existing header</li>
  <li>Finally, add the script for the back button in your local javascript file</li>
</ul>

<p>
  You will most likely want to use this with the mobile variants of the
  {{ wmndsLink({
    text: 'breadcrumb component',
    link: '/components/breadcrumb/#mobile-app-breadcrumb'
    })
  }} and
  {{ wmndsLink({
    text: 'footer pattern',
    link: '#mobile-app-footer'
    })
  }} .
</p>

{{
  compExample([
    wmndsHeader({
      navItems: navItems,
      app: true,
      exampleAria: "Mobile app header"
    })
  ])
}}

<br/><br/>


{# Full footer #}
<h3>Full variant of footer</h3>
<p>The full variant of the footer may include menus which become collapsible on smaller devices.</p>
<p>To enable the collapsible footer menus on smaller screens you can include the recommended javascript below:</p>
{{
  compExample([
    wmndsFooter({
      menu1: {
        name: "Resources & support",
        menuItems: [{
          name: "Businesses"
        },{
          name: "Education"
        },{
          name: "Job centres"
        },{
          name: "Young people"
        }]
      },
      menu2: {
        name: "About us",
        menuItems: [{
          name: "About West Midlands Network"
        }, {
          name: "WMN Apps"
        }]
      },
      bottomMenu: [{
        name: "Accessibility"
      },
      {
        name: "Terms and Conditions"
      },
      {
        name: "Policies"
      }]
    })
  ], {
    componentPath: "wmnds/patterns/footer/",
    njk: false,
    js: true,
    iframe: true
  })
}}
<br>


{# Mobile app variant #}
<h3 id="mobile-app-footer">Mobile app variant of Footer</h3>
<p>When developing a mobile app, if you are limited for space and need extra room then it is recommended to use the mobile app variant of the West Midlands Network footer.</p>

<p>The mobile app version of the footer ensures that it will not show on devices with a screen width less than 768px. This means the footer will only show on devices with a screen resolution bigger than 768px.</p>

<p>To use the mobile app variant:</p>
<ul>
  <li>Add the modifier class <code class="wmnds-website-inline-code">wmnds-footer--mobile-app</code> to the wmnds-footer element</li>
</ul>

<p>
  You will most likely want to use this with the mobile variants of the
  {{ wmndsLink({
    text: 'breadcrumb component',
    link: '/components/breadcrumb/#mobile-app-breadcrumb'
    })
  }} and
  {{ wmndsLink({
    text: 'header pattern',
    link: '#mobile-app-header'
    })
  }} .
</p>

{{
  compExample([
    wmndsFooter({
      app: true
    })
  ], {
    componentPath: "wmnds/patterns/footer/",
    njk: false,
    js: true
  })
}}

{% endblock %}