{% raw %}
{% from "wmnds/components/form-elements/date-input/_date-input.njk" import wmndsDateInput %}

{{
   wmndsDateInput({
      id: "passport-date",
      required: true,
      error: false, 
      errorMessage: {
         id: null,
         contextText: "The date your passport was issued must be in the past",
         contextHTML: null,
         classes: null
      },
      formGroup: {
         classes: "wmnds-m-t-20"
      }
    })
}}
{% endraw %}
