{% raw %}
{% from "wmnds/components/form-elements/input/_input.njk" import wmndsInput %}

{{
   wmndsInput({
      id: "accordion-01",
      headingText: "Accordion",
      headingHTML: null,
      contentText: null,
      contentHTML: "<p><strong>Some random subtitle</strong></p>
      <p>Lorem ipsum dolor sit...</p>",
      isOpen: false
    })
}}
{% endraw %}
