{% macro wmndsInput(params) %}

{# Imports #}
{% from "wmnds/components/form-elements/label/_label.njk" import wmndsLabel %}

{# Params #}
{% set id = params.id if params.id else "input" %}
<div class="wmnds-fe-group">
  {{
    wmndsLabel({
      label: 'Input label',
      for: id
    }) | trim
  }}
  <input name="{{id}}" id="{{id}}" type="text" class="wmnds-fe-input"/>
</div>

{% endmacro %}