{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Form elements" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
  {# Label #}
  <h2>Form Label</h2>
  <h3>What does it do?</h3>
  <ul><li>Tells users what a field is for.</li></ul>
  <h3>When to use it?</h3>
  <ul>
    <li>When you are requesting multiple pieces of information to answer the same question. For example, the day, month and year of a date.</li>
    <li>The label must appear directly above the field.</li>
  </ul>
  <h3>When not to use it?</h3>
  <ul>
    <li>Do not use this component to ask more questions within a question - instead, ask a new question.</li>
    <li>When you're giving extra information and hints to help the user answer a question.</li>
  </ul>
  {% from "wmnds/components/form-elements/label/_label.njk" import wmndsLabel %}
  {{
    compExample([wmndsLabel()])
  }}
  {# End label #}


  <br><br>
  {# Question #}
  <h2>Question</h2>
  <h3>What does it do?</h3>
  <ul><li>Asks the user a question about information the service needs.</li></ul>
  <h3>When to use it?</h3>
  <ul>
    <li>When you are asking users for information as part of a service.</li>
  </ul>
  <h3>When not to use it?</h3>
  <ul>
    <li>When it's not part of a service.</li>
    <li>When there are multiple questions on the same page, unless you have user research that says it makes sense to group the question?</li>
  </ul>
  <h3>How it works?</h3>
  <ul>
    <li>Always test questions with users through user research</li>
    <li>Make sure your <a href="https://www.gov.uk/service-manual/design/designing-good-questions">question makes sense</a></li>
    <li>Sometimes it makes sense to group a few questions on the same page</li>
    <li>Make sure users know why you're asking the question and only ask users for information you really need</li>
    <li>Add (optional) to the end of each question that is optional</li>
  </ul>
  {% from "wmnds/components/form-elements/question/_question.njk" import wmndsQuestion %}
  {{
    compExample([wmndsQuestion()])
  }}
  {# End question #}

  <br><br>
  {# Progress Indicator #}
  <h2>Progress Indicator</h2>
  <h3>What does it do?</h3>
  <ul>
    <li>It is visual representation of progress through a set of steps that guides user in order to complete a specified process. Knowing where the user is in their progress can help improve their orientation within the system. It sets expectations and gives and impression of activity and progress.</li>
  </ul>
  <h3>When to use it?</h3>
  <ul>
    <li>When you want to tell users where they are in the process.</li>
    <li>When you want to reassure users that the system is working and reduce user’s uncertainty.</li>
  </ul>
  <h3>When not to use it?</h3>
  <ul>
    <li>When progress cannot be measured and therefore does not have a percentage that indicates the amount of progress.</li>
  </ul>
  {% from "wmnds/components/form-elements/progress-indicator/_progress-indicator.njk" import wmndsProgressIndicator %}
  {{
    compExample([wmndsProgressIndicator()])
  }}
  {# Progress Indicator #}

  <br><br>
  {# Checkboxes #}
  <h2>Checkboxes</h2>
  <h3>What does it do?</h3>
  <ul>
    <li>Allows users select one or more options by clicking the box.</li>
  </ul>
  <h3>When to use it?</h3>
  <ul>
    <li>When user can select multiple options from the list</li>
    <li>When user wants to toggle option on or off</li>
  </ul>
  <h3>When not to use it?</h3>
  <ul>
    <li>When user can select just one option.</li>
  </ul>
  {% from "wmnds/components/form-elements/checkboxes/_checkboxes.njk" import wmndsCheckboxes %}
  {{
    compExample([wmndsCheckboxes()])
  }}
  {# End Checkboxes #}


  <br><br>
  {# Dropdown #}
  <h2>Dropdown</h2>
  <h3>What does it do?</h3>
  <ul>
    <li>Navigation expands when user hovers or clicks on it revealing options to select.</li>
  </ul>
  <h3>When to use it?</h3>
  <ul>
    <li>When there is limited space and you need to reduce the space taken on the page</li>
    <li>When an input is nonessential, e.g. sorting list</li>
    <li>When you need flexibility because you do not know how many options there will be. All options are contained within the drop down component.</li>
  </ul>
  <h3>When not to use it?</h3>
  <ul>
    <li>Drop down creates more work for your user because it is a multi-step process, they hide available options and they slow users down by defaults therefore if possible use another component to display options e.g. radio buttons, text field, input selector</li>
    <li>Do not use when drop down option has more than 36 characters because users will not be able to read them on some mobile devices</li>
  </ul>
  {% from "wmnds/components/form-elements/dropdown/_dropdown.njk" import wmndsDropdown %}
  {{
    compExample([wmndsDropdown()])
  }}
  {# End Dropdown #}

  <br><br>
  {# Input #}
  <h2>Text Input / Text Field</h2>
  <h3>What does it do?</h3>
  <ul>
    <li>Allows users to enter text.</li>
  </ul>
  <h3>When to use it?</h3>
  <ul>
    <li>When user needs to enter short amount of text, e.g. name, email. </li>
  </ul>
  <h3>When not to use it?</h3>
  <ul>
    <li>When user needs to add a lot of text that might go over multiple lines</li>
    <li>Use fixed width inputs for content that has known length, e.g. postcode.</li>
  </ul>
  {% from "wmnds/components/form-elements/input/_input.njk" import wmndsInput %}
  {{
    compExample([wmndsInput()])
  }}
  {# End Input #}


  <br><br>
  {# Radios #}
  <h2>Radios</h2>
  <h3>What does it do?</h3>
  <ul>
    <li>Allows users select one option from multiple options.</li>
  </ul>
  <h3>When to use it?</h3>
  <ul>
    <li>When user can select just one option from multiple options.</li>
  </ul>
  <h3>When not to use it?</h3>
  <ul>
    <li>When user may need to select more than one option.</li>
  </ul>
  {% from "wmnds/components/form-elements/radios/_radios.njk" import wmndsRadios %}
  {{
    compExample([wmndsRadios()])
  }}
  <h3>Inline Radios</h3>
    {{
    compExample([wmndsRadios({
      inline: true
    })])
  }}
  {# End Radios #}


  <br><br>
  {# File uploader #}
  <h2>File uploader</h2>
  <h3>What does it do?</h3>
  <ul>
    <li>Allows user to select and submit content of their own. </li>
  </ul>
  <h3>
    When to use it?
  </h3>
  <ul>
    <li>
      When it is essential for user to provide information for you so you can provide the service
    </li>
  </ul>
  <h3>
    When not to use it?
  </h3>
  <ul>
    <li>When information is not essential for your delivery of service</li>
    <li>When information can come from API or another source.</li>
  </ul>
  {% from "wmnds/components/form-elements/file-upload/_file-upload.njk" import wmndsFileUpload %}
  {{
    compExample([wmndsFileUpload()])
  }}
  <h3>With file uploaded</h3>
    {{
    compExample([wmndsFileUpload({
      fileSelected: true
    })])
  }}
  {# End File uploader #}


  <br><br>
  {# Textarea #}
  <h2>Textarea</h2>
  <h3>What does it do?</h3>
  <ul>
    <li>Allows users to enter more than one line of text.</li>
    <li>Allows users to write whatever they like, also called free text.</li>
  </ul>
  <h3>
    When to use it?
  </h3>
  <ul>
    <li>When the user needs to enter lots of text. For example, a paragraph.</li>
  </ul>
  <h3>
    When not to use it?
  </h3>
  <ul>
    <li>When the user needs to enter one line of text. Use the input component instead.</li>
    <li>Use fixed-width inputs for content that has a known length, e.g. postcode.</li>
    <li>When there are limited options. Use a different form element that limits the options.</li>
  </ul>
  {% from "wmnds/components/form-elements/textarea/_textarea.njk" import wmndsTextarea %}
  {{
    compExample([wmndsTextarea()])
  }}
  {# End Textarea #}


  <br><br>
  {# Handling error #}
  <h2 id="handling-errors">Handling errors</h2>
  <h3>What does it do?</h3>
  <ul>
    <li>Lets the user know what is wrong with their answer.</li>
    <li>Tells the user how to correct their answer.</li>
    <li>Tells the user what format or characters it is expecting.</li>
    <li>Prevents the user from trying to submit information that will be rejected by the API.</li>
  </ul>
  <h3>
    When to use it?
  </h3>
  <ul>
    <li>A handling error is used in addition to an error summary, which shows all errors on a page.</li>
    <li>When there has been an error with validating the user's answer after they try to continue to the next step.</li>
    <li>When the error is a validation error that is fixable.</li>
    <li>Use a separate error for each group of answer fields. For example, one error for date fields.</li>
    <li>The corrective action should be read by a screen reader before data entry components.</li>
  </ul>
  <h3>
    When not to use it?
  </h3>
  <ul>
    <li>Do not show the error until the user tries to move to the next step. Immediate validation can distract a user from progressing, especially if it validates as the user is typing.</li>
    <li>Hint text should help the user to understand how the field will be validated.</li>
    <li>If the service is down the user should be shown a service unavailable page.</li>
  </ul>
  <h3>
    How to use it
  </h3>
  <ul>
    <li>Make sure questions and help text are well designed and tested with users to avoid errors in the first place.</li>
    <li>GOV.UK has advice to follow when <a href="https://design-system.service.gov.uk/components/error-message/">writing error messages</a>.</li>
    <li>GOV.UK has advice for <a href="https://design-system.service.gov.uk/patterns/validation/">helping users to recover from validation errors</a>.</li>
  </ul>
  {{
    compExample([
      wmndsInput({
        id: 'errorExample',
        error:true
      })
    ])
  }}
  {# End handling errors #}
  
{% endblock %}
