{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Form elements" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
  {# Label #}
  <h2>Label</h2>
  {% from "wmnds/components/form-elements/label/_label.njk" import wmndsLabel %}
  {{
    compExample([wmndsLabel()])
  }}
  {# End label #}


  <br><br>
  {# Question #}
  <h2>Question</h2>
  {% from "wmnds/components/form-elements/question/_question.njk" import wmndsQuestion %}
  {{
    compExample([wmndsQuestion()])
  }}
  {# End question #}


  <br><br>
  {# Checkboxes #}
  <h2>Checkboxes</h2>
  <h3>What does it do?</h3>
  <p>
    Allows users select one or more options by clicking the box.
  </p>
  <h3>When to use it?</h3>
  <ul>
    <li>When user can select multiple options from the list</li>
    <li>When user wants to toggle option on or off</li>
  </ul>
  <h3>When not to use it?</h3>
  <ul>
    <li>When user needs to add a lot of text that might go over multiple lines</li>
    <li>Use fixed width inputs for content that has known length, e.g. postcode.</li>
  </ul>
  {% from "wmnds/components/form-elements/checkboxes/_checkboxes.njk" import wmndsCheckboxes %}
  {{
    compExample([wmndsCheckboxes()])
  }}
  {# End Checkboxes #}


  <br><br>
  {# Dropdown #}
  <h2>Dropdown</h2>
  <h3>What does it do?</h3>
  <p>
    Navigation expands when user hovers or clicks on it revealing options to select.
  </p>
  <h3>When to use it?</h3>
  <ul>
    <li>When there is limited space and you need to reduce the space taken on the page</li>
    <li>When an input is nonessential, e.g. sorting list</li>
    <li>When you need flexibility because you do not know how many options there will be. All options are contained within the drop down component. </li>
  </ul>
  <h3>When not to use it?</h3>
  <ul>
    <li>Drop down creates more work for your user because it is a multi-step process, they hide available options and they slow users down by defaults therefore if possible use another component to display options e.g. radio buttons, text field, input selector</li>
    <li>Do not use when drop down option has more than 36 characters because users will not be able to read them on some mobile devices</li>
  </ul>
  {% from "wmnds/components/form-elements/dropdown/_dropdown.njk" import wmndsDropdown %}
  {{
    compExample([wmndsDropdown()])
  }}
  {# End Dropdown #}

  <br><br>
  {# Input #}
  <h2>Input</h2>
  <h3>What does it do?</h3>
  <p>
    Allows users to enter text.
  </p>
  <h3>When to use it?</h3>
  <ul>
    <li>When user needs to enter short amount of text, e.g. name, email.</li>
  </ul>
  <h3>When not to use it?</h3>
  <ul>
    <li>When user needs to add a lot of text that might go over multiple lines</li>
    <li>Use fixed width inputs for content that has known length, e.g. postcode.</li>
  </ul>
  {% from "wmnds/components/form-elements/input/_input.njk" import wmndsInput %}
  {{
    compExample([wmndsInput()])
  }}
  {# End Input #}


  <br><br>
  {# Radios #}
  <h2>Radios</h2>
  <h3>What does it do?</h3>
  <p>
    Allows users select one option from multipled fixed options
  </p>
  <h3>When to use it?</h3>
  <ul>
    <li>When the user can select just one open from multiple options</li>
  </ul>
  <h3>When not to use it?</h3>
  <ul>
    <li>When the user may need to select more than one option</li>
    <li>When the user may need to enter their own 'other' option</li>
  </ul>
  {% from "wmnds/components/form-elements/radios/_radios.njk" import wmndsRadios %}
  {{
    compExample([wmndsRadios()])
  }}
  <h3>Inline Radios</h3>
    {{
    compExample([wmndsRadios({
      inline: true
    })])
  }}
  {# End Radios #}



  <br><br>
  {# Textarea #}
  <h2>Textarea</h2>
  {% from "wmnds/components/form-elements/textarea/_textarea.njk" import wmndsTextarea %}
  {{
    compExample([wmndsTextarea()])
  }}
  {# End Textarea #}


  <br><br>
  {# Handling error #}
  <h2 id="handling-errors">Handling errors</h2>
   {{
    compExample([
      wmndsInput({
        id: 'errorExample',
        error:true
      })
    ])
  }}
  {# End handling errors #}
{% endblock %}
