{# THIS IS USED BY 'AUTOCOMPLETE' COMPONENT/PATTERN, ANY CHANGES TO THIS COMPONENT COULD EFFECT IT. #}
{% macro tfwmdsLoader(params) %}

{# If size is defined then append that to the class modifier and use below.
Only two size modifiers are 'large' and 'small' #}
{% set size = " tfwmds-loader--" + params.size if params.size %}
{% set commentSize = params.size if params.size else "normal" %}
{% set classes = " " + params.classes if params.classes %} {# Allows custom classes to be added to loader #}

<!-- {{commentSize}} sized loader -->
<div class="tfwmds-loader{{size}}{{classes}}" role="alert" aria-live="assertive">
  <p class="tfwmds-loader__content">Content is loading...</p>
</div>

{% endmacro %}