{% raw %}
{% from "tfwmds/components/phase-indicator/phase-indicator-link/_phase-indicator-link.njk" import tfwmdsPhaseIndicatorLink %}

{{
   tfwmdsPhaseIndicatorLink({
      contentText: "Try our new disruptions page",
      href: "#",
      title: "link title"
   })
}}
{% endraw %}
