{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Buttons" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}


{% block content %}
{# About #}
<h2>About</h2>
<p>
  <strong>Buttons</strong> should be used in situations where a user might need to preform an
  action, such as:
</p>
<ul>
  <li>Submitting a form</li>
  <li>Uploading</li>
  <li>Specify a next or previous step in a process</li>
  <li>Begin a new task</li>
</ul>

<p>There are two types of button used in this design system - buttons and <a href="/components/links/">link buttons</a>:</p>
<ul>
  <li>A <strong>button</strong> performs an action on a page</li>
  <li>A <a href="/components/links/">link button</a> takes the user to a different page</li>
</ul>
<p>Icons should only be used where it is deemed absolutely necessary to communicate the meaning of an action.</p>
<hr>
<br><br>


{# primary buttons #}
<h2>Primary buttons</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Not sure yet</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>Not sure yet</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>Not sure yet</li>
</ul>

{%- from "wmnds/components/button/_button.njk" import wmnButton as primary -%}
{{
  compExample([
    primary({
      text: "Primary button"
    }),
    primary({
      text: "Primary disabled button",
      disabled: true
    }),
    primary({
      text: "Primary icon button",
      iconRight: "general-chevron-right"
    }),
    primary({
      text: "Primary icon disabled button",
      iconRight: "general-chevron-right",
      disabled: true
    })
  ])
}}
{# end: primary buttons #}


<br><br>
{# secondary buttons #}
<h2>Secondary buttons</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Highlights an inessential action</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When a button is inessential for continuing the user journey</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When a button is essential for continuing the user journey</li>
  <li>When a button is a destructive action</li>
  <li>When a button starts a process or journey</li>
</ul>

{%- from "wmnds/components/button/_button.njk" import wmnButton as secondary -%}
{{
  compExample([
    secondary({
      classNames: "wmnds-btn--secondary",
      text: "Secondary button"
    }),
    secondary({
      classNames: "wmnds-btn--secondary",
      text: "Secondary disabled button",
      disabled: true
    }),
    secondary({
      classNames: "wmnds-btn--secondary",
      text: "Secondary icon button",
      iconRight: "general-chevron-right"
    }),
    secondary({
      classNames: "wmnds-btn--secondary",
      text: "Secondary icon disabled button",
      iconRight: "general-chevron-right",
      disabled: true
    })
  ])
}}
{# end: secondary buttons #}
<br><br>


{# call to action buttons #}
<h2>Call to action buttons</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Attracts attention on the page</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When a button is essential to continuing the user journey</li>
  <li>When attracting attention to another page</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When a button is a destructive action</li>
  <li>When a button starts a process or journey</li>
</ul>

{%- from "wmnds/components/button/_button.njk" import wmnButton as cta %}
{{
  compExample([
    cta({
      classNames: "wmnds-btn--cta",
      text: "Call to action button"
    }),
    cta({
      classNames: "wmnds-btn--cta",
      text: "Call to action icon button",
      iconRight: "general-chevron-right"
    })
  ])
}}
{# end: call to action buttons #}
<br><br>


{# destructive buttons #}
<h2>Destructive buttons</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Shows that the button's action deletes or removes something</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When an action is destructive</li>
  <li>Example: deleting a favourite route, removing a swift card, deleting an account</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When a button starts a process or journey</li>
  <li>When a button is trying to attract the user's attention</li>
</ul>

{%- from "wmnds/components/button/_button.njk" import wmnButton as destructive -%}
{{
  compExample([
    destructive({
      classNames: "wmnds-btn--destructive",
      text: "Destructive button"
    }),
    destructive({
      classNames: "wmnds-btn--destructive",
      text: "Destructive disabled button",
      disabled: true
    }),
    destructive({
      classNames: "wmnds-btn--destructive",
      text: "Destructive icon button",
      iconRight: "general-chevron-right"
    }),
    destructive({
      classNames: "wmnds-btn--destructive",
      text: "Destructive icon disabled button",
      iconRight: "general-chevron-right",
      disabled: true
    })
  ])
}}
{# end: destructive buttons #}
<br><br>


{# start buttons #}
<h2>Start buttons</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Shows that the button starts a process or journey</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When a button starts a process or journey</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When a button is a destructive action</li>
  <li>When a button is trying to attract the user's attention</li>
  <li>When the button is inessential for continuing the user journey</li>
</ul>

{%- from "wmnds/components/button/_button.njk" import wmnButton as start -%}
{{
  compExample([
    start({
      classNames: "wmnds-btn--start",
      text: "Start button"
    }),
    start({
      classNames: "wmnds-btn--start",
      text: "Start disabled button",
      disabled: true
    }),
    start({
      classNames: "wmnds-btn--start",
      text: "Start icon button",
      iconRight: "general-chevron-right"
    }),
    start({
      classNames: "wmnds-btn--start",
      text: "Start icon disabled button",
      iconRight: "general-chevron-right",
      disabled: true
    })
  ])
}}
{# end: start buttons #}
<br><br>


{# mode buttons #}
<h2>Mode buttons</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Lets the user select a mode of transport by which to filter</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>Filtering results or data by mode</li>
  <li>Filtering a map by mode</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When a button is essential for continuing the user journey</li>
  <li>When a button is a destructive action</li>
  <li>When a button starts a process or journey</li>
</ul>
{%- from "wmnds/components/button/_button.njk" import wmnButton as mode -%}
{{
  compExample([
    mode({
      classNames: "wmnds-btn--small wmnds-btn--mode",
      text: "Bus",
      iconLeft: "modes-isolated-bus"
    }),
    mode({
      classNames: "wmnds-btn--small wmnds-btn--mode",
      text: "Train",
      iconLeft: "modes-isolated-rail"
    }),
    mode({
      classNames: "wmnds-btn--small wmnds-btn--mode",
      text: "Metro",
      iconLeft: "modes-isolated-metro"
    }),
    mode({
      classNames: "wmnds-btn--small wmnds-btn--mode",
      text: "Roads",
      iconLeft: "modes-isolated-roads"
    })
  ])
}}
{# end: mode buttons #}
{% endblock %}