input,
textarea,
select {
  padding: $padding-sm;
  color: get-color(text);
  border: 1px solid get-color(primary);
}

@import 'label/label';
@import 'checkboxes/checkboxes';
@import 'dropdown/dropdown';
@import 'search/search';
