input,
textarea,
select {
  @include type-setting(0);
  padding: $padding-sm;
  border: 1px solid get-color(primary);
  color: get-color(text);
}

@import "label/label";
@import "checkboxes/checkboxes";
@import "dropdown/dropdown";
@import "search/search";
@import "textarea/textarea";
