{% macro wmndsContactDetails(params) %}
{# Imports #}
{% from "wmnds/components/warning-text/_warning-text.njk" import wmndsWarningText %}
{% from "wmnds/components/inset-text/_inset-text.njk" import wmndsInsetText %}
{# Set vars #}
{# Address #}
{% set department = params.department + "<br/>" if params.department %}
{% set organisation = params.organisation + "<br/>" if params.organisation %}
{% set address = params.address if params.address %}
{# Alert #}
{% set alertIcon = params.alertIcon if params.alertIcon %}
{% set alertMessage = params.alertMessage if params.alertMessage %}
{# Socials #}
{% set twitter = "<a href='" + params.twitter + "' target='_blank' class='wmnds-link'>Twitter</a><br />" if params.twitter %}
{% set facebook = "<a href='" + params.facebook + "' target='_blank' class='wmnds-link'>Facebook</a><br />"  if params.facebook %}
{# Other contact #}
{% set enquiryLink = "<a href='" + params.enquiryLink + "' target='_blank' class='wmnds-link'>Submit an enquiry</a><br />" if params.enquiryLink %}
{% set email = "<a href='mailto:" + params.email + "' target='_blank' class='wmnds-link'>" + params.email +"</a><br />" if params.email %}
{% set telephone = "Telephone: <a href='tel:" + params.telephone + "' target='_blank' class='wmnds-link'>" + params.telephone +"</a>" if params.telephone %}
{# Opening hours #}
{% set workingHours = params.workingHours if params.workingHours %}

{% set addressSection =
    "<p>" +
        department  +
        organisation +
        address +
    "</p>"
    if department or organisation or address
%}

{% set alertSection =
    wmndsWarningText({
        contentHTML: alertMessage,
        icon: alertIcon,
        classes: "wmnds-p-b-sm"
    })
    if alertMessage
%}

{% set socialsSection =
    "<p>" +
        twitter +
        facebook +
    "</p>"
    if twitter or facebook
%}

{% set otherSection =
    "<p>" +
        enquiryLink +
        email +
        telephone +
    "</p>"
    if enquiryLink or email or telephone
%}

{% set openHoursSection =
    "<p>" +
        workingHours +
    "</p>"
    if twitter or facebook
%}

{% set contactDetailsHTML =
    "<address class='wmnds-contact-details'>" +
        addressSection +
        alertSection +
        socialsSection +
        otherSection +
        workingHours +
    "</address>"
%}

{{
    wmndsInsetText({
        contentHTML: contactDetailsHTML
    })
}}

{% endmacro %}