{% macro wmndsContactDetails(params) %}
{# Imports #}
{% from "wmnds/components/warning-text/_warning-text.njk" import wmndsWarningText %}
{% from "wmnds/components/inset-text/_inset-text.njk" import wmndsInsetText %}
{# Set vars #}
{% set title = params.title if params.title else "Transport for West Midlands" %} {# set title #}
{% set warningText = params.warningText if params.warningText %} {# set warning text #}
{% set warningIcon = params.warningIcon if params.warningIcon %} {# set warning text #}
{% set contentBeforeWarning = params.contentBeforeWarning if params.contentBeforeWarning %} {# set content #}
{% set contentAfterWarning = params.contentAfterWarning if params.contentAfterWarning %} {# set content #}

{% set warning=
wmndsWarningText({
    contentHTML: warningText,
    icon: warningIcon,
    classes: "wmnds-p-b-sm"
}) if warningText and warningIcon %}

{% set contactDetailsHTML = "
<address class='wmnds-contact-details'>" +
    (contentBeforeWarning | safe)
    + warning +
    (contentAfterWarning | safe) +
"</address>"
%}

{{
    wmndsInsetText({
        contentHTML: contactDetailsHTML
    })
}}

{% endmacro %}