{% raw %}
{% from "wmnds/components/form-elements/dropdown/_dropdown.njk" import wmndsDropdown %}

{{
   wmndsDropdown({
      id: "dropdown-example",
      name: "dropdown-example",
      describedBy: null,
      label: "Dropdown label",
      classes: null,
      items: [
         {
            value: "",
            contentText: "Choose from list",
            selected: true,
            disabled: false
         },
         {
            value: "option1",
            contentText: "Option 1",
            selected: false,
            disabled: false
         },
         {
            value: "option2",
            contentText: "Option 2",
            selected: false,
            disabled: false
         },
         {
            value: "option3",
            contentText: "Option 3",
            selected: false,
            disabled: false
         }
      ],
      error: false,
      errorMessage: {
         contentText: "Please select an option",
         contentHTML: null,
         classes: null,
         id: null
      }
   })
}}
{% endraw %}
