{% raw %}
{% from "wmnds/components/link/link/_link.njk" import wmndsLink %}

{{
   wmndsLink({
      contentText: null,
      contentHTML: "<strong>homepage</strong>",
      link: '/',
      linkTitle: "Go to Homepage",
      linkTarget: null,
      classes: null,
      isBackLink: false,
      withChevronLeft: false,
      withChevronRight: false
    })
}}
{% endraw %}
