{% macro wmndsLink(params) %}
{# Imports #}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{# Set vars #}
{% set text = params.text if params.text else "link text" %} {# set link text #}
{% set link = params.link if params.link else "#" %} {# set link url #}
{% set linkTitle = params.linkTitle if params.linkTitle else "link title" %} {# set link title #}
{% set linkTarget = params.linkTarget if params.linkTarget else "_self" %} {# set link target #}
{% set linkRel = "noopener noreferrer" if params.linkTarget === "_blank" %} {# if target is blank then add rel noopener noreferrer to link #}
{% set prefix = "< " if params.isBackLink else "" %} {# set prefix text #}
{# Class modifiers #}
{% set class = ' ' + params.classModifiers if params.classModifiers %}
{% set class = class + " wmnds-link--with-chevron" if params.withChevronLeft or params.withChevronRight else class %}

<a href="{{ link }}" title="{{ linkTitle }}" target="{{ linkTarget }}" class="wmnds-link{{class}}" {% if linkRel %}rel="{{linkRel}}"{% endif %}>
  {% if params.withChevronLeft -%}
  {{ wmndsIcon({ icon: "general-chevron-right", class: "wmnds-link__chevron wmnds-link__chevron--left" }) | indent(4) | trim }}
  {%- endif %}
  {{- prefix -}}{{- text -}}
  {% if params.withChevronRight -%}
  {{ wmndsIcon({ icon: "general-chevron-right", class: "wmnds-link__chevron wmnds-link__chevron--right" }) | indent(4) | trim }}
  {%- endif %}
</a>

{% endmacro %}