{% macro wmndsLink(params) %}
{# Imports #}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{# Set vars #}
{% set contentText = params.contentText if params.contentText else "Link text" %}
{% set contentHTML = params.contentHTML if params.contentHTML else null %}
{% set contentHTML = "<span>&lt; Back</span>" if params.isBackLink %}
{% set link = params.link if params.link else "#" %} {# set link url #}
{% set linkTitle = params.linkTitle if params.linkTitle else "link title" %} {# set link title #}
{% set linkTarget = params.linkTarget if params.linkTarget else "_self" %} {# set link target #}
{% set withChevronLeft = params.withChevronLeft if params.withChevronLeft else false %}
{% set withChevronRight = params.withChevronRight if params.withChevronRight else false %}
{% set _linkRel = "noopener noreferrer" if linkTarget === "_blank" %} {# if target is blank then add rel noopener noreferrer to link #}
{% set _content = contentHTML | safe if contentHTML else contentText %} {# change content based on what user has input #}
{% set _download = params.download if params.download %}  {# set download attr if param is specified #}


{# Class modifiers #}
{% set class = ' ' + params.classes if params.classes %}
{% set class = class + " wmnds-link--with-chevron" if withChevronLeft or withChevronRight else class %}

<a href="{{ link }}" title="{{ linkTitle }}" target="{{ linkTarget }}" class="wmnds-link{{class}}" {% if _linkRel %}rel="{{_linkRel}}"{% endif %} {% if _download %}download="{{_download}}"{% endif %}>
  {% if withChevronLeft -%}
    {{ wmndsIcon({ icon: "general-chevron-right", class: "wmnds-link__chevron wmnds-link__chevron--left" })}}
  {%- endif %}

  {{_content}}

  {% if withChevronRight -%}
    {{ wmndsIcon({ icon: "general-chevron-right", class: "wmnds-link__chevron wmnds-link__chevron--right" })}}
  {%- endif %}
</a>

{% endmacro %}