// Included the a tag too incase dev forgets to add .wmnds-link class.
// The a:not([class*="wmnds-"]) line makes sure we don't target any wmnds components that are using the a tag such as a button as a link
// The a[class*="wmnds-col-"] line is to orrived the above not line, as a wmnds-col tag as an 'a' is fine to treat as normal tag
.wmnds-link {
  @at-root a:not([class*="wmnds-"]),
    & {
    color: get-color(cta, 10, dark);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

    &:visited {
      color: get-color(primary);
    }

    &:hover {
      color: get-color(cta, 40, dark);
    }
  }

  &--with-chevron {
    display: inline-flex;

    // prevent icon resizing
    .wmnds-link__chevron {
      flex: 0 0 1.5rem;
    }
  }

  &__chevron {
    width: 1.5rem;
    height: 1.5rem;
    fill: get-color(cta, 10, dark);

    &--left {
      margin-right: $size-xsm;
      transform: rotate(180deg);
    }

    &--right {
      margin-left: $size-xsm;
    }
  }
}
