{% raw %}
{% from "wmnds/patterns/banner/homepage-banner/_homepage-banner.njk" import wmndsHomepageBanner %}

{{
  wmndsHomepageBanner({
    titleHTML: "Bringing transport <br>together",
    image: "/img/component-images/banner/homepage-banner-img.png",
  })
}}
{% endraw %}