[class*="tfwmds-"] {
  // ensures sticky footer
  &.tfwmds-body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: stretch;
  }

  // Container sizes
  &.tfwmds-container {
    display: block;
    width: 100%;
    max-width: $breakpoint-lg;
    margin: auto;
    padding: 0 $size-sm;

    @media screen and (min-width: $breakpoint-lg) {
      padding: 0 $size-md;
    }

    &--main {
      margin-top: $size-md;
      margin-bottom: $size-lg;
      flex-grow: 1;
    }
  }
}

html body [class*="tfwmds-"] {
  &.tfwmds-grid {
    & > * {
      box-sizing: border-box;
    }

    // How to align child flex items of a grid
    &.tfwmds-grid--justify-between {
      justify-content: space-between;
    }

    &.tfwmds-grid--justify-around {
      justify-content: space-around;
    }

    &.tfwmds-grid--justify-end {
      justify-content: flex-end;
    }

    &.tfwmds-grid--align-center {
      align-items: center;
    }
  }

  //Text align
  &.tfwmds-text-align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  // Floats
  &.tfwmds-float {
    &-left {
      float: left;
    }

    &-right {
      float: right;
    }
  }

  // MARGINS AND PADDINGS
  // Helper mixin used to generate various sizes of margin/padding
  @mixin x-mar-pad($side, $type: "margin") {
    &-xs {
      #{$type}#{$side}: $size-xs;
    }

    &-xsm {
      #{$type}#{$side}: $size-xsm;
    }

    &-sm {
      #{$type}#{$side}: $size-sm;
    }

    &-md {
      #{$type}#{$side}: $size-md;
    }

    &-lg {
      #{$type}#{$side}: $size-lg;
    }

    &-xl {
      #{$type}#{$side}: $size-xl;
    }

    &-none {
      #{$type}#{$side}: 0 !important;
    }
  }

  &.tfwmds,
  &.tfwmds {
    // Generate all margin classes
    &-m {
      @include x-mar-pad("");

      &-t {
        @include x-mar-pad("-top");
      }

      &-r {
        @include x-mar-pad("-right");
      }

      &-b {
        @include x-mar-pad("-bottom");
      }

      &-l {
        @include x-mar-pad("-left");
      }
    }

    // Generate all padding classes
    &-p {
      @include x-mar-pad("", "padding");

      &-t {
        @include x-mar-pad("-top", "padding");
      }

      &-r {
        @include x-mar-pad("-right", "padding");
      }

      &-b {
        @include x-mar-pad("-bottom", "padding");
      }

      &-l {
        @include x-mar-pad("-left", "padding");
      }
    }
  }

  // Show/hide on desktop devices only
  &.tfwmds-hide-mobile {
    @media screen and (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &.tfwmds-hide-desktop {
    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }
  }

  &.tfwmds-screenreaders-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  // Borders
  // Border generator mixin
  @mixin x-default-border($border-color) {
    border: 2px solid $border-color;

    &-left {
      border-left: 2px solid $border-color;
    }

    &-right {
      border-right: 2px solid $border-color;
    }

    &-bottom {
      border-bottom: 2px solid $border-color;
    }
  }

  &.tfwmds-bdr {
    &-primary {
      @include x-default-border(get-color(primary));
    }

    &-white {
      @include x-default-border($white);
    }

    &-gray {
      @include x-default-border(get-color(secondary));
    }

    &-transparent {
      @include x-default-border(transparent);
    }
  }

  //Background
  &.tfwmds-bg {
    &-default {
      background-color: get-color(background);
    }

    &-white {
      background-color: $white;
    }

    &-planned-disruption {
      background-color: get-color(plannedDisruption);
    }

    &-disabled-elements {
      background-color: get-color(disable);
    }

    &-transparent {
      background-color: transparent;
    }
  }

  // helper class for aligning swift logo icon
  &.tfwmds-swift-logo-inline {
    width: 3.6em;
    height: 1.3em;
    margin-top: -0.175em;
    fill: currentColor;
    vertical-align: middle;
  }
}
