.header {
    margin-bottom: $margin-xl;
    background-color: get-color(primary);
    position: relative;

    @media only screen and (max-width: 568px) {
      height: 78px;
      padding: 0px;
    }
  }

  #header-logo {
    width: 100px;

    @media only screen and (max-width: 568px) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100px;
      max-height: 2rem;
    }
  }

.header__list {
    padding: 0;
    margin: 0;
    float: right;
    clear: both;
    line-height: 38.44px;  // vertically align links
}

.header__list__item {
  display: inline-block;
  line-height: 2rem;
  margin-left: $margin-lg;

  a {
      color: white;
      text-decoration: underline;
  }
}

.header__version-icon {
    border-radius: 6px;
    background-color: get-color(secondary);
    color: white;
    padding: 5px;
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
}