{% macro wmndsCookiesBanner(params) %}

{# Imports of components #}
{% from "wmnds/components/button/_button.njk" import wmnButton as primary %}

<div id="wmnds-cookies-banner" class="bg-white">
  <div class="wmnds-container">
    <div class="wmnds-col-1 wmnds-col-sm-3-4 wmnds-col-lg-2-3">
      <h3>Your privacy settings</h3>
      <p>We use cookies to help you with journey planning and relevant disruptions, remember your login and show you content you might be interested in. If you’re happy with the use of cookies by West Midlands Combined Authority and our selected partners, click ‘Accept all cookies’. Or click ‘Manage cookies’ to learn more.</p>
      <div id="btn-group" class="wmnds-grid wmnds-grid--justify-between"> 
          {{
              primary({
                  classNames: "wmnds-btn wmnds-col-11-24",
                  text: "Accept all cookies"
              }) | trim | indent(4)
          }}

          {{
              primary({
                  classNames: "wmnds-btn wmnds-col-11-24",
                  text: "Manage cookies"
              }) | trim | indent(4)
          }}
      </div>
    </div>
  </div>
</div>

{% endmacro %}