.wmnds-cookies-banner {
  display: none;

  &__group-buttons {
    & > *:not(:first-child) {
      margin-top: $size-md;
    }

    @media screen and (min-width: $breakpoint-md) {
      &.wmnds-grid {
        flex-flow: row nowrap;
      }

      & > *:not(:first-child) {
        margin-top: 0;
        margin-left: $size-md;
      }
    }
  }
}
