{% macro wmndsCookies(params) %}

{# Imports of components #}
{% from "wmnds/components/form-elements/checkboxes/_checkboxes.njk" import wmndsCheckboxes %}
{% from "wmnds/components/form-elements/input/_input.njk" import wmndsInput %}
{% from "wmnds/components/form-elements/textarea/_textarea.njk" import wmndsTextarea %}
{% from "wmnds/components/button/_button.njk" import wmnButton as primary %}

{# Set params #}
{% set isOpen = " wmnds-is-open" if params.isOpen %}
{% set id = params.id if params.id else "cookies-banner" %} 


<div class="wmnds-cookies{{isOpen}}">
  <div class="wmnds-cookies__banner">
    <div class="wmnds-container">
      <div class="wmnds-col-1 wmnds-col-sm-3-4 wmnds-col-lg-2-3">
        <h3>Your privacy settings</h3>
        <p>We use cookies to help you with journey planning and relevant disruptions, remember your login and show you content you might be interested in. If you’re happy with the use of cookies by West Midlands Combined Authority and our selected partners, click ‘Accept all cookies’. Or click ‘Manage cookies’ to learn more.</p>
        <div id="btn-group" class="wmnds-grid wmnds-grid--justify-between"> 
            {{
                primary({
                    classNames: "wmnds-btn wmnds-col-11-24",
                    text: "Accept all cookies"
                }) | trim | indent(4)
            }}

            {{
                primary({
                    classNames: "wmnds-btn wmnds-col-11-24",
                    text: "Manage cookies"
                }) | trim | indent(4)
            }}
        </div>
      </div>
    </div>
  </div>

  <div class="wmnds-cookies__overlay wmnds-p-md">
    <div class="wmnds-cookies__manager wmnds-container  wmnds-col-1 wmnds-col-sm-3-4 wmnds-col-lg-2-3">
      <form class=" wmnds-cookies__manager wmnds-grid">
        <div class="wmnds-grid wmnds-grid--align-center wmnds-grid--justify-between">
          <h1 class="wmnds-col-auto wmnds-m-none">Manage Cookies</h1>
        </div>
        <br>
        <br><br>
        <div class="wmnds-col-1">
          {{
            wmndsCheckboxes() | trim | indent(4)
          }}
        </div>
        <br><br>
        {{
          primary({
            classNames: "wmnds-btn",
            text: "Save Preferences"
          }) | trim | indent(4)
        }}
      </form>
    </div>
  </div>
  
</div>

{% endmacro %}