.wmnds-cookies {
  
  /*/ Add full-width blue border on desktop large display
  @media all and(min-width: $breakpoint-xl) {
    border-bottom: $size-sm solid get-color(cta);
  }*/
  
  &__banner {
    background-color: $white;
  }

  &__overlay {
    background-color: rgba($black, 0.75);
  }

  &__manager {
    background-color: get-color(background);
    display: none;
  }

  &.wmnds-is-open {

    .wmnds-link {
      color: get-color(cta);
    }

    .wmnds-cookies {
      &__banner {
        display: none;
      }

      &__manager {
        display: block;
      }
    }
  }

}
  
  // When on desktop then the feedback-loop should appear on one line
  @media all and(min-width: $breakpoint-md) {
    .wmnds-cookies {
      &__useful {
        margin: 0;
        float: left;
      }
  
      &__wrong {
        float: right;
      }
    }
  }
  