<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- @@ Head -->
  <!--# include file="../components/shared/head.html" -->

  <body class="bg-white">
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
      </p>
    <![endif]-->

    <div class="pure-g">
      <h1 class="pure-u-1 text-center">Hello world</h1>

      <span class="pure-u-1 pure-u-sm-1-2 text-center pad-30"
        >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, iusto mollitia excepturi
        nam sunt asperiores rem earum adipisci, voluptas facere deleniti eos blanditiis. Numquam
        reprehenderit doloremque cumque iure repellendus suscipit!</span
      >
      <span class="pure-u-1 pure-u-sm-1-2 text-center pad-30"
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus omnis voluptas error
        aspernatur voluptate alias ut praesentium veritatis! Quidem vero necessitatibus nihil nulla
        ad reprehenderit architecto corporis laboriosam eum doloribus.</span
      >
    </div>

    <!-- @@ Scripts -->
    <!--# include file="../components/shared/scripts.html" -->
  </body>
</html>
