<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- @@ Head -->
  <!--# include file="../components/shared/head.html" -->

  <body class="bg-white">
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
      </p>
    <![endif]-->

    <h1>Hello world</h1>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-sm-1-2">hello</div>
      <div class="pure-u-1 pure-u-sm-1-2">me</div>
    </div>
  </body>
</html>
