{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Disruption indicators (homepage)" %}
{# Get macros #}
{% from "components/disruption-indicators/service-route/_service-route.njk" import wmndsDisruptionServiceRoute %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{# Service route #}
<h2>When a user has favourited a service</h2>

<h3>Train</h3>
{{
  compExample(
    [
      wmndsDisruptionServiceRoute({
        comment: '<!-- Train (good service) -->',
        mode: 'Train',
        strongText: 'Good service',
        text: 'Cross City Line',
        iconLeft: 'modes-isolated-rail',
        iconRight: 'general-success'
      }),
      wmndsDisruptionServiceRoute({
        comment: '<!-- Train (major disruption) -->',
        classModifier: 'error',
        mode: 'Train',
        strongText: 'Major disruption',
        text: 'Cross City Line',
        iconLeft: 'modes-isolated-rail',
        iconRight: 'general-warning-triangle'
      }),
      wmndsDisruptionServiceRoute({
        comment: '<!-- Train (minor disruption) -->',
        classModifier: 'warning',
        mode: 'Train',
        strongText: 'Minor disruption',
        text: 'Cross City Line',
        iconLeft: 'modes-isolated-rail',
        iconRight: 'general-warning-circle'
      }),
      wmndsDisruptionServiceRoute({
        comment: '<!-- Train (severe disruption) -->',
        classModifier: 'severe',
        mode: 'Train',
        strongText: 'Severe disruption',
        text: 'Cross City Line',
        iconLeft: 'modes-isolated-rail',
        iconRight: 'general-warning-triangle'
      }),
      wmndsDisruptionServiceRoute({
        comment: '<!-- Train (delete) -->',
        classModifier: 'error',
        mode: 'Train',
        strongText: 'Major disruption',
        text: 'Cross City Line',
        iconLeft: 'modes-isolated-rail',
        iconRight: 'general-trash',
        iconRightBtn: true
      })
    ]
  )
}}

{# Tram #}
<h3>Tram</h3>
{{
  compExample(
    [
      wmndsDisruptionServiceRoute({
        comment: '<!-- Tram (good service) -->',
        mode: 'Tram',
        strongText: 'Good service',
        iconLeft: 'modes-isolated-metro',
        iconRight: 'general-success'
      }),
      wmndsDisruptionServiceRoute({
        comment: '<!-- Tram (major disruption) -->',
        classModifier: 'error',
        mode: 'Tram',
        strongText: 'Major disruption',
        text: 'Between Jewellery Quarter and Wolverhampton',
        iconLeft: 'modes-isolated-metro',
        iconRight: 'general-warning-triangle'
      }),
      wmndsDisruptionServiceRoute({
        comment: '<!-- Tram (minor disruption) -->',
        classModifier: 'warning',
        mode: 'Tram',
        strongText: 'Minor disruption',
        text: 'Between Jewellery Quarter and Wolverhampton',
        iconLeft: 'modes-isolated-metro',
        iconRight: 'general-warning-circle'
      }),
      wmndsDisruptionServiceRoute({
        comment: '<!-- Tram (severe disruption) -->',
        classModifier: 'severe',
        mode: 'Tram',
        strongText: 'Severe disruption',
        text: 'Between Jewellery Quarter and Wolverhampton',
        iconLeft: 'modes-isolated-metro',
        iconRight: 'general-warning-triangle'
      }),
      wmndsDisruptionServiceRoute({
        comment: '<!-- Tram (delete) -->',
        classModifier: 'error',
        mode: 'Tram',
        strongText: 'Major disruption',
        text: 'Between Jewellery Quarter and Wolverhampton',
        iconLeft: 'modes-isolated-metro',
        iconRight: 'general-trash',
        iconRightBtn: true
      })
    ]
  )
}}

{# Roads #}
<h3>Roads</h3>
{{
  compExample(
    [
      wmndsDisruptionServiceRoute({
        comment: '<!-- Roads (good service) -->',
        mode: 'Roads',
        strongText: 'Usual traffic',
        text: 'A38',
        iconLeft: 'modes-isolated-roads',
        iconRight: 'general-success'
      }),
      wmndsDisruptionServiceRoute({
        comment: '<!-- Roads (major disruption) -->',
        classModifier: 'error',
        mode: 'Roads',
        strongText: 'Major disruption',
        text: 'A38',
        iconLeft: 'modes-isolated-roads',
        iconRight: 'general-warning-triangle'
      }),
      wmndsDisruptionServiceRoute({
        comment: '<!-- Roads (minor disruption) -->',
        classModifier: 'warning',
        mode: 'Roads',
        strongText: 'Minor disruption',
        text: 'A38',
        iconLeft: 'modes-isolated-roads',
        iconRight: 'general-warning-circle'
      }),
      wmndsDisruptionServiceRoute({
        comment: '<!-- Roads (severe disruption) -->',
        classModifier: 'severe',
        mode: 'Roads',
        strongText: 'Severe disruption',
        text: 'A38',
        iconLeft: 'modes-isolated-roads',
        iconRight: 'general-warning-triangle'
      }),
      wmndsDisruptionServiceRoute({
        comment: '<!-- Roads (delete) -->',
        classModifier: 'error',
        mode: 'Roads',
        strongText: 'Major disruption',
        text: 'A38',
        iconLeft: 'modes-isolated-roads',
        iconRight: 'general-trash',
        iconRightBtn: true
      })
    ]
  )
}}

{% endblock %}