&.wmnds-live-departures {
  padding: $size-md;
  background-color: $white;

  @media (min-width: $breakpoint-sm) {
    padding: 1.5rem;
  }

  &__service {
    align-items: center;
  }

  &__service-name {
    padding: $size-sm $size-md;
    border-radius: 5px;
    color: $white;
    background-color: get-color(information);
    font-weight: 700;
  }

  &__service-details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  &__service-description {
    margin-left: $size-md;
  }

  &__service-operator {
    display: block;
  }

  &__last-updated {
    @media (min-width: $breakpoint-md) {
      text-align: right;
    }
  }

  &__times {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    @media (max-width: $breakpoint-sm - 1) {
      padding-top: $size-md;
    }
  }

  &__time {
    @media (max-width: $breakpoint-sm - 1) {
      &:nth-child(3) ~ * {
        display: none;
      }
    }
  }

  &--bus {
    .wmnds-live-departures__service {
      &:not(:last-child) {
        margin-bottom: $size-md;
        padding-bottom: $size-md;
        border-bottom: 1px solid get-color(text, 70);
      }
    }
  }
}

&.wmnds-live-departures-homepage {
  hr {
    margin: $size-md 0;
  }

  &__train-timetable {
    width: 100%;
    margin-bottom: $size-md;

    thead > tr > th {
      padding-top: 0;
      font-family: $x-heading-font-family;
      font-size: 18px;

      &:not(:first-child) {
        padding-left: $size-sm;
      }
    }

    th,
    td {
      padding: $size-xsm 0;
      text-align: right;

      &:first-child {
        text-align: left;
      }
    }

    tbody tr:last-child > th,
    tbody tr:last-child > td {
      padding-bottom: 0;
    }
  }
}
