{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Components" %}

{% block content %}
<p>Components are reusable parts of the user interface that have been made to support a variety of
  applications.</p>

<p>Individual components can be used in multiple different patterns and contexts. For example, the
  text input component can be used to ask for an email address, a National Insurance number or someone’s name.</p>
<p>If you are using the WMN Design System Prototype Kit or have WMN Design System Frontend included in your build, the
  coded examples provided will render exactly as they do inside the Design System.</p>
{% endblock %}