{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Table" %}
{% from "wmnds/components/table/_table.njk" import wmndsTable %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{# About #}
<h2>About</h2>
<h3>What does it do?</h3>
<ul>
  <li>
    A table is used to make information easier for users to compare and scan
  </li>
</ul>
<h3>
  When to use it?
</h3>
<ul>
  <li>
    Use the table component to let users compare information in rows and columns.
  </li>
</ul>
<h3>
  When not to use it?
</h3>
<ul>
  <li>
    Never use the table component to layout content on a page. Instead, use the grid system.
  </li>
</ul>
<h3>
  How it works
</h3>
<ul>
  <li>
    You need to create a heading (title) for the table using <code class="wmnds-website-inline-code"> &lt;caption&gt; </code> tags. A caption helps users find, navigate and understand tables.
  </li>
  <li>
    Use table headers to tell users what the rows and columns represent. Use the scope attribute to help users of assistive technology distinguish between row and column headers.
  </li>
  <li>
    When comparing columns of numbers, align the numbers to the right in table cells.
  </li>
  <li>
    If you are trying to display lots of columns, contact Design Team to discuss how best to achieve this.
  </li>
</ul>

<hr>
<br><br>
{# Table #}
<h2>Table with Headers</h2>
{{
  compExample([
    wmndsTable({
      rows: 3,
      cols: 3,
      caption: "Table Title"
    })
  ])
}}
{# End Table #}

{# Table #}
<h2>Table without Headers</h2>
{{
  compExample([
    wmndsTable({
      rows: 3,
      cols: 3,
      caption: "Table Title", 
      noHeaders: true
    })
  ])
}}
{# End Table #}


{% endblock %}