{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Header V2" %}
{% set section="Patterns" %}
{# Imports #}
{% from "www/_partials/component-example/component-example.njk" import compExample %}
{% from "wmnds/patterns/header-v2/_header-v2.njk" import wmndsHeaderV2 %}
{% from "wmnds/patterns/footer/_footer.njk" import wmndsFooter %}
{%- from "wmnds/components/link/link/_link.njk" import wmndsLink -%}

{% block content %}
{# About #}
<h2>About</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>The primary way of navigating the website</li>
  <li>Standardised pattern</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>Every page must have a header and a footer</li>
</ul>
<hr>
<br><br>



{# Header #}
<h2>Header</h2>
{# Skip Link #}
<h3>Skip link</h3>
<p>There is a hidden skip link for users with screen reader assistive technology. This allows users to quickly access the main content. All pages must include this.</p>
<p>Ensure there is a HTML element on the page with the ID of <code class="wmnds-website-inline-code">wmnds-main-content</code> so the user can skip to this section.</p>
{# Logo #}
<h3>Logo</h3>
<p>This must always be the West Midlands Network logo.</p>
{# Phase indicator #}
<h3>Phase indicator</h3>
<p>This component must be used if the service is not live, using the phase indicator guidance.</p>
{# Navigation #}
<h3>Navigation</h3>
<p>The three top-level navigation items were decided by identifying our user’s top tasks using Gerry McGovern’s methodology. We overlaid a heatmap of the home page, where we found the same three areas were the most-used areas.</p>
<p>The top-level items open a structured megamenu to avoid cognitive overload. Users are familiar with this pattern from online shopping and transport operators.</p>
<p>We only use three top-level items as we prefer not to use hamburger menus on mobile. Users are required to make an extra click to reveal the navigation, therefore you cannot glance at navigation options.</p>
{# Mobile apps #}
<h3>Mobile apps</h3>
<p>When designing an app, you should use a tab bar and avoid using hamburger items wherever possible. Limit the tabs to the most important tasks using user research.</p>
{# Search #}
<h3>Search</h3>
<p>This functionality only shows for desktop and tablet users. When clicked, search expands and takes over the whole page.</p>

{{
  compExample([
    wmndsHeaderV2({
      id: "mega-menu-example-full",
      navItems: [{
        name: "Styles"
      },{
        name: "Components"
      },{
        name: "Patterns"
      },{
        name: "User research"
      }],
      banner: true,
      breadcrumbs: {
        section: section,
        pageTitle: pageTitle
      },
      exampleAria: "Full header"
    })
  ], {
    componentPath: "wmnds/patterns/header-v2/",
    njk: false,
    js: true,
    iframe: true
  })
}}

{# With mega menu #}
<h3>Mega menu with search example</h3>

{{
  compExample([
    wmndsHeaderV2({
      id: "mega-menu-example",
      search: true,
      searchSuggestions: ["See live departures", "Find a timetable", "Check for disruptions", "Manage my Swift card", "Find ticket prices", "Get a refund", "Update Direct Debit", "Apply for a 16-18 photocard"],
      navItems: [{
        name: "Plan a journey",
        subnavItems: [{
          name: "Plan your journey",
          icon: "general-route",
          subnavItems: [{
            name: "Journey planner"
          },
          {
            name: "Find a timetable"
          },
          {
            name: "Live and planned disruptions"
          },
          {
            name: "Major roadworks and events"
          }]
        },
        {
          name: "Ways to travel",
          icon: "general-location-arrow",
          subnavItems: [{
            name: "Walking"
          },
          {
            name: "Cycling"
          },
          {
            name: "Buses"
          },
          {
            name: "Trains"
          },
          {
            name: "Trams"
          },
          {
            name: "Park and ride"
          },
          {
            name: "Driving"
          }]
        },
        {
          name: "Travel information",
          icon: "general-info",
          subnavItems: [{
            name: "How to travel with accessibility needs"
          },
          {
            name: "How to travel safely"
          },
          {
            name: "How to get to hospital"
          }]
        },
        {
          name: "Discover our region",
          icon: "general-star",
          subnavItems: [{
            name: "Places and attractions to visit"
          },
          {
            name: "Find discount vouchers"
          }]
        }]
      }, {
        name: "Swift and tickets",
        subnavItems: [{
          name: "Find a ticket",
          icon: "general-search",
          subnavItems: [{
            name: "Ticket finder"
          },
          {
            name: "Types of ticket"
          }]
        },
        {
          name: "Discounts and free travel passes",
          icon: "general-wallet",
          subnavItems: [{
            name: "Under 18s"
          },
          {
            name: "Students"
          },
          {
            name: "Families and groups"
          },
          {
            name: "Finding or starting a new job"
          },
          {
            name: "Disabled person's pass"
          },
          {
            name: "Older person's pass"
          },
          {
            name: "WASPI women's pass"
          }]
        },{
          name: "Manage your Swift card",
          icon: "swift-bird-icon",
          subnavItems: [{
            name: "How to use your Swift card"
          },
          {
            name: "Update your personal details"
          },
          {
            name: "Top up your Swift card"
          },
          {
            name: "View your payment history"
          },
          {
            name: "View your travel history"
          },
          {
            name: "Replace your lost Swift card"
          }]
        },{
          name: "Manage your ticket",
          icon: "general-ticket",
          subnavItems: [
          {
            name: "Update your Direct Debit"
          },
          {
            name: "Get a refund"
          },
          {
            name: "Make a payment"
          },
          {
            name: "Replace your lost ticket or pass"
          }
          ]
        }]
      },{
        name: "Get help",
        subnavItems: [{
          name: "Contact an operator"
        },
        {
          name: "Find a travel centre"
        },
        {
          name: "Find lost property"
        },
        {
          name: "Give feedback"
        },
        {
          name: "Contact us"
        },
        {
          name: "Report anti-social behaviour"
        },
        {
          name: "Request a new bus shelter or stop pole"
        },
        {
          name: "Report a problem with a shelter or stop"
        }]
      }],
      megaMenu: true,
      megaMenuDemo: true
    })
  ], {
    componentPath: "wmnds/patterns/header-v2/",
    njk: false,
    js: true,
    iframe: true
  })
}}

{# With title variant #}
<h3 id="title-header">With a title variant of header</h3>
<p>When developing a service you may not need the navigation of the main website. When this is the case, you can place the title of the service in the header (providing their is no other h1 element on the page).</p>

<p>To use the title variant:</p>
<ul>
  <li>Add the h1 element and ensure it has the classes <code class="wmnds-website-inline-code">.wmnds-header__title .wmnds-col-1 .wmnds-col-sm-auto</code> on the element</li>
</ul>


{{
  compExample([
    wmndsHeaderV2({
      withTitle: true,
      legacyMenu: true
    })
  ], {
    componentPath: "wmnds/patterns/header-v2/",
    njk: false,
    js: true,
    iframe: true
  })
}}

{% endblock %}