{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Icons" %}
{% set section = "Styles" %}

{% block content %}
<h2>How to use</h2>


{% from "components/icon/_icon.njk" import wmndsIcon %}
{{wmndsIcon('Arrow')}}

{% endblock %}