{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Icons" %}
{% set section = "Styles" %}
{% set icons = [
  "Arrow",
  "Checkmark",
  "colour-bus",
  "Search",
  "Down"
] %}

{% block content %}
{# How to use #}
<h2>How to use</h2>

{# Icons #}
<h2>Icons</h2>
{% from "components/icon/_icon.njk" import wmndsIcon %}

<div class="wmnds-grid">
  {% for icon in icons  %}
    <div class="wmnds-col-1-2 wmnds-col-sm-1-6 text-center">
      {{wmndsIcon(icon)}}
      <p>{{icon}}</p>
    </div>
  {% endfor %}
</div>

<style>
svg {
  width: 100px;
  height: 100px;
}
</style>


{% endblock %}