{% macro wmndsSearch(params) %}

{% from "components/icon/_icon.njk" import wmndsIcon %}

<div class="wmnds-fe-autocomplete wmnds-grid">
  <div class="wmnds-fe-autocomplete__wrapper wmnds-col-1">
      {# Get SVG icon and pass class #}
      {{-
        wmndsIcon({
          icon: 'general-search',
          class: 'wmnds-fe-autocomplete__icon'
        }) | indent(6) | trim
      }}
    <input type="text" name="searchExample" aria-label="search for..." class="wmnds-fe-autocomplete__input wmnds-col-1" data-placeholder="Tap to search" data-api="https://jsonplaceholder.typicode.com/users" data-keys="name, email" />
  </div>
  <input type="submit" value="Go" class="wmnds-btn wmnds-btn__primary" />
</div>

{% endmacro %}