{% raw %}
{% from "wmnds/components/form-elements/checkboxes/checkbox-buttons/_checkbox-buttons.njk" import wmndsCheckboxButtons %}

{{
   wmndsCheckboxButtons({
      idPrefix: "checkboxButtons",
      items: [
        {
          contentText: "Mon",
          value: "Mon"
        },
        {
          contentText: "Tue",
          value: "Tue"
        },
        {
          contentText: "Wed",
          value: "Wed"
        },
        {
          contentText: "Thu",
          value: "Thu"
        },
        {
          contentText: "Fri",
          value: "Fri",
          checked: true
        },
        {
          contentText: "Sat",
          value: "Sat",
          checked: true
        },
        {
          contentText:  "Sun",
          value: "Sun",
          checked: true
        }
      ]
    })
}}
{% endraw %}
