{% macro wmndsConfirmationMessage(params) %}

<div class="wmnds-qf-confirmation-message">
    <h3>Request complete</h3> 
    <h3 class= "wmnds-m-b-lg">You can now start using your Swift card</h3> 
    <p>Your reference number is <b>12345</b></p>
</div>

{% endmacro %}