{% raw %}
{% from "wmnds/components/warning-text/_warning-text.njk" import wmndsWarningText %}

{{
   wmndsWarningText({
      contentText: null,
      contentHTML: "Lorem <a href='#' title='lorem' target='_blank'>ipsum</a> dolar sit...",
      classes: null,
      icon: null
    })
}}
{% endraw %}
