{% raw %}
{% from "tfwmds/components/ticket-summary-message/_ticket-summary-message.njk" import tfwmdsTicketSummaryMsg %}

{{
   tfwmdsTicketSummaryMsg({
      type: 'you-can',
      contentBeforeHTML: '',
      listItemsHTML: [
        'Travel as much as you like for one month',
        'Travel by bus in the Regional bus area',
        'Travel using any bus operator',
        'Get <a href="#">discounts for local attractions</a>'
      ],
      contentAfterHTML: '<a href="#">Read the full terms and conditions</a>'
   })
}}
{% endraw %}
