{% macro tfwmdsTicketSummaryMsg(params) %}
{% from "tfwmds/components/icon/_icon.njk" import tfwmdsIcon %}
{# Set vars and defaults #}
{# You can #}
{% if params.type === "you-can" %}
{% set iconName =  "general-checkmark" %}
{% set title =  "You can" %}
{# You cannot #}
{% elseif params.type === "you-cannot" %}
{% set iconName =  "general-cross" %}
{% set title =  "You cannot" %}
{# You must #}
{% elseif params.type === "you-must" %}
{% set iconName =  "general-warning-circle" %}
{% set title =  "You must" %}
{# Swift #}
{% elseif params.type === "swift" %}
{% set iconName =  "swift-full-logo" %}
{% set title =  "photocard" %}
{% endif %}
{# Set classes #}
{% set classes = " " + params.classes if params.classes %}
{# Content #}
{% set _contentBefore = params.contentBeforeHTML | safe if params.contentBeforeHTML else params.contentBeforeText %}
{% set _contentAfter = params.contentAfterHTML | safe if params.contentAfterHTML else params.contentAfterText %}

<div class="tfwmds-ticket-summary-msg tfwmds-ticket-summary-msg--{{ params.type }} {{ classes }}">
    <div class="tfwmds-ticket-summary-msg__header">
        {{-
            tfwmdsIcon({
                icon: iconName,
                class: 'tfwmds-ticket-summary-msg__icon' | trim
            })
        -}}
        <h3 class="tfwmds-ticket-summary-msg__title">{{ title }}</h3>
    </div>
    <div class="tfwmds-ticket-summary-msg__info">
    {{ _contentBefore }}
    {% if params.listItemsHTML %}
    <ul class="tfwmds-ticket-summary-msg__list">
        {% for listItem in params.listItemsHTML %}
            <li>{{ listItem | safe }}</li>
        {% endfor%}
    </ul>
    {% endif %}
    {{ _contentAfter }}
    </div>
</div>
{% endmacro %}