.wmnds-header {
  display: block;
  padding: $size-md;
  background-color: get-color(primary);
  text-align: left;

  // Logo styles
  &__logo-link {
    display: inline-block;
    width: 34px;
    margin-right: $size-md;
    overflow: hidden;
    vertical-align: middle;

    @media screen and(min-width: $breakpoint-md) {
      width: auto;
    }
  }

  &__logo {
    max-width: initial;
    height: 34px;
    float: left;
  }

  // To vertical align the logo's and nav
  &__vertical-align {
    vertical-align: middle;
  }

  // Nav links
  &__links {
    display: block;
    margin: 0;
    padding: 0;
    float: right;

    @media screen and(min-width: $breakpoint-md) {
      text-align: right;
    }
  }

  &__link {
    display: inline-block;
    margin: 0 $size-xs;

    @media screen and(min-width: $breakpoint-sm) {
      margin: 0 $size-sm;
    }

    .wmnds-link {
      color: $white;
    }
  }

  // App specific header styles
  &--mobile-app {
    .wmnds-header__main-links {
      display: none;

      @media screen and(min-width: $breakpoint-md) {
        display: inline-block;
      }
    }

    .wmnds-header__back-btn {
      @media screen and(min-width: $breakpoint-md) {
        display: none;
      }
    }
  }
}
