{% macro wmndsHeader(params) %}
{# Set navItems #}
{% set navItems = params.navItems %}
{% set appClass = " wmnds-header--mobile-app" if params.app else "" %}
{% set navigationAriaLabel = params.exampleAria + " example navigation" if params.exampleAria else "Navigation" %}
{# Imports #}
{% from "wmnds/components/link/link/_link.njk" import wmndsLink %}
{% from "wmnds/patterns/banner/_banner.njk" import wmndsBanner %}
{% from "wmnds/components/breadcrumb/_breadcrumb.njk" import wmndsBreadcrumb %}
{% from "wmnds/patterns/cookies/cookies-banner/_cookies-banner.njk" import wmndsCookiesBanner %}

<!-- Skip to content link -->
{{
  wmndsLink({
    link: '#wmnds-main-content',
    linkTitle: 'Skip to main content',
    text: 'Skip to main content',
    classModifiers: 'wmnds-header__skip-link'
  }) | trim
}}
<!-- Main header section -->
<header>
  {{
    wmndsCookiesBanner()
  }}
  <div class="wmnds-header{{appClass}}">
    <div class="wmnds-container wmnds-grid wmnds-grid--align-center wmnds-grid--justify-between">
      <div class="wmnds-header__vertical-align wmnds-col-auto">
        <!-- Logo -->
        <a class="wmnds-header__logo-link" href="/" title="West Midlands Network Design System">
          <img class="wmnds-header__logo" alt="West Midlands Network logo" src="/img/logo.svg" />
        </a>
      </div>

      {#- If with a title #}
      {% if params.withTitle -%}
      <!-- Header title -->
      <h1 class="wmnds-header__title wmnds-col-1 wmnds-col-sm-auto">
        Reinstate your Direct Debit<br>(COVID-19)
      </h1>
      {%- else %}
      {#- Else with a navigation -#}
      <!-- Nav items -->
      <nav class="wmnds-header__vertical-align wmnds-col-auto" aria-label="{{navigationAriaLabel}}">
        <ul class="wmnds-header__links wmnds-header__main-links">
          {% for navItem in navItems -%}
          <li class="wmnds-header__link">
            <a href="/{{ navItem.name | lower | replace(" ", "-") }}/" title="{{ navItem.name }} page" target="_self" class="wmnds-link" >
              {{ navItem.name}}
            </a>
          </li>
          {%- endfor %}
        </ul>

        {%- if params.app %}
        <!-- Back button -->
        <ul class="wmnds-header__links wmnds-header__back-btn">
          <li class="wmnds-header__link">
            <a
              href="#"
              title="Go back to previous page"
              target="_self"
              class="wmnds-link"
              onClick="goBack(event);"
            >
              Back
            </a>
          </li>
        </ul>
        <script>
          // Function that sends user to previous page they were on,
          // This can be included in your local javascript file
          function goBack(e) {
            e.preventDefault();
            window.history.back();
          }
        </script>
        <!-- End back button -->
        {%- endif %}
      </nav>
      {%- endif %}
    </div>
  </div>

  {%- if params.banner or params.breadcrumbs %}
  <div class="wmnds-container">
    {% if params.banner -%}
    <!-- Phase banner -->
    {{
      wmndsBanner ({
        link: 'https://github.com/wmcadigital/wmn-design-system/issues',
        linkTitle: 'WMN Design System Github',
        phase: true
      }) | trim | indent(4)
    -}}
    {%- endif -%}

    {%- if params.breadcrumbs and params.breadcrumbs.section != 'Home' %}
    <!-- Breadcrumbs -->
    {{
      wmndsBreadcrumb({
        section: params.breadcrumbs.section,
        pageTitle: params.breadcrumbs.pageTitle,
        exampleAria: params.exampleAria
      }) | trim | indent(4)
    -}}
    {% endif %}
  </div>
  {%- endif %}
</header>

{% endmacro %}