.wmnds-header {
  display: block;
  padding: $size-md 0;
  background-color: get-color(primary);
  text-align: left;

  // Skip link styling
  &__skip-link {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: $size-md;
    clip: rect(0 0 0 0);
    color: $white;
    background-color: get-color(cta);

    &:visited {
      color: $white;
    }

    &:focus {
      position: static;
      width: auto;
      height: auto;
      clip: auto;
    }
  }

  // Logo styles
  &__logo-link {
    display: inline-block;
    width: 34px;
    margin-right: $size-sm;
    overflow: hidden;
    vertical-align: middle;

    @media screen and(min-width: $breakpoint-md) {
      width: auto;
    }
  }

  &__logo {
    max-width: initial;
    height: 34px;
    float: left;
  }

  // To vertical align the logo's and nav
  &__vertical-align,
  .wmnds-phase-indicator {
    vertical-align: middle;
  }

  // Nav links
  &__links {
    display: block;
    margin: 0;
    padding: 0;
    float: right;

    @media screen and(min-width: $breakpoint-md) {
      text-align: right;
    }
  }

  &__link {
    display: inline-block;
    margin: 0 $size-xs;

    @media screen and(min-width: $breakpoint-sm) {
      margin: 0 $size-sm;
    }

    .wmnds-link {
      color: $white;
    }
  }

  // App specific header styles
  &--mobile-app {
    .wmnds-header__main-links {
      display: none;

      @media screen and(min-width: $breakpoint-md) {
        display: inline-block;
      }
    }

    .wmnds-header__back-btn {
      @media screen and(min-width: $breakpoint-md) {
        display: none;
      }
    }
  }
}
