{% macro wmndsHeader(params) %}
{# Set navItems #}
{% set navItems = params.navItems %}
{% set appClass = " wmnds-header--app" if params.app else "" %}

<header class="wmnds-header{{appClass}}">
  <div class="wmnds-container wmnds-grid wmnds-grid--align-center wmnds-grid--justify-between">
    {# Core logo #}
    <div class="wmnds-header__vertical-align wmnds-col-auto">
      <a class="wmnds-header__logo-link" href="/" title="West Midlands Network Design System">
        <img class="wmnds-header__logo" alt="West Midlands Network logo" src="/img/logo.svg" />
      </a>
    </div>

    <nav class="wmnds-header__vertical-align wmnds-col-auto">
      {# Nav items #}
      <ul class="wmnds-header__links wmnds-header__main-links">
        {% for navItem in navItems %}
        <li class="wmnds-header__link">
          <a href="/{{ navItem.name | lower | replace(" ", "-") }}/" title="{{ navItem.name }} page" target="_self" class="wmnds-link" >
            {{ navItem.name}}
          </a>
        </li>
        {% endfor %}
      </ul>

      {# Back button #}
      {% if params.app %}
        <ul class="wmnds-header__links wmnds-header__back-btn">
          <li class="wmnds-header__link">
            <a
              href="#"
              title="Go back to previous page"
              target="_self"
              class="wmnds-link"
              onClick="goBack(event);"
            >
              Back
            </a>
          </li>
        </ul>
        <script>
          function goBack(e) {
            e.preventDefault();
            window.history.back();
          }
        </script>
      {% endif %}
    </nav>

  </div>
</header>

{% endmacro %}