{% macro wmndsContentTilesNav(params) %}
{# Imports #}
{%- from "wmnds/components/link/link/_link.njk" import wmndsLink -%}

{% set class = ' ' + params.classModifiers if params.classModifiers %}

<div class="wmnds-content-tile-nav{{class}}">
  <h3>Related content</h3>
    <ul class="wmnds-content-tile-nav__list">
      <li class="wmnds-content-tile-nav__list-item">
        {{
          wmndsLink({text: 'Information for drivers'}) | indent(8) | trim
        }}
      </li>
      <li class="wmnds-content-tile-nav__list-item">
        {{
          wmndsLink({text: 'Information for bus passengers'}) | indent(8) | trim
        }}
      </li>
      <li class="wmnds-content-tile-nav__list-item">
        {{
          wmndsLink({text: 'Information for tram passengers'}) | indent(8) | trim
        }}
      </li>
      <li class="wmnds-content-tile-nav__list-item">
        {{
          wmndsLink({text: 'Information for pedestrians'}) | indent(8) | trim
        }}
      </li>
      <li class="wmnds-content-tile-nav__list-item">
        {{
          wmndsLink({text: 'Getting to venues and attractions'}) | indent(8) | trim
        }}
      </li>
    </ul>
</div>
{% endmacro %}