.wmnds-autocomplete {
  // The container for autocomplete
  display: inline-block;
  position: relative;
  width: 100%;

  // autocomplete icon embeded in container to overwrite FontAwesome defaults
  .wmnds-autocomplete__icon {
    display: block;
    position: absolute;
    top: calc(#{$size-sm} + 1px);
    bottom: calc(#{$size-sm} + 1px);
    left: calc(#{$size-sm} + 1px);
    width: 22px;
    height: 22px;
    fill: get-color(disable);
  }

  &__input {
    padding-left: 45px;

    &::placeholder {
      color: get-color(text);
      font-weight: bold;
    }
  }

  // autocomplete Specific Styles
  &__results-list {
    position: absolute;
    z-index: 1000;
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  &__result {
    @include type-setting(1);
    width: 100%;
    padding: $size-sm;
    list-style: none;
    border: 1px solid;
    border-top: 0;
    border-bottom-color: get-color(text);
    background-color: $white;
    font-size: 1.1rem;
    text-align: left;

    // sass-lint:disable-all - These are disabled due to being javascript classes
    &.autocomplete_selected,
    &::selection,
    &:hover,
    &:focus {
      outline: 0;
      background-color: get-color(secondary, 30);
      cursor: pointer;
    }

    .autocomplete_highlighted {
      opacity: 1;
      color: get-color(primary);
      font-weight: bold;
    }
  }
}

.wmnds-autocomplete-results {
  padding: 0;
  margin-top: 0;
  max-height: 300px;
  overflow-y: scroll;

  &__li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #3c1053;
    border-left: 1px solid #3c1053;
    border-right: 1px solid #3c1053;
    cursor: pointer;
    @extend .wmnds-grid;

    &:hover {
      background-color: #e6d6eb;
    }

    .wmnds-disruption-indicator-medium {
      margin-right: 15px;
    }
  }
}
