{% macro wmndsAutocomplete(params) %}
{# Imports #}
{% from "components/icon/_icon.njk" import wmndsIcon %}
{% from "components/disruption-indicator/medium/_medium.njk" import wmndsDisruptionIndicatorMedium %}
{# Params #}
{% set query = params.query if params.query else "" %} {# default to x15 as query text if one isn't available #}
{% set placeholder = params.placeholder if params.placeholder else "Tap to search" %}
{% set isLoading = " wmnds-is--loading" if params.loading %}

{# params.showResults #}

<div class="wmnds-autocomplete wmnds-grid{{isLoading}}">
  {% from "components/loader/_loader.njk" import wmndsLoader %}
  {#- Get SVG icon and pass class -#}
  <!-- Search icon -->
  {{
    wmndsIcon({
      icon: 'general-search',
      class: 'wmnds-autocomplete__icon'
    }) | indent(2) | trim
  -}}

  {# Loading spinner #}
  {{
    wmndsLoader() | indent(2) | trim
  }}
  <!-- Autocomplete input box -->
  <input type="text" name="searchExample" aria-label="{{ placeholder }}" class="wmnds-autocomplete__input wmnds-col-1" value="{{ query }}" placeholder="{{ placeholder }}"/>
</div>

{#- If showResults is true #}
{% if params.showResults %}
<!-- Autcomplete results -->
<ul class="wmnds-autocomplete-results">
{#- If textOnly results -#}
{% if params.textResults -%}
  {%- for i in range(1,4) %}
  <li class="wmnds-autocomplete-results__li" title="Search result {{i}}" tabindex="0">
    This is <strong>Search</strong> result {{i}}
  </li>
  {%- endfor %}
{% else -%}
  {# Disruption indicator results #}
  {%- for i in range(1,4) %}
  <li class="wmnds-autocomplete-results__li wmnds-grid" title="Good service on X15" tabindex="0">
    <div class="wmnds-col-auto" >
      {{
        wmndsDisruptionIndicatorMedium({
          classModifiers: 'wmnds-disruption-indicator-medium',
          text: query
        }) | indent(8) | trim
      }}
    </div>
    <div class="wmnds-col-1-2 wmnds-col-sm-2-3">
      <strong>Oldbury to Dudley {{i}}</strong><br>and return journey
    </div>
  </li>
  {%- endfor %}
{% endif -%}
</ul>
{%- endif %}

{% endmacro %}