.typography-characters {
    @include type-setting(4);
}

#form-label {
    font-weight: bold;
}

#btn-light {
    font-weight: bold;
}

#btn-secondary {
    color: get-color(secondaryPurple);
    font-weight: bold;
}

#btn-start {
    color: get-color(success);
    font-weight: bold;
}

#btn-destructive {
    color: get-color(error);
    font-weight: bold;
}