<!-- @@ Head -->
{{ fileInclude 'src/views/wmnds-website/shared/head.html' }}

<!-- @@ Header -->
{{ fileInclude 'src/views/wmnds-website/shared/header/header.html' }}

<div class="container-lg">
  <h1>Table&apos;s</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- @@ Footer -->
{{ fileInclude 'src/views/wmnds-website/shared/footer/footer.html' }}

<!-- @@ Scripts -->
