<!-- @@ Head -->
{{ fileInclude 'src/views/wmnds-website/shared/head.html' }}

<!-- @@ Header -->
{{ fileInclude 'src/views/wmnds-website/shared/header/header.html' }}

<div class="container-lg">
  <h1>Typography</h1>
  <h2>Fonts</h2>
  <strong>Font Face</strong> DM Sans
  <div class="wmnds-grid component-details__code">
    <div class="wmnds-col-1 wmnds-col-md-3-5">
      <h3>Characters</h3>
      <p class="typography-characters">
        A B C Č Ć D Đ E F G H I J K L M N O P Q R S Š T U V W X Y Z Ž a b c č ć d đ e f g h i j k l
        m n o p q r s š t u v w x y z ž 1 2 3 4 5 6 7 8 9 0 ‘ ? ’ “ ! ” (%) [#] {@} / & \ &lt; - + ÷
        × = &gt; ® © $ € £ ¥ ¢ : ; , . *
      </p>
    </div>
    <div class="wmnds-col-1 wmnds-col-md-2-5">
      <h3>Styles</h3>
      <p>
        Regular<br />
        <em>Regular Italic</em><br />
        <strong>Bold</strong><br />
      </p>
    </div>
  </div>

  <hr />
  <h2>Styles</h2>
  <div class="wmnds-grid">
    <div class="wmnds-col-1 wmnds-col-lg-1-2">
      <div class="wmnds-grid">
        <div class="wmnds-col-1 wmnds-col-md-1">
          <h1>Heading 1</h1>
          <span class="component-details__code">
            font-size: 60px;<br />
            font-weight: 700;<br />
            color: getColor(primary)<br />
            margin: 48px 0;
          </span>
        </div>
      </div>
      <div class="wmnds-grid">
        <div class="wmnds-col-1 wmnds-col-md-1">
          <h2>Heading 2</h2>
          <span class="component-details__code">
            font-size: 34px;<br />
            font-weight: 700;<br />
            color: getColor(primary)<br />
            margin: 24px 0;
          </span>
        </div>
      </div>
      <div class="wmnds-grid">
        <div class="wmnds-col-1 wmnds-col-md-1">
          <h3>Heading 3</h3>
          <span class="component-details__code">
            font-size: 24px;<br />
            font-weight: 700;<br />
            color: getColor(primary)<br />
            margin: 24px 0;
          </span>
        </div>
      </div>
      <div class="wmnds-grid component-details">
        <div class="wmnds-col-1 type-styles__style">
          <h4>Heading 4</h4>
          <span class="component-details__code">
            font-size: 22px;<br />
            font-weight: 700;<br />
            color: getColor(primary);<br />
            margin: 12px 0;
          </span>
        </div>
      </div>
    </div>

    <div class="wmnds-col-1 wmnds-col-lg-1-2">
      <div class="wmnds-grid component-details">
        <div class="wmnds-col-1 type-styles__style">
          Body text - How vexingly quick daft zebras jump!
          <span class="component-details__code">
            font-size: 16px;<br />
            font-weight: 400;<br />
            color: getColor(black);
          </span>
        </div>
      </div>
      <div class="wmnds-grid component-details">
        <div class="wmnds-col-1 type-styles__style">
          <a href="#">Link</a>
          <span class="component-details__code">
            font-size: 16px;<br />
            font-weight: 700;<br />
            color: getColor(black);
          </span>
        </div>
      </div>
      <div class="wmnds-grid component-details">
        <div class="wmnds-col-1 type-styles__style">
          <span id="form-label">Form Label</span>

          <span class="component-details__code">
            font-size: 18px;<br />
            font-weight: 700;<br />
            color: getColor(black);
          </span>
        </div>
      </div>
      <div class="wmnds-grid component-details">
        <div class="wmnds-col-1 type-styles__style">
          <span id="btn-light">Button/Light</span>
          <span class="component-details__code">
            font-size: 16px;<br />
            font-weight: 700;<br />
            color: getColor(black);
          </span>
        </div>
      </div>
      <div class="wmnds-grid component-details">
        <div class="wmnds-col-1 type-styles__style">
          <span id="btn-secondary">Secondary Button</span>
          <span class="component-details__code">
            font-size: 16px;<br />
            font-weight: 700;<br />
            color: getColor(black);
          </span>
        </div>
      </div>
      <div class="wmnds-grid component-details">
        <div class="wmnds-col-1 type-styles__style">
          <span id="btn-start">Start Button</span>
          <span class="component-details__code">
            font-size: 16px;<br />
            font-weight: 700;<br />
            color: getColor(success);
          </span>
        </div>
      </div>
      <div class="wmnds-grid component-details">
        <div class="wmnds-col-1 type-styles__style">
          <span id="btn-destructive">Destructive Button</span>
          <span class="component-details__code">
            font-size: 16px;<br />
            font-weight: 700;<br />
            color: getColor(error);
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- @@ Footer -->
{{ fileInclude 'src/views/wmnds-website/shared/footer/footer.html' }}

<!-- @@ Scripts -->
