{% macro wmndsContentTileRelatedContent(params) %}

<div class="wmnds-content-tile wmnds-content-tile--related-content">
    <div class="wmnds-content-tile__title">
    <h2>Related Content</h2>
    </div>
    <div class="wmnds-content-tile__copy">
    <a href="#" class="wmnds-col-1">Information for drivers</a>
    <a href="#" class="wmnds-col-1">Information for bus passengers</a>
    <a href="#" class="wmnds-col-1">Information for tram passengers</a>
    <a href="#" class="wmnds-col-1">Information for pedestrians</a>
    <a href="#" class="wmnds-col-1">Getting to venues and attractions</a>

    </div>
</div>


{% endmacro %}