{% macro wmndsContentTileRelatedContent(params) %}
<div class="wmnds-content-tile">
      <h2 class="wmnds-content-tile__title">Related content</h2>
      <ul class="wmnds-content-tile-list">
         <li class="wmnds-content-tile-list__links"><a href="#">Information for drivers</a></li>
         <li class="wmnds-content-tile-list__links"><a href="#">Information for bus passengers</a></li>
         <li class="wmnds-content-tile-list__links"><a href="#">Information for tram passengers</a></li>
         <li class="wmnds-content-tile-list__links"><a href="#">Information for pedestrians</a></li>
         <li class="wmnds-content-tile-list__links"><a href="#">Getting to venues and attractions</a></li>
      </ul>
</div>
{% endmacro %}