{% macro wmndsContentTileRelatedContent(params) %}
<div class="wmnds-content-tile">
      <h2 class="wmnds-content-tile__title">Related Content</h2>
   <div class="wmnds-content-tile__copy">
      <ul class="wmnds-content-tile__copy-list">
         <li class="wmnds-content-tile__copy-links"><a href="#">Information for drivers</a></li>
         <li class="wmnds-content-tile__copy-links"><a href="#">Information for bus passengers</a></li>
         <li class="wmnds-content-tile__copy-links"><a href="#">Information for tram passengers</a></li>
         <li class="wmnds-content-tile__copy-links"><a href="#">Information for pedestrians</a></li>
         <li class="wmnds-content-tile__copy-links"><a href="#">Getting to venues and attractions</a></li>
      </ul>
   </div>
</div>
{% endmacro %}