&.wmnds-msg-help {
  display: block;
  width: 100%;
  padding: $size-sm;
  background-color: get-color(secondary, 70);

  &__close-btn {
    margin-top: $size-xs;
    margin-left: $size-lg;
    padding: 0;
    float: right;
    border: 0;
    background: none;
    cursor: pointer;
  }

  &__close-icon {
    display: block;
    width: 25px;
    height: 25px;
    fill: get-color(primary);
  }
}
