{% macro wmndsMsgHelp(params) %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{# Set content #}
{% set _content = params.contentHTML | safe if params.contentHTML else params.contentText %}
{% set dismissable = params.dismissable if params.dismissable === false else true %}

<div class="wmnds-msg-help">
{% if dismissable %}
  <button class="wmnds-msg-help__close-btn" aria-label="Close help message">
    {# Get SVG icon #}
    {{-
      wmndsIcon({
        icon: 'general-cross',
        class: 'wmnds-msg-help__close-icon'
      })
    }}
  </button>
  {% endif %}
  {{ _content }}
</div>

{% endmacro %}