&.wmnds-autocomplete {
  // The container for autocomplete
  display: inline-block;
  position: relative;
  width: 100%;

  // autocomplete icon embeded in container to overwrite FontAwesome defaults
  .wmnds-autocomplete__icon,
  .wmnds-loader {
    display: block;
    position: absolute;
    top: calc(#{$size-sm} + 1px);
    bottom: calc(#{$size-sm} + 1px);
    left: calc(#{$size-sm} + 1px);
    width: 22px;
    height: 22px;
    fill: get-color(disable);
  }

  &__input {
    padding-left: 45px;

    &::placeholder {
      color: get-color(text);
      font-weight: bold;
    }
  }

  // Loading state
  .wmnds-loader {
    display: none;
    border-width: 3px;
  }

  // When loading class is added, show wmnds-loader but hide normal icon
  &.wmnds-is--loading {
    .wmnds-autocomplete__icon {
      display: none;
    }

    .wmnds-loader {
      display: inline-block;
    }
  }
}

// Autocomplete suggestions/results styling
.wmnds-autocomplete-suggestions {
  width: 100%;
  max-height: 300px;
  margin-top: 0;
  padding: 0;
  overflow-y: auto;
  border-bottom: 1px solid get-color(primary);
  background-color: $white;

  &__li {
    margin-bottom: 0;
    padding: 10px;
    list-style: none;
    border-right: 1px solid get-color(primary);
    border-bottom: 1px solid get-color(primary);
    border-left: 1px solid get-color(primary);
    cursor: pointer;

    &:last-child {
      border-bottom: 0;
    }

    &:hover,
    &:focus {
      background-color: get-color(information, 80);
      box-shadow: none;
    }

    .wmnds-disruption-indicator-medium {
      margin-right: 15px;
    }
  }
}

// Selected autocomplete styling
.wmnds-autocomplete__selected-item {
  width: 100%;
  height: 50px;
  padding-right: 0;
  padding-left: $size-sm;
  border: 1px solid get-color(primary);
  align-content: center;
}

.wmnds-autocomplete__selected-item-summary {
  display: block;
  width: 100%;
  align-self: center;

  @media (min-width: 360px) {
    max-width: calc(100% - (115px));
    margin-top: 0;
    margin-right: $size-md;
  }
}

.wmnds-autocomplete__selected-item-close {
  padding: $size-sm;
  border: 0;
  background: none;
  cursor: pointer;
}

.wmnds-autocomplete__selected-item-close-icon {
  display: block;
  width: 22px;
  height: 22px;
  fill: get-color(secondary);
}
