{% macro wmndsPageBanner(params) %}

{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{% set mode = params.mode if params.mode else "bus" %}
{% set image = params.image if params.image else "/img/component-images/banner/bus-banner-img.png" %}
{% set logo = params.logo if params.logo else "/img/logos/WM Bus/Landscape/White.png" %}
{% set logoAlt = params.logoAltText if params.logoAltText else "West Midlands Bus" %}
{% set title = params.title if params.title else "Buses in the West Midlands" %}
{% set contentHTML = params.contentHTML | safe if params.contentHTML else null %}

<div class="wmnds-page-banner wmnds-page-banner--{{mode}}">
  <div class="wmnds-page-banner__container">
    <div class="wmnds-page-banner__content">
      <h2>{{ title }}</h2>
      {% if contentHTML %}
        {{ contentHTML }}
      {% else %}
        <p>It’s easy to travel by bus in the West Midlands. Buses are frequent, with many routes operating late into the evening and on Sundays.</p>
      {% endif %}
      <div class="wmnds-page-banner__logos">
        {{
          wmndsIcon({
            icon: "modes-bg-" + mode
          })
        }}
        <img src="{{logo}}" alt="{{logoAlt}}">
      </div>

    </div>
  </div>
  <div class="wmnds-page-banner__image wmnds-hide-mobile" style="background-image: url({{image}});">
    <svg class="wmnds-page-banner__svg-background" viewBox="0 0 40 200">
      <path d="M0,0v200h6.03l32.87-93.5c1.48-4.21,1.48-8.79,0-12.99L6.03,0H0z"/>
    </svg>
  </div>
</div>

{% endmacro %}