&.tfwmds-find-a-timetable-widget {
  &__services {
    display: none;
  }

  &.tfwmds-is--open {
    .tfwmds-find-a-timetable-widget__services {
      display: block;
    }
  }

  &__mode-checkbox {
    &:focus + .tfwmds-btn--mode {
      background-color: $white;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px get-color(secondary);
    }

    &:checked + .tfwmds-btn--mode {
      background-color: get-color(secondary, 50);
    }
  }
}
