{# THIS IS USED BY 'AUTOCOMPLETE' COMPONENT/PATTERN, ANY CHANGES TO THIS COMPONENT COULD EFFECT IT. #}
{% macro wmndsLoader(params) %}

{# If classModifier is defined then append that to the class modifier and use below.
Only two size modifiers are 'large' and 'small' #}
{% set classModifier = " " + params.classModifier if params.classModifier %}
{% set size = params.size if params.size else "normal" %}

<!-- {{size}} sized loader -->
<div class="wmnds-loader{{classModifier}}" role="alert" aria-live="assertive">
  <p class="wmnds-loader__content">Content is loading...</p>
</div>

{% endmacro %}