{% macro wmndsLoader(params) %}

<!-- Large sized loader -->
<div class="wmnds-loader wmnds-loader--large" role="alert" aria-live="assertive">
  <p class="wmnds-loader__content">Content is loading...</p>
</div>

<!-- Normal sized loader -->
<div class="wmnds-loader" role="alert" aria-live="assertive">
  <p class="wmnds-loader__content">Content is loading...</p>
</div>

<!-- Small sized loader -->
<div class="wmnds-loader wmnds-loader--small" role="alert" aria-live="assertive">
  <p class="wmnds-loader__content">Content is loading...</p>
</div>

{% endmacro %}