.wmnds-loader {
  width: 100px;
  height: 100px;
  margin: auto;
  animation: spin 1s linear infinite;
  border: 10px solid get-color(background);
  border-top: 10px solid get-color(primary);
  border-radius: 50%;

  &--small {
    width: 60px;
    height: 60px;
    border-width: 6px;
  }

  &--large {
    width: 200px;
    height: 200px;
    border-width: 20px;
  }

  &__content {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
