{% macro wmndsLoader(params) %}
{# If size is defined then append that to the class modifier and use below.
Only two size modifiers are 'large' and 'small' #}
{% set size = " wmnds-loader--" + params.size if params.size %}
{% set commentSize = params.size if params.size else "normal" %}

<!-- {{commentSize}} sized loader -->
<div class="wmnds-loader{{size}}" role="alert" aria-live="assertive">
  <p class="wmnds-loader__content">Content is loading...</p>
</div>

{% endmacro %}