<head>
  <meta charset="utf-8" />
  <title>
    West Midlands Network
  </title>
  <meta name="description" content="Your one stop shop for travel in the West Midlands" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" href="$*cdn/config/favicon.png" />
  <link rel="manifest" href="$*cdn/config/site.webmanifest" />
  <link rel="apple-touch-icon" href="$*cdn/config/favicon.jpg" />
  <!-- Place favicon.ico in the root directory -->

  <!-- PureCSS -->
  <link
    rel="stylesheet"
    href="//unpkg.com/purecss@1.0.1/build/pure-min.css"
    integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="//unpkg.com/purecss@1.0.1/build/grids-responsive-min.css" />

  <!-- Font(s) -->
  <link
    href="//fonts.googleapis.com/css?family=DM+Sans:700|Noto+Sans:400,400i,700,700i&display=swap"
    rel="stylesheet"
  />

  <!-- Website Styles -->
  <link rel="stylesheet" href="$*cdn/css/wmn.css" />

  <meta name="theme-color" content="#3C1053" />

  <!-- Font Awesome -->
  <script src="//kit.fontawesome.com/32be3e4082.js"></script>

  <!-- Allow iOS to detect css :active pseudo class-->
  <!-- <script type='application/javascript'>
    document.addEventListener("touchstart", function() {}, false);
  </script> -->
</head>
