<head>
  <meta charset="utf-8" />
  <title>
    West Midlands Network
  </title>
  <meta
    name="description"
    content="We are the twelve local authorities and three Local Enterprise Partnerships working together to move powers from Whitehall to the West Midlands and our locally elected politicians, who know this region best."
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" href="$*cdn/config/favicon.png" />
  <link rel="manifest" href="$*cdn/config/site.webmanifest" />
  <link rel="apple-touch-icon" href="$*cdn/config/favicon.jpg" />
  <!-- Place favicon.ico in the root directory -->

  <link
    rel="stylesheet"
    href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
    integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css" />

  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600&display=swap"
    rel="stylesheet"
  />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="$*cdn/css/wmca.css" />

  <meta name="theme-color" content="#008FBF" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.3.0/css/glide.core.min.css"
    integrity="sha256-Ev8y2mML/gGa4LFVZgNpMTjKwj34q4pC4DcseWeRb9w="
    crossorigin="anonymous"
  />

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.3.0/glide.min.js"
    integrity="sha256-ujmfLA8r9ntmbatq60vOH954kngGJ5sMYn1LMq54Oto="
    crossorigin="anonymous"
  ></script>

  <script
    type="text/javascript"
    src="https://platform-api.sharethis.com/js/sharethis.js#property=5d1a1fcc5b5c0700129fbc8b&product='inline-share-buttons"
    async="async"
  ></script>

  <script src="https://kit.fontawesome.com/32be3e4082.js"></script>
</head>
