{% macro wmndsContentTilesSmall3(params) %}
<div class="wmnds-content-tile">
      <h2 class="wmnds-content-tile__title">Where the adventure starts</h2>
   <div class="wmnds-content-tile__copy">
      <p>Whatever your plans this holiday, get there with our great range of family tickets and discount vouchers.</p>
      <a href="#" class="wmnds-link wmnds-float--right">Read more</a></div>
   </div>
{% endmacro %}