{% macro colorPalette(params) %}

<div class="tfwmds-col-1 tfwmds-col-sm-1-2 tfwmds-col-md-1-3 tfwmds-website-color-swatch">
  <span class="tfwmds-website-color-swatch__inner tfwmds-website-bg-color-{{params.varName}}"></span>
  <div class="tfwmds-grid component-details">
    <div class="tfwmds-col-1">
      <h3>{{params.name}}</h3>

<pre><code class="scss" tabindex="0">{{- "" -}}
// HEX
<span class="color-hex"></span>

// SCSS VAR
$get-color({{params.varName}});
</code></pre>

    </div>
  </div>
</div>

{% endmacro %}