{# Set vars #}
{% set title = "Transport for West Midlands Design System" if section == "Home" else (pageTitle | striptags +  " – Transport for West Midlands Design System") %} {# If homepage, else any other pages #}
{% set description = "A design system to help your service look and feel like Transport for West Midlands." %} {# Description of website #}
{% set urlToShare = "https://designsystem.wmnetwork.co.uk/" %} {# URL of website to share in meta data #}
{% set imgToShare = "/config/tfwm-share.png" %} {# Image to share in meta data #}
{% set faviconsDir = "/config/favicons/" %} {# Path to favicons dir, used in meta data #}

<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <meta name="description" content="{{description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {# Favicons #}
  <link rel="apple-touch-icon" sizes="180x180" href="{{faviconsDir}}apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{faviconsDir}}favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{faviconsDir}}favicon-16x16.png">
  <link rel="manifest" href="{{faviconsDir}}site.webmanifest">
  <link rel="mask-icon" href="{{faviconsDir}}safari-pinned-tab.svg" color="#3c1053">
  <link rel="shortcut icon" href="{{faviconsDir}}favicon.ico">
  <meta name="msapplication-TileColor" content="#3c1053">
  <meta name="msapplication-config" content="{{faviconsDir}}browserconfig.xml">
  <meta name="theme-color" content="#3c1053">

  {# SEO Metadata #}
  <meta name="title" content="{{title}}">
  <meta name="description" content="{{description}}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{urlToShare}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="{{imgToShare}}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{urlToShare}}">
  <meta property="twitter:title" content="{{title}}">
  <meta property="twitter:description" content="{{description}}">
  <meta property="twitter:image" content="{{imgToShare}}">

  <!-- Website Styles -->
  <link rel="stylesheet" href="/css/tfwmds.min.css" />

  <!-- Highlight JS - display HTML blocks as coloured text -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/styles/a11y-dark.min.css"/>
  <link rel="stylesheet" href="/css/tfwmds-website.min.css" />
</head>