{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Progress indicator" %}
{# Imports #}
{% from "wmnds/components/progress-indicator/_progress-indicator.njk" import wmndsProgressIndicator %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
  <h2>About</h2>
  {# What #}
  <h3>What does it do?</h3>
  <ul>
    <li>It is visual representation of progress through a set of steps that guides user in order to complete a specified process. Knowing where the user is in their progress can help improve their orientation within the system. It sets expectations and gives and impression of activity and progress.</li>
  </ul>
  {# When #}
  <h3>When to use it?</h3>
  <ul>
    <li>When you want to tell users where they are in the process.</li>
    <li>When you want to reassure users that the system is working and reduce user’s uncertainty.</li>
  </ul>
  {# When not #}
  <h3>When not to use it?</h3>
  <ul>
    <li>When progress cannot be measured and therefore does not have a percentage that indicates the amount of progress.</li>
  </ul>

  {{
    compExample([wmndsProgressIndicator()])
  }}
{% endblock %}