{% macro wmndsRadios(params) %}

{# Set vars #}
{% set class = ' wmnds-fe-radios--inline' if params.inline %}
{% set text = params.text if params.text %}

{# Imports #}
{% from "wmnds/components/form-elements/label/_label.njk" import wmndsLabel %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{% from "wmnds/components/form-elements/question/_question.njk" import wmndsQuestion %}

<div class="wmnds-fe-group">
  <fieldset class="wmnds-fe-fieldset">
    <legend class="wmnds-fe-fieldset__legend">
      {{ wmndsQuestion({
          text: text
      }) | indent(6) | trim }}
    </legend>
    <div class="wmnds-fe-radios{{class}}">
      <span class="wmnds-fe-radios__desc">
        Select one option
      </span>
      {%- for i in range(1,4) %}
      {#- Set checked state on first item in loop #}
      {%- set isChecked = (' checked="checked"' | safe) if i === 1 %}
      <label class="wmnds-fe-radios__container">
        Option {{i}}
        <input class="wmnds-fe-radios__input" value="Option {{i}}"{{isChecked}} name="radio-example" type="radio"/>
        <span class="wmnds-fe-radios__checkmark">
        </span>
      </label>
      {%- endfor %}
    </div>
  </fieldset>
</div>

{% endmacro %}