{% macro wmndsRadios(params) %}


{# Imports #}
{% from "wmnds/components/form-elements/label/_label.njk" import wmndsLabel %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{% from "wmnds/components/form-elements/question/_question.njk" import wmndsQuestion %}
{% from "wmnds/components/form-elements/error-message/_error-message.njk" import wmndsFeErrorMessage %}

{# Set vars #}
{% set class = ' wmnds-fe-radios--inline' if params.inline %}
{% set hasQuestion = false if params.question === "" else true %}
{% set question = params.question if params.question %}
{% set items = params.items if params.items %}
{% set groupClass = " " + params.classes if params.classes %}
{% set name = params.name if params.name else "checkbox-example" %}
{% set hintContentText = params.hint.contentText if params.hint.contentText else "Select all options that apply" %}
{% set hintContentHTML = params.hint.contentHTML if params.hint.contentHTML else null %}
{% set _hintContent = hintContentHTML | safe if hintContentHTML else hintContentText %} {# change content based on what user has input #}
{% set hasDescription = false if _hintContent === "" else true %}
{% set idPrefix = params.idPrefix if params.idPrefix else name %}
{% set hintClass = " " + params.hint.classes if params.hint.classes %}
{# Error Message Params #}
{% set groupErrorClass = " wmnds-fe-group--error" if params.error %}
{% set errorContentText = params.errorMessage.contentText if params.errorMessage.contentText else "Please select an option" %}
{% set errorContentHTML = params.errorMessage.contentHTML if params.errorMessage.contentHTML else null %}
{% set errorId = params.errorMessage.id if params.errorMessage.id else null %}

<div class="wmnds-fe-group{{groupErrorClass}}">
  <fieldset class="wmnds-fe-fieldset">
    <legend class="wmnds-fe-fieldset__legend">
    {%- if hasQuestion %}
    {{ 
      wmndsQuestion({
        text: question
      })
    }}
    {% endif -%}
    </legend>
    <div class="wmnds-fe-radios{{class}}">
      {% if params.error -%}
        {{
          wmndsFeErrorMessage(
            {
              contentText: errorContentText,
              contentHTML: errorContentHTML,
              id: errorId
            }
          )
        }}
      {% endif -%}
      <span class="wmnds-fe-radios__desc{{hintClass}}" {% if params.hint.id %}id="{{params.hint.id}}"{% endif %}>
        {{ _hintContent }}
      </span>
      {% if items %}
      {%- for item in items %}
      {# Set item vars #}
      {% set isChecked = (' checked="checked"' | safe) if item.checked === true  else "" %}
      {% set inputValue = item.value if item.value else "option" + loop.index | string %}
      {% set inputId = item.id if item.id else idPrefix + "_" + inputValue %}
      {% set isNotEditable = (' disabled="disabled"' | safe) if item.disabled === true else "" %}
      {% set itemContentText = item.contentText if item.contentText else "Select one option" %}
      {% set itemContentHTML = item.contentHTML if item.contentHTML else null %}
      {% set _itemContent = itemContentHTML | safe if itemContentHTML else itemContentText %} {# change content based on what user has input #}
      <label class="wmnds-fe-radios__container">
        {{_itemContent}}
        <input id="{{inputId}}" class="wmnds-fe-radios__input" value="{{inputValue}}"{{isChecked}} name="{{name}}" type="radio"{{isNotEditable}}/>
        <span class="wmnds-fe-radios__checkmark"></span>
      </label>
      {% endfor %}
      {% else %}
      {% for i in range(1,4) %}
      {#- Set checked state on first item in loop #}
      {% set isChecked = (' checked="checked"' | safe) if i === 1 %}
      <label class="wmnds-fe-radios__container">
        Option {{i}}
        <input class="wmnds-fe-radios__input" value="Option {{i}}"{{isChecked}} name="{{name}}" type="radio"/>
        <span class="wmnds-fe-radios__checkmark"></span>
      </label>
      {% endfor %}
      {% endif %}
    </div>
  </fieldset>
</div>

{% endmacro %}