{% macro wmndsBrandedBanner(params) %}
{# Imports #}
{% from "wmnds/components/breadcrumb/_breadcrumb.njk" import wmndsBreadcrumb %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{% from "wmnds/components/button/_button.njk" import wmndsButton %}

{# Set vars #}
{% set link = params.link if params.link %} {# set button text #}
{% set linkTitle = params.linkTitle if params.linkTitle %} {# set button text #}

<div class="wmnds-branded-banner">
   <div class="wmnds-container">
      <div class="wmnds-col-1 wmnds-col-md-2-3">
         {{
            wmndsBreadcrumb()
         }}
         <h1 class="wmnds-branded-banner__title">
            {{
               wmndsIcon({
                  icon: 'swift-full-logo'
               })
            }} and tickets
         </h1>
         <p class="h3">We sell lots of tickets for bus, train and tram travel in the West Midlands</p>
         <p>You can also combine different modes of travel to suit your needs. <br>Tickets can last from 1 day to a year.</p>
         {{
            wmndsButton({
               contentText: 'Find a ticket',
               iconRight: 'general-chevron-right',
               isDarkBg: true
            })
         }}
      </div>
   </div>
</div>
{% endmacro %}