.wmnds-branded-banner {
  padding: $size-lg $size-xs;
  color: $white;
  background-color: get-color(primary);

  .wmnds-breadcrumb {
    padding: 0;

    &__link,
    &__list-item::before {
      color: $white;
    }
  }

  &__title {
    color: currentColor;

    svg {
      width: 3.6em;
      height: 1.3em;
      fill: currentColor;
      vertical-align: text-top;
    }
  }
}
