&.wmnds-branded-banner {
  padding: $size-lg 0;
  color: $white;
  background-color: get-color(primary);

  .wmnds-breadcrumb {
    padding: 0;

    &__link,
    &__list-item::before {
      color: $white;
    }
  }

  &__title {
    color: $white;

    svg {
      width: 1em;
      height: 1em;
      color: inherit;
      fill: currentColor;
      vertical-align: text-top;
    }
  }

  &__title ~ * *,
  &__title ~ * {
    color: $white;
  }

  &__modals {
    display: flex;
    flex-wrap: wrap;
  }

  &__modal {
    display: flex;
    margin-right: 1.5rem; // 24px
    margin-bottom: $size-sm; // 12px
    align-items: center;
  }

  &__icon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border-radius: 4px;
    background: $white;

    &--bus {
      fill: get-color(bus);
    }

    &--train,
    &--rail {
      fill: get-color(railway);
    }

    &--tram,
    &--metro {
      fill: get-color(metro);
    }

    &--cycle,
    &--walk {
      fill: get-color(susTravel);
    }

    &--p-r,
    &--park-and-ride {
      fill: get-color(primary);

      svg {
        border: 1px solid $white;
      }
    }
  }

  // helper class for aligning swift logo icon
  .wmnds-swift-logo-inline {
    width: 3.6em;
    height: 1.3em;
    margin-top: -0.175em;
    fill: currentColor;
    vertical-align: middle;
  }
}
