{% raw %}
{% from "wmnds/patterns/branded-banner/_branded-banner.njk" import wmndsBrandedBanner %}

{{
  wmndsBrandedBanner({
    title: "<svg class=\"wmnds-swift-logo-inline\"><use xlink:href=\"#wmnds-swift-full-logo\" href=\"#wmnds-swift-full-logo\"></use></svg> and tickets",
    contentCol1: "<p class=\"h3\">We sell lots of tickets for bus, train and tram travel in the West Midlands</p><p>You can also combine different modes of travel to suit your needs. <br>Tickets can last from 1 day to a year.</p>",
    ctaButton: {
      contentText: 'Find a ticket',
      link: '#',
      linkTitle: 'Find a ticket'
    }
  })
}}
{% endraw %}
