{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Beta Banner" %}
{% set section="Patterns" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}
{% from "wmnds/patterns/beta-banner/_beta-banner.njk" import wmndsBetaBanner %}


{% block content %}


{{
  compExample([
   wmndsBetaBanner()
  ])
}}

{% endblock %}