{% macro wmndsContentCardTravelUpdates(params) %}
{# imports #}
{% from "wmnds/components/content-card/_content-card.njk" import wmndsContentCard %}
{% from "wmnds/components/disruption-indicator/large/_large.njk" import wmndsDisruptionIndicatorLarge as largeDisruption %}
{% from "wmnds/components/disruption-indicator/medium/_medium.njk" import wmndsDisruptionIndicatorMedium as mediumDisruption %}
{% from "wmnds/components/disruption-indicator/small/_small.njk" import wmndsDisruptionIndicatorSmall as smallDisruption %}
{% from "wmnds/components/link/link/_link.njk" import wmndsLink %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{% from "wmnds/components/button/_button.njk" import wmndsButton %}
{% from "wmnds/components/message/help/_help.njk" import wmndsMsgHelp %}
{# Set #}
{# {% set disruptions = [
    {
        mode: "bus",
        title: "Bus",
        severityClass: "wmnds-disruption-indicator-medium--error",
        text: "Hamstead - Birmingham via Hockley",
        statusIcon: "general-warning-triangle",
        status: [
            "1 severe disruptions",
            "2 major disruptions",
            "8 minor disruptions"
        ]
    },
    {
        mode: "rail",
        title: "Train",
        severityClass: "wmnds-disruption-indicator-medium--success",
        text: "Hamstead - Birmingham via Hockley",
        statusIcon: "general-success",
        status: [
            "Good service"
        ]
    },
    {
        mode: "metro",
        title: "Tram",
        severityClass: "wmnds-disruption-indicator-medium--error",
        text: "Hamstead - Birmingham via Hockley",
        statusIcon: "general-warning-triangle",
        status: [
            "Major disruption"
        ]
    },
    {
        mode: "roads",
        title: "Roads",
        severityClass: "wmnds-disruption-indicator-medium--warning",
        text: "Hamstead - Birmingham via Hockley",
        statusIcon: "general-warning-circle",
        status: [
            "3 minor disruptions"
        ]
    }
] %} #}

{% set myTravelUpdates = [
    {
        mode: "bus",
        title: "Bus",
        disruptions: [
            {
                service: "16",
                description: "Hamstead - Birmingham via Hockley",
                severityClass: "wmnds-disruption-indicator-medium--warning",
                statusIcon: "general-warning-circle",
                status: "Minor disruption"
            },
            {
                service: "S16",
                description: "Solihull - Yardley via Lyndon",
                severityClass: "wmnds-disruption-indicator-medium--success",
                statusIcon: "general-success",
                status: "Good service"
            }
        ]
    },
    {
        mode: "rail",
        title: "Train",
        disruptions: [
            {
                service: "Cross City Line",
                severityClass: "wmnds-disruption-indicator-medium--warning",
                statusIcon: "general-warning-circle",
                status: "Minor disruption"
            },
            {
                service: "Hereford via Worcester",
                severityClass: "wmnds-disruption-indicator-medium--success",
                statusIcon: "general-success",
                status: "Good service"
            }
        ]
    },
    {
        mode: "metro",
        title: "Tram",
        disruptions: [
            {
                service: "mm1",
                description: "Grand Central - St Chad’s",
                severityClass: "wmnds-disruption-indicator-medium--error",
                statusIcon: "general-warning-triangle",
                status: "Major disruption"
            }
        ]
    }
] %}

{# 
{% call wmndsContentCard({ classes: "wmnds-content-card--travel-updates"}) %}
    <div class="wmnds-p-sm wmnds-col-1">
        <h2 class="wmnds-content-card__title">Travel updates</h2>
        
        {% for disruption in disruptions %}
        <div class="wmnds-travel-update">
            <div class="wmnds-travel-update__disruption">
                {{
                    mediumDisruption({
                        iconLeft: "modes-isolated-" + disruption.mode,
                        iconRight: disruption.statusIcon,
                        classes: disruption.severityClass
                    })
                }}
                <h3 class="wmnds-m-none">{{ disruption.title | capitalize }}</h3>
                <div class="wmnds-travel-update__disruption-text">
                    {% for text in disruption.status %}
                        {% if text === "Good service"%}
                            <strong>{{text}}</strong>
                        {% else %}
                            <div>
                                {{
                                    wmndsLink({
                                        contentText: text
                                    })
                                }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
        
        <div class="wmnds-grid wmnds-grid--spacing-sm-2-lg wmnds-p-t-md">
            <div class="wmnds-col-1 wmnds-col-sm-1-2">
                {{
                    wmndsButton({
                        classes: "wmnds-btn--block wmnds-m-b-md",
                        type: "mode",
                        contentText: "Add services",
                        iconRight: "general-expand"
                    })
                }}
            </div>
            <div class="wmnds-col-1 wmnds-col-sm-1-2">
                {{
                    wmndsButton({
                        classes: "wmnds-btn--block",
                        contentText: "View all updates",
                        iconRight: "general-chevron-right"
                    })
                }}
            </div>
        </div>
    </div>
{% endcall %} #}

{% call wmndsContentCard({ classes: "wmnds-content-card--travel-updates"}) %}
    <div class="wmnds-p-sm wmnds-col-1">
        <h2 class="wmnds-content-card__title">My travel updates</h2>
        
        {% for update in myTravelUpdates %}
        <div class="wmnds-travel-update wmnds-travel-update--personal">
            <input type="checkbox" id="{{id}}-collapse-{{update.mode}}" class="wmnds-travel-update__disruption-collapse-toggle">
            <label for="{{id}}-collapse-{{update.mode}}" class="wmnds-travel-update__disruption-collapse-btn">
                <h3 class="wmnds-m-none">{{update.title}}</h3>
                {{
                    wmndsIcon({
                        icon: "general-chevron-right"
                    })
                }}
            </label>

            {% for disruption in update.disruptions %}
            <div class="wmnds-travel-update__disruption">
                {{
                    mediumDisruption({
                        iconLeft: "modes-isolated-" + update.mode,
                        iconRight: disruption.statusIcon,
                        contentText: disruption.service,
                        classes: disruption.severityClass
                    })
                }}
                <div class="wmnds-travel-update__disruption-text">
                    {% if disruption.description %}
                    <strong>{{disruption.description}}</strong>
                    {% endif %}
                    {% if disruption.status === "Good service"%}
                    <strong>{{disruption.status}}</strong>
                    {% else %}
                    {{
                        wmndsLink({
                            contentText: disruption.status
                        })
                    }}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endfor %}
        
        <div class="wmnds-grid wmnds-grid--spacing-sm-2-lg wmnds-p-t-md">
            <div class="wmnds-col-1 wmnds-col-sm-1-2">
                {{
                    wmndsButton({
                        classes: "wmnds-btn--block wmnds-m-b-md",
                        type: "mode",
                        contentText: "Edit your services"
                    })
                }}
            </div>
            <div class="wmnds-col-1 wmnds-col-sm-1-2">
                {{
                    wmndsButton({
                        classes: "wmnds-btn--block",
                        contentText: "View all updates",
                        iconRight: "general-chevron-right"
                    })
                }}
            </div>
        </div>
    </div>
{% endcall %}

{% endmacro %}
