.wmnds-travel-update {
  padding: $size-xsm 0;
  justify-content: center;
  align-items: center;

  &__disruption {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    @media screen and (min-width: $breakpoint-sm) {
      justify-content: space-between;
    }

    .wmnds-disruption-indicator-medium {
      margin-right: $size-md;
    }

    .wmnds-travel-update__disruption-text {
      padding-top: $size-xsm;
      flex-grow: 1;
      flex: 0 0 100%;

      @media screen and (min-width: $breakpoint-sm) {
        padding-top: 0;
        text-align: right;
        flex: auto;
      }
    }
  }

  // Styles for personal view travel update card
  &--personal {
    position: relative;

    .wmnds-travel-update__disruption-title {
      display: flex;
      margin-bottom: $size-md;
      justify-content: space-between;
      align-items: center;
      flex: 0 0 100%;

      .wmnds-travel-update__disruption-collapse-toggle {
        padding: 0;
        border: 0;
        background: none;

        svg {
          display: block;
          width: $size-lg;
          height: $size-lg;
          transform: rotate(-90deg);
          fill: get-color(primary);
        }
      }
    }

    .wmnds-travel-update__disruption {
      flex-wrap: wrap;

      &:not(:last-child) {
        margin-bottom: $size-md;
      }

      .wmnds-travel-update__disruption-indicator-btn {
        display: inline-block;
        margin-right: $size-md;
        padding: 0;
        border: 0;
        background: none;

        .wmnds-disruption-indicator-medium {
          margin: 0;
        }
      }

      .wmnds-travel-update__disruption-text {
        text-align: left;

        strong {
          display: block;
        }
      }
    }

    @media screen and (max-width: $breakpoint-sm - 1) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;

      .wmnds-travel-update__disruption-collapse-toggle {
        // Rotate chevron icon if toggle is checked
        &[data-collapse-all="true"] svg {
          transform: rotate(90deg);
        }
      }

      .wmnds-travel-update__disruption {
        display: block;
      }

      .wmnds-travel-update__disruption-text {
        padding-top: $size-sm;

        &[data-collapse="true"] {
          display: none;
        }
      }
    }

    @media screen and (min-width: $breakpoint-sm) {
      .wmnds-travel-update__disruption-collapse-toggle,
      .wmnds-travel-update__disruption-collapse-btn svg {
        display: none;
      }
    }
  }

  // Styles for edit view travel update card
  &--edit {
    @media screen and (max-width: $breakpoint-sm - 1) {
      .wmnds-travel-update__disruption {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .wmnds-travel-update__disruption-text {
        display: block;
        order: 1; // (make text to show after the delete button on mobile)
      }
    }

    .wmnds-travel-update__disruption-delete {
      padding: $size-sm;
      border: 0;
      border-radius: 5px;
      background-color: get-color(error);
      cursor: pointer;

      svg {
        width: 22px;
        height: 22px;
        fill: $white;
        vertical-align: middle;
      }
    }
  }
}
