// CREATES .wmnds-grid--spacing classes

// Create a mixin than can be called later down the page to create the spacing rules
@mixin grid-spacing-class(
  $prefix,
  $col-count,
  $spacing-name,
  $spacing-value,
  $breakpoint-name: "",
  $breakpoint-value: ""
) {
  .wmnds-grid--spacing#{$prefix}-#{$spacing-name} {
    //  HOW IT WORKS
    //
    // In order that the columns align with the rest of the content on the page the outer facing
    // cols must have 0 padding on the outer sides. In order to account for this, the left over spacing
    // must be added to each column within the row.
    // From right to left, the proportional padding-left increases from 0 to n-1, and the
    // proportional padding-right decreases from n-1 to 0, with n being the number of columns
    > [class*="wmnds-col"] {
      // The first and last items in the list will always have no padding on the inner sides
      &:first-child,
      &:nth-child(#{$col-count}n + 1) {
        padding-right: $spacing-value * (($col-count - 1) / $col-count);
        padding-left: 0;
      }

      &:last-child,
      &:nth-child(#{$col-count}n) {
        padding-right: 0;
        padding-left: $spacing-value * (($col-count - 1) / $col-count);
      }

      // Loops through the inner cols (from right to left) increasing the padding right,
      // and decreasing the padding left.
      @if $col-count - 2 > 0 {
        @for $i from 1 through $col-count - 2 {
          &:nth-child(#{$col-count}n - #{$i}) {
            padding-right: $spacing-value * ($i / $col-count);
            padding-left: $spacing-value * (1 - (($i + 1) / $col-count));
          }
        }
      }

      // To achieve the pattern of 2 in a row and 1 full width below
      // we give the parent: .wmnds-grid--spacing-{breakpoint}-2-sm
      // then we give the first two columns: .wmnds-col-{breakpoint}-1-2
      // and the final column: .wmnds-col-1 or .wmnds-col-{breakpoint}-1-1
      @if $breakpoint-name == "" or $breakpoint-value == "" {
        &.wmnds-col-1,
        &.wmnds-col-1-1 {
          padding-right: 0;
          padding-left: 0;
        }
      } @else {
        @media screen and (min-width: #{$breakpoint-value}em) {
          &.wmnds-col-#{$breakpoint-name}-1,
          &.wmnds-col-#{$breakpoint-name}-1-1 {
            padding-right: 0;
            padding-left: 0;
          }
        }
      }
    }
  }
}

// Creates standard spacing classes: .wmnds-grid--spacing-{cols}-{size}
@each $sp-name, $sp-value in $spacing-map {
  @for $i from 2 through $grid-max-cols {
    @include grid-spacing-class("-#{$i}", $i, $sp-name, $sp-value);
  }
}

// Creates responsive spacing classes: .wmnds-grid--spacing-{breakpoint}-{cols}-{size}
@each $bp-name, $bp-value in $grid-breakpoint-map {
  @media screen and (min-width: #{$bp-value}em) {
    @each $sp-name, $sp-value in $spacing-map {
      @for $i from 2 through $grid-max-cols {
        @include grid-spacing-class("-#{$bp-name}-#{$i}", $i, $sp-name, $sp-value, $bp-name, $bp-value);
      }
    }
  }
}
