{% macro wmndsSearchbar(params) %}

<div class="wmnds-search-bar">
    <input type="text" class="wmnds-search-bar__input wmnds-fe-input" placeholder="Search for tickets, timetables, travel advice…">
    <button class="wmnds-search-bar__btn">
        <svg><use xlink:href="#wmnds-general-search" href="#wmnds-general-search"></use></svg>
    </button>
</div>
{% endmacro %}
