{% macro wmndsSearchbar(params) %}

<form class="wmnds-search-bar">
    <input aria-label="Search" type="text" class="wmnds-search-bar__input wmnds-fe-input" placeholder="Search for tickets, timetables, travel advice…">
    <button class="wmnds-search-bar__btn" types="submit">
        <svg><title>Search</title><use xlink:href="#wmnds-general-search" href="#wmnds-general-search"></use></svg>
    </button>
</form>
{% endmacro %}
