{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Utility classes" %}
{% set section = "Styles" %}

{% block content %}
{# About #}
<h2>About</h2>
  <p>
    There are a variety of utility classes that can be used with the existing components and styles on.
  </p>

<hr>
{# Containers #}
<h2>Containers</h2>
<p>
  Containers are used to wrap content in a 'container'. The container will have a fixed max size and be centered on the page, it will adjust to 100% width when the page width is less than the container size.
</p>

<pre class="wmnds-col-1">
  <code class="scss">
    .wmnds-container /* Container with max-width of 1280px */

    /* This should be used on your main content section and will
    add a margin top to seperate from header/breadcrumb section */
    .wmnds-container.wmnds-container--main
  </code>
</pre>

<hr>
{# Grid #}
<h2>Grid</h2>
<p>
  The WMN Design System uses its own custom syntax grid system adopted from <a href="https://purecss.io/grids/" target="_blank" class="wmnds-link">Pure CSS Grid</a>. The grid system is already included in the bundled wmnds-components.min.css file so you don't need to include it seperately.
</p>

<p>
  You can Refer to the <a href="https://purecss.io/grids/" target="_blank" class="wmnds-link">Pure CSS Grid documentation</a> for reference on how to use our grid system, but bear in mind that:
</p>
<ul>
  <li><code class="wmnds-website-inline-code">.pure-g</code> becomes <code class="wmnds-website-inline-code">.wmnds-grid</code> in our design system<br><br></li>
  <li><code class="wmnds-website-inline-code">.pure-u-*</code> becomes <code class="wmnds-website-inline-code">.wmnds-col-*</code> in our design system</li>
</ul>


<p>You can also use the below modifier classes on the same element where the class <code class="wmnds-website-inline-code">.wmnds-grid</code> is being used.</p>
<pre class="wmnds-col-1">
  <code class="scss">
    .wmnds-grid--justify-between
    .wmnds-grid--justify-around
    .wmnds-grid--justify-end
    .wmnds-grid--justify-center
  </code>
</pre>

<hr>
{# Floats #}
<h2>Floats</h2>
<p>
  Floats an element in the intended direction.
</p>

<pre class="wmnds-col-1 wmnds-col-md-1-2">
  <code class="scss">
    .wmnds-float--left
    .wmnds-float--right
  </code>
</pre>


<hr>
<h2>Margins</h2>
<pre class="wmnds-col-1">
  <code class="scss" tabindex="0">
    /* Margin: all sides */
    .wmnds-mar-xs           // margin: .25rem
    .wmnds-mar-sm           // margin: .75rem
    .wmnds-mar-md           // margin: 1rem
    .wmnds-mar-lg           // margin: 2rem
    .wmnds-mar-xl           // margin: 3rem
    .wmnds-mar-none         // margin: 0

    /* Margin top */
    .wmnds-mar-top-xs       // margin-top: .25rem
    .wmnds-mar-top-sm       // margin-top: .75rem
    .wmnds-mar-top-md       // margin-top: 1rem
    .wmnds-mar-top-lg       // margin-top: 2rem
    .wmnds-mar-top-xl       // margin-top: 3rem
    .wmnds-mar-top-none     // margin-top: 0

    /* Margin right */
    .wmnds-mar-right-xs     // margin-right: .25rem
    .wmnds-mar-right-sm     // margin-right: .75rem
    .wmnds-mar-right-md     // margin-right: 1rem
    .wmnds-mar-right-lg     // margin-right: 2rem
    .wmnds-mar-right-xl     // margin-right: 3rem
    .wmnds-mar-right-none   // margin-right: 0

    /* Margin bottom */
    .wmnds-mar-bottom-xs    // margin-bottom: .25rem
    .wmnds-mar-bottom-sm    // margin-bottom: .75rem
    .wmnds-mar-bottom-md    // margin-bottom: 1rem
    .wmnds-mar-bottom-lg    // margin-bottom: 2rem
    .wmnds-mar-bottom-xl    // margin-bottom: 3rem
    .wmnds-mar-bottom-none  // margin-bottom: 0

    /* Margin left */
    .wmnds-mar-left-xs      // margin-left: .25rem
    .wmnds-mar-left-sm      // margin-left: .75rem
    .wmnds-mar-left-md      // margin-left: 1rem
    .wmnds-mar-left-lg      // margin-left: 2rem
    .wmnds-mar-left-xl      // margin-left: 3rem
    .wmnds-mar-left-none    // margin-left: 0
  </code>
</pre>


{% endblock %}