{% macro wmndsDetails(params) %}
{# Imports #}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{# Params  #}
{% set isOpen = " open" if params.expanded %}
{% set summary = params.summary or "Type something"%}
{% set content = params.content or "Type something"%}

<details class="wmnds-details"{{isOpen}}>
    <summary class="wmnds-link">{{summary}}</summary>
    <div class="wmnds-details__content">
        <p>{{content}}</p>
    </div>
</details>
{% endmacro %}