{% macro wmndsDetails(params) %}
{# Imports #}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{# Params  #}
{% set isOpen = " open" if params.expanded %}

<details class="wmnds-details"{{isOpen}}>
    <summary class="wmnds-link">Detail summary</summary>
    <div class="wmnds-details__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</details>
{% endmacro %}