.wmnds-details {
  &__content {
    margin-top: $size-xs;
    padding: $size-xsm $size-md;
    border-left: 5px solid get-color(secondary, 50);

    > :last-child {
      margin-bottom: 0;
    }
  }
}
