<footer class="wmnds-footer bg-black">
  <div class="wmnds-container">
    <div class="wmnds-col-1 wmnds-col-md-1-2">
      Copyright West Midlands Network &copy; 2020
    </div>
    <div class="wmnds-col-1 wmnds-col-md-1-2">
        Created by <a href="https://github.com/wmcadigital" target="_blank" rel="noopener noreferrer" class="wmnds-footer__link wmnds-link">WMCA Design Team</a>
    </div>
  </div>
</footer>
