{% macro wmndsPhaseIndicatorLink(params) %}
<div class="wmnds-grid wmnds-banner-container">
  <div class="wmnds-col-auto wmnds-float-left wmnds-m-r-xsm">
     <a href="/" target="_self" class="wmnds-phase-indicator" title="Beta homepage of West Midlands Network Design System">
       Beta
     </a>
  </div>
  <div class="wmnds-col-auto">
     <p class="wmnds-banner-container__text">
        <a href="#" title="link title" target="_blank" class="wmnds-link">Try our new disruptions page</a>
        
     </p>
  </div>
</div>

{% endmacro %}