{% macro wmndsPhaseIndicatorLink(params) %}
{% from "wmnds/components/phase-indicator/_phase-indicator.njk" import wmndsPhaseIndicator %}
{%- from "wmnds/components/link/link/_link.njk" import wmndsLink -%}
{# Set vars #}
{% set text = params.text if params.text %}
{% set link = params.link if params.link %} {# set button text #}
{% set linkTitle = params.linkTitle if params.linkTitle %} {# set button text #}
<div class="wmnds-grid wmnds-banner-container">
  <div class="wmnds-col-auto wmnds-float-left wmnds-m-r-xsm">
    {{
      wmndsPhaseIndicator() | indent(6) | trim
   }}
  </div>
  <div class="wmnds-col-auto">
     <p class="wmnds-banner-container__text">
      {{ wmndsLink({
        text: text,
        link: link,
        linkTitle: linkTitle,
        linkTarget: '_blank'
        }) | indent(6) | trim
     }}
     </p>
  </div>
</div>

{% endmacro %}
