{% macro wmndsTextarea(params) %}

{# Imports #}
{% from "wmnds/components/form-elements/label/_label.njk" import wmndsLabel %}

{# Params #}
{% set id = params.id if params.id else "textarea" %}

<div class="wmnds-fe-group">
  {{
    wmndsLabel({
      contentText: 'Textarea label',
      for: id
    }) | trim
  }}
  <textarea  class="wmnds-fe-textarea" id="{{id}}" name="{{id}}" rows="3"></textarea>
</div>

{% endmacro %}