{% macro wmndsBetaBanner(params) %}

<div class="wmnds-grid banner-container">
<div class="wmnds-col-1-8">
<a href="/" title="West Midlands Network Design System Alpha" class="wmnds-phase-indicator">
        beta
      </a>
      </div>
<div class="wmnds-col-2-3">
      <p>This is a new service - your <span class="feedback">feedback</span> will help us to improve it.</p>
</div>
</div>
{% endmacro %}