{% raw %}
{% from "wmnds/patterns/live-departures/live-departures-bus/_live-departures-bus.njk" import wmndsLiveDeparturesBus %}

{{
   wmndsLiveDeparturesBus({
      services: [
         {
         name: "16",
         destination: "Wolverhampton",
         operator: "National Express West Midlands",
         times: [3, 7, 28]
         },
         {
         name: "17",
         destination: "Dudley",
         operator: "National Express West Midlands",
         times: [4, 14, 24]
         },
         {
         name: "17A",
         destination: "Wall Heath",
         operator: "Diamond",
         times: [8, 19, 27]
         },
         {
         name: "57",
         destination: "Wall Heath",
         operator: "National Express West Midlands",
         times: [6, 16, 26]
         },
         {
         name: "125",
         destination: "Bridgnorth",
         operator: "Diamond",
         times: [9, 14, 24]
         }
      ]
   })
}}
{% endraw %}
