.wmnds-qf-reference {
  margin-top: $size-lg;
  padding: $size-sm $size-md;
  background-color: $white;

  &__content {
    max-width: 500px;
    @media screen and (max-width: $breakpoint-md) {
      max-width: 100%;
    }
  }
  
  &__fields {
    padding-top: $size-md;
  }

}
