{% macro wmndsInTextStep(params) %}

<ol class="wmnds-in-text-step">
    {% for i in range(1,4) %}
    <li class="wmnds-in-text-step__item">Step text must end with a full stop.</li>
    {% endfor %}
</ol>

{% endmacro %}