{% extends "_layout.njk" %}
{% set pageTitle="West Midlands Network Design Sytem | Buttons" %}

{% block content %}
<div class="container-lg">
  <h1>Buttons</h1>
  <hr />
  <div class="pure-g justify-between">
    <div class="pure-u-1" id="wmn-buttons">
      <h3>Buttons</h3>
      <p>
        <strong>Buttons</strong> and <strong>links</strong> are items used to perform an action on a
        page
      </p>
      <p>
        It's important to know when to use a <strong>button</strong> or went to use a
        <strong><a href="#wmn-links">link</a></strong>
      </p>
      <p>
        <strong>Buttons</strong> should be used in situations where a user might need to preform an
        action, such as:
      </p>
      <ul>
        <li>Submitting a form</li>
        <li>Uploading</li>
        <li>Specify a next or previous step in a process</li>
        <li>Begin a new task</li>
      </ul>
      
      <!-- primary buttons -->
      <div>
        <h4>Primary buttons</h4>
        {% from "views/njk-components/button/_button.njk" import wmnButton as primary %}
        {{
          primary({
            classNames: "wmn-btn__primary",
            text: "Primary button"
          })
        }}
        {{
          primary({
            classNames: "wmn-btn__primary",
            text: "Primary disabled button",
            disabled: true
          })
        }}
        {{
          primary({
            classNames: "wmn-btn__primary",
            text: "Primary icon button",
            iconRight: "fas fa-chevron-right"
          })
        }}
        {{
          primary({
            classNames: "wmn-btn__primary",
            text: "Primary icon disabled button",
            iconRight: "fas fa-chevron-right",
            disabled: true
          })
        }}
        <h4>HTML Markup</h4>
        <pre class=""><code class="html">{% from "views/njk-components/button/_button.njk" import wmnButton as primary %}
        {{
          primary({
            classNames: "wmn-btn__primary",
            text: "Primary button"
          })
        }}
        {{
          primary({
            classNames: "wmn-btn__primary",
            text: "Primary disabled button",
            disabled: true
          })
        }}
        {{
          primary({
            classNames: "wmn-btn__primary",
            text: "Primary icon button",
            iconRight: "fas fa-chevron-right"
          })
        }}
        {{
          primary({
            classNames: "wmn-btn__primary",
            text: "Primary icon disabled button",
            iconRight: "fas fa-chevron-right",
            disabled: true
          })
        }}</code>
        </pre>
      </div>
      <!-- end: primary buttons -->
    </div>
  </div>
</div>
{% endblock %}