{% extends "_layout.njk" %}

{% block content %}
<div class="container-lg">
  <h1>Buttons</h1>
  <hr />
  <div class="pure-g justify-between">
    <div class="pure-u-1" id="wmn-buttons">
      <h3>Buttons</h3>
      <p>
        <strong>Buttons</strong> and <strong>links</strong> are items used to perform an action on a
        page
      </p>
      <p>
        It's important to know when to use a <strong>button</strong> or went to use a
        <strong><a href="#wmn-links">link</a></strong>
      </p>
      <p>
        <strong>Buttons</strong> should be used in situations where a user might need to preform an
        action, such as:
      </p>
      <ul>
        <li>Submitting a form</li>
        <li>Uploading</li>
        <li>Specify a next or previous step in a process</li>
        <li>Begin a new task</li>
      </ul>
      
      <!-- primary buttons -->
      {% from "views/njk-components/button/_button.njk" import button as primary %}
      {{
        primary({
          classNames: "test another"
        })
      }}
      {# {{ 
        primary({
          type: "wmn-btn__primary",
          text: "This is a button",
          iconRight: "fas fa-chevron-right"
        })
      }} #}

      {# {% from "views/njk-components/button/_button.njk" import button as primary %}
      {{ primary.type("wmn-btn__primary") }}
      {{ primary.text("This is a button") }}
      {{ primary.iconRight("fas fa-chevron-right") }} #}
      <!-- end: primary buttons -->
    </div>
  </div>
</div>
{% endblock %}