{% macro tfwmdsContentCard(params) %}
{# Set #}
{% set classes = " " + params.classes if params.classes else "" %}
{% set yellowModifier = " tfwmds-content-card--yellow" if params.yellow else "" %}
{# Opening & closing tags #}
{% set _tag = "a" if params.link else "div" %}
{% set link = params.link if params.link else "#" %}
{% set linkTitle = params.linkTitle if params.linkTitle else "" %}
{% set _attributes = " href=\"" + link + "\" title=\""+ linkTitle +"\" target=\"_self\"" if params.link else "" %}
{# HTML content #}
{% set contentHTML = params.contentHTML if params.contentHTML else "
    <div class=\"tfwmds-p-sm\">
        <h2>Where the adventure starts</h2>
        <p>Whatever your plans this holiday, get there with our great range of family tickets and discount vouchers.</p>
    </div>
" %}

{# This macro checks if it's being called inside a {% call %} tag #}
{# It's an easier way to pass in larger html content  #}
<{{_tag}}{{_attributes | safe}} {% if params.id %}id="{{ params.id }}"{% endif %} class="tfwmds-content-card{{classes + yellowModifier}}">
{%- if caller -%}
    {{ caller() }}
    {%- else -%}
    {{ contentHTML | safe }}
{%- endif -%}
</{{_tag}}>
{% endmacro %}
