{% raw %}
{% from "tfwmds/components/content-card/_content-card.njk" import tfwmdsContentCard %}

{{
   tfwmdsContentCard({
      id: null,
      link: "https://designsystem.wmnetwork.co.uk/components/content-card/",
      linkTitle: "Content Card Component",
      classes: null,
      yellow: false,
      contentHTML: '<div class=\"tfwmds-p-sm\">
        <h2>Where the adventure starts</h2>
        <p>Whatever your plans this holiday, get there with our great range of family tickets and discount vouchers.</p>
      </div>'
   })
}}
{% endraw %}
