/*
    When setting the primary font stack, apply it to the Pure grid units along
    with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
    specific font stacks to ensure the greatest OS/browser compatibility.
    */
html,
button,
input,
select,
textarea,
.pure-g [class*='pure-u'] {
  -webkit-font-smoothing: antialiased;
  font-family: $x-font-family;
}

html,
body {
  font-size: $font-size;
  color: getColor(secondary);
}

p {
  line-height: 1.4em;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $x-heading-font-family; // This font is used for headings
  color: getColor(secondary);
}
// Mixin to control header sizes
@mixin x-font-size($font-size, $font-multiplier) {
  font-size: $font-size;
  // On mobile devices, the header font will be reduced by * (x)
  @media all and (max-width: 767px) {
    font-size: $font-size * $font-multiplier;
  }
}
h1 {
  @include x-font-size(48px, 0.7);
}

h2 {
  @include x-font-size(32px, 0.8);
}
h3 {
  @include x-font-size(23px, 0.8);
}
h4 {
  @include x-font-size(18px, 0.9);
}

// Get rid of margin for the first header item in main content
#main-content {
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 0;
  }
}

// Hyperlinks
a {
  @extend .text-color-primary;
}

// Text aligns
.text {
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
}

.text-bold {
  font-weight: 600;
}

// Text colors
.text-color {
  &-primary {
    color: getColor(primary);
  }
  &-secondary {
    color: getColor(secondary);
  }
  &-white {
    color: $x-palette-white;
  }
  &-gray {
    color: getColor(secondary);
  }
}

// custom sizes

.small {
  font-size: 14px;
}
