// Minimum width of website
html {
  min-width: 320px;
  overflow: scroll;
}

.pure-g {
  & > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  // How to align child flex items of a grid
  &.justify-between {
    justify-content: space-between;
  }
  &.justify-around {
    justify-content: space-around;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.align-center {
    align-items: center;
  }
}

// Container sizes
.container {
  &-wide {
    margin: auto;
    max-width: 1280px;
    @media screen and (max-width: 1280px) {
      padding: 0 30px;
    }
    @media screen and (max-width: 768px) {
      padding: 0px;
    }
  }
  &-small {
    margin: auto;
    max-width: 904px;
  }
}

// Floats
.float {
  &-left {
    float: left;
  }
  &-right {
    float: right;
    @media screen and (max-width: 48em) {
      float: left;
    }
  }
}

// Paddings
// padding generator mixin
@mixin x-padding($pad-size) {
  padding: $pad-size;
  &-left {
    padding-left: $pad-size;
  }
  &-right {
    padding-right: $pad-size;
  }
  &-top {
    padding-top: $pad-size;
  }
  &-bottom {
    padding-bottom: $pad-size;
  }
}
.pad {
  &-10 {
    @include x-padding(10px);
  }
  &-15 {
    @include x-padding(15px);
  }
  &-30 {
    @include x-padding(30px);
  }
  &-50 {
    @include x-padding(50px);
  }
  &-70 {
    @include x-padding(70px);
  }
}

// Margins
.mar {
  &-10 {
    margin: 10px;
  }
  &-15 {
    margin: 15px;
  }
  &-30 {
    margin: 30px;
  }
  &-50 {
    margin: 50px;
  }
  &-auto {
    margin: auto;
  }
  &-remove {
    margin: 0;
  }

  &-vertial {
    &-15 {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &-30 {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &-side {
    &-70 {
      margin-left: 70px;
      margin-right: 70px;
    }
  }
  // This mar-bot-30 is mainly for sidebar widgets spacing
  &-bot-30 {
    margin-bottom: 30px;
  }
}

// Show/hide on desktop devices only
.show-desktop {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.hide-desktop {
  @media screen and (min-width: 48em) {
    display: none;
  }
}
.hide-lg {
  @media screen and (max-width: 1280px) {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    display: inline-block;
  }
}

// Background Colours
.bg {
  &-white {
    background-color: $x-palette-white;
  }
  &-none {
    background-color: transparent;
  }
  &-black {
    background-color: getColor(black);
  }
}

// Borders
// Border generator mixin
@mixin x-default-border($border-color) {
  border: 2px solid $border-color;
  &-left {
    border-left: 2px solid $border-color;
  }
  &-right {
    border-right: 2px solid $border-color;
  }
  &-bottom {
    border-bottom: 2px solid $border-color;
  }
}
.bdr {
  &-primary {
    @include x-default-border(getColor(primary));
  }
  &-white {
    @include x-default-border($x-palette-white);
  }
  &-gray {
    @include x-default-border(getColor(secondary));
  }
  &-transparent {
    @include x-default-border(transparent);
  }
}
