// Included the ol tag too incase dev forgets to add .wmnds-ordered-list class.
// The ol:not([class*="wmnds-"]) line makes sure we don't target any wmnds components that are using the a tag such as the breadcrumbs

.wmnds-ordered-list,
.wmnds-html ol:not([class*="wmnds-"]) {
  position: relative;
  counter-reset: item;
  padding-inline-start: $size-lg;

  a,
  .wmnds-link {
    display: inline;
  }

  ol,
  ul:not(.wmnds-unordered-list) {
    position: relative;
    margin-top: $size-md;
    counter-reset: item;
    padding-inline-start: $size-lg;
  }

  li {
    display: block;
    position: relative;

    &:before {
      content: counters(item, ".") ".";
      position: absolute;
      left: -1.5rem;
      counter-increment: item;
    }
  }

  // Create correct spacing for indent allowing for increase in counter length
  $selector: "ol:not([class*='wmnds-']) li";
  @for $i from 0 through 5 {
    #{repeater($selector, $i, " > ")}:before {
      left: -#{1.25 + (($i + 1) * 0.8rem)};
    }
  }
}
