.wmnds-ordered-list,
ol {
  counter-reset: item;
  padding-inline-start: 0;

  a,
  .wmnds-link {
    display: inline;
  }

  ol,
  ul:not(.wmnds-unordered-list) {
    counter-reset: item;
    padding-inline-start: $size-lg;
  }

  li {
    display: block;

    &:before {
      content: counters(item, ".") ".";
      margin-right: $size-xsm;
      counter-increment: item;
    }
  }
}
