{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Images" %}
{% set section = "Styles" %}

{% block content %}
{# About #}
<h2>About</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
    <li>An image tells a story, communicates a complex idea or supports page content by providing further details.</li>
</ul>
{# When to #}
<h3>When to use it?</h3>
<ul>
    <li>When there is a clear user need.</li>
    <li>When an image serves a clear functional purpose.</li>
    <li>All images, except decorative, must have alt text that describes the content and function of the image. This tells users using screen readers what information the image provides.</li>
</ul>
{# When not to #}
<h3>When not to use it?</h3>
<ul>
    <li>When an image is an unnecessary decoration.</li>
    <li>When an image would create visual noise, which detracts attention away from the page content. This can distract the user from completing their task.</li>
</ul>
<p>For more guidance on how to use images, please check <a href="https://wmca.assetbank-server.com/assetbank-wmca/action/viewAsset?id=134&index=0&total=1&view=viewSearchItem" title="WMN Brand Guidelines" target="_blank">WMN brand guidelines</a>.</p>

{% endblock %}
