{% macro wmndsContentTilesNormal(params) %}
{% set class = ' ' + params.classModifiers if params.classModifiers %}

<div class="wmnds-content-tile{{class}}">
  <h2 class="wmnds-content-tile__title">Major Roadworks and events</h2>
  {# Copy #}
  <div class="wmnds-content-tile__copy">
    {% if params.copy %}
      {{params.copy | safe | trim}}
    {% else %}
      <p>See all major roadworks and events. These could affect your journey, plan ahead.</p>
    {% endif %}
    {# Read more #}
    {% if params.readMore %}
      <a href="#" class="wmnds-link wmnds-float-right wmnds-content-tile__read-more">Read more</a>
    {% endif %}
  </div>
</div>
{% endmacro %}