.wmnds-website-subnav {
  display: none;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: $size-xsm;
  }

  hr {
    margin: $size-md 0 $size-lg;
  }

  @media all and (min-width: $breakpoint-lg) {
    display: block;
  }
}
