.wmnds-sign-in {
  padding: $size-sm 0;
  color: $white;
  background-color: get-color(primarydark);

  &__link {
    color: $white;
    font-family: $x-heading-font-family;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
