&.wmnds-sign-in {
  padding: $size-sm 0;
  color: $white;
  background-color: get-color(primary, 50, dark);

  &__link {
    color: $white;
    font-family: $x-heading-font-family;
    font-weight: 700;
    text-decoration: none;

    .wmnds-btn__icon {
      vertical-align: top;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
