{% raw %}
{% from "tfwmdss/components/in-text-step/_in-text-step.njk" importtfwmdsdsInTextStep %}

{{
   tfwmdssInTextStep({
      items: [
         {
            contentText: "Step text must end with a full stop.",
            contentHTML: null
         },
         {
            contentText: "Step text must end with a full stop.",
            contentHTML: null
         },
         {
            contentText: "Step text must end with a full stop.",
            contentHTML: null
         }
      ]
   })
}}
{% endraw %}
