{% raw %}
{% from "tfwmds/components/warning-text/_warning-text.njk" import tfwmdsWarningText %}

{{
   tfwmdsWarningText({
      contentText: null,
      contentHTML: "Lorem <a href='#' title='lorem' target='_blank'>ipsum</a> dolar sit...",
      classes: null,
      icon: null
    })
}}
{% endraw %}
