{% macro tfwmdsWarningText(params) %}

{# Imports #}
{% from "tfwmds/components/icon/_icon.njk" import tfwmdsIcon %}

{# Set #}
{% set contentText = params.contentText if params.contentText else "Lorem ipsum dolar sit..." %}
{% set contentHTML = params.contentHTML if params.contentHTML else null %}
{% set icon = params.icon if params.icon else "general-warning-triangle" %} {# set svg icon #}
{% set classes = params.classes if params.classes %} {# set svg icon #}
{% set _content = contentHTML | safe if contentHTML else contentText %} {# change content based on what user has input #}

<div class="tfwmds-warning-text {{classes}}">
  {% if icon %}
    {{
      tfwmdsIcon({
        icon: icon,
        class: 'tfwmds-warning-text__icon'
      })
    }}
  {% endif %}

  {{_content}}
</div>

{% endmacro %}