&.wmnds-content-tile__container {
  &-wrapper {
    width: 335px;
    margin-bottom: $size-sm;
  }

  &-star {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-left: 3.5rem;
    fill: get-color("secondary");
  }

  &-bus {
    margin-right: $size-lg;
    margin-bottom: $size-sm;
  }

  .wmnds-disruption-indicator-medium--narrow-travel-updates {
    &-bus {
      width: 150px;
      margin-bottom: 10px;
      padding: 0.7rem;

      .wmnds-disruption-indicator-medium__icon--right {
        float: right;
      }

      .wmnds-disruption-indicator-medium__icon--left {
        margin-right: 25px;
      }
    }
  }

  .wmnds-msg-help {
    display: block;
    width: 335px;
  }

  .wmnds-grid__bus {
    width: 100%;
  }
}
