.wmnds-content-tile--container {
  &__wrapper {
    width: 335px;
    margin-bottom: $size-sm;

    &--bus {
      margin-right: $size-lg;
      margin-bottom: $size-sm;
    }
  }

  &__bus {
    display: flex;
    width: 150px;

    &--star {
      width: 2rem;
      height: 2rem;
      margin-left: 3.5rem;
      fill: get-color("secondary");
    }
  }

  .wmnds-disruption-indicator-medium--narrow {
    &-bus {
      width: 150px;
      margin-bottom: 10px;
      padding: 0.7rem;

      .wmnds-disruption-indicator-medium__icon--right {
        float: right;
      }

      .wmnds-disruption-indicator-medium__icon--left {
        margin-right: 25px;
      }
    }
  }

  .wmnds-msg-help {
    width: 335px;
  }
}
