&.wmnds-feedback-loop {
  // Add full-width blue border on desktop large display
  @media all and (min-width: $breakpoint-xl) {
    border-bottom: $size-sm solid get-color(cta);
  }

  .wmnds-link,
  .wmnds-btn--link {
    color: $white;
  }

  // Override container defaults
  .wmnds-container {
    padding: $size-xs $size-md;
    overflow: hidden;
    color: $white;
    background-color: get-color(cta);
  }

  // A bite more spacing on mobile
  &__useful {
    margin-bottom: $size-md;
    color: $white;
  }

  &__form {
    display: none;

    .wmnds-fe-label {
      font-weight: bold;
    }
  }

  // Sent state
  &__sent-msg {
    display: none;
  }

  .wmnds-is--sent {
    & > * {
      display: none;
    }

    > .wmnds-feedback-loop__sent-msg {
      display: block;
    }
  }

  &.wmnds-is--open {
    .wmnds-container {
      padding: $size-md;
      border-top: $size-sm solid get-color(cta);
      border-right: 1px solid get-color(cta);
      border-left: 1px solid get-color(cta);
      color: initial;
      background-color: $white;
    }

    .wmnds-link,
    .wmnds-btn--link {
      color: get-color(cta);
    }

    .wmnds-feedback-loop {
      &__questions {
        display: none;
      }

      &__form {
        display: block;
      }
    }
  }
}

// When on desktop then the feedback-loop should appear on one line
@media all and (min-width: $breakpoint-md) {
  .wmnds-feedback-loop {
    &__useful {
      margin: 0;
      float: left;
    }

    &__wrong {
      float: right;
    }
  }
}
