{% macro wmndsContentTileTravelTips(params) %}
<div class="wmnds-content-tile">
  <h2 class="wmnds-content-tile__title">Travel tips</h2>

  <div class="wmnds-content-tile__copy">
    <p>You will still be able to get to where you need to go, but consider the following:</p>
  </div>

  <div class="wmnds-content-tile__block">
    <span>Plan ahead and leave more time for your journey:</span>
    If you travel in the Five Ways area you’ll need more time for your journey to take account of the closure of Five
    Ways underpass and changes along Broad Street.
  </div>

  <div class="wmnds-content-tile__block">
    <span>Use public transport wherever possible:</span> This is to reduce congestion on key roads in and out of the
    city centre.
  </div>

  <div class="wmnds-content-tile__block">
    <span>Travel off-peak:</span> Roads will be quieter if you are able to travel off-peak. The busiest time to travel
    during weekdays is usually before 09:30 and after 15:30.
  </div>

  <div class="wmnds-content-tile__block">
    <span>Consider car sharing:</span> In recent months the number of people car-sharing along Hagley Road has increased
    by almost 10%. Have you considered joining them? Sharing your journey with friends, family or colleagues to reduce
    the amount of cars on the road.
  </div>

  <div class="wmnds-content-tile__block">
    <span>Think about your options:</span> There will be
    <span class="wmnds-content-tile__underline"> changes to bus stops and routes</span> travelling in and out of
    Birmingham city centre and along Broad Street.
  </div>

  <div class="wmnds-content-tile__block">
    <span>If you work, speak to your employer</span> about whether there is any flexibility in your hours or if there
    are any times when you could avoid travelling altogether, such as working from home.
  </div>
</div>
{% endmacro %}
