// Vars
@import "../wmnds/assets/sass/vars";

// Mixins
@import "../wmnds/assets/sass/mixins";

@import "_partials/component-example/component-example";

// Styleguide page specific styles
@import "pages/home";
@import "pages/styles/colour-palettes/colorPalette";
@import "pages/styles/icons/icons";

body {
  background-color: get-color(background);
}

.wmnds-website-inline-code {
  padding: $size-xs;
  color: get-color(primary);
  background: get-color(background);
  @include type-setting(4);
}
