// Vars
@import "../wmnds/assets/sass/vars";

// Mixins
@import "../wmnds/assets/sass/mixins";

// Other
@import "_partials/component-example/component-example";
@import "_partials/nav/subnav";

// Styleguide page specific styles
@import "pages/home";
@import "pages/styles/colour-palettes/colorPalette";
@import "pages/styles/icons/icons";

.wmnds-website-inline-code {
  padding: $size-xs;
  color: get-color(primary);
  background: $white;
  @include type-setting(4);
}

.wmnds-website-summary-content {
  background: get-color(primary);

  .white {
    color: $white;
  }

  &__white {
    color: $white;
  }

  .wmnds-link .white {
    color: $white;
  }

  .wmnds-content-card {
    border-bottom-color: get-color(secondary);
  }

  .emphasised {
    font-size: 1.4375rem;
    line-height: 1.5em;
  }
}
