// Vars
@import "../wmnds/assets/sass/vars";

// Mixins
@import "../wmnds/assets/sass/mixins";

// Other
@import "_partials/component-example/component-example";
@import "_partials/nav/subnav";

// Styleguide page specific styles
@import "pages/home";
@import "pages/styles/colour-palettes/colorPalette";
@import "pages/styles/icons/icons";

.wmnds-website-inline-code {
  padding: $size-xs;
  color: get-color(primary);
  background: $white;
  @include type-setting(5);
}

// This is to style how the sub-heading appears above the h1 on component/pattern pages
.wmnds-h3 + h1 {
  margin-top: 0.5rem;
}
