{% macro wmndsDisruptionIndicatorMedium(params) %}
{% from "components/icon/_icon.njk" import wmndsIcon %}

{% set strongText = params.strongText if params.strongText else "Indicator text" %} {# set button text #}
{% set iconRight = params.iconRight if params.iconRight %} {# set icon right classes #}
{% set iconLeft = params.iconLeft if params.iconLeft %} {# set svg left reference #}

{% set class = ' ' + params.classModifiers if params.classModifiers %}
{% set iconClassModifier = ' wmnds-disruption-indicator-medium--with-icon' if ( params.iconLeft or params.iconRight ) %}

{{params.comment | safe}}

<div class="wmnds-disruption-indicator-medium{{iconClassModifier}}{{class}}">
  {% if iconLeft%}
    {#- Get SVG icon -#}
    {{
      wmndsIcon({
        icon: iconLeft,
        class: 'wmnds-disruption-indicator-medium__icon wmnds-disruption-indicator-medium__icon--left'
      }) | indent(2) | trim
    }}
  {% endif %}
  47
  {% if iconRight%}
    {#- Get SVG icon -#}
    {{
      wmndsIcon({
        icon: iconRight,
        class: 'wmnds-disruption-indicator-medium__icon wmnds-disruption-indicator-medium__icon--right'
      }) | indent(2) | trim
    }}
  {% endif %}
</div>

{% endmacro %}