.wmnds-disruption-indicator-medium {
  display: inline-block;
  padding: $padding-sm $padding-md;
  border-radius: 5px;
  color: $white;
  background-color: get-color(information);
  font-weight: bold;

  &--with-icon {
    padding: $padding-sm;
  }

  &--warning {
    background-color: get-color(warning);
  }

  &--error {
    background-color: get-color(error);
  }

  &--severe {
    background-color: $black;
  }

  &--success {
    background-color: get-color(success);
  }

  &--narrow {
    padding: $padding-xs;
  }

  &__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    fill: $white;
    vertical-align: middle;

    &--left {
      margin-right: $margin-sm;
    }

    &--right {
      margin-left: $margin-sm;
    }
  }
}
