{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Feedback loop" %}
{% set section="Patterns" %}

{% from "www/_partials/component-example/component-example.njk" import compExample %}
{% from "tfwmds/patterns/feedback-loop/_feedback-loop.njk" import tfwmdsFeedbackLoop %}

{% set metaFields = [{name: 'contentType', value: 'content'}, {name: 'contentName', value: 'PageTitle'}, {name: 'contentLastEditor', value: 'Editor name'}, {name: 'serviceName', value: 'Transport for West Midlands Design system'}, {name: 'contentLastUpdated', value: '2021-03-19T11:18:15.532Z'}] %}

{% block content %}
{# About #}
<h2>About</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>
    Collects user feedback to allow measure user satisfaction, effectiveness of the page both in-terms of content and usability and capture bugs.
  </li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>Every page must have feedback loop.</li>
  <li>It must be placed directly above the footer.</li>
</ul>

<br><br>

{{
  compExample([
    tfwmdsFeedbackLoop({
      id: 'fb',
      metaFields: metaFields,
      formFields: [
        {
          type: 'textarea',
          name: 'contentWrongComment',
          labelText: 'What is wrong with this page?',
          placeholder: 'Text',
          required: true
        },
        {
          type: 'input',
          name: 'emailAddress',
          labelText: 'Email address (optional)',
          placeholder: 'Text'
        },
        {
          type: 'checkbox',
          name: 'consent',
          labelText: 'I consent to being contacted about the issue I am reporting (optional)'
        },
        {
          type: 'checkbox',
          name: 'privacy',
          labelHTML: 'I agree to <a href="#">WMCA’s Privacy Policy</a>',
          required: true
        }
      ]
    })
  ],
  {
    componentPath: "tfwmds/patterns/feedback-loop/",
    njk: true,
    njkProps: tfwmdsFeedbackLoopProps,
    js: true
  })
}}

<br><br>
<h3>Open</h3>
{{
  compExample([
    tfwmdsFeedbackLoop({
      isOpen: true,
      id: 'fb-open',
      metaFields: metaFields,
      formFields: [
        {
          type: 'textarea',
          name: 'contentWrongComment',
          labelText: 'What would make this page more useful?',
          placeholder: 'Text',
          required: true
        }
      ]
    })
  ],
  {
    componentPath: "tfwmds/patterns/feedback-loop/",
    njk: false,
    njkProps: tfwmdsFeedbackLoopProps,
    js: true
  })
}}

{% endblock %}