{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Autocomplete" %}
{% set section="Patterns" %}

{% block content %}

  <br><br>
  {# With disruption indicator #}
  <h2>With disruption indicator</h2>
  {% from "components/autocomplete/_autocomplete.njk" import wmndsAutocomplete %}
  {% from "www/_partials/component-example/component-example.njk" import compExample %}
  {{
    compExample([
      wmndsAutocomplete({
        query: ''
      })
    ]) | trim
  }}
  {# End Search #}


  {{
    compExample([
      wmndsAutocomplete({
        showResults: true,
        query: 'x20'
      })
    ]) | trim
  }}

{% endblock %}