{% macro wmndsContentCardTravelUpdates(params) %}
{# imports #}
{% from "wmnds/components/content-card/_content-card.njk" import wmndsContentCard %}
{% from "wmnds/components/disruption-indicator/large/_large.njk" import wmndsDisruptionIndicatorLarge as largeDisruption %}
{% from "wmnds/components/disruption-indicator/medium/_medium.njk" import wmndsDisruptionIndicatorMedium as mediumDisruption %}
{% from "wmnds/components/message/help/_help.njk" import wmndsMsgHelp %}
{# Set #}
{% set largeDisruptionsAreas = ["Hagley Road", "Ring Road"] %}
{% set buses = ["9", "10", "12", "12A", "13", "13A", "126", "X8", "X10", "23"] %}

{% call wmndsContentCard({ variant: "wmnds-content-card--travel-updates"}) %}
    <div class="wmnds-p-sm wmnds-col-1">
        <h2 class="wmnds-content-card__title">Travel updates</h2>
        <p>All routes through this disruption</p>
        <!-- Large disruption indicators -->
        <h3>Roads</h3>
        {% for area in largeDisruptionsAreas %}
        <div class="wmnds-m-t-sm">
            {{
                largeDisruption({
                strongText: area,
                text: "Usual traffic",
                iconLeft: "modes-isolated-roads",
                iconRight: "general-success"
                }) | trim | indent(8)
            }}
        </div>
        {% endfor %}
        <!-- Medium disruptions indicators -->
        <h3>Bus routes</h3>
        <div class="wmnds-grid">
            {#- Loop through buses -#}
            {% for bus in buses %}
            <div class="wmnds-col-auto wmnds-m-r-md">
                {{
                    mediumDisruption({
                    text: bus,
                    classModifiers: "wmnds-disruption-indicator-medium--success wmnds-disruption-indicator-medium--narrow-travel-updates wmnds-disruption-indicator-medium--narrow-travel-updates-bus",
                    iconLeft: "modes-isolated-bus",
                    iconRight: "general-success"
                    }) | trim | indent(12)
                }}
                <div class="wmnds-grid wmnds-grid--justify-around wmnds-p-t-sm wmnds-p-b-sm">
                    <svg class="wmnds-disruption-indicator-medium-star">
                        <use xlink:href="/img/wmnds-icons.min.svg#wmnds-general-star-empty" href="/img/wmnds-icons.min.svg#wmnds-general-star-empty"></use>
                    </svg>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Help message -->
        {{
            wmndsMsgHelp({
                message: 'Save bus routes to your homepage by pressing the star icon'
            }) | indent(12) | trim
        }}
    </div>
{% endcall %}

{% endmacro %}
