{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Progress indicator" %}
{% set section="Patterns" %}
{# Imports #}
{% from "wmnds/patterns/progress-indicator/_progress-indicator.njk" import wmndsProgressIndicator %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
  <h2>About</h2>
  {# What #}
  <h3>What does it do?</h3>
  <ul>
    <li>Shows the user where they are in a process</li>
  </ul>
  {# When #}
  <h3>When to use it?</h3>
  <ul>
    <li>During a multiple step process, such as setting up a direct debit</li>
    <li>During a process which is only completed on the website</li>
  </ul>
  {# When not #}
  <h3>When not to use it?</h3>
  <ul>
    <li>If the process takes the user to another website at any point</li>
    <li>If the process is a single step</li>
  </ul>

  {{
    compExample([wmndsProgressIndicator()])
  }}
{% endblock %}