{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Progress indicator" %}
{% set section="Patterns" %}

{% block content %}
  {% from "components/progress-indicator/_progress-indicator.njk" import wmndsProgressIndicator %}
  {% from "www/_partials/component-example/component-example.njk" import compExample %}
  {{
    compExample([wmndsProgressIndicator()])
  }}
{% endblock %}