// These vars control icon size and the margin right from the icon. By setting here we can ensure the message_info stays indented by same amount as title.
$wmnds-msg-icon-size: 35px;
$wmnds-msg-icon-margin-right: $size-sm;
// controls close button width and ensures header padding right is offset correctly
$wmnds-msg-close-btn-width: 5rem;

.wmnds-msg-summary {
  position: relative;
  padding: $size-sm;
  border: 1px solid get-color(information);

  &__header {
    display: block;
  }

  &__icon {
    width: $wmnds-msg-icon-size;
    height: $wmnds-msg-icon-size;
    margin-right: $wmnds-msg-icon-margin-right;
    fill: get-color(information);
  }

  &__title {
    width: calc(100% - (35px + #{$size-sm}));
    margin: 0.35rem 0;

    @media all and (max-width: $breakpoint-md - 1) {
      width: 100%;
      margin: $size-xsm 0;
    }
  }

  &__icon,
  &__title {
    display: inline-block;
    vertical-align: middle;
  }

  &__info {
    display: block;
    @media all and (min-width: $breakpoint-md) {
      padding-left: calc(#{$wmnds-msg-icon-size} + #{$wmnds-msg-icon-margin-right});
    }
  }

  &__close {
    display: flex;
    position: absolute;
    top: $size-sm;
    right: $size-sm;
    width: $wmnds-msg-close-btn-width;
    height: $wmnds-msg-icon-size;
    margin: 0 $size-xs;
    padding: 0;
    border: 0;
    background: none;
    font-size: $size-md;
    justify-content: space-between;
    align-items: center;

    svg {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: $size-sm;
      fill: get-color(primary);
    }

    @media screen and (min-width: $breakpoint-md) {
      & + .wmnds-msg-summary__header {
        padding-right: $wmnds-msg-close-btn-width + $size-md;
      }
    }
  }

  // MESSAGE MODIFIERS - info is the default (above)

  // Success
  &--success {
    border-color: get-color(success);

    .wmnds-msg-summary__icon {
      fill: get-color(success);
    }
  }

  // Sucess fill
  &--success-fill {
    border-color: get-color(success);
    color: $white;
    background-color: get-color(success);

    .wmnds-msg-summary__icon {
      fill: $white;
    }

    .wmnds-msg-summary__close {
      color: $white;

      svg {
        fill: $white;
      }
    }
  }

  // Sucess fill no icon
  &--success-fill-no-icon {
    border-color: get-color(success);
    color: $white;
    background-color: get-color(success);

    .wmnds-msg-summary__icon {
      display: none;
    }
  }

  // Warning
  &--warning {
    border-color: get-color(warning);

    .wmnds-msg-summary__icon {
      fill: get-color(warning);
    }
  }

  // Warning
  &--error {
    border-color: get-color(error);

    .wmnds-msg-summary__icon {
      fill: get-color(error);
    }
  }
}
