{% macro wmndsBreadcrumb(params) %}

<nav aria-label="Breadcrumb" class="wmnds-breadcrumb">
  <ol class="wmnds-breadcrumb__list">
    <li class="wmnds-breadcrumb__list-item">
      <a href="/" class="wmnds-breadcrumb__link">
        Home
      </a>
    </li>
    <li class="wmnds-breadcrumb__list-item">
      <a href="../../" class="wmnds-breadcrumb__link">
        Sub page
      </a>
    </li>
    <li class="wmnds-breadcrumb__list-item">
      <a href="../" class="wmnds-breadcrumb__link">
        Sub sub page
      </a>
    </li>
    <li class="wmnds-breadcrumb__list-item">
      <a href="./" class="wmnds-breadcrumb__link wmnds-breadcrumb__link--current" aria-current="page">
        Current page
      </a>
    </li>
  </ol>
</nav>

{% endmacro %}