{% macro wmndsSummary(params) %}
{# Imports #}
{% from "wmnds/components/form-elements/question/_question.njk" import wmndsQuestion %}
{% from "wmnds/components/table/_table.njk" import wmndsTable %}

{# Set vars and defaults #}
{% set question = params.question if params.question else "How would you...?" %}
{% set html = params.html if params.html %}
{% set tables = params.tables if params.tables %}
{% set button = params.button if params.button %}


<div class="bg-white wmnds-p-md">
    {{
        wmndsQuestion({
            text: question
        })
    }}

    {% if tables %}
        {% for table in tables %}
            {{ table | safe }}
        {% endfor %}
    {% else %}
    {{
        [
            wmndsTable({
                title: "Personal Details",
                hideHeader: true,
                classes: "wmnds-m-b-xl"
            }),

            wmndsTable({
                title: "Ticket Details",
                hideHeader: true,
                tableRows: [
                    [
                        {
                            contentText: "Cell"
                        },
                        {
                            contentText: "Cell"
                        },
                        {
                            contentText: "Cell",
                            classes: "wmnds-text-align-right"
                        }
                    ],
                    [
                        {
                            contentText: "Cell"
                        },
                        {
                            contentText: "Cell"
                        },
                        {
                            contentText: "Cell",
                            classes: "wmnds-text-align-right"
                        }
                    ]
                ],
                classes: "wmnds-m-b-xl"
            }),

            wmndsTable({
                title: "Direct Debit",
                hideHeader: true,
                firstCellIsHeader: true,
                tableRows: [
                    [
                        {
                            contentText: "Cell"
                        },
                        {
                            contentText: "Cell"
                        },
                        {
                            contentText: "Cell",
                            classes: "wmnds-text-align-right"
                        }
                    ],
                    [
                        {
                            contentText: "Cell"
                        },
                        {
                            contentText: "Cell"
                        },
                        {
                            contentText: "Cell",
                            classes: "wmnds-text-align-right"
                        }
                    ],
                    [
                        {
                            contentText: "Cell"
                        },
                        {
                            contentText: "Cell"
                        },
                        {
                            contentText: "Cell",
                            classes: "wmnds-text-align-right"
                        }
                    ],
                    [
                        {
                            contentText: "Cell"
                        },
                        {
                            contentText: "Cell"
                        },
                        {
                            contentText: "Cell",
                            classes: "wmnds-text-align-right"
                        }
                    ]
                ],
                classes: "wmnds-m-b-xl"
            })
        ] | join("\n    ") | safe
    }}
    {% endif %}



    {{ html | safe }}
    {{ params.button | safe }}
</div>

{% endmacro %}
