{% raw %}
{% from "wmnds/components/disruption-indicator/large/_large.njk" import wmndsDisruptionIndicatorLarge %}

{{
  wmndsDisruptionIndicatorLarge({
    primaryText: "Minor disruption",
    contentText: "A38",
    mode: "train",
    iconRight: "general-warning-triangle",
    iconLeft: "modes-isolated-bus",
    iconRightBtn: false,
    classes: "wmnds-disruption-indicator-large--error"
  })
}}
{% endraw %}
