{% raw %}
{% from "wmnds/components/disruption-indicator/large/large.njk" import wmndsDisruptionIndicatorLarge %}

{{
  wmndsDisruptionIndicatorLarge({
    primaryText: "Minor disruption",
    mode: "train",
    contentText: "A38",
    iconRight: "general-warning-triangle",
    iconLeft: "modes-isolated-bus",
    classes: "wmnds-disruption-indicator-large--error"
  })
}}
{% endraw %}
