{% macro wmndsDisruptionIndicatorLarge(params) %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}

{% set strongText = params.strongText if params.strongText else "Indicator text" %} {# set button text #}
{% set iconRight = params.iconRight if params.iconRight %} {# set icon right classes #}
{% set iconLeft = params.iconLeft if params.iconLeft %} {# set svg left reference #}
{% set classModifier = ' wmnds-disruption-indicator-large--' + params.classModifier if params.classModifier else "" %}

{{params.comment | safe}}
<div class="wmnds-disruption-indicator-large{{classModifier}}">
  <div class="wmnds-disruption-indicator-large__left-wrapper">
    <span class="wmnds-disruption-indicator-large__left-icon-wrapper">
      {# Get SVG icon for mode #}
      {{-
        wmndsIcon({
          icon: iconLeft,
          class: 'wmnds-disruption-indicator-large__icon'
        }) | indent(2) | trim
      }} <br>{{params.mode}}
    </span>
    <span class="wmnds-disruption-indicator-large__text">
      <strong>{{strongText}}</strong><br>
      {{- params.text }}
    </span>
  </div>

  {#- If params.iconRightBtn is true -#}
  {% if params.iconRightBtn %}
  <button class="wmnds-disruption-indicator-large__btn" aria-label="Delete favourite - {{params.mode}} - {{ params.text }}">
    {# Get SVG icon #}
    {{-
      wmndsIcon({
        icon: iconRight,
        class: 'wmnds-disruption-indicator-large__icon'
      }) | indent(4) | trim
    }}
  </button>
  {#- else -#}
  {% else %}
  {#- Get SVG icon #}
  {{
    wmndsIcon({
      icon: iconRight,
      class: 'wmnds-disruption-indicator-large__icon wmnds-disruption-indicator-large__icon--right'
    }) | indent(2) | trim
  -}}
  {% endif %}
</div>

{% endmacro %}