{% macro wmndsDisruptionIndicatorLarge(params) %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}

{% set primaryText = params.primaryText if params.primaryText else "Indicator text" %} {# set button text #}
{% set contentText = params.contentText if params.contentText %} {# set button text #}
{% set mode = params.mode if params.mode else "bus" %} {# set mode #}
{% set iconRight = params.iconRight if params.iconRight %} {# set icon right classes #}
{% set iconLeft = params.iconLeft if params.iconLeft %} {# set svg left reference #}
{% set iconRightBtn = params.iconRightBtn if params.iconRightBtn else false %} {# set icon right btn value #}
{% set classes = ' ' + params.classes if params.classes else "" %}
{% set comment = params.comment | safe if params.comment %}

{{ comment }}
<div class="wmnds-disruption-indicator-large{{classes}}">
  <div class="wmnds-disruption-indicator-large__left-wrapper">
    <span class="wmnds-disruption-indicator-large__left-icon-wrapper">
      {# Get SVG icon for mode #}
      {{
        wmndsIcon({
          icon: iconLeft,
          class: 'wmnds-disruption-indicator-large__icon'
        })
      }} <br>{{mode}}
    </span>
    <span class="wmnds-disruption-indicator-large__text">
      <strong>{{primaryText}}</strong><br>
      {{ contentText }}
    </span>
  </div>

  {#- If params.iconRightBtn is true -#}
  {% if iconRightBtn %}
  <button class="wmnds-disruption-indicator-large__btn" aria-label="Delete favourite - {{mode}} - {{ primaryText }}">
    {# Get SVG icon #}
    {{
      wmndsIcon({
        icon: iconRight,
        class: 'wmnds-disruption-indicator-large__icon'
      })
    }}
  </button>
  {#- else -#}
  {% else %}
  {#- Get SVG icon #}
  {{
    wmndsIcon({
      icon: iconRight,
      class: 'wmnds-disruption-indicator-large__icon wmnds-disruption-indicator-large__icon--right'
    })
  }}
  {% endif %}
</div>

{% endmacro %}