{% macro wmndsDisruptionIndicatorLarge(params) %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}

{% set _primaryText = params.primaryText if params.primaryText else "Indicator text" %} {# set button text #}
{% set _iconRight = params.iconRight if params.iconRight %} {# set icon right classes #}
{% set _iconLeft = params.iconLeft if params.iconLeft %} {# set svg left reference #}
{% set _classes = ' wmnds-disruption-indicator-large--' + params.classes if params.classes else "" %}

{{params.comment | safe}}
<div class="wmnds-disruption-indicator-large{{_classes}}">
  <div class="wmnds-disruption-indicator-large__left-wrapper">
    <span class="wmnds-disruption-indicator-large__left-icon-wrapper">
      {# Get SVG icon for mode #}
      {{-
        wmndsIcon({
          icon: _iconLeft,
          class: 'wmnds-disruption-indicator-large__icon'
        }) | indent(2) | trim
      }} <br>{{params.mode}}
    </span>
    <span class="wmnds-disruption-indicator-large__text">
      <strong>{{_primaryText}}</strong><br>
      {{- params.contentText }}
    </span>
  </div>

  {#- If params.iconRightBtn is true -#}
  {% if params.iconRightBtn %}
  <button class="wmnds-disruption-indicator-large__btn" aria-label="Delete favourite - {{params.mode}} - {{ params.text }}">
    {# Get SVG icon #}
    {{-
      wmndsIcon({
        icon: _iconRight,
        class: 'wmnds-disruption-indicator-large__icon'
      }) | indent(4) | trim
    }}
  </button>
  {#- else -#}
  {% else %}
  {#- Get SVG icon #}
  {{
    wmndsIcon({
      icon: _iconRight,
      class: 'wmnds-disruption-indicator-large__icon wmnds-disruption-indicator-large__icon--right'
    }) | indent(2) | trim
  -}}
  {% endif %}
</div>

{% endmacro %}