.wmnds-disruption-indicator-large {
  display: block;
  position: relative;
  padding: $padding-sm calc(#{$padding-sm} + 36px) $padding-sm $padding-sm;
  border-radius: 2px;
  color: $white;
  background-color: get-color(success);

  &--warning {
    background-color: get-color(warning);
  }

  &--error {
    background-color: get-color(error);
  }

  &--severe {
    background-color: $black;
  }

  &__left-wrapper {
    display: block;
  }

  &__left-icon-wrapper {
    display: inline-block;
    width: 47px;
    text-align: center;
    vertical-align: middle;
  }

  &__icon {
    width: 36px;
    height: 36px;
    fill: $white;
  }

  &__btn {
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
  }

  &__icon--right,
  &__btn {
    position: absolute;
    top: 0;
    right: $padding-sm;
    bottom: 0;
    width: 36px;
    height: 36px;
    margin: auto;
  }

  &__text {
    width: calc(100% - (47px + (#{$padding-sm} * 2)));
    margin: 0 $margin-sm;
  }

  &__text,
  &__icon {
    display: inline-block;
    vertical-align: middle;
  }
}
