{% macro wmnLink(params) %}
{# set class names #}
{% if params.classNames %}
{% set classNames = params.classNames %}
{% endif %}
{# set button text #}
{% if params.text %}
{% set text = params.text %}
{% endif %}
{# set icon right classes #}
{% if params.iconRight %}
{% set iconRight = params.iconRight + "" %}
{% endif %}
{# set svg left reference #}
{% if params.iconLeft %}
{% set iconLeft = params.iconLeft %}
{% endif %}
{# set link url #}
{% if params.link %}
{% set link = params.link %}
{% endif %}
{# set link title #}
{% if params.linkTitle %}
{% set linkTitle = params.linkTitle %}
{% endif %}
{# set link target #}
{% if params.linkTarget %}
{% set linkTarget = params.linkTarget %}
{% endif %}

<a {% if params.link -%} href="{{ link }}" {%- endif %} {% if params.linkTitle -%} title="{{ linkTitle }}" {%- endif %} {% if params.linkTarget -%} target="{{ linkTarget }}" {%- endif %} class="wmnds-btn {% if params.classNames %} {{ classNames }} {% endif %} mar-bot-md" tabindex="0">
  <span>
    {%- if iconLeft %}
      <svg class="wmnds-btn__icon--left">
        <use xlink:href="{{ iconLeft }}"></use>
      </svg>
    {%- endif -%}

    {{ text }}

    {%- if iconRight %}
      <i class="wmnds-btn__icon--right {{ iconRight }}"></i>
    {%- endif %}
  </span>
</a>
{% endmacro %}