$btn-border-radius: 4px;
$btn-border-width: 2px;

.btn {
    font-weight: bold;
    border-radius: $btn-border-radius;
    cursor: pointer;
    display: inline-block;
    transition: ease-in-out background-color .5s;
            box-sizing: border-box;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 2px;

    div {
        padding: $padding-sm;
    }
}

.btn-block {
    display: block;
}

.btn__icon {
    padding-left: $padding-md;
}

.btn-disabled {
    background-color: getColor(btnDisabled);
    color: white;

    &:hover {
        background-color: mix(getColor(btnDisabled), black, 30);
    }

    &:active {
        background-color: mix(getColor(btnDisabled), black, 50);
    }
}

.btn-cta {
    background-color: getColor(cta);
    color: white;

    div {
        border: $btn-border-width solid transparent;
    }

    &:hover {
        background-color: mix(getColor(cta), black, 30);
    }

    &:visited {
        background-color: mix(getColor(cta), black, 50);
    }

    &:active {
        div {
            border: $btn-border-width solid white;
            padding: $padding-sm;
            border-radius: $btn-border-radius;
                    box-sizing: border-box;
               -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }
}

.btn-primary {
    background-color: getColor(primary);
    color: white;

    div {
        border: $btn-border-width solid transparent;
    }

    &:hover {
        background-color: mix(getColor(primary), white, 30);
    }

    &:visited {
        background-color: mix(getColor(primary), white, 50);
    }

    &:active {
        div {
            border: $btn-border-width solid getColor(primary);
            padding: $padding-sm;
            border-radius: $btn-border-radius;
                    box-sizing: border-box;
               -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }
}

.btn-secondary {
    background-color: white;
    color: getColor(primary);
    border: $btn-border-width solid getColor(primary);

    div {
        border: $btn-border-width solid transparent;
    }

    &:hover {
        div {
            background-color: mix(getColor(primary), white, 50);
        }
    }

    &:visited {
        div {
            background-color: mix(getColor(primary), white, 30);
        }
    }

    &:active {
        div {
            border: $btn-border-width solid getColor(primary);
            padding: $padding-sm;
            border-radius: $btn-border-radius;
                    box-sizing: border-box;
               -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }
}

.btn-start {
    background-color: getColor(success);
    color: white;

    div {
        border: $btn-border-width solid transparent;
    }

    &:hover {
        background-color: mix(getColor(success), black, 30);
    }

    &:visited {
        background-color: mix(getColor(success), black, 50);
    }

    &:active {
        div {
            border: $btn-border-width solid white;
            padding: $padding-sm;
            border-radius: $btn-border-radius;
                    box-sizing: border-box;
               -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }
}


.btn-destructive {
    background-color: getColor(warning);
    color: white;

    div {
        border: $btn-border-width solid transparent;
    }

    &:hover {
        background-color: mix(getColor(warning), black, 30);
    }

    &:visited {
        background-color: mix(getColor(warning), black, 50);
    }

    &:active {
        div {
            border: $btn-border-width solid white;
            padding: $padding-sm;
            border-radius: $btn-border-radius;
                    box-sizing: border-box;
               -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }
}