$btn-border-radius: 4px;
$btn-border-width: 2px;

.btn {
    font-weight: bold;
    border-radius: $btn-border-radius;
    padding: $padding-sm;
    cursor: pointer;
    display: inline-block;
    transition: ease-in-out background-color .5s;
    box-sizing: border-box;
}

.btn-block {
    display: block;
}

.btn-disabled {
    background-color: getColor(btnDisabled);
    color: white;

    &:hover {
        background-color: mix(getColor(btnDisabled), black, 30);
    }

    &:active {
        background-color: mix(getColor(btnDisabled), black, 50);
    }
}

.btn__btn-cta {
    background-color: getColor(cta);
    color: white;

    &:hover {
        background-color: mix(getColor(cta), black, 30);
    }

    &:active {
        background-color: mix(getColor(cta), black, 50);
    }
}

.btn-cta-primary {
    background-color: getColor(cta);
    color: white;
    border: $btn-border-width solid getColor(cta);
    padding: 0;
    box-sizing: border-box;

    div {
        border: $btn-border-width solid white;
        padding: $padding-sm;
        border-radius: $btn-border-radius;
        box-sizing: border-box;
    }

    &:hover {
        background-color: mix(getColor(cta), black, 30);
    }

    &:active {
        background-color: mix(getColor(cta), black, 50);
    }
}

.btn__btn-primary2 {
    background-color: getColor(primary);
    color: white;

    &:hover {
        background-color: mix(getColor(primary), black, 30);
    }

    &:active {
        background-color: mix(getColor(primary), black, 50);
    }
}

.btn__btn-secondary {
    background-color: transparent;
    color: getColor(primary);
    border: 1px solid getColor(primary);
}

.btn__btn-destructive {
    background-color: getColor(warning);
    color: white;

    &:hover {
        background-color: mix(getColor(warning), black, 30);
    }

    &:active {
        background-color: mix(getColor(warning), black, 50);
    }
}

.btn__btn-search {
    background-color: getColor(search);
    color: white;

    &:hover {
        background-color: mix(getColor(search), black, 30);
    }

    &:active {
        background-color: mix(getColor(search), black, 50);
    }
}

.btn__btn-start {
    background-color: getColor(success);
    color: white;

    &:hover {
        background-color: mix(getColor(success), black, 30);
    }

    &:active {
        background-color: mix(getColor(success), black, 50);
    }
}

.btn__icon {
    padding-left: $padding-md;
}