
.header {
  margin-bottom: $margin-xl;
  background-color: getColor(primary);;

  @media only screen and (max-width: 568px) { 
    height: 78px;
    padding: 0px;
    position: relative;
  }
}

#header-logo {
  width: 100px;

  @media only screen and (max-width: 568px) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    max-height: 2rem;
  }
}

.header__list {
    color: white;
    padding: 0;
    margin: 0;
}

.header__list__item {
    display: inline-block;
    line-height: 2rem;
    margin-left: $margin-lg;
}