<!-- @@ Head -->
{{ fileInclude 'src/views/components/shared/head.html' }}

<!-- @@ Header -->
{{ fileInclude 'src/views/styleguide/header/header.html' }}

<div class="container-lg">

    <h1>Buttons</h1>

    <div class="pure-g">
    
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 comnponent-details">
            <div class="btn btn-cta" tabindex="0">
                <div>
                    CTA Button No Icon
                </div>
            </div>
            <div class="pure-u-1 component-details">
                <strong>Class names</strong><br>
                .btn<br>
                .btn-cta<br><br>
                <strong>HTML Markup</strong><br>

<pre><code class="html">&lt;div class="btn btn-cta" tabindex="0"&gt;
    &lt;div&gt;
        [INSERT TEXT HERE]
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            
            </div>
        </div>

        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 comnponent-details">
            <div class="btn btn-cta">
                <div>
                    CTA Icon Button
                    <i class="fas fa-chevron-right btn__icon"></i>
                </div>
            </div>
            <div class="pure-g component-details">
                <div class="pure-u-1">
                    <strong>Class names</strong><br>
                    .btn<br>
                    .btn-cta<br>
                    .icon<br><br>
                    <strong>HTML Markup</strong><br>

<pre><code class="html">&lt;div class="btn btn-cta" tabindex="0"&gt;
    &lt;div&gt;
        [INSERT TEXT HERE]
        &lt;i class="fas fa-chevron-right btn__icon"&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                </div>
            </div>
        </div>

        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 comnponent-details">
            <div class="btn btn-primary">
                <div>
                    Primary Button No Icon
                </div>
            </div>
            <div class="pure-g component-details">
                <div class="pure-u-1">
                    <strong>Class names</strong><br>
                    .btn<br>
                    .btn-primary<br><br>
                    <strong>HTML Markup</strong><br>

<pre><code class="html">&lt;div class="btn btn-primary" tabindex="0"&gt;
    &lt;div&gt;
        [INSERT TEXT HERE]
        &lt;i class="fas fa-chevron-right btn__icon"&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                </div>
            </div>
        </div>

        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 comnponent-details">
            <div class="btn btn-primary" tabindex="0">
                <div>
                    Primary Icon Button
                    <i class="fas fa-chevron-right btn__icon"></i>
                </div>
            </div>
            <div class="pure-g component-details">
                <div class="pure-u-1">
                    <strong>Class names</strong><br>
                    .btn<br>
                    .btn-primary<br>
                    .icon<br><br>
                    <strong>HTML Markup</strong><br>

<pre><code class="html">&lt;div class="btn btn-primary" tabindex="0"&gt;
    &lt;div&gt;
        [INSERT TEXT HERE]
        &lt;i class="fas fa-chevron-right btn__icon"&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                </div>
            </div>
        </div>

        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 comnponent-details">
            <div class="btn btn-secondary" tabindex="0">
                <div>
                    Secondary Button No Icon
                </div>
            </div>
            <div class="pure-g component-details">
                <div class="pure-u-1">
                    <strong>Class names</strong><br>
                    .btn<br>
                    .btn-secondary<br><br>
                    <strong>HTML Markup</strong><br>

<pre><code class="html">&lt;div class="btn btn-secondary" tabindex="0"&gt;
    &lt;div&gt;
        [INSERT TEXT HERE]
        &lt;i class="fas fa-chevron-right btn__icon"&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                </div>
            </div>
        </div>

        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 comnponent-details">
            <div class="btn btn-secondary" tabindex="0">
                <div>
                    Secondary Icon Button
                    <i class="fas fa-chevron-right btn__icon"></i>
                </div>
            </div>
            <div class="pure-g component-details">
                <div class="pure-u-1">
                    <strong>Class names</strong><br>
                    .btn<br>
                    .btn-secondary<br>
                    .icon<br><br>
                    <strong>HTML Markup</strong><br>

<pre><code class="html">&lt;div class="btn btn-secondary" tabindex="0"&gt;
    &lt;div&gt;
        [INSERT TEXT HERE]
        &lt;i class="fas fa-chevron-right btn__icon"&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                </div>
            </div>
        </div>

        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 comnponent-details">
            <div class="btn btn-start" tabindex="0">
                <div>
                    Start Button
                    <i class="fas fa-chevron-right btn__icon"></i>
                </div>
            </div>
            <div class="pure-g component-details">
                <div class="pure-u-1">
                    <strong>Class names</strong><br>
                    .btn<br>
                    .btn-start<br>
                    .icon<br><br>
                    <strong>HTML Markup</strong><br>

<pre><code class="html">&lt;div class="btn btn-start" tabindex="0"&gt;
    &lt;div&gt;
        [INSERT TEXT HERE]
        &lt;i class="fas fa-chevron-right btn__icon"&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                </div>
            </div>
        </div>

        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 comnponent-details">
            <div class="btn btn-destructive" tabindex="0">
                <div>
                    Destructive Button No Icon
                </div>
            </div>
            <div class="pure-g component-details">
                <div class="pure-u-1">
                    <strong>Class names</strong><br>
                    .btn<br>
                    .btn-destructive<br><br>
                    <strong>HTML Markup</strong><br>

<pre><code class="html">&lt;div class="btn btn-destructive" tabindex="0"&gt;
    &lt;div&gt;
        [INSERT TEXT HERE]
        &lt;i class="fas fa-chevron-right btn__icon"&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                </div>
            </div>
        </div>

        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 comnponent-details">
            <div class="btn btn-destructive" tabindex="0">
                <div>
                    Destructive Icon Button
                    <i class="fas fa-chevron-right btn__icon"></i>
                </div>
            </div>
            <div class="pure-g component-details">
                <div class="pure-u-1">
                    <strong>Class names</strong><br>
                    .btn<br>
                    .btn-destructive<br>
                    .icon<br><br>
                    <strong>HTML Markup</strong><br>

<pre><code class="html">&lt;div class="btn btn-destructive" tabindex="0"&gt;
    &lt;div&gt;
        [INSERT TEXT HERE]
        &lt;i class="fas fa-chevron-right btn__icon"&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- @@ Footer -->
{{ fileInclude 'src/views/styleguide/footer/footer.html' }}

<!-- @@ Scripts -->
{{ fileInclude 'src/views/components/shared/scripts.html' }}

<link rel="stylesheet" href="$*cdn/css/styleguide.css" />
<!-- <script src="$*cdn/js/styleguide.min.js"></script> -->