<!-- @@ Head -->
{{ fileInclude 'src/views/components/shared/head.html' }}

<!-- @@ Header -->
{{ fileInclude 'src/views/styleguide/header/header.html' }}

<div class="container-lg">
  <h1>Icons</h1>

  <div class="pure-g">
    <figure class="icon__type pure-u-1-12">
      <span class="icon__type--bg">
        {{
          fileInclude 'src/views/components/icon/icon.html'
          type='fas fa-heart fa-2x'
        }}
      </span>
      <figcaption class="icon__type--caption">fa-heart</figcaption>
    </figure>
    <figure class="icon__type pure-u-1-12">
      <span class="icon__type--bg">
        {{
          fileInclude 'src/views/components/icon/icon.html'
          type='fas fa-chevron-right fa-2x'
        }}
      </span>
      <figcaption class="icon__type--caption">fa-chevron-right</figcaption>
    </figure>

    <!-- <div class="pure-sm-1-2 pure-md-1-4 pure-lg-1-8">
            <img class="icon" src="$*cdn/img/icon/Arrow.svg">
        </div>
        <div class="pure-sm-1-2 pure-md-1-4 pure-lg-1-8">
            <img class="icon" src="$*cdn/img/icon/Checkmark.svg">
        </div>
        <div class="pure-sm-1-2 pure-md-1-4 pure-lg-1-8">
            <img class="icon" src="$*cdn/img/icon/Expand.svg">
        </div>
        <div class="pure-sm-1-2 pure-md-1-4 pure-lg-1-8">
            <img class="icon" src="$*cdn/img/icon/Favourite.svg">
        </div>
        <div class="pure-sm-1-2 pure-md-1-4 pure-lg-1-8">
            <img class="icon" src="$*cdn/img/icon/Minimise.svg">
        </div>
        <div class="pure-sm-1-2 pure-md-1-4 pure-lg-1-8">
            <img class="icon" src="$*cdn/img/icon/Search.svg">
        </div>
        <div class="pure-sm-1-2 pure-md-1-4 pure-lg-1-8">
            <img class="icon" src="$*cdn/img/icon/Success.svg">
        </div>
        <div class="pure-sm-1-2 pure-md-1-4 pure-lg-1-8">
            <img class="icon" src="$*cdn/img/icon/Swap.svg">
        </div>
        <div class="pure-sm-1-2 pure-md-1-4 pure-lg-1-8">
            <img class="icon" src="$*cdn/img/icon/Warning Circle.svg">
        </div>
        <div class="pure-sm-1-2 pure-md-1-4 pure-lg-1-8">
            <img class="icon" src="$*cdn/img/icon/Warning Triangle.svg">
        </div> -->
    <!-- <div class="pure-sm-1-2 pure-md-1-4 pure-lg-1-8">
            <img class="icon" src="$*cdn/img/icon/Arrow.svg">
        </div>
        <div class="pure-sm-1-2 pure-md-1-4 pure-lg-1-8">
            <img class="icon" src="$*cdn/img/icon/Arrow.svg">
        </div> -->
  </div>
</div>

<!-- @@ Footer -->
{{ fileInclude 'src/views/styleguide/footer/footer.html' }}

<!-- @@ Scripts -->
{{ fileInclude 'src/views/components/shared/scripts.html' }}

<!-- @@ Styleguide js -->
{{fileInclude 'src/views/styleguide/styleguide-scripts.html'}}
