<!-- @@ Head -->
{{ fileInclude 'src/views/components/shared/head.html' }}

<!-- @@ Header -->
{{ fileInclude 'src/views/styleguide/header/header.html' }}

<div class="container-lg">

    <h1>Brand Mark&apos;s</h1>

    <h2>West Midlands Network</h2>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WMN/Portrait/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WMN/Portrait/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WMN/Portrait/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, White</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WMN/Landscape/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour
            </strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WMN/Landscape/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WMN/Landscape/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, White</strong>
        </div>
    </div>

    <hr>
    <h2>WM Bus</h2>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Bus/Portrait/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Bus/Portrait/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Bus/Portrait/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, White</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Bus/Landscape/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour
            </strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Bus/Landscape/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Bus/Landscape/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, White</strong>
        </div>
    </div>

    <hr>
    <h2>WM Cycle</h2>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Cycle/Portrait/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Cycle/Portrait/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Cycle/Portrait/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, White</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Cycle/Landscape/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour
            </strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Cycle/Landscape/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Cycle/Landscape/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, White</strong>
        </div>
    </div>

    <hr>
    <h2>WM Cycle &amp; Walk</h2>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Cycle + Walk/Portrait/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Cycle + Walk/Portrait/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Cycle + Walk/Portrait/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, White</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Cycle + Walk/Landscape/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour
            </strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Cycle + Walk/Landscape/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Cycle + Walk/Landscape/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, White</strong>
        </div>
    </div>

    <hr>
    <h2>WM Metro</h2>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Metro/Portrait/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Metro/Portrait/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Metro/Portrait/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, White</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Metro/Landscape/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour
            </strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Metro/Landscape/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Metro/Landscape/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, White</strong>
        </div>
    </div>

    <hr>
    <h2>WM Railway</h2>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Railway/Portrait/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Railway/Portrait/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Railway/Portrait/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, White</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Railway/Landscape/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour
            </strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Railway/Landscape/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Railway/Landscape/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, White</strong>
        </div>
    </div>

    <hr>
    <h2>WM Roads</h2>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Roads/Portrait/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Roads/Portrait/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Roads/Portrait/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, White</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Roads/Landscape/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour
            </strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Roads/Landscape/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Roads/Landscape/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, White</strong>
        </div>
    </div>

    <hr>
    <h2>WM Taxi</h2>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Taxi/Portrait/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Taxi/Portrait/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Taxi/Portrait/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, White</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Taxi/Landscape/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour
            </strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Taxi/Landscape/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Taxi/Landscape/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, White</strong>
        </div>
    </div>

    <hr>
    <h2>WM Walking</h2>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Walking/Portrait/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Walking/Portrait/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Walking/Portrait/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Portrait, White</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Walking/Landscape/Colour.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour
            </strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Walking/Landscape/White text.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, Colour, White Text</strong>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 brand-mark">
            <div class="brand-mark__img-container brand-mark__img-container--white">
                <img class="brand-mark__img" src="$*cdn/img/logos/WM Walking/Landscape/White.png" alt="brand mark">
            </div>
            <strong class="brand-mark__text">Landscape, White</strong>
        </div>
    </div>
</div>

<!-- @@ Footer -->
{{ fileInclude 'src/views/styleguide/footer/footer.html' }}

<!-- @@ Scripts -->
{{ fileInclude 'src/views/components/shared/scripts.html' }}

<link rel="stylesheet" href="$*cdn/css/styleguide.css" />
<!-- <script src="$*cdn/js/styleguide.min.js"></script> -->