<!-- @@ Head -->
{{ fileInclude 'src/views/components/shared/head.html' }}

<!-- @@ Header -->
{{ fileInclude 'src/views/styleguide/header/header.html' }}

<div class="container-lg">
    <h1>Typography</h1>
    <h2>Fonts</h2>
    <strong>Font Face</strong> DM Sans
    <div class="pure-g component-details__code">
        <div class="pure-u-md-3-5">
            <h3>Characters</h3>
            <p class="typography-characters">
                A B C Č Ć D Đ E F G H I J K L M N O P Q R S Š T U V W X Y Z Ž a b c č ć d đ e f g h i j
                k l m n o p q r s š t u v w x y z ž 1 2 3 4 5 6 7 8 9 0 ‘ ? ’ “ ! ” (%) [#] {@} / & \ 
                &lt; - + ÷ × = > ® © $ € £ ¥ ¢ : ; , . *
            </p>
        </div>
        <div class="pure-u-md-2-5">
            <h3>Styles</h3>
            <p>
                Regular<br>
                <em>Regular Italic</em><br>
                <strong>Bold</strong><br>
            </p>
        </div>
    </div>
    <hr>
    <h2>Headings</h2>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <p>How vexingly quick daft zebras jump!</p>
</div>

<!-- @@ Footer -->
{{ fileInclude 'src/views/styleguide/footer/footer.html' }}

<!-- @@ Scripts -->
{{ fileInclude 'src/views/components/shared/scripts.html' }}

<link rel="stylesheet" href="$*cdn/css/styleguide.css" />
<!-- <script src="$*cdn/js/styleguide.min.js"></script> -->