{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Search" %}
{% set section="Patterns" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
    <h3>What does it do?</h3>
    <ul>
        <li>Allows the user to search for information across the West Midlands Network website</li>
    </ul>
    <h3>When to use it?</h3>
    <ul>
        <li>When a user needs to find the information they need, which they cannot find through the main navigation</li>
    </ul>
    <h3>How it works</h3>
    <ul>
        <li>Users should only be able to access the search function through the header by hovering or selecting the magnifying glass icon</li>
        <li>The search bar will appear in a dropdown along with the ‘I want to…’ feature, where users can access popular search queries</li>
        <li>Once a user submits their search query, they will be able to view the search results. They can sort and filter the search results on the search results page</li>
    </ul>

    <br><br>
    {# Search bar #}
    <h2>Search bar</h2>
    {% from "wmnds/patterns/search/search-bar/_search-bar.njk" import wmndsSearchbar %}
    {{
        compExample([
            wmndsSearchbar()
        ])
    }}
    {# End Search bar #}


    <br><br>
    {# Sort #}
    <h2>Sort</h2>
    <h3>What does it do?</h3>
    <ul>
        <li>
            This gives the user the option to sort search results by relevance or when a page was last updated
        </li>
    </ul>
     {% from "wmnds/patterns/search/sort/_sort.njk" import wmndsSearchSort %}
    {{
        compExample([
            wmndsSearchSort()
        ])
    }}
    {# End sort #}

    <br><br>
    {# Search filter #}
    <h2>Filter</h2>
    <h3>What does it do?</h3>
    <ul>
        <li>This gives the user the option to filter search results using a predetermined set of filters</li>
    </ul>
    <h3>When to use it?</h3>
    <ul>
        <li>The filters will narrow down the search results by displaying pages which only match the filter criteria</li>
        <li>On mobile, the filter options will appear when a user clicks on the ‘Filter your results button’. This will trigger an overlay where users can select and apply filters. This is to reduce page size on smaller devices</li>
    </ul>
    {% from "wmnds/patterns/search/search-filter/_search-filter.njk" import wmndsSearchFilter %}
    {{
        compExample([
            wmndsSearchFilter(
                {
                    accordion: [{
                        summaryTitle: "Topic",
                        options: [
                            "Tickets", "Travel advice", "Planning a journey"
                        ]
                    },
                    {
                        summaryTitle: "Page type",
                        options: [
                            "Services", "News", "Bus routes", "Timetables", "Offers and promotions"
                        ]
                    }
                ]}
            )
        ], {
            componentPath: "wmnds/patterns/search/search-filter/",
            njk: false,
            js: true,
            iframe: false
        })
    }}

    {# End search filter #}
    <br><br>
    {# Search result #}
    <h2>Search result</h2>
    <h3>What does it do?</h3>
    <ul>
        <li>This is how a matching page will display in the search results page</li>
    </ul>
    <h3>How it works</h3>
    <ul>
        <li>Each page result will show the page breadcrumbs on desktop. On mobile, breadcrumbs are not shown. This is to reduce page size on smaller devices</li>
        <li>The page description will display main body copy which is highest on the page. The description will be a maximum of 150 characters. Any descriptions longer than 150 characters will be truncated.</li>
        <li>If the user’s search query is in the page description, it will be highlighted in bold. This is to help them understand the context of the page</li>
        <li>The horizontal rule at the bottom of a search result is to make the results list easier to scan.</li>
    </ul>
    {% from "wmnds/patterns/search/search-result/_search-result.njk" import wmndsSearchResult %}
    {{
        compExample([
            wmndsSearchResult(
                {
                    pageTitle: "Swift: The smarter way to travel",
                    breadcrumbs: ['Home', 'Swift'],
                    excerpt: "<strong>Swift</strong> is the easy and flexible way to travel around the West Midlands. find the <strong>swift</strong> card for you. How do you travel? bus…"
                }
            )
        ])
    }}
    {# End search result #}
    <br><br>
    {# Pagination #}
    <h2>Pagination links</h2>
    <h3>What does it do?</h3>
    <ul>
        <li>Allows the user to navigate through search results.</li>
    </ul>
    {% from "wmnds/patterns/search/pagination/_pagination.njk" import wmndsPagination %}
    {{
        compExample([
            wmndsPagination({
                pageCount: 8,
                activePage: 1
            }),
            wmndsPagination({
                pageCount: 8,
                activePage: 5
            }),
            wmndsPagination({
                pageCount: 8,
                activePage: 8
            })
        ])
    }}
    {# End pagination #}
    <br><br>

{% endblock %}
