.wmnds-fe {
  &-group {
    margin-bottom: $size-xl;
  }

  &-fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;

    &__legend {
      min-width: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
  }
}

@import "label/label";
@import "question/question";
@import "checkboxes/checkboxes";
@import "dropdown/dropdown";
@import "input/input";
@import "radios/radios";
@import "textarea/textarea";
