.wmnds-fe {
  &-group {
    margin-bottom: $size-xl;

    &--error {
      padding-left: $size-md;
      border-left: 5px solid get-color(error);
    }
  }

  &-fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;

    &__legend {
      min-width: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 0;
    }
  }
}

@import "label/label";
@import "question/question";
@import "checkboxes/checkboxes";
@import "dropdown/dropdown";
@import "error-message/error-message";
@import "input/input";
@import "radios/radios";
@import "textarea/textarea";
