{% raw %}
{% from "wmnds/components/error-message/_error-message.njk" import wmndsFeErrorMessage %}

{{
   wmndsFeErrorMessage({
      id: "error-01",
      classes: null,
      contentText: null,
      contentHTML: "<span><strong>Error message goes here</strong></span>",
    })
}}
{% endraw %}
