.wmnds-content-card {
  border-bottom: 5px solid get-color(primary);
  background-color: $white;

  @at-root a#{&} {
    display: block;
    color: get-color(text);
    text-decoration: none;
  }

  // Modifiers
  &--yellow {
    background-color: get-color(plannedDisruption);
  }

  // Elements
  &__title {
    margin-bottom: $size-sm;
  }

  &__list {
    padding: 0;
    list-style-type: none;

    &-item {
      margin: $size-sm 0 0;
    }
  }
}
