{% raw %}
{% from "wmnds/components/content-card/_content-card.njk" import wmndsContentCard %}

{{
   wmndsContentCard({
      id: null,
      link: "https://designsystem.wmnetwork.co.uk/components/content-card/",
      linkTitle: "Content Card Component",
      yellow: false,
      classes: null
   })
}}
{% endraw %}
