{% raw %}
{% from "wmnds/components/content-card/_content-card.njk" import wmndsContentCard %}

{{
   wmndsContentCard({
      id: null,
      href: "https://designsystem.wmnetwork.co.uk/components/content-card/",
      yellow: false,
      classes: null
    })
}}
{% endraw %}
