&.wmnds-breadcrumb {
  padding: $size-md 0;
  background: transparent;

  // outer list item (ol element)
  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__list-item {
    display: inline-block;
    margin-bottom: 0;

    // Put ">" before every list item other than first one
    &:not(:first-child)::before {
      content: ">";
      display: inline-block;
      height: 0.8em;
      margin: 0 $size-xs;
      color: get-color(information);
    }
  }

  // Style a tag within breadcrumb
  &__link {
    color: get-color(text);

    &--current {
      text-decoration: none;
    }

    &:hover {
      color: get-color(text, 30, dark);
    }
  }

  // App specific breadcrumb styles
  &--mobile-app {
    display: none;

    @media screen and(min-width: $breakpoint-md) {
      display: block;
    }
  }
}
