{% raw %}
{% from "wmnds/components/breadcrumb/_breadcrumb.njk" import wmndsBreadcrumb %}

{{
   wmndsBreadcrumb({
      items: [
         {
            contentText: "Components",
            href: "/",
            unlinkedItem: false
         },
         {
            contentText: "Breadcrumb",
            href: "/",
            unlinkedItem: false
         },
      ],
      label: "Breadcrumbs",
      isMobileApp: false
    })
}}
{% endraw %}
