{% raw %}
{% from "wmnds/components/breadcrumb/_breadcrumb.njk" import wmndsBreadcrumb %}

{{
   wmndsBreadcrumb({
      section: section,
      pageTitle: pageTitle,
      ariaLabel: "Breadcrumbs",
      isMobileApp: false
    })
}}
{% endraw %}
