$cp-swatch-height: 50px;

.wmnds-website-color-swatch {
  display: inline-block;
  width: 100%;
  height: $cp-swatch-height;
  margin-bottom: $size-sm;
}

@each $color, $hex in $palettes {
  .wmnds-website-bg-color-#{$color} {
    background-color: $hex;
  }
}
