.wmnds-accordion {
  display: block;
  background-color: $white;

  &--with-border {
    border: 1px solid get-color(primary);
  }

  &__summary-wrapper {
    display: flex;
    width: 100%;
    padding: $size-md;
    border: 0;
    background: none;
    text-align: left;
    cursor: pointer;
    align-items: center;
    @include type-setting(0);

    &:active {
      color: get-color(text);
    }
  }

  &__summary {
    display: inline-block;
    width: calc(100% - 32px);
    padding-right: $size-md;
    vertical-align: middle;
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: get-color(secondary);
  }

  &__content {
    padding: $size-md;
  }

  // By default accordion content and minus icon should be hidden
  &__content,
  &__icon--minimise {
    display: none;
  }

  // When accordion open
  &.wmnds-is--open {
    // hide + icon
    .wmnds-accordion__icon {
      display: none;
    }

    // show - icon and content
    .wmnds-accordion__content,
    .wmnds-accordion__icon--minimise {
      display: block;
    }
  }
}
