{% macro wmndsAccordion(params) %}
{# Imports #}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{# Params #}
{% set isOpen = " wmnds-is--open" if params.isOpen %}
{% set _isExpanded = "true" if params.isOpen else "false" %}
{% set id = params.id if params.id else "accordion-01" %}
{% set headingText = params.headingText if params.headingText else "Accordion heading" %}
{% set headingHTML = params.headingHTML if params.headingHTML else null %}
{% set contentText = params.contentText if params.contentText else "Lorem ipsum dolar sit..." %}
{% set contentHTML = params.contentHTML if params.contentHTML else null %}
{% set _content = contentHTML | safe if contentHTML else contentText %} {# change content based on what user has input #}

<div class="wmnds-accordion{{isOpen}}">
  <button aria-controls="{{id}}" class="wmnds-accordion__summary-wrapper" aria-expanded="{{_isExpanded}}">
    <!-- accordion summary -->
    <div class="wmnds-accordion__summary">
      {% if headingHTML -%}
      <!-- custom summary using grid -->
        {{headingHTML | safe}}
      {%- else -%}
        <h4 class="wmnds-m-b-none">{{headingText}}</h4>
      {%- endif %}
    </div>
    <!-- plus icon -->
    {{ wmndsIcon({
      icon: 'general-expand',
      class: 'wmnds-accordion__icon'
    }) | safe }}
    <!-- minus icon -->
    {{ wmndsIcon({
      icon: 'general-minimise',
      class: 'wmnds-accordion__icon wmnds-accordion__icon--minimise'
    }) | safe }}
  </button>

  <!-- accordion content -->
  <div class="wmnds-accordion__content" id="{{id}}">
    {{_content}}
  </div>
</div>

{% endmacro %}
