{% filter trim %}
{% raw %}
{% from "wmnds/components/accordion/_accordion.njk" import wmndsAccordion %}

{{
   wmndsAccordion({
      classNames: "wmnds-btn--mode",
      text: "Metro",
      iconLeft: "modes-isolated-metro"
    })
}}
{% endraw %}
{% endfilter %}
