{% filter trim %}
{% raw %}
{% from "wmnds/components/accordion/_accordion.njk" import wmndsAccordion %}

{{
   wmndsAccordion({
      id: "wmnds-btn--mode",
      summaryText: "Metro",
      summaryHTML: "modes-isolated-metro",
      isOpen: false
    })
}}
{% endraw %}
{% endfilter %}
