{% macro button(params) %}
{# set class names #}
{% if params.classNames %}
  {% set classNames = " " + classNames %}
{% endif %}

<button class="wmn-btn {{ classNames }}" tabindex="0">
  {# <span>
    <svg class="wmn-btn__icon--left">
      <use xlink:href="{{ iconLeft }}"></use>
    </svg>
    {{ text }}
    <i class="wmn-btn__icon--right {{ iconRight }}"></i>
  </span> #}
</button>
{% endmacro %}
