.wmnds-fe-autocomplete {
  // The container for autocomplete
  &__wrapper {
    display: inline-block;
    position: relative;
    width: calc(100% - 60px);
    margin-right: $margin-sm;

    // Search icon embeded in container to overwrite FontAwesome defaults
    .wmnds-fe-autocomplete__icon {
      @include type-setting(1);
      display: block;
      position: absolute;
      top: 11px;
      bottom: 11px;
      left: 11px;
      width: 22px;
      height: 22px;
      color: get-color(disable);
      text-align: center;
    }
  }

  &__input {
    padding-left: 40px;

    &::placeholder {
      color: get-color(text);
      font-weight: bold;
    }
  }

  // AutoComplete Specific Styles
  &__results-list {
    position: absolute;
    z-index: 1000;
    width: 100%;
    margin-top: 0;
    padding: 0;
    transition: all 0.1s ease-in-out;
  }

  &__result {
    @include type-setting(1);
    width: 100%;
    padding: $padding-sm;
    list-style: none;
    transition: all 0.1s ease-in-out;
    border: 1px solid;
    border-top: 0;
    border-bottom-color: get-color(text);
    background-color: $white;
    font-size: 1.1rem;
    text-align: left;

    &.autoComplete_selected,
    &::selection,
    &:hover,
    &:focus {
      outline: 0;
      background-color: get-color(secondary, 30);
      cursor: pointer;
    }

    .autoComplete_highlighted {
      opacity: 1;
      color: get-color(primary);
      font-weight: bold;
    }
  }
}
