{% raw %}
{% from "wmnds/components/disruption-indicator/small/_small.njk" import wmndsDisruptionIndicatorSmall %}

{{
  wmndsDisruptionIndicatorSmall({
    mode: "bus",
    iconRight: "general-warning-triangle",
    classes: "wmnds-disruption-indicator-small--error"
  })
}}
{% endraw %}
