{% macro wmndsDisruptionIndicatorSmall(params) %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}

{% set iconRight = params.iconRight if params.iconRight else 'general-warning-circle' %} {# set icon right classes #}
{% set classes = ' ' + params.classes if params.classes %}

<!-- map pin for {{params.mode}} -->
<span class="wmnds-disruption-indicator-small{{classes}}">
  {# Get SVG icon for mode #}
  {{
    wmndsIcon({
      icon: 'modes-isolated-' + params.mode,
      class: 'wmnds-disruption-indicator-small__icon'
    })
  }}
  {# Get SVG icon for type #}
  {{
    wmndsIcon({
      icon: iconRight,
      class: 'wmnds-disruption-indicator-small__icon'
    })
  }}
</span>

{% endmacro %}