{% raw %}
{% from "tfwmds/components/message/help/_help.njk" import tfwmdsMsgHelp %}

{{
   tfwmdsMsgHelp({
      contentText: "Details added what happened and what to do next. Lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum text.",
      contentHTML: null,
      dismissable: false
    })
}}
{% endraw %}
