{% raw %}
{% from "wmnds/components/in-text-step/_in-text-step.njk" import wmndsInTextStep %}

{{
   wmndsInTextStep({
      items: [
         {
            contentText: "Step text must end with a full stop.",
            contentHTML: null
         },
         {
            contentText: "Step text must end with a full stop.",
            contentHTML: null
         },
         {
            contentText: "Step text must end with a full stop.",
            contentHTML: null
         }
      ]
   })
}}
{% endraw %}
