.wmnds-in-text-step {
  display: block;
  position: relative;
  padding: 0;

  &__item {
    position: relative;
    padding-top: $size-xs / 2;
    padding-left: $size-xl;
    list-style: none;
    counter-increment: item;

    &::before {
      content: counter(item);
      position: absolute;
      top: 0;
      left: 0;
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      color: $white;
      background-color: get-color(primary);
      font-weight: 700;
      line-height: 1.75rem;
      text-align: center;
    }
  }
}
