<header class="wmnds-header">
  <div class="container-lg vertical-align-mid">
    <a href="/" title="West Midlands Network Design System">
      <img class="wmnds-header__logo" alt="West Midlands Network" src="$*cdn/img/logo.svg" />
    </a>
    <a href="/" title="West Midlands Network Design System Alpha" class="wmnds-phase-indicator">
      Alpha
    </a>
  </div>
</header>