{% macro wmndsHeader(params) %}
{# Set navItems #}
{% set navItems = params.navItems %}

<header class="wmnds-header">
  <div class="wmnds-container--lg">
    <a class="wmnds-header__logo-link" href="/" title="West Midlands Network Design System">
      <img class="wmnds-header__logo" alt="West Midlands Network" src="$*cdn/img/logo.svg" />
    </a>
    <a href="/" title="West Midlands Network Design System Alpha" class="wmnds-phase-indicator">
      Alpha
    </a>

    <div class="wmnds-header__right-side">
      <nav class="wmnds-header__links">
        {% for navItem in navItems %}
          <a href="/{{ navItem.name | lower | replace(" ", "-") }}/" title="{{ navItem.name }} page" target="_self" class="wmnds-link" >
            <span>{{ navItem.name}}</span>
          </a>
        {% endfor %}
      </nav>
    </div>
  </div>
</header>

{% endmacro %}