.wmnds-header {
  display: block;
  margin-bottom: $margin-xl;
  padding: $padding-md;
  background-color: get-color(primary);

  &__logo {
    width: 100px;
  }

  &__logo-link {
    display: inline-block;
    margin-right: $margin-md;
    vertical-align: middle;
  }

  .wmnds-phase-indicator {
    display: inline-block;
  }
}
