$h-bg: get-color(primary);
$h-size-mob: 78px;

.header {
  margin-bottom: $margin-xl;
  padding: $padding-md;
  background-color: $h-bg;

  a:first-child {
    margin-right: $margin-md;
  }
}

.header-logo {
  width: 100px;
}
