{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "From elements" %}

{% block content %}
  <div class="container-lg wmnds-grid">
    <div class="wmnds-col-1">
      <p>Components are reusable parts of the user interface that have been made to support a variety of applications.</p>

      <p>Individual components can be used in multiple different patterns and contexts. For example, the text input component can be used to ask for an email address, a National Insurance number or someone’s name.</p>
      <p>If you are using the GOV.UK Prototype Kit or have GOV.UK Frontend included in your build, the coded examples provided will render exactly as they do inside the Design System.</p>
      <div class="wmnds-grid">
        <div class="wmnds-col-1">
          tester</div>
      </div>
    </div>
  </div>
{% endblock %}