{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Form elements" %}

{% block content %}
  {# Label #}
  <h2>Label</h2>
  {% from "components/form-elements/label/_label.njk" import wmndsLabel %}
  {% from "www/_partials/_component-example.njk" import compExample %}
  {{
    compExample([wmndsLabel()])
  }}
  {# End label #}

  {# Checkboxes #}
  <h2>Checkboxes</h2>
  {% from "components/form-elements/checkboxes/_checkboxes.njk" import wmndsCheckboxes %}
  {% from "www/_partials/_component-example.njk" import compExample %}
  {{
    compExample([wmndsCheckboxes()])
  }}
  {# End Checkboxes #}

  {# Dropdown #}
  <h2>Dropdown</h2>
  {% from "components/form-elements/dropdown/_dropdown.njk" import wmndsDropdown %}
  {% from "www/_partials/_component-example.njk" import compExample %}
  {{
    compExample([wmndsDropdown()])
  }}
  {# End Dropdown #}
{% endblock %}