{% raw %}
{% from "tfwmds/components/details/_details.njk" import tfwmdsDetails %}

{{
   tfwmdsDetails({
      headingText: "Detail heading",
      headingHTML: null,
      contentText: null,
      contentHTML: "<p><strong>Some random subtitle</strong></p>
      <p>Lorem ipsum dolor sit...</p>",
      isOpen: false
   })
}}
{% endraw %}
