{% macro wmndsHeaderV2(params) %}
{# Set navItems #}
{% set navItems = params.navItems %}
{% set appClass = " wmnds-header--mobile-app" if params.app else "" %}
{% set menuClass = " wmnds-header--mega-menu" if params.megaMenu else "" %}

{% set navigationAriaLabel = params.exampleAria + " example navigation" if params.exampleAria else "Navigation" %}
{# Imports #}
{% from "wmnds/components/link/link/_link.njk" import wmndsLink %}
{% from "wmnds/patterns/banner/_banner.njk" import wmndsBanner %}
{% from "wmnds/components/breadcrumb/_breadcrumb.njk" import wmndsBreadcrumb %}

<!-- Skip to content link -->
{{
  wmndsLink({
    link: '#wmnds-main-content',
    linkTitle: 'Skip to main content',
    text: 'Skip to main content',
    classModifiers: 'wmnds-header__skip-link'
  }) | trim
}}
<!-- Main header section -->
<header>
  <div class="wmnds-header{{appClass}}{{menuClass}}">
    <div class="wmnds-container wmnds-grid wmnds-grid--align-center wmnds-grid--justify-between">
      <div class="wmnds-header__vertical-align wmnds-col-auto">
        <!-- Logo -->
        <a class="wmnds-header__logo-link" href="/" title="West Midlands Network Design System">
          <img class="wmnds-header__logo" alt="West Midlands Network logo" src="/img/logo.svg" />
        </a>
      </div>

      {#- If with a title #}
      {% if params.withTitle -%}
      <!-- Header title -->
      <h1 class="wmnds-header__title wmnds-col-1 wmnds-col-sm-auto">
        Reinstate your Direct Debit<br>(COVID-19)
      </h1>
      {%- elif params.megaMenu %}
      <nav class="wmnds-mega-menu">
        <button class="wmnds-mega-menu__mobile-toggle wmnds-btn wmnds-btn--secondary wmnds-hide-desktop" aria-controls="wmnds-mega-menu">Menu</button>
        <ul id="wmnds-mega-menu" class="wmnds-mega-menu__primary-menu">
          {# nav top level list item #}
          <li class="wmnds-mega-menu__primary-menu-item">
            <button class="wmnds-mega-menu__primary-menu-link">Level 1A <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></button>

            {# main menu container to be shown/hidden #}
            <div class="wmnds-mega-menu__container">
              <div class="wmnds-container">
                <ul class="wmnds-mega-menu__sub-menu">
                  <li class="wmnds-mega-menu__sub-menu-item">
                    <a href="#" class="wmnds-mega-menu__sub-menu-link">
                      <svg class="wmnds-mega-menu__sub-menu-link-icon">
                        <use xlink:href="#wmnds-general-location-pin" href="#wmnds-general-location-pin"></use>
                      </svg> Level 2A <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></a>
                    <ul class="wmnds-mega-menu__sub-menu-child-menu">
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                    </ul>
                  </li>
  
                  <li class="wmnds-mega-menu__sub-menu-item">
                    <a href="#" class="wmnds-mega-menu__sub-menu-link">
                      <svg class="wmnds-mega-menu__sub-menu-link-icon">
                        <use xlink:href="#wmnds-general-location-arrow" href="#wmnds-general-location-arrow"></use>
                      </svg> Level 2A <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></a>
                    <ul class="wmnds-mega-menu__sub-menu-child-menu">
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                    </ul>
                  </li>
  
                  <li class="wmnds-mega-menu__sub-menu-item">
                    <a href="#" class="wmnds-mega-menu__sub-menu-link">
                      <svg class="wmnds-mega-menu__sub-menu-link-icon">
                        <use xlink:href="#wmnds-general-info" href="#wmnds-general-info"></use>
                      </svg> Level 2A <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></a>
                    <ul class="wmnds-mega-menu__sub-menu-child-menu">
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                    </ul>
                  </li>
                  
                  <li class="wmnds-mega-menu__sub-menu-item">
                    <a href="#" class="wmnds-mega-menu__sub-menu-link">
                      <svg class="wmnds-mega-menu__sub-menu-link-icon">
                        <use xlink:href="#wmnds-general-star" href="#wmnds-general-star"></use>
                      </svg> Level 2A <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></a>
                    <ul class="wmnds-mega-menu__sub-menu-child-menu">
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3A</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="wmnds-mega-menu__primary-menu-item">
            <button class="wmnds-mega-menu__primary-menu-link">Level 1B <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></button>

            {# main menu container to be shown/hidden #}
            <div class="wmnds-mega-menu__container">
              <div class="wmnds-container">
                <ul class="wmnds-mega-menu__sub-menu">
                  <li class="wmnds-mega-menu__sub-menu-item">
                    <a href="#" class="wmnds-mega-menu__sub-menu-link">
                        <svg class="wmnds-mega-menu__sub-menu-link-icon">
                          <use xlink:href="#wmnds-general-location-pin" href="#wmnds-general-location-pin"></use>
                        </svg> Level 2B <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></a>
                    <ul class="wmnds-mega-menu__sub-menu-child-menu">
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                    </ul>
                  </li>
  
                  <li class="wmnds-mega-menu__sub-menu-item">
                    <a href="#" class="wmnds-mega-menu__sub-menu-link">
                        <svg class="wmnds-mega-menu__sub-menu-link-icon">
                          <use xlink:href="#wmnds-general-location-arrow" href="#wmnds-general-location-arrow"></use>
                        </svg> Level 2B <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></a>
                    <ul class="wmnds-mega-menu__sub-menu-child-menu">
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                    </ul>
                  </li>
                  
                  <li class="wmnds-mega-menu__sub-menu-item">
                    <a href="#" class="wmnds-mega-menu__sub-menu-link">
                        <svg class="wmnds-mega-menu__sub-menu-link-icon">
                          <use xlink:href="#wmnds-general-star" href="#wmnds-general-star"></use>
                        </svg> Level 2B <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></a>
                    <ul class="wmnds-mega-menu__sub-menu-child-menu">
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3B</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="wmnds-mega-menu__primary-menu-item">
            <button class="wmnds-mega-menu__primary-menu-link">Level 1C <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></button>

            {# main menu container to be shown/hidden #}
            <div class="wmnds-mega-menu__container">
              <div class="wmnds-container">
                <ul class="wmnds-mega-menu__sub-menu">
                  <li class="wmnds-mega-menu__sub-menu-item">
                    <a href="#" class="wmnds-mega-menu__sub-menu-link">
                      <svg class="wmnds-mega-menu__sub-menu-link-icon">
                        <use xlink:href="#wmnds-general-location-pin" href="#wmnds-general-location-pin"></use>
                      </svg> Level 2C <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></a>
                    <ul class="wmnds-mega-menu__sub-menu-child-menu">
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                    </ul>
                  </li>
  
                  <li class="wmnds-mega-menu__sub-menu-item">
                    <a href="#" class="wmnds-mega-menu__sub-menu-link">
                      <svg class="wmnds-mega-menu__sub-menu-link-icon">
                        <use xlink:href="#wmnds-general-location-arrow" href="#wmnds-general-location-arrow"></use>
                      </svg> Level 2C <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></a>
                    <ul class="wmnds-mega-menu__sub-menu-child-menu">
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                    </ul>
                  </li>
  
                  <li class="wmnds-mega-menu__sub-menu-item">
                    <a href="#" class="wmnds-mega-menu__sub-menu-link">
                      <svg class="wmnds-mega-menu__sub-menu-link-icon">
                        <use xlink:href="#wmnds-general-info" href="#wmnds-general-info"></use>
                      </svg> Level 2C <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></a>
                    <ul class="wmnds-mega-menu__sub-menu-child-menu">
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                    </ul>
                  </li>
                  
                  <li class="wmnds-mega-menu__sub-menu-item">
                    <a href="#" class="wmnds-mega-menu__sub-menu-link">
                      <svg class="wmnds-mega-menu__sub-menu-link-icon">
                        <use xlink:href="#wmnds-general-star" href="#wmnds-general-star"></use>
                      </svg> Level 2C <svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></a>
                    <ul class="wmnds-mega-menu__sub-menu-child-menu">
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a>
                      </li>
                      <li class="wmnds-mega-menu__sub-menu-child-item">
                        <a href="#" class="wmnds-mega-menu__sub-menu-child-link">Level 3C</a> 
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <button class="wmnds-mega-menu__primary-menu-link wmnds-mega-menu__search">
          <svg class="wmnds-mega-menu__search-icon"><use xlink:href="#wmnds-general-search" href="#wmnds-general-search"></use></svg>
        </button>
      </nav>
      {%- else %}
      {#- Else with a navigation -#}
      <!-- Nav items -->
      <nav class="wmnds-header__vertical-align wmnds-col-auto" aria-label="{{navigationAriaLabel}}">
        <ul class="wmnds-header__links wmnds-header__main-links">
          {% for navItem in navItems -%}
          <li class="wmnds-header__link">
            <a href="/{{ navItem.name | lower | replace(" ", "-") }}/" title="{{ navItem.name }} page" target="_self" class="wmnds-link" >
              {{ navItem.name}}
            </a>
          </li>
          {%- endfor %}
        </ul>
        {%- if params.app %}
        <!-- Back button -->
        <ul class="wmnds-header__links wmnds-header__back-btn">
          <li class="wmnds-header__link">
            <a
              href="#"
              title="Go back to previous page"
              target="_self"
              class="wmnds-link"
              onClick="goBack(event);"
            >
              Back
            </a>
          </li>
        </ul>
        <script>
          // Function that sends user to previous page they were on,
          // This can be included in your local javascript file
          function goBack(e) {
            e.preventDefault();
            window.history.back();
          }
        </script>
        <!-- End back button -->
        {%- endif %}
      </nav>
      {%- endif %}
    </div>
  </div>

  {%- if params.banner or params.breadcrumbs %}
  <div class="wmnds-container">
    {% if params.banner -%}
    <!-- Phase banner -->
    {{
      wmndsBanner ({
        link: 'https://github.com/wmcadigital/wmn-design-system/issues',
        linkTitle: 'WMN Design System Github',
        phase: true
      }) | trim | indent(4)
    -}}
    {%- endif -%}

    {%- if params.breadcrumbs and params.breadcrumbs.section != 'Home' %}
    <!-- Breadcrumbs -->
    {{
      wmndsBreadcrumb({
        section: params.breadcrumbs.section,
        pageTitle: params.breadcrumbs.pageTitle,
        exampleAria: params.exampleAria
      }) | trim | indent(4)
    -}}
    {% endif %}
  </div>
  {%- endif %}
  {% if params.megaMenu %}
  <!-- Content space for example purposes only. DO NOT INCLUDE -->
  <div class="demo-content">
    Example content
  </div>
  <!-- END DO NOT INCLUDE -->
  {% endif %}
</header>

{% endmacro %}