{% macro wmndsHeaderV2(params) %}
{# Set navItems #}
{% set navItems = params.navItems %}
{% set appClass = " wmnds-header--mobile-app" if params.app else "" %}
{% set menuClass = "" if params.legacyMenu else " wmnds-header--mega-menu" %}

{% set navigationAriaLabel = params.exampleAria + " example navigation" if params.exampleAria else "Navigation" %}
{# Imports #}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{% from "wmnds/components/link/link/_link.njk" import wmndsLink %}
{% from "wmnds/patterns/banner/_banner.njk" import wmndsBanner %}
{% from "wmnds/components/breadcrumb/_breadcrumb.njk" import wmndsBreadcrumb %}
{% from "wmnds/patterns/search/search-bar/_search-bar.njk" import wmndsSearchbar %}
{% from "wmnds/patterns/autocomplete/_autocomplete.njk" import wmndsAutocomplete %}

<!-- Skip to content link -->
{{
  wmndsLink({
    link: '#wmnds-main-content',
    linkTitle: 'Skip to main content',
    text: 'Skip to main content',
    contentText: 'Skip to main content',
    classes: 'wmnds-link wmnds-header__skip-link'
  })
}}
<!-- Main header section -->
<header>
  <div class="wmnds-header{{appClass}}{{menuClass}}">
    <div class="wmnds-container wmnds-grid wmnds-grid--align-center wmnds-grid--justify-between">
      <div class="wmnds-header__vertical-align wmnds-col-auto">
        <!-- Logo -->
        <a role="link" class="wmnds-header__logo-link {{class}}" href="/" title="{{name}} Design System">
          <img class="wmnds-header__logo" alt="Transport for West Midlands logo" src="/img/logo.svg" />
        </a>
      </div>
      {#- If with a title #}
      {% if params.withTitle %}
        <!-- Header title -->
        <h1 class="wmnds-header__title wmnds-col-1 wmnds-col-sm-auto">
          {{params.title}}
        </h1>
      {% else %}
        <!-- Mega menu nav items-->
        <nav id="{{params.id}}" class="wmnds-mega-menu" aria-label="Main navigation">
          <!-- Mobile toggle button -->
          <button class="wmnds-mega-menu__mobile-toggle wmnds-btn wmnds-btn--secondary wmnds-hide-desktop" aria-expanded="false" aria-controls="{{params.id}}-primary-menu">Menu
            <svg class="wmnds-mega-menu__close-icon"><use xlink:href="#wmnds-general-cross" href="#wmnds-general-cross"></use></svg>
          </button>
          <!-- Container for mega menu - allows scrolling on mobile nav -->
          <div id="{{params.id}}-primary-menu" class="wmnds-mega-menu__scroll-controller">
            <!-- Start primary (level 1) navigation -->
            <ul class="wmnds-mega-menu__primary-menu" role="menubar">
              {% for navItem in navItems %}
                <li class="wmnds-mega-menu__primary-menu-item">
                <!-- Show swift logo in nav if is swift & tickets link -->
                {% set navItemIcon = wmndsIcon({icon: 'swift-full-logo', class: 'wmnds-swift-icon', title: 'Swift Logo', desc: 'A small shape in the style of a bird with the word swift next to it', hidden: 'true'}) if navItem.name === "Swift and tickets" else "" %}
                {% set navItemIconProfile = wmndsIcon({icon: 'general-user', class: 'wmnds-profile-icon', title: 'Profile', desc: 'Silhouette of a head', hidden: 'true'}) if navItem.name === "Profile" else "" %}
                {% set navItemContent = " and tickets" if navItem.name === "Swift and tickets" else navItem.name %}
                  <!-- allow primary (level 1) item to link if specified -->
                  {% if params.linkTopLevel %}
                    <a role="link" href="/{{ navItem.name | lower | replace(" ", "-") }}/" title="{{ navItem.name }} page" target="_self" class="wmnds-mega-menu__primary-menu-link" >
                      {{navItemIcon}}{{navItemIconProfile}}{{ navItemContent }}
                    </a>
                  <!-- if not linked use a button -->
                  {% else %}
                    <button target="_self" class="wmnds-mega-menu__primary-menu-link" aria-label="{{navItem.name}}" aria-haspopup="true" aria-expanded="false" aria-controls="{{params.id}}-container" role="menuitem">
                      {{navItemIcon}}{{navItemIconProfile}}<span class="wmnds-top-level-link">{{ navItemContent }}</span>
                    </button>
                  {% endif %}
                  {% if navItem.subnavItems %}
                    <!-- arrow icon for mobile nav -->
                    <button class="wmnds-mega-menu__link-arrow-icon-btn" data-label="{{ navItem.name }}" aria-label="toggle {{ navItem.name }}" aria-controls="{{params.id}}-container"><svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></button>
                    <!-- Start mega menu container -->
                    <div id="{{params.id}}-container-{{ loop.index }}" class="wmnds-mega-menu__container">
                      <div class="wmnds-container">
                        <!-- Start submenu (level 2) -->
                        <ul class="wmnds-mega-menu__sub-menu" aria-label="{{ navItem.name }} submenu">
                          {% for subnavItem in navItem.subnavItems %}
                            {% if subnavItem.unlinked %}
                              {% set _tag = 'button' %}
                              {% set _classes = " wmnds-btn wmnds-btn--link" %}
                            {% else %}
                              {% set _tag = 'a' %}
                              {# Set href if specified, else set an auto generated href #}
                              {% set _hrefSubnav = subnavItem.href if subnavItem.href else "/" + navItem.name + "/" + subnavItem.name  + "/"%}
                              {# Set href attribute for link #}
                              {% set _attributes = " href=\"" + _hrefSubnav | lower | replace(" ", "-") + "\"" if _hrefSubnav else "" %}
                            {% endif %}
                            <li class="wmnds-mega-menu__sub-menu-item">
                              <{{_tag}}{{_attributes | safe}} role="link" class="wmnds-mega-menu__sub-menu-link{{_classes}}">
                                {% if subnavItem.icon %}
                                <!-- Show submenu (level 2) item icon if specified -->
                                <svg class="wmnds-mega-menu__sub-menu-link-icon">
                                  <use xlink:href="#wmnds-{{subnavItem.icon}}" href="#wmnds-{{subnavItem.icon}}"></use>
                                </svg>
                                {% endif %}
                                <span>{{subnavItem.name| replace("Swift", wmndsIcon({icon: 'swift-full-logo', class: 'wmnds-swift-icon wmnds-hide-mobile', title: 'Swift'}) | indent(6) | trim) | safe}}</{{_tag}}></span>
                                {% if subnavItem.subnavItems %}
                                <!-- collapse button for mobile nav level 3 menu items -->
                              <button class="wmnds-mega-menu__collapse-toggle" aria-expanded="false" aria-label="Toggle {{subnavItem.name}} menu" aria-controls="{{params.id}}-submenu-child-menu"><svg class="wmnds-mega-menu__link-arrow-icon"><use xlink-href="#wmnds-general-chevron-right" href="#wmnds-general-chevron-right"></use></svg></button>
                             <!-- Start submenu child (level 3) list -->
                              <ul id="{{params.id}}-submenu-child-menu-{{ subnavItem.name | lower | replace(" ", "-") }}-{{ loop.index }}" class="wmnds-mega-menu__sub-menu-child-menu">
                                {% for subnavChildItem in subnavItem.subnavItems %}
                                {# Set auto generated href string for fallback - ignore 2nd level nav name if it is unlinked #}
                                {% set _hrefString = "/" + navItem.name + "/" + subnavChildItem.name + "/" if subnavItem.unlinked else "/" + navItem.name + "/" + subnavItem.name + "/" + subnavChildItem.name + "/" %}
                                {# Set href if it is set else fallback to auto generated link #}
                                {% set _hrefSubnavChild = subnavChildItem.href if subnavChildItem.href else _hrefString | lower | replace(" ", "-") %}
                                <li class="wmnds-mega-menu__sub-menu-child-item">
                                  <a role="link" href="{{_hrefSubnavChild}}" class="wmnds-mega-menu__sub-menu-child-link">{{subnavChildItem.name | capitalize}}</a>
                                </li>
                                {% endfor %}
                              </ul>
                              <!-- End submenu child (level 3) list -->
                              {% endif %}
                            </li>
                            {% if subnavItem.name == "Child accounts" %}
                            <li class="wmnds-mega-menu__sub-menu-item">
                              <a href="#" title="This is a call to action link" target="_self" class="wmnds-btn wmnds-text-align-center wmnds-col-1 wmnds-m-md">
                                Login
                              </a>
                            </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                        <!-- End submenu (level 2) -->
                      </div>
                    </div>
                    <!-- End mega menu container -->
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
            <!-- End primary (level 1) navigation -->
          </div>
          <!-- End scrollable container -->
          {% if(params.search) %}
          <div class="wmnds-mega-menu__primary-menu-item wmnds-mega-menu__search">
            <button class="wmnds-mega-menu__primary-menu-link wmnds-mega-menu__search-btn" aria-label="Search" aria-haspopup="true" aria-expanded="false" aria-controls="wmnds-mega-menu__search-container" role="menuitem">
              <svg class="wmnds-mega-menu__search-icon">
                <title>Search</title>
                <use xlink:href="#wmnds-general-search" href="#wmnds-general-search"></use>
              </svg>
              <svg class="wmnds-mega-menu__search-close-icon">
                <title>Close</title>
                <use xlink:href="#wmnds-general-cross" href="#wmnds-general-cross"></use>
              </svg>
            </button>
            <div class="wmnds-mega-menu__container wmnds-mega-menu__search-container">
              <div class="wmnds-search-container">
                {% if params.wmndsSearch %}
                  {{
                    wmndsAutocomplete(
                      params.wmnadsSearch
                    )
                  }}
                  <div id="wmnadsSearchSuggestions" class="wmnds-autocomplete-suggestions" style="display: none;">
                  </div>
                {% else %}
                  {{
                    wmndsSearchbar(params.search)
                  }}
                {% endif %}
                {% if(params.searchSuggestions) %}
                  <p class="wmnds-search-heading wmnds-h1">I want to...</p>
                  <div class="wmnds-grid">
                    <div class="wmnds-col-1-2">
                      <ul class="wmnds-search-list">
                      {% for i in range(0, 4) %}
                        <li class="wmnds-search-list__item">
                          <a role="link" href="#" class="wmnds-link wmnds-link--with-chevron">{{params.searchSuggestions[i]}}
                            {{wmndsIcon({
                              class: 'wmnds-link__chevron wmnds-link__chevron--right',
                              icon: 'general-chevron-right'
                            })}}
                          </a>
                        </li>
                      {% endfor %}
                      </ul>
                    </div>
                    <div class="wmnds-col-1-2">
                      <ul class="wmnds-search-list">
                      {% for i in range(4, params.searchSuggestions.length) %}
                        <li class="wmnds-search-list__item">
                          <a role="link" href="#" class="wmnds-link wmnds-link--with-chevron">{{params.searchSuggestions[i]}}
                            {{wmndsIcon({
                              class: 'wmnds-link__chevron wmnds-link__chevron--right',
                              icon: 'general-chevron-right'
                            })}}
                          </a>
                        </li>
                      {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
        </nav>
        {% endif %}
      </div>
    </div>

    {% if params.banner or params.breadcrumbs %}
      <div class="wmnds-container">
        {% if params.banner %}
          <!-- Phase banner -->
          {{
            wmndsBanner ({
              link: 'https://github.com/wmcadigital/wmca-design-system/issues',
              linkTitle: 'WMN Design System Github',
              phase: true
            })
          }}
        {% endif %}

        {% if (params.breadcrumbs.pageTitle != 'Homepage Template') and (params.breadcrumbs.pageTitle != 'West Midlands Combined Authority Design System') and (params.breadcrumbs.pageTitle != 'Transport for West Midlands Design System') and (params.breadcrumbs.pageTitle != 'Safer Travel Design System') and (params.breadcrumbs.pageTitle != 'Midlands Connect Design System') and (params.breadcrumbs.pageTitle != 'Change Into Action Design System') and (params.breadcrumbs.pageTitle != 'West Midlands Rail Executive Design System') and (params.breadcrumbs.pageTitle != 'Ring and Ride Design System') %}
        {% set breadcrumbList = null if params.breadcrumbs.section === params.breadcrumbs.pageTitle else {
              contentText: params.breadcrumbs.pageTitle
            } %}
        <!-- Breadcrumbs -->
        {{
          wmndsBreadcrumb({
            items: [{
              contentText: params.breadcrumbs.section or "Components",
              unlinkedItem: false if breadcrumbList else true
            }, breadcrumbList],
            label: params.label
          })
        }}
      {% endif %}
    </div>
  {% endif %}
</header>

{% if params.megaMenuDemo %}
  <!-- Content space for example purposes only. DO NOT INCLUDE -->
  <div class="demo-content">
    <p>Example content <br> <a role="link" href="/patterns/header-demo" target="_blank">View full page example (opens in new window)</a></p>
  </div>
  <!-- END DO NOT INCLUDE -->
{% endif %}
{% endmacro %}