.wmnds-header {
  display: block;
  padding: $size-md 0;
  background-color: get-color(primary);
  text-align: left;

  // Skip link styling
  &__skip-link {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: $size-md;
    clip: rect(0 0 0 0);
    color: $white;
    background-color: get-color(cta);

    &:visited {
      color: $white;
    }

    &:focus {
      position: static;
      width: auto;
      height: auto;
      clip: auto;
      box-shadow: none;
    }
  }

  // Logo styles
  &__logo-link {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: $size-sm;
    overflow: hidden;
    vertical-align: middle;

    @media screen and(min-width: $breakpoint-md) {
      width: auto;
    }
  }

  &__logo {
    width: 88px;
    max-width: 88px;
    height: 34px;
    float: left;
  }

  // To vertical align the logo's and nav
  &__vertical-align,
  .wmnds-phase-indicator {
    vertical-align: middle;
  }

  // Title variant
  &__title {
    @include type-setting(3);
    margin-bottom: 0;
    color: $white;

    @media all and(min-width: $breakpoint-sm) {
      max-width: calc(100% - 200px); // Give some padding for the logos on the left
      margin: 0;
      text-align: right;
    }
  }

  // Nav links
  &__links {
    display: block;
    margin: 0;
    padding: 0;
    float: right;

    @media screen and(min-width: $breakpoint-md) {
      text-align: right;
    }
  }

  &__link {
    display: inline-block;
    margin: 0 $size-xs;

    @media screen and(min-width: $breakpoint-sm) {
      margin: 0 $size-sm;
    }

    .wmnds-link {
      color: $white;
    }
  }

  // App specific header styles
  &--mobile-app {
    .wmnds-header__main-links {
      display: none;

      @media screen and(min-width: $breakpoint-md) {
        display: inline-block;
      }
    }

    .wmnds-header__back-btn {
      @media screen and(min-width: $breakpoint-md) {
        display: none;
      }
    }
  }
}

.wmnds-header--mega-menu {
  position: relative;
  z-index: 1000;
  padding: 0;
}

.wmnds-mega-menu {
  letter-spacing: normal;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: get-color(primary);
  }

  &::after {
    content: "";
    display: none;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($black, 0.5);
    pointer-events: none;
  }

  &:focus-within,
  &:hover {
    &::after {
      display: block;
    }
  }

  &__primary-menu {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: stretch;
  }

  &__primary-menu,
  &__sub-menu,
  &__sub-menu-child-menu {
    margin: 0;
    padding: 0;
  }

  &__primary-menu-item,
  &__sub-menu-item,
  &__sub-menu-child-item {
    margin: 0;
    list-style: none;
  }

  &__primary-menu-item {
    &:hover,
    &:focus-within {
      & .wmnds-mega-menu__container {
        display: block;
      }

      & .wmnds-mega-menu__primary-menu-link {
        background-color: get-color(information);
      }
    }
  }

  &__primary-menu-link {
    display: flex;
    min-height: 100%;
    padding: ($size-md) ($size-md * 1.5);
    border: 0;
    color: $white;
    background-color: transparent;
    font-family: $x-heading-font-family;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    align-items: center;

    &:hover,
    &:focus {
      background-color: get-color(information);

      & + .wmnds-mega-menu__container {
        display: block;
      }
    }
  }

  &__search-icon {
    width: $size-md * 1.25;
    height: $size-md * 1.25;
    fill: currentColor;
  }

  &__container {
    display: none;
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $white;
  }

  &__sub-menu {
    display: flex;
    width: 100%;
    padding: $size-md * 1.25 0;
  }

  &__sub-menu-item {
    margin: 0;
    padding-right: $size-md;
    padding-left: $size-lg;
    list-style: none;
    flex-basis: 25%;
    flex-grow: 1;

    &:not(:last-child) {
      border-right: 1px solid get-color(text, 80);
    }
  }

  &__sub-menu-link {
    display: block;
    position: relative;
    margin-bottom: $size-sm;
    padding-left: $size-lg;
    color: get-color(primary);
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__sub-menu-link-icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1em;
    height: 1em;
    transform: translateY(-50%);
    fill: currentColor;
  }

  &__sub-menu-child-menu {
    padding-left: $size-lg;
  }

  &__sub-menu-child-link {
    display: block;
    margin-bottom: $size-sm;
    color: get-color(text);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.demo-content {
  display: flex;
  height: 50vh;
  min-height: 400px;
  background-color: get-color(secondary, 80);
  justify-content: center;
  align-items: center;
}
