{% macro wmndsFormElement(params) %}
{# Imports #}
{% from "wmnds/components/form-elements/question/_question.njk" import wmndsQuestion %}
{% from "wmnds/components/form-elements/radios/_radios.njk" import wmndsRadios %}
{# Set vars and defaults #}
{% set question = params.question if params.question else "How would you...?" %}

<form class="wmnds-bg-white wmnds-p-lg">
    {{
        wmndsQuestion({
            contentText: question
        })
    }}
    {{ wmndsRadios() }}
    {{ params.button  | safe  }}
</form>

{% endmacro %}
