{% macro wmndsFormElement(params) %}
{# Imports #}
{% from "wmnds/components/form-elements/radios/_radios.njk" import wmndsRadios %}
{# Set vars and defaults #}
{% set text = params.text if params.text else "How would you...?" %}

<form class="wmnds-qf-form-element">
    {{
        wmndsRadios({
            text: params.text
        }) | indent(6) | trim 
    }}
</form>

{% endmacro %}