{% raw %}
{% from "tfwmds/components/form-elements/form-label/_form-label.njk" import tfwmdsFormLabel %}

{{
   tfwmdsFormLabel({
      contentText: "Form label",
      contentHTML: null,
      for: "genericInput",
      classes: null
   })
}}
{% endraw %}
