{% macro wmndsCookiesManager(params) %}

{# Imports of components #}
{% from "wmnds/components/form-elements/checkboxes/_checkboxes.njk" import wmndsCheckboxes %}
{% from "wmnds/components/button/_button.njk" import wmnButton as primary %}

<div class="wmnds-p-md wmnds-cookies-manager">
  <div class="wmnds-container wmnds-col-1 wmnds-col-sm-3-4 wmnds-col-lg-3-5">
    <form class="wmnds-grid wmnds-cookies-manager__form" action="#">
      <h1 class="wmnds-col-1 wmnds-m-none">Manage Cookies</h1>
      <p class="wmnds-col-1 wmnds-m-t-md wmnds-m-b-none">
        Check your settings below and select the cookies you’re happy with.<br /><br />
        These settings only apply to wmnetwork.co.uk
      </p>
      <br /><br />
      <div class="wmnds-col-1 wmnds-cookies-preferences">
        {{
          wmndsCheckboxes({
            question: "",
            desc: "",
            options: [
              {
                checked: true,
                editable: false,
                title: 'Essential cookies',
                desc: 'Without these cookies our website won’t work properly. They help you to access secure areas like accounts and tools such as the journey planner.'
              },
              {
                checked: false,
                title: 'Functional cookies',
                desc: 'These cookies help us to personalise our services to suit your needs, like saving your favourite transport services.'
              },
              {
                checked: false,
                title: 'Performance cookies',
                desc: 'These cookies collect information about how you’re using our services, for instance popular pages or errors. We use this information to make decisions when improving our services. We do not use any information collected to identify you as an individual.'
              }
            ]
          }) | trim | indent(4)
        }}
      </div>
      <br /><br />
      {{
        primary({
          classNames: "wmnds-btn wmnds-save-preferences",
          text: "Save Preferences",
          type: "submit"
        }) | trim | indent(4)
      }}
    </form>
  </div>
</div>
{% endmacro %}
