{% macro wmndsContentTilesSmall2(params) %}

<div class="wmnds-content-tile">
    <div>
        <h2 class="wmnds-content-tile__title">Hagley Road and Five Ways area</h2>
    </div>
    <div class="wmnds-content-tile--copy">
    <ul class="wmnds-content-tile--copy__list">
        <li class="wmnds-col-1"><span>Location:</span> Birmingham city centre</li>
        <li class="wmnds-col-1"><span>Lasts until:</span> December 2019</li>
        </ul>
    </div>
    <div class="wmnds-col-1"><a href="#" class="wmnds-link wmnds-float--right">Read more</a></div>
</div>


{% endmacro %}