{% macro wmndsContentTilesSmall2(params) %}
<div class="wmnds-content-tile">
   <div>
      <h2 class="wmnds-content-tile__title">Hagley Road and Five Ways area</h2>
   </div>
   <div class="wmnds-content-tile--copy">
      <ul class="wmnds-content-tile--copy__list">
         <li><span>Location:</span> Birmingham city centre</li>
         <li><span>Lasts until:</span> December 2019</li>
         <li><a href="#" class="wmnds-link wmnds-float--right">Read more</a></li>
      </ul>
   </div>
</div>
{% endmacro %}