{% macro wmndsContentTilesSmall2(params) %}
<div class="wmnds-content-tile">
   <h2 class="wmnds-content-tile__title">Hagley Road and Five Ways area</h2>
   <div class="wmnds-content-tile__copy">
      <ul class="wmnds-content-tile__list">
         <li><span class="wmnds-content-tile__bold">Location:</span> Birmingham city centre</li>
         <li><span class="wmnds-content-tile__bold">Lasts until:</span> December 2019</li>
         <li><a href="#" class="wmnds-link wmnds-float-right">Read more</a></li>
      </ul>
   </div>
</div>
{% endmacro %}