.wmnds-fe-checkboxes {
  &__desc {
    display: block;
    margin-bottom: $size-sm;
  }

  // Customize the label (the container)
  &__container {
    @include type-setting(0);
    display: block;
    position: relative;
    min-height: 35px;
    margin-bottom: $size-md;
    padding-top: 0.35rem;
    padding-left: 60px;
    cursor: pointer;
    align-items: center;
    user-select: none;

    // On mouse-over, add a grey background color
    &:hover .wmnds-fe-checkboxes__checkmark {
      background-color: get-color(secondary, 70);
    }
  }

  // The svg checkmark styling
  &__icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 26px;
    height: 23px;
    margin: auto;
    fill: get-color(primary);
  }

  // Hide the browser's default checkbox
  &__input {
    position: absolute;
    width: 35px;
    height: 35px;
    @include type-setting(0);
    padding: $size-sm;
    border: 1px solid get-color(primary);
    opacity: 0;
    color: get-color(text);

    &:focus ~ .wmnds-fe-checkboxes__checkmark {
      background-color: get-color(secondary, 70);
    }

    // Show the checkmark when checked
    &:checked ~ .wmnds-fe-checkboxes__checkmark > .wmnds-fe-checkboxes__icon {
      display: block;
    }
  }

  // Create a custom checkbox box
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border: 2px solid get-color(primary);
    background: $white;
  }
}
