$border: #979797;

.wmnds-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  &__caption {
    font-weight: bold;
    text-align: left;
  }

  th {
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
  }

  th,
  td {
    height: 2.625rem;
    padding: $size-xsm 0;
    padding-right: $size-sm;
    border-bottom: 1px solid $border;
  }

  td {
    vertical-align: middle;
  }


  @media screen and (max-width: $breakpoint-md) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    tr > th,
    tr > td:not(:last-of-type) {
      border-bottom: 0;
    }

    td,
    th {
      height: auto;
      padding: $size-xs 0;
    }

    tr {
      padding: $size-xs 0;
    }

  }
}
