{% macro wmndsTable(params) %}

<table class="wmnds-table">
  <caption class="wmnds-table__caption">
    Table Title
  </caption>
  <thead>
    <tr>
      <th scope="col">Header 1</th>
      <th scope="col">Header 2</th>
      <th scope="col">Header 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Cell</th>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <th scope="row">Cell</th>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <th scope="row">Cell</th>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
  </tbody>
</table>

{% endmacro %}