{% macro wmndsTable(params) %}

{# Params #}
{% set title = params.title if params.title %}
{% set caption = params.caption if params.caption %}
{% set hideHeader = params.hideHeader if params.hideHeader else false %}
{% set classNames = " " + params.classNames if params.classNames %}
{% set hideHeaderClass = " wmnds-table--without-header" if params.hideHeader else "" %}



<table class="wmnds-table{{classNames}}{{hideHeaderClass}}">
  {%- if title %}
  <h3>
    {{title}}
  </h3>
  {% endif -%}

  {%- if caption %}
    <caption class="wmnds-table__caption">
      {{- caption -}}
    </caption>
  {%- endif -%}

  
  {%- if hideHeader === false %}
    {%- if params.headers %}
      <thead>
        <tr>
            {% for i in range(0, params.headers.length) -%}
              <th scope="col">{{params.headers[i]}}</th>
            {% endfor %}
        </tr>
      </thead>
    {%- else %}
      <thead>
        <tr>
            {% for i in range(1, params.cols + 1) -%}
              <th scope="col">Header {{i}}</th>
            {% endfor %}
        </tr>
      </thead>
    {% endif -%}
  {% endif -%}

  <tbody>
    {%- for j in range(1, params.rows + 1) %}
    <tr>
      <th scope="row" {% if params.cellClasses[0] %}class="{{params.cellClasses[0]}}"{% endif %} {% if params.headers %}data-header="{{params.headers[0]}}"{% endif %}>
        {%- if params.values -%}
          {{- params.values[j-1][0] -}}
        {% else -%}
          Cell
        {%- endif -%}
      </th>

      {%- for k in range(1, params.cols) %}
        <td {% if params.cellClasses[k] %}class="{{params.cellClasses[k]}}"{% endif %} {% if params.headers %}data-header="{{params.headers[k]}}"{% endif %}>
          {%- if params.values %}
            {{- params.values[j-1][k] | safe -}}
          {%- else -%}
            Cell
          {%- endif -%}
        </td>
      {%- endfor %}
    </tr>
    {%- endfor %}
  </tbody>
</table>

{% endmacro %}