$border: #979797;

.wmnds-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  &__caption {
    font-weight: bold;
    text-align: left;
  }

  th {
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
  }

  th,
  td {
    height: 2.625rem;
    padding: $size-xsm 0;
    padding-right: $size-sm;
    border-bottom: 1px solid $border;
  }

  td {
    vertical-align: middle;
  }

  @media screen and (max-width: $breakpoint-md) {
    // Force table to not be like tables anymore
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    // Hide table headers (but not display: none;, for accessibility)
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      padding: $size-xsm 0;
      border-bottom: 1px solid $border;
    }

    tr > th {
      padding-bottom: 0;
    }

    // Behave  like a "row"
    tr > th,
    tr > td {
      position: relative;
      height: auto;
      padding-left: 50%;
      border-bottom: 0;
      text-align: left; // force it to align left
      white-space: normal;

      // Now like a table header
      &:before {
        content: attr(data-header);
        position: absolute;
        top: 50%;
        left: 0;
        width: 45%;
        padding-right: $size-sm;
        transform: translateY(-50%);
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
      }
    }

    &.wmnds-table--without-header {
      // shorten table
      tr > th,
      tr > td {
        padding-left: 0;

        &:before {
          content: none;
        }
      }
    }
  }
}
