{% macro wmndsMessage(params) %}
{# Set vars and defaults #}

{# Success #}
{% if params.type === "success" %}
  {% set iconName = 'general-success' %}
{# Warning #}
{% elseif params.type === "warning" %}
  {% set iconName = 'general-warning-circle' %}
{# Error #}
{% elseif params.type === "error" %}
  {% set iconName = 'general-warning-triangle' %}
{# Info (default) #}
{% else %}
  {% set iconName = 'general-info' %}
{% endif %}

{% from "components/icon/_icon.njk" import wmndsIcon %}

<div class="wmnds-message wmnds-message--{{ params.type }}">
  <div class="wmnds-message__header">
    {# Get SVG icon and pass #}
    {{-
      wmndsIcon({
        icon: iconName,
        class: 'wmnds-message__icon'
      }) | indent | trim
    }}
    <h3 class="wmnds-message__title">{{ params.title }}</h3>
  </div>
  {{ params.message | safe }}
</div>

{% endmacro %}