.wmnds-message {
  padding: $padding-sm;
  border: 1px solid;
  border-color: get-color(success);

  &__header {
    display: block;
  }

  &__icon {
    width: 35px;
    height: 35px;
    fill: get-color(success);
  }

  &__title {
    margin: 0;
    padding-left: $padding-sm;
  }

  &__icon,
  &__title {
    display: inline-block;
    vertical-align: middle;
  }
}
