{% macro wmndsMessage(params) %}
{# Set vars and defaults #}

{# Success #}
{% if params.type === "success" %}
  {% set iconType = {
    icon: 'general-icon-success',
    class: 'wmnds-message__icon'
  } %}
{# Warning #}
{% elseif params.type === "warning" %}
  {% set iconType = {
    icon: 'general-icon-warning-circle',
    class: 'wmnds-message__icon'
  } %}
{# Error #}
{% elseif params.type === "error" %}
  {% set iconType = {
    icon: 'general-icon-warning-triangle',
    class: 'wmnds-message__icon'
  } %}
{# Info (default) #}
{% else %}
  {% set iconType = {
    icon: 'general-icon-info',
    class: 'wmnds-message__icon'
  } %}
{% endif %}

{% from "components/icon/_icon.njk" import wmndsIcon %}

<div class="wmnds-message wmnds-message--{{ params.type }}">
  <div class="wmnds-message__header">
    {{
      wmndsIcon(iconType) | indent | trim
    }}
    <h3 class="wmnds-message__title">{{ params.title }}</h3>
  </div>
  {{ params.message | safe }}
</div>

{% endmacro %}