.wmnds-message {
  padding: $padding-sm;
  border: 1px solid get-color(information);

  &__header {
    display: block;
  }

  &__icon {
    width: 35px;
    height: 35px;
    fill: get-color(information);
  }

  &__title {
    margin: 0;
    padding-left: $padding-sm;
  }

  &__icon,
  &__title {
    display: inline-block;
    vertical-align: middle;
  }

  // MESSAGE MODIFIERS - info is the default (above)

  // Success
  &--success {
    border-color: get-color(success);

    .wmnds-message__icon {
      fill: get-color(success);
    }
  }

  // Warning
  &--warning {
    border-color: get-color(warning);

    .wmnds-message__icon {
      fill: get-color(warning);
    }
  }

  // Warning
  &--error {
    border-color: get-color(error);

    .wmnds-message__icon {
      fill: get-color(error);
    }
  }
}
