{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Links" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{# About #}
<h2>About</h2>
<p>
  <strong>Buttons</strong> and <strong>links</strong> are items used to perform an action on a
  page
</p>
<p>
  It's important to know when to use a <strong>link</strong> or a
  <strong><a href="/components/buttons/">button</a></strong>
</p>
<p>
  <strong>Links</strong> should be used when a users action won’t affect the website at all,
  examples of these
  are:
</p>
<ul>
  <li>Certain call to actions</li>
  <li>Links to internal or external pages</li>
</ul>

<h3>What do the <strong>link</strong> attritubes mean?</h3>
<p>The <strong>href</strong> attritube is used to define the link address</p>
<p>The <strong>target</strong> attritube is used to define where to open the linked document.
  See below to find
  out more about the <strong>target</strong> attritube</p>
<p>The <strong>title</strong> attritube is used to define additional information about the
  link. It's useful for
  your users and accessibility. Try not to duplicate your link text- this hurts usability as
  hard of sight users
  using screen readers will here the same text twice.</p>

<p><strong>Target</strong> attritube values:</p>
<ul>
  <li><strong>_blank</strong>: Will load clicked link in a new window</li>
  <li><strong>_self</strong>: Will load clicked link in the same frame as it was clicked in
  </li>
  <li><strong>_parent</strong>: Will load clicked link in the parent frameset</li>
  <li><strong>_top</strong>: Will load clicked link in the full body of the window</li>
  <li><strong>framename</strong>: Will load clicked link in a named frame</li>
</ul>
<hr>
<br><br>


{# Default link #}
<h2>Default link</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Highlight that the word or phrase is different from other body text</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When the link is within text</li>
  <li>When the link is part of a list of links</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>The start of a process</li>
  <li>When the link is a destructive action</li>
</ul>
{% from "wmnds/components/link/link/_link.njk" import wmndsLink %}
{{
  compExample([
    wmndsLink()
  ])
}}
<br><br>


{# Back link #}
<h2>Back link</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Help users go back to the previous page in a multi-page transaction</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>Only use a back link on transactional services or multi-page forms.</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>Never use it together with breadcrumbs. Do user research to find out if users find breadcrumbs or the back link easier to use.</li>
  <li>Within COVID-19 services, user research found that too many links on the page distracted users.</li>
  <li>Do not use the back link on a content page.</li>
</ul>
{# How it works #}
<h3>How it works?</h3>
<ul>
  <li>Always place back links at the top of the page.</li>
  <li>Make sure the link takes users to the previous page they were on, in the state they last saw it.</li>
  <li>If you cannot do this you should hide the back link. For example, when JavaScript is not available.</li>
</ul>
{% from "wmnds/components/link/link/_link.njk" import wmndsLink %}
{{
  compExample([
    wmndsLink( { isBackLink: true, text: "Back" } )
  ])
}}


<br><br>
{# Link with chevron #}
<h2>Link with chevron</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Directs users to a related page which contains further information.</li>
  <li>Allows users to navigate forwards and backwards between search results.</li>
</ul>
{# When to #}
<h3>When to use it?</h3>
<ul>
  <li>When you want to direct users to a page with additional information.</li>
  <li>Only use the Previous variant for the search results page.</li>
</ul>
{# When not to #}
<h3>When not to use it?</h3>
<ul>
  <li>In body text. Use the Default link component instead.</li>
  <li>On transactional services or multi-page forms. You should use the Back link component for this.</li>
</ul>
{# How #}
<h3>How does it work?</h3>
<ul>
  <li>If used on a site-wide banner, such as the Emergency banner, then the link will need to be hidden on the page which it links to.</li>
  <li>The colour of the chevron icon must meet graphical object colour contrast requirements of at least 3:1.</li>
</ul>
{{
  compExample([
    wmndsLink({
      text: "Link",
      withChevronLeft: true
    }),
    wmndsLink({
      text: "Link",
      withChevronRight: true
    })
  ])
}}


<br><br>
{# call to action button as link #}
<h2>Call to action buttons</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Encourages the most desired action you want visitors to take.</li>
  <li>Attracts attention on the page.</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When you need a strong visual indicator to help user to complete their journey and do their task.</li>
  <li>When you need action oriented button. Think: 'Done', 'Save', 'Next', 'Submit'.</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>What action you want users to take is not essential in completing their task.</li>
  <li>When a button is a destructive action.</li>
  <li>When a button starts a process or journey.</li>
</ul>
{%- from "wmnds/components/link/as-button/_as-button.njk" import wmndsLinkAsButton as cta %}
{{
  compExample([
    cta({
      text: "Call to action button",
      linkTitle: "This is a call to action link"
    }),
    cta({
      text: "Call to action icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a call to action link"
    })
  ])
}}
{# end: call to action button as link #}
<br><br>


{# primary buttons #}
<h2>Primary buttons</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Gives users alternative to the call to action button.</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When action is not as important as a call to action so it shouldn’t call as much attention.</li>
  <li>When a button typically indicates actions that are important but not the call to action on a page.</li>
  <li>Can be used in isolation or in conjunction with call to action button and secondary.</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When a button is essential for continuing the user journey</li>
  <li>When a button is a destructive action</li>
  <li>When a button starts a process or journey</li>
</ul>
{%- from "wmnds/components/link/as-button/_as-button.njk" import wmndsLinkAsButton as primary -%}
{{
  compExample([
    primary({
      classNames: "wmnds-btn--primary",
      text: "Primary button",
      linkTitle: "This is a primary link"
    }),
    primary({
      classNames: "wmnds-btn--primary",
      text: "Primary icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a primary link"
    })
  ])
}}
{# end: primary button as link #}
<br><br>


{# secondary buttons #}
<h2>Secondary buttons</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Indicates action that is less important than call to action primary.</li>
  <li>When used together with call to action and primary button it creates visual hierarchy.</li>
  <li>Highlights an inessential action.</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>To indicate lower priority than call to action and primary button.</li>
  <li>To create a clear hierarchy of priority and importance of actions.</li>
  <li>When a button is inessential for continuing the user journey.</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When you need a strong visual indicator to help user to complete their journey and do their task.</li>
  <li>When a button is essential for continuing the user journey</li>
  <li>When a button is a destructive action</li>
  <li>When a button starts a process or journey</li>
</ul>
{%- from "wmnds/components/link/as-button/_as-button.njk" import wmndsLinkAsButton as secondary -%}
{{
  compExample([
    secondary({
      classNames: "wmnds-btn--secondary",
      text: "Secondary button",
      linkTitle: "This is a secondary link"
    }),
    secondary({
      classNames: "wmnds-btn--secondary",
      text: "Secondary icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a secondary link"
    })
  ])
}}
{# end: secondary button as link #}
<br><br>


{# destructive button as link #}
<h2>Destructive button as link</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Shows that the button's action deletes or removes something</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When an action is destructive</li>
  <li>Example: deleting a favourite route, removing a swift card, deleting an account</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When a button starts a process or journey</li>
  <li>When a button is trying to attract the user's attention</li>
</ul>
{%- from "wmnds/components/link/as-button/_as-button.njk" import wmndsLinkAsButton as destructive -%}
{{
  compExample([
    destructive({
      classNames: "wmnds-btn--destructive",
      text: "Destructive button",
      linkTitle: "This is a destructive link"
    }),
    destructive({
      classNames: "wmnds-btn--destructive",
      text: "Destructive icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a destructive link"
    })
  ])
}}
{# end: destructive button as link #}


<br><br>
{# start button as link #}
<h2>Start button as link</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Shows that the button starts a process or journey</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When a button starts a process or journey</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>When a button is a destructive action</li>
  <li>When a button is trying to attract the user's attention</li>
  <li>When the button is inessential for continuing the user journey</li>
</ul>
{%- from "wmnds/components/link/as-button/_as-button.njk" import wmndsLinkAsButton as start -%}
{{
  compExample([
    start({
      classNames: "wmnds-btn--start",
      text: "Start button",
      linkTitle: "This is a start link"
    }),
    start({
      classNames: "wmnds-btn--start",
      text: "Start icon button",
      iconRight: "general-chevron-right",
      linkTitle: "This is a start link"
    })
  ])
}}
{# end: start button as link #}
{% endblock %}
