{% raw %}
{% from "wmnds/components/journey-planner-widget/_journey-planner-widget.njk" import wmndsJourneyPlannerWidget %}

{{
   wmndsJourneyPlannerWidget({
        isOpen: true,
        isHowOpen: false,
        isWhenOpen: false
   })
}}
{% endraw %}
