{% macro wmndsJourneyPlannerWidget(params) %}

{# Imports of components #}
{% from "wmnds/components/content-card/_content-card.njk" import wmndsContentCard %}
{% from "wmnds/components/form-elements/text-input/_text-input.njk" import wmndsTextInput %}
{% from "wmnds/components/button/_button.njk" import wmndsButton %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{# {% from "wmnds/components/dropdown/_dropdown.njk" import wmndsDropdown %} #}

{# Set params #}
{% set formTitle = params.formTitle if params.formTitle else "Plan your journey" %}
{% set isOpen = " wmnds-is--open" if params.isOpen %}
{% set suffix = "--opened" if params.isOpen else "--collapsed" %}
{% set leaveSuffix = "--leave-opened" if params.isWhenOpen else "--leave-collapsed" %}
{% set modeSuffix = "--mode-opened" if params.isModeOpen else "--mode-collapsed" %}
{% set isWhenOpen = " wmnds-is--open" if params.isWhenOpen %}
{% set isModeOpen = " wmnds-is--open" if params.isModeOpen %}


<div style="max-width: 288px">

    <div class="wmnds-journey-planner-widget {{isOpen}}">

        {% call wmndsContentCard() %}
            <div class="wmnds-p-md">

                <h2>{{formTitle}}</h2>

                <form class="wmnds-journey-planner-widget__form">
                    
                    <div class="wmnds-journey-planner-widget__from">
                        {{
                            wmndsTextInput({
                                id: ("from" + suffix + leaveSuffix + modeSuffix),
                                name: "from",
                                label: {
                                    contentText: 'From'
                                },
                                placeholder: 'Enter station or postcode',
                                required: true,
                                formGroup: {
                                    classes: 'wmnds-m-b-md'
                                }
                            })
                        }}
                    </div>

                    <div class="wmnds-journey-planner-widget__to">

                        <div class="wmnds-journey-planner-widget__switch">
                            {{
                                wmndsButton({
                                    type: "link",
                                    contentText: "Switch",
                                    classes: "wmnds-m-t--lg"
                                })
                            }}

                            {{ 
                                wmndsIcon({
                                    icon: 'general-swap',
                                    class: 'wmnds-journey-planner-widget__switch-icon'
                                }) | safe 
                            }}
                        </div>

                        {{
                            wmndsTextInput(
                                {
                                    id: ("to" + suffix + leaveSuffix + modeSuffix),
                                    name: "to",
                                    label: {
                                        contentText: 'To'
                                    },
                                    placeholder: 'Enter station or postcode',
                                    required: true,
                                    formGroup: {
                                        classes: 'wmnds-m-b-md'
                                    }
                                }
                            )
                        }}
                    </div>
                    

                    <div class="wmnds-journey-planner-widget__when {{isWhenOpen}}">
                        <div class="wmnds-journey-planner-widget__when--collapsed">
                            <div class="wmnds-grid wmnds-grid--justify-between">
                                <h4 class="wmnds-col-1-2 wmnds-m-b-none">Leave</h4>
                                {{ 
                                    wmndsButton({
                                        type: "link",
                                        contentText: "Change",
                                        classes: "wmnds-m-t--lg"
                                    })
                                }}
                            </div>
                            <p>Now</p>
                        </div>
                        <div class="wmnds-journey-planner-widget__when--expanded">

                            <div class="wmnds-journey-planner-widget__when--controller">
                                {{
                                    wmndsButton({
                                        type: "link",
                                        contentText: "Arrival time",
                                        classes: "wmnds-m-t--lg"
                                    })
                                }}
                            </div>
{#
                            {{
                                wmndsDropdown({
                                    id: ("leave" + suffix + leaveSuffix + modeSuffix),
                                    name: "leave",
                                    items: [
                                        {
                                            value: "today",
                                            contentText: "Today",
                                            selected: true,
                                            disabled: false
                                        },
                                        {
                                            value: "tomorrow",
                                            contentText: "Tomorrow",
                                            selected: false,
                                            disabled: false
                                        }
                                    ],
                                    describedBy: null,
                                    label: "Leave",
                                    classes: null,
                                    error: false,
                                    errorMessage: {
                                        id: null,
                                        contentText: "Please select an option",
                                        contentHTML: null,
                                        classes: null
                                    }
                                })
                            }}

 
                            {{
                                wmndsDropdown({
                                    id: ("leave" + suffix + leaveSuffix + modeSuffix),
                                    name: "time",
                                    type: "time",
                                    describedBy: null,
                                    label: "",
                                    classes: null,
                                    error: false,
                                    errorMessage: {
                                        id: null,
                                        contentText: "Please select an option",
                                        contentHTML: null,
                                        classes: null
                                    }
                                })
                            }} #}

                        </div>
                    </div>

                    <div class="wmnds-journey-planner-widget__travel-by">
                        <div class="wmnds-grid wmnds-grid--justify-between">
                            <h4 class="wmnds-col-1-2 wmnds-m-b-none">Travel by</h4>
                            {{ 
                                wmndsButton({
                                    type: "link",
                                    contentText: "Change",
                                    classes: "wmnds-m-t--lg"
                                })
                            }}
                        </div>
                        <p>All transport modes</p>
                    </div>

                    <div class="wmnds-journey-planner-widget__advanced-search">
                        {{ 
                            wmndsButton({
                                type: "link",
                                contentText: "Mobility and advanced search",
                                classes: "wmnds-m-t--lg"
                            })
                        }}
                    </div>

                    <div class="wmnds-journey-planner-widget__submit">
                        {{
                            wmndsButton({
                                contentText: "Plan my journey",
                                classes: "wmnds-m-t-md",
                                role: "submit",
                                iconRight: "general-chevron-right"
                            })
                        }}
                    </div>

                </form>
            </div>
        {% endcall %}

    </div>
</div>


{% endmacro %}