{% macro wmndsJourneyPlannerWidget(params) %}

{# Imports of components #}
{% from "wmnds/components/content-card/_content-card.njk" import wmndsContentCard %}
{% from "wmnds/patterns/autocomplete/_autocomplete.njk" import wmndsAutocomplete %}
{% from "wmnds/components/button/_button.njk" import wmndsButton %}
{% from "wmnds/components/link/link/_link.njk" import wmndsLink %}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{% from "wmnds/components/form-elements/dropdown/_dropdown.njk" import wmndsDropdown %}


{# Set params #}
{% set formTitle = params.formTitle if params.formTitle else "Plan your journey" %}
{% set isOpen = " wmnds-is--open" if params.isOpen %}
{% set suffix = "--opened" if params.isOpen else "--collapsed" %}
{% set leaveSuffix = "--leave-opened" if params.isWhenOpen else "--leave-collapsed" %}
{% set modeSuffix = "--mode-opened" if params.isHowOpen else "--mode-collapsed" %}
{% set isWhenOpen = " wmnds-is--open" if params.isWhenOpen %}
{% set isHowOpen = " wmnds-is--open" if params.isHowOpen %}
{% set isFromTo = true if params.isFromTo %}
{% set fromToLinks = params.fromToLinks if params.fromToLinks else { from: '#/', to: '#/' } %}


<div style="max-width: 288px">

    {% if isFromTo %}
    <div class="wmnds-content-card wmnds-m-b-lg">
        <div class="wmnds-p-md">
            <h2>Plan your journey</h2>
            <div class="wmnds-grid wmnds-grid--spacing-2-md">
                <div class="wmnds-col-1-2">
                    <a class="wmnds-btn wmnds-btn--secondary wmnds-col-1" href="{{fromToLinks.from}}" referrerpolicy="origin" target="_blank" rel="noreferrer">From here</a>
                </div>
                <div class="wmnds-col-1-2">
                    <a class="wmnds-btn wmnds-btn--secondary wmnds-col-1" href="{{fromToLinks.from}}" referrerpolicy="origin" target="_blank" rel="noreferrer">To here</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="wmnds-journey-planner-widget {{isOpen}}">

        {% call wmndsContentCard() %}
            <div class="wmnds-p-md">

                <h2>{{formTitle}}</h2>

                <form class="wmnds-journey-planner-widget__form" action="//journeyplanner.networkwestmidlands.com/Home/HandleWidgetQuery" method="GET" name="jphome"> 

                    <div class="wmnds-journey-planner-widget__from wmnds-m-b-md">
                        {{
                            wmndsAutocomplete({
                                id: ("from" + suffix + leaveSuffix + modeSuffix),
                                name: "Origin",
                                label: {
                                    contentText: 'From'
                                },
                                placeholder: 'Enter station or postcode',
                                loading: false,
                                showSuggestions: false,
                                textSuggestions: true,
                                isRequired: true
                            })
                        }}
                    </div>

                    <div class="wmnds-journey-planner-widget__to wmnds-m-b-md">
                        <div class="wmnds-journey-planner-widget__switch">
                            {{
                                wmndsButton({
                                    type: "link",
                                    contentText: "Switch",
                                    classes: "wmnds-m-t--lg"
                                })
                            }}

                            {{ 
                                wmndsIcon({
                                    icon: 'general-swap',
                                    class: 'wmnds-journey-planner-widget__switch-icon'
                                }) | safe 
                            }}
                        </div>
                        
                        {{
                            wmndsAutocomplete({
                                id: ("to" + suffix + leaveSuffix + modeSuffix),
                                name: "Destination",
                                label: {
                                    contentText: 'To'
                                },
                                placeholder: 'Enter station or postcode',
                                loading: false,
                                showSuggestions: false,
                                textSuggestions: true,
                                isRequired: true
                            })
                        }}
                        
                    </div>
                    

                    <div class="wmnds-journey-planner-widget__when {{isWhenOpen}}">
                        <div class="wmnds-journey-planner-widget__when--collapsed">
                            <div class="wmnds-grid wmnds-grid--justify-between">
                                <h4 class="wmnds-col-1-2 wmnds-m-b-none">Leave</h4>
                                {{ 
                                    wmndsButton({
                                        type: "link",
                                        contentText: "Change",
                                        classes: "wmnds-m-t--lg"
                                    })
                                }}
                            </div>
                            <p>Now</p>
                        </div>
                        <div class="wmnds-journey-planner-widget__when--expanded">

                            <div class="wmnds-journey-planner-widget__when-controller">
                                {{
                                    wmndsButton({
                                        type: "link",
                                        contentText: "Arrival time",
                                        classes: "wmnds-m-t--lg"
                                    })
                                }}
                            </div>

                            <h4>Leave</h4>
                            <input type="hidden" name="journeyTimeType" value="Leaving" aria-label="leave"/>

                            {{
                                wmndsDropdown({
                                    id: ("day" + suffix + leaveSuffix + modeSuffix),
                                    name: "day",
                                    items: [
                                        {
                                            value: "today",
                                            contentText: "Today",
                                            selected: true,
                                            disabled: false
                                        },
                                        {
                                            value: "tomorrow",
                                            contentText: "Tomorrow",
                                            selected: false,
                                            disabled: false
                                        }
                                    ],
                                    describedBy: null,
                                    label: "Day",
                                    labelClasses: "wmnds-screenreaders-only",
                                    classes: null,
                                    groupClasses: "wmnds-m-b-sm",
                                    error: false,
                                    errorMessage: {
                                        id: null,
                                        contentText: "Please select an option",
                                        contentHTML: null,
                                        classes: null
                                    }
                                })
                            }}

 
                            {{
                                wmndsDropdown({
                                    id: ("time" + suffix + leaveSuffix + modeSuffix),
                                    name: "SelectedJourneyTime",
                                    type: "time",
                                    describedBy: null,
                                    label: "Time",
                                    labelClasses: "wmnds-screenreaders-only",
                                    classes: null,
                                    groupClasses: "wmnds-m-b-md",
                                    error: false,
                                    errorMessage: {
                                        id: null,
                                        contentText: "Please select an option",
                                        contentHTML: null,
                                        classes: null
                                    }
                                })
                            }} 

                        </div>
                    </div>

                    <div class="wmnds-journey-planner-widget__how {{isHowOpen}}">
                        <div class="wmnds-journey-planner-widget__how--collapsed">
                            <div class="wmnds-grid wmnds-grid--justify-between">
                                <h4 class="wmnds-col-1-2 wmnds-m-b-none">Travel by</h4>
                                {{ 
                                    wmndsButton({
                                        type: "link",
                                        contentText: "Change",
                                        classes: "wmnds-m-t--lg"
                                    })
                                }}
                            </div>
                            <p>All transport modes</p>
                        </div>
                        <div class="wmnds-journey-planner-widget__how--expanded">
                            <h4 class="wmnds-col-1-2 wmnds-m-b-none">Travel by</h4>
                            <div class="wmnds-journey-planner-widget__how-controller">
                                {{
                                    wmndsButton({
                                        type: "link",
                                        contentText: "Select all",
                                        classes: "wmnds-m-t--lg"
                                    })
                                }}
                            </div>
                            <div class="wmnds-grid wmnds-grid--spacing-2-md wmnds-m-t-sm">
                                <div class="wmnds-col-1-2">
                                    <input type="checkbox" class="wmnds-screenreaders-only" name="useBus" checked aria-label="bus"/>
                                    {{
                                        wmndsButton({
                                            iconLeft: "modes-isolated-bus",
                                            contentText: "Bus",
                                            type: "mode",
                                            iconClasses: "wmnds-btn__coloured-icon--bus",
                                            classes:"wmnds-col-1 wmnds-m-b-sm"
                                        })
                                    }}
                                </div>
                                <div class="wmnds-col-1-2">
                                    <input type="checkbox" class="wmnds-screenreaders-only" name="useTram" checked aria-label="Tram"/>
                                    {{
                                        wmndsButton({
                                            iconLeft: "modes-isolated-metro",
                                            contentText: "Tram",
                                            type: "mode",
                                            iconClasses: "wmnds-btn__coloured-icon--metro",
                                            classes:"wmnds-col-1 wmnds-m-b-sm"
                                        })
                                    }}
                                </div>
                                <div class="wmnds-col-1-2">
                                    <input type="checkbox" class="wmnds-screenreaders-only" name="useTrain" checked aria-label="Train"/>
                                    {{
                                        wmndsButton({
                                            iconLeft: "modes-isolated-rail",
                                            contentText: "Train",
                                            type: "mode",
                                            iconClasses: "wmnds-btn__coloured-icon--train",
                                            classes:"wmnds-col-1 wmnds-m-b-sm"
                                        })
                                    }}
                                </div>
                                <p class="wmnds-col-1 wmnds-m-b-sm">Or</p>

                                <div class="wmnds-col-1-2">
                                    <input type="radio" class="wmnds-screenreaders-only" name="altjp" aria-label="walk"/>
                                    {{
                                        wmndsButton({
                                            iconLeft: "modes-isolated-walk",
                                            contentText: "Walk",
                                            type: "mode",
                                            iconClasses: "wmnds-btn__coloured-icon--walk",
                                            classes:"wmnds-col-1 wmnds-m-b-sm"
                                        })
                                    }}
                                </div>
                                <div class="wmnds-col-1-2">
                                    <input type="radio" class="wmnds-screenreaders-only" name="altjp" aria-label="cycle"/>
                                    {{
                                        wmndsButton({
                                            iconLeft: "modes-isolated-cycle",
                                            contentText: "Cycle",
                                            type: "mode",
                                            iconClasses: "wmnds-btn__coloured-icon--cycle",
                                            classes:"wmnds-col-1 wmnds-m-b-sm"
                                        })
                                    }}
                                </div>
                                    
                            </div>
                        </div>
                    </div>

                    <div class="wmnds-journey-planner-widget__advanced-search">
                        {{ 
                            wmndsLink({
                                contentText: "Mobility and advanced search",
                                link: "http://journeyplanner.networkwestmidlands.com/",
                                linkTitle: "Go to mobility and advanced search",
                                classes: "wmnds-m-t--lg"
                            })
                        }}
                    </div>

                    <div class="wmnds-journey-planner-widget__submit">
                        {{
                            wmndsButton({
                                contentText: "Plan my journey",
                                classes: "wmnds-m-t-md",
                                role: "submit",
                                iconRight: "general-chevron-right"
                            })
                        }}
                    </div>

                </form>
            </div>
        {% endcall %}

    </div>
    {% endif %}
</div>


{% endmacro %}