{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Autocomplete" %}

{% block content %}

  <br><br>
  {# With disruption indicator #}
  <h2>With disruption indicator</h2>
  {% from "components/form-elements/search/_search.njk" import wmndsSearch %}
  {% from "www/_partials/component-example/component-example.njk" import compExample %}
  {{
    compExample([wmndsSearch()])
  }}
  {# End Search #}

{% endblock %}