{% macro wmndsQuestion(params) %}
{# Set vars and defaults #}
{% set _text = params.contentText if params.contentText else "How would you...?" %}

<h2 class="wmnds-fe-question">
  {{_text}}
</h2>

{% endmacro %}