{% macro wmndsQuestion(params) %}
{# Set vars and defaults #}
{% set text = params.contentText if params.contentText else "How would you...?" %}

<h2 class="wmnds-fe-question">
  {{contentText}}
</h2>

{% endmacro %}