.wmnds-fe-file-upload {
  display: flex;
  align-items: flex-start;

  &__input {
    position: absolute;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    opacity: 0;

    &:focus ~ .wmnds-fe-file-upload__label {
      outline: 0;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px get-color(secondary);
    }

    &--file-selected {
      & ~ .wmnds-fe-file-upload__label {
        background-color: get-color(error);
      }
    }
  }

  &__label {
    margin-right: $size-sm;
    flex-shrink: 0;
  }
}
