{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Maps" %}
{% set section = "Styles" %}

{% block content %}
{# About #}
<h2>About</h2>

<img class="wmnds-col-1" src="$*cdn/img/component-images/maps/base-map.png" alt="A screenshot showing an example of a map" >

<img class="wmnds-col-1-2 wmnds-col-sm-1-5" src="$*cdn/img/component-images/maps/map-icons.png" alt="A screenshot showing an example of a map" >


{% endblock %}
