$sm-width: 300px;
$sm-width-closed: 78px;
$sm-bg: getColor(secondary);
// $sm-hamburger-closed-color: getColor(secondary);
$sm-hamburger-color: white;
$sm-hamburger-line-height: 3px;
$sm-hamburger-size: 30px;
$sm-hamburger-margin: 5px;
$sm-icon-size: 30px;
$sm-color: white;

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $sm-bg;
    transition: width ease .4s;
    color: $sm-color;
    padding: $padding-md;
    z-index: 100;
    overflow-x: hidden;
    padding-top: $padding-xl;
}

.side-menu--open {
    width: $sm-width;
}

.side-menu--closed {
    // left: -226px;
    width: $sm-width-closed;
}

.side-menu__hamburger {
    position: absolute;
    top: 30px;
    left: $padding-md;
    width: $sm-hamburger-size;
    height: $sm-hamburger-size;
    cursor: pointer;
}

.side-menu__hamburger--open {
    margin-top: 6px;
}

.side-menu__hamburger__line {
    width: 100%;
    height: $sm-hamburger-line-height;
    margin-bottom: $sm-hamburger-margin;
    transition: all ease .6s;
    background-color: $sm-hamburger-color;
    border-radius: $sm-hamburger-line-height / 2;
}

.side-menu__hamburger__line-01--open {
    transform: rotate(45deg);
    margin: 0;
}

.side-menu__hamburger__line-02--open {
    transform: rotate(-45deg);
    margin: 0;
    margin-top: -3px;
}

.side-menu__hamburger__line-03--open {
    opacity: 0;
    margin: 0;
}

.side-menu__hamburger__line-01--closed,
.side-menu__hamburger__line-02--closed,
.side-menu__hamburger__line-03--closed {
    transform: none;
    margin-bottom: $sm-hamburger-margin;
}

.side-menu__sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-menu__sub-menu__item {
    display: flex;
    align-items: center;
    margin-bottom: $margin-md;
    position: relative;
    cursor: pointer;

    span {
        align-self: center;
    }
}

.side-menu__sub-menu__item--closed {
    right: $padding-md;
    left: inherit;
}

.side-menu__sub-menu__item--open {
    right: inherit;
    left: $padding-md;
}

.side-menu__sub-menu__item__icon-container {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    width: $sm-icon-size;
    height: $sm-icon-size;
    display: inline-block;
    position: relative;
}

.side-menu__sub-menu__item__icon-container__icon {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.side-menu__sub-menu__item__text {
    transition: all ease .4s;
    position: absolute;
    left: $padding-lg;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.side-menu__sub-menu__item__text--closed {
    opacity: 0;
    display: none;
}

.side-menu__sub-menu__item__text--open {
    opacity: 1;
    display: inline-block;
    transition-delay: .4s;
}