<div id="side-menu" class="side-menu">
    <div id="hamburger" class="side-menu__hamburger">
        <div id="side-menu__hamburger__line-01" class="side-menu__hamburger__line side-menu__hamburger__line__01"></div>
        <div id="side-menu__hamburger__line-02" class="side-menu__hamburger__line side-menu__hamburger__line__02"></div>
        <div id="side-menu__hamburger__line-03" class="side-menu__hamburger__line side-menu__hamburger__line__03"></div>
    </div>
    <ul class="side-menu__sub-menu">
        <li class="side-menu__sub-menu__item">
            <span class="side-menu__sub-menu__item__icon-container">
                <i class="fas fa-paint-brush side-menu__sub-menu__item__icon-container__icon"></i>
            </span>
            <span class="side-menu__sub-menu__item__text">
                Colour Pallettes
            </span>
        </li>

        <li class="side-menu__sub-menu__item">
            <span class="side-menu__sub-menu__item__icon-container">
                <i class="fas fa-text side-menu__sub-menu__item__icon-container__icon"></i>
            </span>
            <span class="side-menu__sub-menu__item__text">
                Typopgraphy
            
            </span>
        </li>

    </ul>
</div>