{% macro wmndsContentTilesSmall(params) %}

<div class="wmnds-content-tile wmnds-content-tile--yellow">
    <div class="wmnds-col-1">Major Roadw</div>
    <div class="wmnds-col-1">lorem</div>
    <div class="wmnds-col-1"><a href="">Read more</a></div>
</div>


{% endmacro %}