{% macro wmndsFileDownload(params) %}
{# Imports #}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{% from "wmnds/components/link/link/_link.njk" import wmndsLink %}
{# Set #}
{% set fileName = params.fileName or 'file name' %}
{% set fileType = params.fileType or 'filetype' %}
{% set fileSize =  ", " + params.fileSize if params.fileSize else '' %}
{% set accessibleClass = " wmnds-file-download--non-accessible" if params.accessible === false else "" %}
{% set downloadLinkText = params.downloadLinkText if params.downloadLinkText else "Download '" + fileName + "' (" + fileType + fileSize + ")" %}


<div class="wmnds-file-download{{accessibleClass}}">
    {{
        wmndsIcon({
            class: "wmnds-file-download__icon",
            icon: "general-file"
        }) | trim | indent(4)
    }}
    <div class="wmnds-file-download__desc">
        {{
            wmndsLink({
                contentText: downloadLinkText,
                classes: "wmnds-file-download__link",
                download: fileName|replace(' ', '_') + '.' + fileType|lower,
                link: "#"
            })
        }}
        {% if params.accessible === false -%}
        <p class="wmnds-file-download__warning">
            This file may not be suitable for users of assistive technology. <br>
            <a href="#" class="wmnds-link">Request an accessible format.</a>
        </p>
        {%- endif %}
    </div>
</div>

{% endmacro %}