&.wmnds-file-download {
  display: block;
  align-items: center;

  &--non-accessible {
    align-items: flex-start;
  }

  &__icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    fill: get-color(primary);
    vertical-align: middle;
  }

  &__desc {
    display: inline-block;
    width: calc(100% - 2.5rem - #{$size-sm});
    padding-left: $size-sm;
    vertical-align: middle;
  }

  &__warning {
    margin: $size-xsm 0 0;
  }
}
