{% macro wmndsFileDownload(params) %}
{# Imports #}
{% from "wmnds/components/icon/_icon.njk" import wmndsIcon %}
{# Set #}
{% set fileName = params.fileName or 'file name' %}
{% set fileType = params.fileType or 'filetype' %}
{% set fileSize = params.fileSize or 'filesize' %}
{% set accessibleClass = " wmnds-file-download--non-accessible" if params.accessible === false else "" %}

<div class="wmnds-file-download{{accessibleClass}}">
    {{
        wmndsIcon({
            class: "wmnds-file-download__icon",
            icon: "general-file"
        }) | trim | indent(4)
    }}
    <div class="wmnds-file-download__desc">
        <a href="#" download="{{ fileName|replace(' ', '_') + '.' + fileType|lower }}" class="wmnds-link">
            Download '{{fileName}}' ({{fileType}}, {{fileSize}})
        </a>
        {% if params.accessible === false -%}
        <p class="wmnds-file-download__warning">
            This file may not be suitable for users of assistive technology. <br>
            <a href="#" class="wmnds-link">Request an accessible format.</a>
        </p>
        {%- endif %}
    </div>
</div>

{% endmacro %}