{% macro wmndsInput(params) %}

{# Imports #}
{% from "components/form-elements/label/_label.njk" import wmndsLabel %}


<div class="wmnds-grid">
  {{
    wmndsLabel({
      label: 'Input label',
      for: 'input'
    }) | trim
  }}
  <input type="text" name="input" id="input" class="wmnds-col-1"/>
</div>

{% endmacro %}