name: PR preview

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build-preview:
    name: build preview
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Build site
        run: |
          npm ci
          npm run build:all
      - name: Deploy netlify preview
        uses: nwtgck/actions-netlify@v1.1.11
        with:
          publish-dir: './build'
          production-branch: master
          production-deploy: false
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: 'PR #${{ github.event.number }}'
          enable-pull-request-comment: true
          overwrites-pull-request-comment: true
          enable-commit-comment: true
          enable-commit-status: true
          alias: deploy-preview-${{ github.event.number }}
          netlify-config-path: ./netlify.toml
          # functions-dir: ./functions
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
