
.header {
    margin-bottom: $margin-xl;
    background-color: getColor(primary);
    position: relative;
  
    @media only screen and (max-width: 568px) { 
      height: 78px;
      padding: 0px;
    }
  }
  
  #header-logo {
    width: 100px;
  
    @media only screen and (max-width: 568px) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100px;
      max-height: 2rem;
    }
  }

.header__list {
    padding: 0;
    margin: 0;
    float: right;
    clear: both;
    line-height: 38.44px;  // vertically align links
}

.header__list__item {
  display: inline-block;
  line-height: 2rem;
  margin-left: $margin-lg;
  
  a {
      color: white;
      text-decoration: underline;
  }
}

.header__version-icon {
    border-radius: 6px;
    background-color: getColor(secondary);
    color: white;
    padding: 5px;
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
}

.pb__container {
    border-bottom: 1px solid black;
    padding: $padding-sm;
}

.pb__container__icon {
    border-radius: 6px;
    background-color: getColor(secondary);
    color: white;
    margin-right: $margin-sm;
    padding: $padding-sm;
}

.f {
    background-color: getColor(primary);
    color: white;
    padding: $padding-sm;
}

.f__hr {
    margin: 0;
}

.f__list {
    padding: 0;
    padding-bottom: $padding-md;
    margin: 0;
    list-style: none;
}

.f__list__item {
    margin: 0;
}

.f__base {

}

.f__base__list {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    clear: both;
}

.f__base__list__item {
    display: inline-block;
    padding-left: $padding-sm;

    a {
        color: white;
    }
}

.fl__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fl {
    color: white;
    border-bottom: 3px solid getColor(cta);

    a {
        color: white;
    }
}

.fl__container {
    background-color: getColor(cta);
}

.fl__container__list__item {
    display: inline-block;

}

.fl__container__right {
    text-align: right;
}

.crumbs {
    padding: $padding-sm;
}

.crumbs__list {
    padding: 0;
    margin: 0;
    list-style: 0;
}

.crumbs__list__item {
    display: inline-block;

    a:last-of-type {
        text-decoration: none;
        pointer-events: none;
    }
}

.crumbs__list__item__icon:last-of-type {
    display: none;
}

.cookies {
    padding: $padding-sm;
    border: 1px solid getColor(primary);

    .btn {
        display: inline-block;
    }
}

.cookies__disclaimer {
    text-align: right;
}

.cookies__buttons {
    text-align: left;
}