<!-- @@ Head -->
{{ fileInclude 'src/views/wmn-ds-website/shared/head.html' }}

<!-- @@ Header -->
{{ fileInclude 'src/views/wmn-ds-website/header/header.html' }}

<div class="container-lg">
  <h1>Buttons</h1>

  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 comnponent-details">
      {{
          fileInclude
          'src/views/components/button/button.html'
          type='btn__btn-cta'
          text='CTA button'
      }}
      <div class="pure-u-1 component-details">
        <strong>Class names</strong>
        <br />
        .btn<br />
        .btn__btn-cta<br /><br />
        <strong>HTML Markup</strong><br />

        <pre>
          <code class="html">{{
  fileInclude
  'src/views/components/button/button.html'
  type='btn__btn-cta'
  text="[INSERT TEXT HERE]"
}}</code>
        </pre>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 comnponent-details">
      {{
        fileInclude
        'src/views/components/button/button.html'
        type='btn__btn-cta'
        icon="fas fa-chevron-right"
        text="CTA Icon Button"
      }}
      <div class="pure-g component-details">
        <div class="pure-u-1">
          <strong>Class names</strong><br />
          .btn<br />
          .btn__btn-cta<br />
          .icon<br /><br />
          <strong>HTML Markup</strong><br />

          <pre><code class="html">{{
    fileInclude
    'src/views/components/button/button.html'
    type='btn__btn-cta'
    icon="fas fa-chevron-right"
    text="[INSERT TEXT HERE]"
}}</code></pre>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 comnponent-details">
      {{
        fileInclude
        'src/views/components/button/button.html'
        type='btn__btn-primary'
        text="Primary Button"
      }}
      <div class="pure-g component-details">
        <div class="pure-u-1">
          <strong>Class names</strong><br />
          .btn<br />
          .btn-primary<br /><br />
          <strong>HTML Markup</strong><br />

          <pre><code class="html">{{
    fileInclude
    'src/views/components/button/button.html'
    type='btn__btn-primary'
    text="[INSERT TEXT HERE]"
}}</code></pre>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 comnponent-details">
      {{
        fileInclude
        'src/views/components/button/button.html'
        type='btn__btn-primary'
        icon="fas fa-chevron-right"
        text="Primary Icon Button"
      }}
      <div class="pure-g component-details">
        <div class="pure-u-1">
          <strong>Class names</strong><br />
          .btn<br />
          .btn-primary<br />
          .icon<br /><br />
          <strong>HTML Markup</strong><br />

          <pre><code class="html">{{
    fileInclude
    'src/views/components/button/button.html'
    type='btn__btn-primary'
    icon="fas fa-chevron-right"
    text="[INSERT TEXT HERE]"
}}</code></pre>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 comnponent-details">
      {{
        fileInclude
        'src/views/components/button/button.html'
        type='btn__btn-secondary'
        text="Secondary Button"
      }}
      <div class="pure-g component-details">
        <div class="pure-u-1">
          <strong>Class names</strong><br />
          .btn<br />
          .btn-secondary<br /><br />
          <strong>HTML Markup</strong><br />

          <pre><code class="html">{{
    fileInclude
    'src/views/components/button/button.html'
    type='btn__btn-secondary'
    text="[INSERT TEXT HERE]"
}}</code></pre>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 comnponent-details">
      {{
        fileInclude
        'src/views/components/button/button.html'
        type='btn__btn-secondary'
        icon="fas fa-chevron-right"
        text="Secondary Icon Button"
      }}
      <div class="pure-g component-details">
        <div class="pure-u-1">
          <strong>Class names</strong><br />
          .btn<br />
          .btn-secondary<br />
          .icon<br /><br />
          <strong>HTML Markup</strong><br />

          <pre><code class="html">{{
    fileInclude
    'src/views/components/button/button.html'
    type='btn__btn-secondary'
    icon="fas fa-chevron-right"
    text="[INSERT TEXT HERE]"
}}</code></pre>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 comnponent-details">
      {{
        fileInclude
        'src/views/components/button/button.html'
        type='btn__btn-start'
        icon="fas fa-chevron-right"
        text="Start Button"
      }}
      <div class="pure-g component-details">
        <div class="pure-u-1">
          <strong>Class names</strong><br />
          .btn<br />
          .btn-start<br />
          .icon<br /><br />
          <strong>HTML Markup</strong><br />

          <pre><code class="html">{{
    fileInclude
    'src/views/components/button/button.html'
    type='btn__btn-start'
    icon="fas fa-chevron-right"
    text="[INSERT TEXT HERE]"
}}</code></pre>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 comnponent-details">
      {{
        fileInclude
        'src/views/components/button/button.html'
        type='btn__btn-destructive'
        text="Destructive Button"
      }}
      <div class="pure-g component-details">
        <div class="pure-u-1">
          <strong>Class names</strong><br />
          .btn<br />
          .btn-destructive<br /><br />
          <strong>HTML Markup</strong><br />

          <pre><code class="html">{{
    fileInclude
    'src/views/components/button/button.html'
    type='btn__btn-destructive'
    text="[INSERT TEXT HERE]"
}}</code></pre>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 comnponent-details">
      {{
        fileInclude
        'src/views/components/button/button.html'
        type='btn__btn-destructive'
        icon="fas fa-chevron-right"
        text="Destructive Icon Button"
      }}
      <div class="pure-g component-details">
        <div class="pure-u-1">
          <strong>Class names</strong><br />
          .btn<br />
          .btn-destructive<br />
          .icon<br /><br />
          <strong>HTML Markup</strong><br />

          <pre><code class="html">{{
    fileInclude
    'src/views/components/button/button.html'
    type='btn__btn-destructive'
    icon="fas fa-chevron-right"
    text="[INSERT TEXT HERE]"
}}</code></pre>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 comnponent-details">
      {{
        fileInclude
        'src/views/components/button/buttonMode.html'
        type='btn__btn-mode'
        icon='$*cdn/img/Modes/Isolated/Metro.svg'
        text="Metro"
      }}
      <div class="pure-g component-details">
        <div class="pure-u-1">
          <strong>Class names</strong><br />
          .btn<br />
          .btn-mode<br />
          .icon<br /><br />
          <strong>HTML Markup</strong><br />

          <pre><code class="html">{{
    fileInclude
    'src/views/components/button/buttonMode.html'
    type='btn__btn-mode'
    icon='$*cdn/img/Modes/Isolated/Metro.svg'
    text="[INSERT TEXT HERE]"
}}</code></pre>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- @@ Footer -->
{{ fileInclude 'src/views/wmn-ds-website/footer/footer.html' }}

<!-- @@ Scripts -->
{{fileInclude 'src/views/wmn-ds-website/shared/scripts.html'}}
