<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- @@ Head -->
  {{ fileInclude 'src/views/wmn-ds-website/shared/head.html' }}

  <body>
    <!-- @@ Header -->
    {{ fileInclude 'src/views/wmn-ds-website/header/header.html' }}

    <div class="container-lg">
      <h1>Form Elements</h1>

      <!-- Textarea -->
      <div class="pure-g justify-between">
        <div class="pure-u-1">
          <hr />
          <h2>Checkboxes</h2>
        </div>
        <div class="pure-u-1 pad-md">
          {{ fileInclude 'src/views/components/form-elements/checkboxes/checkboxes.html' label='Checboxes label'}}
          <pre><code class="html">{{ fileInclude 'src/views/components/form-elements/checkboxes/checkboxes.html' label='Checboxes label'}}</code></pre>
        </div>
      </div>

      <!-- Dropdown -->
      <div class="pure-g justify-between">
        <div class="pure-u-1">
          <hr />
          <h2>Dropdown</h2>
        </div>

        <div class="pure-u-1 pad-md">
          <div class="pure-u-1 pure-u-sm-1-2">
            {{ fileInclude 'src/views/components/form-elements/dropdown/dropdown.html' label='Dropdown label' for='genericSelect'}}
          </div>
          <pre><code class="html">{{ fileInclude 'src/views/components/form-elements/dropdown/dropdown.html' label='Dropdown label' for='genericSelect'}}</code></pre>
        </div>
      </div>

      <!-- Inputs -->
      <div class="pure-g justify-between">
        <div class="pure-u-1">
          <hr />
          <h2>Inputs</h2>
        </div>
        <!-- Input normal -->
        <div class="pure-u-1 pad-md">
          <div class="pure-u-1 pure-u-sm-1-2">
            {{ fileInclude 'src/views/components/form-elements/input/input.html' label='Single line label' for='singleLineInput' }}
          </div>
          <pre><code class="html">{{ fileInclude 'src/views/components/form-elements/input/input.html' label='Single line label' for='singleLineInput'}}</code></pre>
        </div>
        <!-- Input short -->
        <div class="pure-u-1 pad-md">
          <div class="pure-u-1 pure-u-sm-1-4 ">
            {{ fileInclude 'src/views/components/form-elements/input/input.html' label='Short line label' for='shortLineInput' }}
          </div>
          <pre><code class="html">{{ fileInclude 'src/views/components/form-elements/input/input.html' label='Short line label' for='shortLineInput' }}</code></pre>
        </div>
      </div>

      <!-- Search -->
      <div class="pure-g justify-between">
        <div class="pure-u-1">
          <hr />
          <h2>Autocomplete</h2>
        </div>
        <!-- Search normal -->
        <div class="pure-u-1 pad-md">
          <div class="pure-u-1 pure-u-sm-1-2">
            {{ fileInclude 'src/views/components/form-elements/search/search.html' label='Single line label' for='singleLineSearch' }}
          </div>
          <pre><code class="html">{{ fileInclude 'src/views/components/form-elements/search/search.html' label='Single line label' for='singleLineSearch'}}</code></pre>
        </div>
      </div>

      <!-- Textarea -->
      <div class="pure-g justify-between">
        <div class="pure-u-1">
          <hr />
          <h2>Textarea</h2>
          <!-- Textarea default -->
          <div class="pure-u-1 pad-md">
            <div class="pure-u-1 pure-u-sm-1-2">
              {{ fileInclude 'src/views/components/form-elements/text-area/text-area.html' label='Text area label' }}
            </div>
            <pre><code class="html">{{ fileInclude 'src/views/components/form-elements/text-area/text-area.html' label='Text area label' for='textArea' }}</code></pre>
          </div>
        </div>
      </div>

      <!-- @@ Footer -->
      {{ fileInclude 'src/views/wmn-ds-website/footer/footer.html' }}

      <!-- @@ Scripts -->
      {{fileInclude 'src/views/wmn-ds-website/shared/scripts.html'}}
    </div>
  </body>
</html>
