<!-- @@ Head -->
{{ fileInclude 'src/views/wmn-ds-website/shared/head.html' }}

<!-- @@ Header -->
{{ fileInclude 'src/views/wmn-ds-website/header/header.html' }}

<div class="container-lg">
  <h1>Header</h1>

  <div class="header">
    <div class="container-lg">
      <div class="pure-g">
        <div class="pure-u-1-2">
          <img id="header-logo" class="logo" alt="West Midlands Network" src="$*cdn/img/logo.svg" />
        </div>
        <div class="pure-u-1-2">
          <ul class="header__list">
            <li class="header__list__item"><a href="#">Plan a journey</a></li>
            <li class="header__list__item"><a href="#">Tickets</a></li>
            <li class="header__list__item"><a href="#">Get in touch</a></li>
            <li class="header__list__item">
              <a href="#"><i class="fas fa-search"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- @@ Footer -->
{{ fileInclude 'src/views/wmn-ds-website/shared/footer/footer.html' }}

<!-- @@ Scripts -->
