<!-- @@ Head -->
{{ fileInclude 'src/views/components/shared/head.html' }}

<!-- @@ Header -->
{{ fileInclude 'src/views/wmn-ds-website/header/header.html' }}

<div class="container-lg">

    <h1>Table&apos;s</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- @@ Footer -->
{{ fileInclude 'src/views/wmn-ds-website/footer/footer.html' }}

<!-- @@ Scripts -->
{{ fileInclude 'src/views/components/shared/scripts.html' }}

<link rel="stylesheet" href="$*cdn/css/wmn-ds-website.css" />
<!-- <script src="$*cdn/js/wmn-ds-website.min.js"></script> -->