// Minimum width of website
html {
  min-width: 320px;
}

// Set padding and borders to be contained within an elements size
// instead of adding to it
* {
  box-sizing: border-box;
}

.wmnds-grid {
  & > * {
    box-sizing: border-box;
  }

  // How to align child flex items of a grid
  &.wmnds-grid--justify-between {
    justify-content: space-between;
  }

  &.wmnds-grid--justify-around {
    justify-content: space-around;
  }

  &.wmnds-grid--justify-end {
    justify-content: flex-end;
  }

  &.wmnds-grid--align-center {
    align-items: center;
  }
}

// Container sizes
.wmnds-container {
  max-width: $breakpoint-xl;
  margin: auto;
  padding: 0 $size-sm;
  @media screen and (min-width: $breakpoint-md) {
    padding: 0 $size-md;
  }

  &--main {
    margin-top: $size-md;
    margin-bottom: $size-lg;
  }
}

// Floats
.wmnds-float {
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

// MARGINS AND PADDINGS
// Helper mixin used to generate various sizes of margin/padding
@mixin x-mar-pad($side, $type: "margin") {
  &-xs {
    #{$type}#{$side}: $size-xs;
  }

  &-sm {
    #{$type}#{$side}: $size-sm;
  }

  &-md {
    #{$type}#{$side}: $size-md;
  }

  &-lg {
    #{$type}#{$side}: $size-lg;
  }

  &-xl {
    #{$type}#{$side}: $size-xl;
  }

  &-none {
    #{$type}#{$side}: 0 !important;
  }
}

.wmnds {
  // Generate all margin classes
  &-m {
    @include x-mar-pad("");

    &-t {
      @include x-mar-pad("-top");
    }

    &-r {
      @include x-mar-pad("-right");
    }

    &-b {
      @include x-mar-pad("-bottom");
    }

    &-l {
      @include x-mar-pad("-left");
    }
  }

  // Generate all padding classes
  &-p {
    @include x-mar-pad("", "padding");

    &-t {
      @include x-mar-pad("-top", "padding");
    }

    &-r {
      @include x-mar-pad("-right", "padding");
    }

    &-b {
      @include x-mar-pad("-bottom", "padding");
    }

    &-l {
      @include x-mar-pad("-left", "padding");
    }
  }
}

// Show/hide on desktop devices only
.show-desktop {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.hide-desktop {
  @media screen and (min-width: 48em) {
    display: none;
  }
}

.hide-lg {
  @media screen and (max-width: 1280px) {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    display: inline-block;
  }
}

// Borders
// Border generator mixin
@mixin x-default-border($border-color) {
  border: 2px solid $border-color;

  &-left {
    border-left: 2px solid $border-color;
  }

  &-right {
    border-right: 2px solid $border-color;
  }

  &-bottom {
    border-bottom: 2px solid $border-color;
  }
}

.bdr {
  &-primary {
    @include x-default-border(get-color(primary));
  }

  &-white {
    @include x-default-border($white);
  }

  &-gray {
    @include x-default-border(get-color(secondary));
  }

  &-transparent {
    @include x-default-border(transparent);
  }
}

// Images
img {
  max-width: 100%;
  height: auto;
}

.show-only-mob {
  @media screen and (min-width: 568px) {
    display: none;
  }
}

.dont-show-mob {
  @media screen and (max-width: 568px) {
    display: none;
  }
}
