// Vars
@import "https://fonts.googleapis.com/css?family=DM+Sans:700|Noto+Sans:400,700&display=swap"; // Google Fonts
@import "vars";
// Mixins
@import "mixins";

// Global styles
@import "utilities";
@import "typography";
@import "general";

// Vendor Styles
@import "wmnds-grid";

// Component Styles
@import "../../components/components"; // Import all pattern styles

// Pattern Styles
@import "../../patterns/patterns"; // Import all pattern styles
