.with-icon {
  text-decoration: none;
}

hr {
  margin: $margin-md 0;
  color: #fefefe;
}

// Text highlighting color
::-moz-selection {
  // Code for Firefox
  color: $white;
  background: get-color(primary);
}

::selection {
  color: $white;
  background: get-color(primary);
}

$icon-base-width: 25px;
$icon-base-width-sm: $icon-base-width;
$icon-base-width-md: $icon-base-width * 1.5;
$icon-base-width-lg: $icon-base-width * 2;
$icon-base-width-xl: $icon-base-width * 2.5;

.icon {
  &--sm {
    width: $icon-base-width-sm;
  }

  &--md {
    width: $icon-base-width-md;
  }

  &--lg {
    width: $icon-base-width-lg;
  }

  &--xl {
    width: $icon-base-width-xl;
  }
}

.wmnds-display {
  &--block {
    display: block !important;
  }
}
