.with-icon {
  text-decoration: none;
}

hr {
  margin: $margin-md 0;
}

// Text highlighting color
::-moz-selection {
  // Code for Firefox
  color: $white;
  background: get-color(primary);
}

::selection {
  color: $white;
  background: get-color(primary);
}

// Controls how elements look when focused (helps with accesibility/keyboard-only users)
*:target,
*:focus {
  outline: none;
  box-shadow: 0 0 0 2px $white, 0 0 0 5px get-color(secondary);
}

.wmnds-display {
  &--block {
    display: block !important;
  }
}
