// TYPE
// This is to get the size of the font to be used,
// and to scale the line heights based on the font size

@function type-scale($level) {
  @return map-get(map-get($type-settings, $level), "font-size");
}

@function line-height($level) {
  @return map-get(map-get($type-settings, $level), "line-height");
}

@function letter-spacing($level) {
  @return map-get(map-get($type-settings, $level), "letter-spacing");
}

@function word-spacing($level) {
  @return map-get(map-get($type-settings, $level), "word-spacing");
}

@mixin type-setting($level) {
  font-size: type-scale($level);
  line-height: line-height($level);
  // letter-spacing: letter-spacing($level);
  // word-spacing: word-spacing($level);
}

// Mixin to control header sizes
// @mixin x-font-size($font-size, $font-multiplier) {
//     font-size: $font-size;
//     // On mobile devices, the header font will be reduced by * (x)
//     @media all and (max-width: 767px) {
//       font-size: $font-size * $font-multiplier;
//     }
//   }

// COLOUR
// This is to get one of the brand colors in the $palettes map in vars.scss
// Use it like so... get-color(primary);
// If you'd like to get a tint of a color, use it like so...
// get-color(primary, 50); by default it mixes with white
// If you add dark to the end it will mix black instead of white
// e.g. get-color(primary, 50, dark);
@function get-color($color, $percent: 0, $shade: $white) {
  // If shade is null, then by default set to white else set to shade selected
  $shade: if($shade == dark, $black, $white);
  $color: map-get($palettes, $color);

  @return mix($shade, $color, $percent);
}
