html,
body {
  color: get-color(text);
  font-family: $x-font-family;
  font-size: $font-size;
  line-height: $base-line-height;
  @include type-setting(0);
}

// Get rid of margin for the first header item in main content
* {
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 0;
  }
}

// Text aligns
.text {
  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }
}

.text-bold {
  font-weight: 600;
}

// Text colors
.text-color {
  &-primary {
    color: get-color(primary);
  }

  &-secondary {
    color: get-color(secondary);
  }

  &-white {
    color: $x-palette-white;
  }

  &-gray {
    color: get-color(secondary);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $x-heading-font-family;
}

h1 {
  @include type-setting(5);
  margin: $margin-lg 0;
  color: get-color(primary);
}

h2 {
  @include type-setting(4);
  margin: $margin-md 0;
  color: get-color(primary);
}

h3 {
  @include type-setting(3);
  margin: $margin-md 0;
}

h4 {
  @include type-setting(2);
  margin: $margin-sm 0;
}

h5 {
  @include type-setting(1);
  margin: $margin-sm 0;
}

div,
span,
li,
ul,
ol,
p,
a {
  @include type-setting(0);
}

p {
  margin: 0;
  margin-bottom: $margin-md;
}
