// Minimum width of website
html {
  min-width: 320px;
}

// Set padding and borders to be contained within an elements size
// instead of adding to it
* {
  box-sizing: border-box;
}

.wmnds-grid {
  & > * {
    box-sizing: border-box;
  }

  // How to align child flex items of a grid
  &.wmnds-grid--justify-between {
    justify-content: space-between;
  }

  &.wmnds-grid--justify-around {
    justify-content: space-around;
  }

  &.wmnds-grid--justify-end {
    justify-content: flex-end;
  }

  &.wmnds-grid--align-center {
    align-items: center;
  }
}

// Container sizes
.wmnds-container {
  &--lg {
    max-width: 1280px;
    margin: auto;
    padding: 0 $padding-sm;
    @media screen and (min-width: $breakpoint-md) {
      padding: 0 $padding-md;
    }
  }

  &--sm {
    max-width: 904px;
    margin: auto;
  }
}

// Floats
.wmnds-float {
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

// Paddings
// padding generator mixin
@mixin x-padding($pad-size) {
  padding: $pad-size;

  &-left {
    padding-left: $pad-size;
  }

  &-right {
    padding-right: $pad-size;
  }

  &-top {
    padding-top: $pad-size;
  }

  &-bottom {
    padding-bottom: $pad-size;
  }
}

.pad {
  &-sm {
    @include x-padding($padding-sm);
  }

  &-md {
    @include x-padding($padding-md);
  }

  &-lg {
    @include x-padding($padding-lg);
  }

  &-xl {
    @include x-padding($padding-xl);
  }
}

// Margins
.mar {
  &-md {
    margin: $margin-md;
  }

  &-lg {
    margin: $margin-lg;
  }

  &-xl {
    margin: $margin-xl;
  }

  &-auto {
    margin: auto;
  }

  &-remove {
    margin: 0;
  }

  &-vertical {
    &-md {
      margin-top: $margin-md;
      margin-bottom: $margin-md;
    }

    &-lg {
      margin-top: $margin-lg;
      margin-bottom: $margin-lg;
    }
  }

  &-side {
    &-xl {
      margin-right: $margin-xl;
      margin-left: $margin-xl;
    }
  }

  // This mar-bot-md is mainly for sidebar widgets spacing
  &-bot-md {
    margin-bottom: $margin-md;
  }
}

// Show/hide on desktop devices only
.show-desktop {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.hide-desktop {
  @media screen and (min-width: 48em) {
    display: none;
  }
}

.hide-lg {
  @media screen and (max-width: 1280px) {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    display: inline-block;
  }
}

// Background Colours
.bg {
  &-white {
    background-color: $x-palette-white;
  }

  &-none {
    background-color: transparent;
  }
}

// Borders
// Border generator mixin
@mixin x-default-border($border-color) {
  border: 2px solid $border-color;

  &-left {
    border-left: 2px solid $border-color;
  }

  &-right {
    border-right: 2px solid $border-color;
  }

  &-bottom {
    border-bottom: 2px solid $border-color;
  }
}

.bdr {
  &-primary {
    @include x-default-border(get-color(primary));
  }

  &-white {
    @include x-default-border($x-palette-white);
  }

  &-gray {
    @include x-default-border(get-color(secondary));
  }

  &-transparent {
    @include x-default-border(transparent);
  }
}

// Images
img {
  max-width: 100%;
  height: auto;
}

.show-only-mob {
  @media screen and (min-width: 568px) {
    display: none;
  }
}

.dont-show-mob {
  @media screen and (max-width: 568px) {
    display: none;
  }
}
