/* INTERNAL VARS ------------------------------------------------------------ */
/* -------------------------------------------------------------------------- */
// Internal Vars (Internal variables have one function, and that's to be 
// assigned to other variables.)
$x-palette-white:               #ffffff; // White
/* -------------------------------------------------------------------------- */



/* PALETTE COLOURS ---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
// All of our palette colours with their respective tints (mix white in at 10% intervals)
$palettes: (
  // MAIN COLORS
  // primary:                      #df1683 /* WM Pink*/,
  primary:                      #3c1053 /* WM Pink*/,
  secondary:                    #54565b /* WM Gunmetal Grey*/,
  black:                        #231f20 /* WM Carbon Black*/,
  
  // SECONDARY COLORS
  wmDarkPurple:                 #3c1053 /* WM Purple*/,
  wmPurple:                     #84329b /* WM Purple */,
  wmOrange:                     #ff8300 /* WM Orange */,
  wmGreen:                      #93d500 /* WM Green */,

  // TRANSPORT COLORS
  // Rail Exec
  railExecPrimary:              #3cbfae,
  railExecSecondary:            #ff8300,
  // Network
  networkPrimary:               #3c1053,
  networkSecondary:             #84329b,
  // Coordination Center
  coordPrimary:                 #3c1053,
  coordSecondary:               #84329b,
  // Railway
  railwayPrimary:               #ff8300,
  railwaySecondary:             #84329b,
  // Bus
  busPrimary:                   #ea0029,
  busSecondary:                 #841922,
  // Metro
  metroPrimary:                 #0075c9,
  metroSecondary:               #385d7f,
  // Roads
  roadsPrimary:                 #df1683,
  roadsSecondary:               #3c1053,
  // Cycle
  cyclePrimary:                 #93d500,
  cycleSecondary:               #84329b,
  // Walking
  walkingPrimary:               #93d500,
  walkingSecondary:             #84329b,
);

// In SCSS a map == array
$colors-map:                    (); // Set placeholder colors map
/* -------------------------------------------------------------------------- */



/* TEXT --------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
$text-color:                    getColor(secondary);
$x-font-family:                 'Open Sans', sans-serif;
$x-heading-font-family:         'Open Sans', sans-serif;
$font-size:                     16px;

// Base font size and line height
$base-font-size:                1rem;
$base-line-height:              $base-font-size * 1.5;

// All values based on REM of 14px
$type-settings: (
  -1: (
    font-size:                  0.875rem,
    line-height:                $base-line-height
  ),
  0: (
    font-size:                  1rem,
    line-height:                $base-line-height
  ),
  1: (
    font-size:                  1.125rem,
    line-height:                $base-line-height * 2
  ),
  2: (
    font-size:                  1.4375rem,
    line-height:                $base-line-height * 2
  ),
  3: (
    font-size:                  2rem,
    line-height:                $base-line-height * 2
  ),
  4: (
    font-size:                  3rem,
    line-height:                $base-line-height * 3
  )
);
/* -------------------------------------------------------------------------- */



/* SPACING ------------------------------------------------------------------ */
/* -------------------------------------------------------------------------- */
// Padding
$padding-sm:                   $base-line-height / 2;
$padding-md:                   $base-line-height;
$padding-lg:                   $base-line-height * 2;
$padding-xl:                   $base-line-height * 3;

// Margin
$margin-sm:                    $base-line-height / 2;
$margin-md:                    $base-line-height;
$margin-lg:                    $base-line-height * 2;
$margin-xl:                    $base-line-height * 3;
/* -------------------------------------------------------------------------- */
