/* INTERNAL VARS ------------------------------------------------------------ */
/* -------------------------------------------------------------------------- */
// Internal Vars (Internal variables have one function, and that's to be 
// assigned to other variables.)
$x-palette-white:               #ffffff; // White
/* -------------------------------------------------------------------------- */



/* PALETTE COLOURS ---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
// All of our palette colours with their respective tints (mix white in at 10% intervals)
$palettes: (
  // WEB COLORS
  primary:                      #3c1053 /* WMN Primary Purple */,
  secondary:                    #6e407a /* WMN Secondary Purple */,
  cta:                          #231f20 /* WMN CTA Blue */,
  black:                        #231f20 /* WMN Text Black*/,
  
  // BRAND COLORS
  purple:                       #3c1053 /* WMN Primary Purple */,
  secondaryPurple:              #6e407a /* WMN Secondary Purple */,
  darkPurple:                   #1e082a /* WMN Dark Purple */,
  coolGrey:                     #54565b /* WMN Cool Grey */,
  yellow:                       #ffdd00 /* WMN Yellow */,

  // MODAL COLORS
  railway:                      #ff8300 /* WMN Railway */,
  bus:                          #ea0029 /* WMN Bus */,
  metro:                        #0075c9 /* WMN Metro */,
  roads:                        #df1683 /* WMN Roads */,
  walkCycle:                    #679500 /* WMN Walk & Cycle */,
  taxi:                         #773dbe /* WMN Taxi */,
);

// In SCSS a map == array
$colors-map:                    (); // Set placeholder colors map
/* -------------------------------------------------------------------------- */



/* TEXT --------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
$text-color:                    getColor(secondary);
$x-font-family:                 'Open Sans', sans-serif;
$x-heading-font-family:         'Open Sans', sans-serif;
$font-size:                     16px;

// Base font size and line height
$base-font-size:                1rem;
$base-line-height:              $base-font-size * 1.5;

// All values based on REM of 14px
$type-settings: (
  -1: (
    font-size:                  0.875rem,
    line-height:                $base-line-height
  ),
  0: (
    font-size:                  1rem,
    line-height:                $base-line-height
  ),
  1: (
    font-size:                  1.125rem,
    line-height:                $base-line-height * 2
  ),
  2: (
    font-size:                  1.4375rem,
    line-height:                $base-line-height * 2
  ),
  3: (
    font-size:                  2rem,
    line-height:                $base-line-height * 2
  ),
  4: (
    font-size:                  3rem,
    line-height:                $base-line-height * 3
  )
);
/* -------------------------------------------------------------------------- */



/* SPACING ------------------------------------------------------------------ */
/* -------------------------------------------------------------------------- */
// Padding
$padding-sm:                   $base-line-height / 2;
$padding-md:                   $base-line-height;
$padding-lg:                   $base-line-height * 2;
$padding-xl:                   $base-line-height * 3;

// Margin
$margin-sm:                    $base-line-height / 2;
$margin-md:                    $base-line-height;
$margin-lg:                    $base-line-height * 2;
$margin-xl:                    $base-line-height * 3;
/* -------------------------------------------------------------------------- */
