/* INTERNAL VARS ------------------------------------------------------------ */
/* -------------------------------------------------------------------------- */
// Internal Vars (Internal variables have one function, and that's to be 
// assigned to other variables.)
$x-palette-white:               #ffffff; // White
/* -------------------------------------------------------------------------- */


/* PALETTE COLOURS ---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
// All of our palette colours with their respective tints (mix white in at 10% intervals)
$palettes: (
  // WEB COLORS
  primary:                      #3c1053 /* WMN Primary Purple */,
  secondary:                    #6e407a /* WMN Secondary Purple */,
  cta:                          #02b5e3 /* WMN CTA Blue */,
  black:                        #231f20 /* WMN Text Black*/,
  
  // BRAND COLORS
  purple:                       #3c1053 /* WMN Primary Purple */,
  secondaryPurple:              #6e407a /* WMN Secondary Purple */,
  darkPurple:                   #1e082a /* WMN Dark Purple */,
  coolGrey:                     #54565b /* WMN Cool Grey */,
  yellow:                       #ffdd00 /* WMN Yellow */,

  // MODAL COLORS
  railway:                      #ff8300 /* WMN Railway */,
  bus:                          #ea0029 /* WMN Bus */,
  metro:                        #0075c9 /* WMN Metro */,
  roads:                        #df1683 /* WMN Roads */,
  walkCycle:                    #679500 /* WMN Walk & Cycle */,
  taxi:                         #773dbe /* WMN Taxi */,

  // ACTION COLORS
  warning:                      #d4351c,
  success:                      #00703c,
  search:                       #84329D,
);

// In SCSS a map == array
$colors-map:                    (); // Set placeholder colors map
/* -------------------------------------------------------------------------- */



/* TEXT --------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
$text-color:                    getColor(black);
$x-font-family:                 'Open Sans', sans-serif;
$x-heading-font-family:         'Open Sans', sans-serif;
$font-size:                     16px;

// Base font size and line height
$base-font-size:                1rem;
$base-line-height:              $base-font-size * 1.5;

// All values based on REM of 14px
$type-settings: (
  -1: (
    font-size:                  0.875rem,
    line-height:                $base-line-height,
    letter-spacing:             0.105rem,
    word-spacing:               0.14rem,
  ),
  0: (
    font-size:                  1rem,
    line-height:                $base-line-height,
    letter-spacing:             0.12rem,
    word-spacing:               0.16rem,
  ),
  1: (
    font-size:                  1.375rem,
    line-height:                $base-line-height * 2,
    letter-spacing:             0.165rem,
    word-spacing:               0.22rem,
  ),
  2: (
    font-size:                  1.5rem,
    line-height:                $base-line-height * 2,
    letter-spacing:             0.18rem,
    word-spacing:               0.24rem,
  ),
  3: (
    font-size:                  2.125rem,
    line-height:                $base-line-height * 2,
    letter-spacing:             0.255rem,
    word-spacing:               0.3416rem,
  ),
  4: (
    font-size:                  3.75rem,
    line-height:                $base-line-height * 4,
    letter-spacing:             0.45rem,
    word-spacing:               0.6rem,
  )
);
/* -------------------------------------------------------------------------- */



/* SPACING ------------------------------------------------------------------ */
/* -------------------------------------------------------------------------- */
// Padding
$padding-sm:                   $base-line-height / 2;
$padding-md:                   $base-line-height;
$padding-lg:                   $base-line-height * 2;
$padding-xl:                   $base-line-height * 3;

// Margin
$margin-sm:                    $base-line-height / 2;
$margin-md:                    $base-line-height;
$margin-lg:                    $base-line-height * 2;
$margin-xl:                    $base-line-height * 3;
/* -------------------------------------------------------------------------- */
