// INTERNAL VARS
// Internal Vars (Internal variables have one function, and that's to be
// assigned to other variables.)
$x-palette-white: #ffffff; // White

// PALETTE COLOURS
// All of our palette colours with their respective tints (mix white in at 10% intervals)
$palettes: (
  // BRAND COLORS
    primary: #3c1053,
  // WMN Primary Purple
    secondary: #9d5baf,
  // WMN Secondary Purple
    // MODAL COLORS
    bus: #ea0029,
  // WMN Bus
    metro: #0075c9,
  // WMN Metro
    railway: #ff8300,
  // WMN Railway
    susTravel: #679500,
  // WMN Walk & Cycle
    roads: #df1683,
  // WMN Roads
    taxi: #773dbe,
  // WMN Taxi
    // WEB
    text: #231f20,
  // WMN Text Black
    cta: #1d7bbf,
  // WMN CTA Blue
    error: #d4351c,
  warning: #b75e00,
  success: #00703c,
  information: #84329b,
  // BACKGROUND ONLY
    disable: #676869,
  // Disabled elements
    plannedDisruption: #ffdd00,
  // WMN Planned Disruption
    background: #f3f2f1 // Background colour
);

$white: #ffffff;
$black: #000000;

// TEXT
$text-color: get-color($black);
$x-font-family: "Noto Sans", sans-serif;
$x-heading-font-family: "DM Sans", sans-serif;

// Base font size and line height
$base-font-size: 16px;
$base-line-height: 1.5rem; // 24px

// SPACING
// Padding
$size-xs: 0.25rem; // 4px
$size-sm: 0.75rem; // 12px
$size-md: 1rem; // 16px
$size-lg: 2rem; // 32px
$size-xl: 3rem; // 48px

// Breakpoints
$breakpoint-xs: 0; // Extra small screen / phone
$breakpoint-sm: 568px; // Small screen / phone
$breakpoint-md: 768px; // Medium screen / tablet
$breakpoint-lg: 1024px; // Large screen / desktop
$breakpoint-xl: 1280px; // Extra large screen / wide desktop
