// Vars
@import 'vars';

// Mixins
@import 'mixins';

// Global styles
@import 'utilities';
@import 'typography';
@import 'general';

// Vendor Styles

// Component Styles

// Template-specific Styles
