// Vars
@import "https://fonts.googleapis.com/css?family=DM+Sans:700|Noto+Sans:400,700&display=swap"; // Google Fonts
@import "vars";

// Mixins
@import "mixins";

// Global styles
@import "utilities";
@import "typography";
@import "general";

// Vendor Styles
@import "wmnds-grid";

// Component Styles
@import "../../views/components/breadcrumb/breadcrumb"; // breadcrumb
@import "../../views/components/button/button"; // buttons
@import "../../views/components/disruption-indicator/disruption-indicator"; // Disruption indicators
@import "../../views/components/form-elements/form-elements"; // Form elements
@import "../../views//components/link/link"; // Link elements
@import "../../views//components/loader/loader"; // Loader
@import "../../views/components/message/message"; // Messages
@import "../../views/components/phase-indicator/phase-indicator"; // Phase indicator

// Patter Styles
@import "../../views/components/autocomplete/autocomplete"; // Autocomplete
@import "../../views/components/progress-indicator/progress-indicator"; // Progress indicator
@import "../../views/components/header/header"; // Header styles
