.wmnds-html {
  min-width: 320px;
  overflow-y: auto;
  background: get-color(background);
  scroll-behavior: smooth;

  * {
    box-sizing: border-box;
  }

  li {
    margin-bottom: $size-xsm;
  }

  // Images
  img {
    max-width: 100%;
    height: auto;
  }

  // Text highlighting color
  ::-moz-selection {
    // Code for Firefox
    color: $white;
    background: get-color(primary);
  }

  ::selection {
    color: $white;
    background: get-color(primary);
  }

  // Controls how elements look when focused (helps with accesibility/keyboard-only users)
  *:focus {
    outline: none;
    box-shadow: 0 0 0 2px $white, 0 0 0 4px get-color(secondary);
  }

  // This gets rid of firefox default focus dash-border
  *::-moz-focus-inner {
    border: 0;
  }
}
