// Get rid of margin for the first header item in main content
.wmnds-html {
  margin: 0;
  padding: 0;
  color: get-color(text);
  font-family: $x-font-family;
  @include type-setting(0);

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 0;
  }

  body {
    margin: 0;
    padding: 0;
    color: get-color(text);
    font-family: $x-font-family;
    @include type-setting(0);
  }
}

.wmnds-grid h1[class*="wmnds-col"],
.wmnds-grid .h1[class*="wmnds-col"],
.wmnds-html h1,
.wmnds-html .h1,
.wmnds-grid h2[class*="wmnds-col"],
.wmnds-grid .h2[class*="wmnds-col"],
.wmnds-html h2,
.wmnds-html .h2,
.wmnds-grid h3[class*="wmnds-col"],
.wmnds-grid .h3[class*="wmnds-col"],
.wmnds-html h3,
.wmnds-html .h3,
.wmnds-grid h4[class*="wmnds-col"],
.wmnds-grid .h4[class*="wmnds-col"],
.wmnds-html h4,
.wmnds-html .h4 {
  font-family: $x-heading-font-family;
}

.wmnds-html h1,
.wmnds-html .h1 {
  color: get-color(primary);
  @include type-setting(1, 0.85);
  // On desktop devices
  @media all and (min-width: $breakpoint-md) {
    @include type-setting(1);
  }
}

.wmnds-html h2,
.wmnds-html .h2 {
  color: get-color(primary);
  @include type-setting(2, 0.85);
  font-weight: bold;
  // On desktop devices
  @media all and (min-width: $breakpoint-md) {
    @include type-setting(2);
  }
}

.wmnds-html h3,
.wmnds-html .h3 {
  color: inherit;
  @include type-setting(3);
  font-weight: bold;
}

.wmnds-html h4,
.wmnds-html .h4 {
  color: inherit;
  @include type-setting(4);
  font-weight: bold;

  &.wmnds-weight-400 {
    font-weight: normal;
  }
}

.wmnds-html h5,
.wmnds-html .h5 {
  @include type-setting(5);
  font-weight: bold;
}

.wmnds-html h6,
.wmnds-html .h6 {
  @include type-setting(5);
  font-weight: normal;
}

.wmnds-html .h2 > *,
.wmnds-html .h3 > *,
.wmnds-html .h4 > *,
.wmnds-html .h5 > * {
  color: initial;
  font-weight: initial;
}

.wmnds-html {
  div,
  span,
  li,
  ul,
  ol,
  p,
  a {
    @include type-setting(0);
  }

  p,
  ul,
  ol,
  pre,
  table,
  blockquote {
    margin-top: 0;
    margin-bottom: $base-line-height;
  }

  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  // Let's make sure all's aligned
  sub,
  sup {
    position: relative;
    line-height: 0;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }
}
