.wmnds-grid {
  & > * {
    box-sizing: border-box;
  }

  // How to align child flex items of a grid
  &.wmnds-grid--justify-between {
    justify-content: space-between;
  }

  &.wmnds-grid--justify-around {
    justify-content: space-around;
  }

  &.wmnds-grid--justify-end {
    justify-content: flex-end;
  }

  &.wmnds-grid--align-center {
    align-items: center;
  }
}

// ensures sticky footer
.wmnds-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
}

// Container sizes
.wmnds-container {
  display: block;
  width: 100%;
  max-width: $breakpoint-lg;
  margin: auto;
  padding: 0 $size-sm;

  @media screen and (min-width: $breakpoint-lg) {
    padding: 0 $size-md;
  }

  &--main {
    margin-top: $size-md;
    margin-bottom: $size-lg;
    flex-grow: 1;
  }
}

//Text align
.wmnds-text-align {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

// Floats
.wmnds-float {
  &-left {
    float: left;
  }

  &-right {
    float: right;
  }
}

// MARGINS AND PADDINGS
// Helper mixin used to generate various sizes of margin/padding
@mixin x-mar-pad($side, $type: "margin") {
  &-xs {
    #{$type}#{$side}: $size-xs;
  }

  &-xsm {
    #{$type}#{$side}: $size-xsm;
  }

  &-sm {
    #{$type}#{$side}: $size-sm;
  }

  &-md {
    #{$type}#{$side}: $size-md;
  }

  &-lg {
    #{$type}#{$side}: $size-lg;
  }

  &-xl {
    #{$type}#{$side}: $size-xl;
  }

  &-none {
    #{$type}#{$side}: 0 !important;
  }
}

body {
  .wmnds {
    // Generate all margin classes
    &-m {
      @include x-mar-pad("");

      &-t {
        @include x-mar-pad("-top");
      }

      &-r {
        @include x-mar-pad("-right");
      }

      &-b {
        @include x-mar-pad("-bottom");
      }

      &-l {
        @include x-mar-pad("-left");
      }
    }

    // Generate all padding classes
    &-p {
      @include x-mar-pad("", "padding");

      &-t {
        @include x-mar-pad("-top", "padding");
      }

      &-r {
        @include x-mar-pad("-right", "padding");
      }

      &-b {
        @include x-mar-pad("-bottom", "padding");
      }

      &-l {
        @include x-mar-pad("-left", "padding");
      }
    }
  }
}

// Show/hide on desktop devices only
.wmnds-hide-mobile {
  @media screen and (max-width: $breakpoint-md) {
    display: none;
  }
}

.wmnds-hide-desktop {
  @media screen and (min-width: $breakpoint-md) {
    display: none;
  }
}

// Borders
// Border generator mixin
@mixin x-default-border($border-color) {
  border: 2px solid $border-color;

  &-left {
    border-left: 2px solid $border-color;
  }

  &-right {
    border-right: 2px solid $border-color;
  }

  &-bottom {
    border-bottom: 2px solid $border-color;
  }
}

.bdr {
  &-primary {
    @include x-default-border(get-color(primary));
  }

  &-white {
    @include x-default-border($white);
  }

  &-gray {
    @include x-default-border(get-color(secondary));
  }

  &-transparent {
    @include x-default-border(transparent);
  }
}

//Background
.bg {
  &-default {
    background-color: get-color(background);
  }

  &-white {
    background-color: $white;
  }

  &-planned-disruption {
    background-color: get-color(plannedDisruption);
  }

  &-disabled-elements {
    background-color: get-color(disable);
  }

  &-transparent {
    background-color: transparent;
  }
}
